[2016-04-20 09:25] vjeranc commented on #940
Without `--search_rollout none` it's back to ~4 minutes. With it it's definitely 10s or less :smile:

I assumed there were no rollouts if Hamming loss was declared, but I guess, given the fact that one can define possible actions for each time step it is better to leave that option to the user. Should have checked the code more carefully :)

Thanks for the fix.

[2016-04-20 13:03] Wirack opened #980 ""error, failed to write example" problem - c# wrapper"
I am utilising the c# vowpal wabbit wrapper version 8.0.0.46.

I have 90 instances of vowpal wabbit running, each of which has its own assigned cachefile name (replace X in line below with the specific instance number.)

" --cache_file mycachefilenameX.cache  --oaa 7 --loss_function logistic --sgd --passes 150"

With these amount of vowpal wabbit intances running I have experienced the following e

[2016-04-20 14:23] eisber commented on #980
This might be related to https://github.com/JohnLangford/vowpal_wabbit/blob/master/vowpalwabbit/io_buf.cc#L103

We had some discussion on how to fix that, but haven’t come to an agreement. My proposal was to switch to boost io. I believe it’s not save to use io_buf with more than 32 instances in the same process on Windows. The errors I experienced were spurious.
Out of curiosity, how do you pass

[2016-04-20 14:32] Wirack commented on #980
Thanks for the reply. That is certainly worth looking into.
As far as passing example data into VW, I currently pass it as strings, but have also tried C# Objects with the same error.

[2016-04-20 14:52] eisber commented on #980
Oh sorry for the confusion. The question on passing example data in is completely unrelated to you cache file issue.

From: Søren [mailto:notifications@github.com]
Sent: Wednesday, April 20, 2016 10:33 AM
To: JohnLangford/vowpal_wabbit <vowpal_wabbit@noreply.github.com>
Cc: Markus Cozowicz <marcozo@microsoft.com>; Comment <comment@noreply.github.com>
Subject: Re: [JohnLangford/vowpal_wabbit] "erro

[2016-04-20 18:08] KaiWeiChang commented on #940
Yes, when Hamming loss is used, rollout=none is the same as rollout=ref, and the experiments shown in the tutorial were done with rollout=none. Rollout=ref is useful when the loss is not decomposable over the search space. There was a recent change slowed down the speed of prediction. We now make sure the training time matches v7.10.

I'm now looking at your suggestion -- reusing the predictors. T

[2016-04-20 18:10] vjeranc commented on #940
Yep. My suggestion is ugly, and could be made prettier and non-explicit. It does speed up things significantly because that `predict()` hot loop doesn't make any new allocations while looping over the example.

Again, thanks! I'm loving the code :)

[2016-04-21 13:18] Wirack commented on #980
Thanks, so your suggestion would be to switch from using io_buf.h to boost io, and then recompile vowpal wabbit, such that it is adjusted to those changes?

Also, is it an issue you are discussing how to handle at this point in time?

[2016-04-22 19:54] KaiWeiChang commented on #940
The pull request #979 should address this now.
I made changes on both sequential taggers and dependency parsers.

Thanks for your suggestion. Please let me know if you have any comments.

@hal3: Do the changes look good to you?

[2016-04-23 16:32] mandarup commented on #723
for reference, following worked for me (gcc,linux-mint/ ubuntu)
(already cloned and installed vw)
[code]

[2016-04-26 00:02] #940 closed

[2016-04-26 00:08] KaiWeiChang commented on #693
This issue was fixed.

[2016-04-26 00:08] #693 closed

[2016-04-26 18:14] sam-s opened #982 "RFE: Avoiding Hash Collisions"
I am aware that some people consider hash collisions to be a _feature_, not a _bug_. However, in our experience hash collisions reduce model performance because different features are effectively interpreted as if they were identical.

I am also aware that the standing recommendation for avoiding hash collisions is to increase `bit_precision`. Alas, this is not a solution because, first, it does n

[2016-04-27 10:55] vjeranc opened #983 "search learning model performance regression"
It seems that the learner (at least the one used for `--search`) has regressed (not a speed related issue).
The [7.10](https://github.com/JohnLangford/vowpal_wabbit/tree/c1184888abc799433d4071ca1e74dbbf8894aec9) seems to be significantly outperforming latest HEAD b879ee2222b9bb647b4646b608fdde9592294be4.

It might also be that for my particular case the behaviour changed significantly. I couldn't

[2016-04-27 18:15] KaiWeiChang commented on #983
Thanks!

Once you point me out where the regression point is, I can check what possible changes may cause this regression.

Best,
Kai-Wei

[2016-04-27 19:02] JohnLangford commented on #983
What is an automated test to find the regression point?

-John

On 04/27/2016 02:15 PM, Kai-Wei Chang wrote:

[2016-04-27 19:22] JohnLangford commented on #980
If I recall right, the problem is that windows only supports a
relatively limited set of file descriptors.   Can you reproduce the bug
with 33 processes but not 32?

Boost IO work is not presently happening (too busy with other stuff).
There is almost certainly an easier fix to this problem related to more
explicitly representing things?

-John

On 04/21/2016 09:18 AM, Søren wrote:

[2016-04-27 20:22] vjeranc commented on #983
`git bisect` result:

This could have been automated by a script running the pos task, parsing the accuracy measure and announcing `good` or `bad` to `git bisect` if it differed significantly, announcing `skip` if it couldn't build the vw.

It takes logarithmic time anyway so it took me about 15 minutes of testing and reporting.

I guess the biggest issue with automating this would be the build ti

[2016-04-27 22:14] vjeranc commented on #983
`affix_features` change from `char` to `uint64_t` brings back the accuracy to ~0.97639701432317934234.

Is it really the case that only 8 per namespace work? Meaning that `-5w,-4w,-3w,-2w,-1w,1w,+2w,+3w,+4w,+5w` used above has 2 which won't be used?

[2016-04-27 22:20] KaiWeiChang commented on #983
I don't know about the affix_features implementation.

 @JohnLangford  or @hal3, do you know why we need to restrict only 8 affix features per namespace?

[2016-04-29 08:07] Wirack commented on #980
Hi.
Yes that idd seems to be the limit. I just tested and reprocuded the bug with 33 processes but not with 32 processes.

[2016-04-29 10:31] swapniel99 opened #985 "Want to locate feature in readable_model"
Hi,

I was trying to replicate murmurhash to find the hash of feature used in readable model (not invert_hash).

When I don't use namespace, I am able to find the exact hash externally. Using murmurhash and then taking reminder with 2^b

But with namespace I am not able to do it. Can you tell what string is used to find hash of a feature within namespace. Also how to find the hash of constant in r

[2016-04-29 10:52] trufanov-nok commented on #985
Are you sure you want to lookup features by their hash? Perhaps you may try `--audit_regressor` to get both hashes and feature names in namespaces.Check out its description [here](https://github.com/JohnLangford/vowpal_wabbit/wiki/Command-line-arguments)

[2016-04-29 10:58] swapniel99 commented on #985
Ok I found the answer:
hash(feature, hash(namespace)) % 2^b

I went through audit_regressor. It can also serve my purpose.

Thanks.

[2016-04-29 10:58] #985 closed

[2016-04-29 16:56] vjeranc commented on #983
I've looked at the code. It assumes there are at most 256 namespaces. For each namespace there was a 64-bit integer and it could hold 4 bits per affix, meaning there could be at most 16 affixes. [Some time](https://github.com/JohnLangford/vowpal_wabbit/blob/a3d796c2592f665236057e29421bdc9004b29adc/vowpalwabbit/global_data.h#L471) in the past `uint32_t` was used so it could hold 8.

https://github.

[2016-05-03 07:38] swapniel99 opened #988 "Weights for unseen features."
Hi,

How to set a weight for unseen feature encountered in test mode assuming there is hashing space available?

I was exploring --inital_weight x option.
For a small training dataset, I am seeing the intial weight x in most of the features using --readable_model. Seemed like it worked.

But for a large training set, I don't see it anymore. I have verified that the hashing space is not getting exh

[2016-05-03 08:41] swapniel99 commented on #988
After taking a higher value for b it is confirmed, that vw is giving 0 weights to unseen features:
Command used to train:
`cat trainingdata.txt | vw -b 20 --initial_weight -0.4411 --ignore x --loss_function=logistic --link=logistic --l1 0.0 --l2 1e-07 -f wtmodel.bin --readable_model wtmodel.txt`
Few lines of output model:
[code]

Command used:
`cat trainingdata.txt | vw -b 20 --ignore x --loss_fun

[2016-05-03 17:23] #983 closed

[2016-05-04 00:14] nikete commented on #723
@kamal94 solution appears not to work with on Yosemite, any ideas? ( I've placed done a brew uprade, and made sure libtool automake boost --with-pythonn).

[code]

[2016-05-04 00:36] kamal94 commented on #723
The last line at which the error occurred for you is:
[code]

[2016-05-04 00:41] nikete commented on #723
ah thanks  @kamal94 , I had missed the brew install boost-python it seems, fixed.

[2016-05-04 00:58] nikete commented on #723
It currently works on with the default python install but segfaults when I try to load it in anaconda.

$ cp python/pylibvw.so /Users/nikete/anaconda/lib/python2.7/lib-dynload/
$ python2.7 python/test.py
Segmentation fault: 11
$ which python2.7
/Users/nikete/anaconda/bin//python2.7
$ /usr/bin/python2.7 python/test.py
# do some stuff with a read example:
current partial prediction = 0.997888147831

[2016-05-05 09:40] swapniel99 opened #993 "No update to version number"
Hi,

I would like to know why the version number is not being updated. It has been 8.1.1 since quite a long time now.

The model files created with current commit are no longer readable in older commits I get the following error if I create a model file with current commit and read it on a older commit I get the following error:
vw (io_buf.h:231): file is not a model file

Apparently the checksum

[2016-05-06 11:35] irustandi commented on #959
Created a pull request: #994

[2016-05-07 14:26] JohnLangford commented on #944
There is definitely no locking if multiple VW processes write the same
cache.  Setups involving that are buggy.  (Multiple reads are fine.)

-John

On 04/12/2016 11:33 AM, Erik Garrison wrote:

[2016-05-17 16:47] Sunshunzhong commented on #980
how could i add my code into this machine learning system?or get my source project into the system?

[2016-05-17 22:29] JohnLangford commented on #980
Send a pull request.

-John

On Tue, May 17, 2016 at 12:47 PM, Sunshunzhong <notifications@github.com>
wrote:

[2016-05-18 09:32] swapniel99 commented on #988
Now I know I am getting 0 weights because of L2 regularisation.

How can I set L2 regularizer to take it to -0.4411 instead of 0?

[2016-05-20 17:14] usptact opened #995 "Learning to Search example in Graph?"
Is there an example how to run the learning to search algorithm for an arbitrary graph? I could find few examples for entity relation, dependency parsing and sequence tagging.

In VW it appears something to do with the options "--search" and "--search_task" but I am not certain.

My learning task is to build a statistical model which jointly performs two tasks:

- sequence tagging
- classification

[2016-05-20 18:12] vjeranc commented on #995
You can easily write your own run function in C++ or use the [python interface](https://github.com/JohnLangford/vowpal_wabbit/tree/master/python).

[code]

Code above is just a slight variation on the POS tagging, it assumes that features for the global decision are positioned in the first row.
[code]
`add_condition` propagates the decision to each sequence element.

If you're interested in how to

[2016-05-20 19:10] usptact commented on #995
Thanks a lot for your input @vjeranc ! I will take a much closer look at the source code bit later, unfortunately I am not very comfortable with more than simple C++ code (shame on me).

I was looking at the source code for the "search_graph.cc", especially the comments section. It mentions that the graph can be defined very easily if the following format is respected:

For nodes:
label:weight |n

[2016-05-20 19:27] vjeranc commented on #995
This picture is taken from McDonald et al. 2007 (Fine to Coarse Sentiment Analysis)

<img width="536" alt="screen shot 2016-05-20 at 21 17 37" src="https://cloud.githubusercontent.com/assets/4954310/15439295/8ad8b1e6-1ed0-11e6-844f-8bea8b6cf0bb.png">

To me it seems that you have this exact problem. You have to predict labels for the constituent elements, and then a global label conditioned on eac

[2016-05-20 20:01] usptact commented on #995
Yes, it indeed looks very close, if not exact match, to my problem. I looked also at your diff, there shouldn't be any difficulties integrating it into my copy (or checking out your branch?).

I will close the issue and open a new one if I encounter some specific issue.

Thanks again @vjeranc , you've been very helpful.!

[2016-05-20 20:01] #995 closed

[2016-05-20 20:04] vjeranc commented on #995
For example, if the global label can only have values {1, 2, 3}, and sequence elements only labels {4,5,6,7,8}, you can use `set_allowed(allowed_labels)` function to restrict that so you don't get labels for examples which shouldn't have them (I use something similar for msd tagging in my branch).

My branch has too much copy and paste, it's just an example of how to add new tasks and still use th

[2016-05-20 20:29] usptact commented on #995
The labels I use to tag the sequence and the global label are completely distinct in my application. Thanks for pointing out this detail.

[2016-05-23 12:38] JohnLangford commented on #988
Hi Swapnil,

I'm not quite following your question, but what happens when you set the
l2 regularizer to 0?

-John

On 05/18/2016 05:32 AM, Swapnil Gusani wrote:

[2016-05-24 05:33] swapniel99 commented on #988
When l2 regularizer is present the weights are suppressed so they get close to zero even if some data is present in training set, as it minimizes l2 norm ||w||_2 = ||w-0||_2

But I want to minimize ||w-c||_2 as regularization term where c is a constant vector other than 0, i.e. a vector containing constant c entirely.

[2016-05-24 11:59] JohnLangford commented on #988
In the label field you can set the 'base' of the prediction to whatever
you want (default 0).  Hence, you could set it to c * sum_i x_i and the
prediction will be sum_i w_i x_i + c * sum_i x_i and the regularization
will be purely on the w_i.

-John

On 05/24/2016 01:33 AM, Swapnil Gusani wrote:

[2016-05-25 20:12] stangirala opened #999 "NoClassDefFoundError when using the JNI interface"
I see the following class def error in the java lib and I'm trying to identify the cause of this.

`java.lang.NoClassDefFoundError: Could not initialize class vw.VW`

Looking at my packaged java jar, I see the vw_jni.lib file at the top level dir and, the respective class files under vw at the top level.

Any ideas on where the packaging might have gone wrong?

[2016-05-25 23:02] JohnLangford commented on #999
There is a platform autodetector in the java library.  Maybe you have a
weirdo platform?

-John

On 05/25/2016 04:12 PM, Telt wrote:

[2016-05-25 23:03] stangirala commented on #999
@JohnLangford You're talking about the NativeUtils right?

[2016-05-27 22:09] arniwesth opened #1002 "Regression bounded for negative values but not positive values"
I am using the vw c# interface v. 8.0.0.52 (obtained via nuget).

I am testing vw for online regression on data streams (so true online train-predict-loop). The parameters are straightforward: --adaptive --normalized --invariant (aka default).

Below is an example graph of the regression problem. Orange data points are the observed stream of regression targets and red data points are predictions b

[2016-06-02 08:50] vainius opened #1003 "Logistic regression intercept scaling"
If one of the classes was sampled in our training data we can get calibrated predictions by assigning weights to the observations.

However, we can also achieve that by scaling the intercept - multiplying it by the sampling rate.
In general, it gives different results from weighting and can be desirable in certain situations: when we want to predict one class better, but still have an average pred

[2016-06-06 05:27] swapniel99 commented on #988
Hi,

I did not understand. I simply need regularization to center around a constant non-zero value.
Currently a feature which occurs just a few times **in beginning** of huge training set will have 0 weight at the end of training. Regularization tries to tell that feature is unimportant so it gives it 0 weight. But I want unimportant features to have -ve weight.

Thanks.

[2016-06-06 06:28] arielf commented on #988
Have you tried this option (appears in `vw --help`)?
[code]

[2016-06-07 12:26] lstavr opened #1008 "make test 4 failed error"
Hi,
While trying to run make test (Ubuntu 14.04 LTS, 64bit) after successfully running:
sudo apt-get install libboost-program-options-dev libboost-python-dev
sudo apt-get install zlib1g-dev
sudo apt-get install libtool
sudo apt-get install libboost-all-dev

./autogen.sh
./configure --with-boost-libdir=/usr/lib/x86_64-linux-gnu
make

 I get the following error in make test:

Making all in vowpalwab

[2016-06-07 12:56] swapniel99 commented on #988
Constant is just the bias term. I didn't mean that

[2016-06-07 17:53] arielf commented on #1008
Thanks for the report.
I can't reproduce this on my (~3 years old) hardware with latest.

On Ubuntu/Debian there's no need to run `autogen.sh`
Could you please try `make` without `autogen.sh`?
Note that you will have to start clean, because autogen overwrites the original `Makefile`.  It is possible that `git checkout Makefile */Makefile` would bring you close to clean.

If you still get the test

[2016-06-08 12:27] lstavr commented on #1008
It worked great without the ./autogen.sh command, thank you!

[2016-06-08 12:27] #1008 closed

[2016-06-08 16:47] JohnLangford commented on #988
What you are looking for cannot be done.  The closest approximation is
what I described.

-John

On 06/06/2016 01:27 AM, Swapnil Gusani wrote:

[2016-06-21 13:41] ekg commented on #529
What would need to happen to resolve this? I can look into it as I'm interested in an application that requires this functionality.

@JohnLangford do you have a line reference to an implementation of the "slow path to create audit features"? I'd like to get a sense of what's required.

[2016-06-21 22:35] arielf opened #1017 "--OjaNewton numerical instability and slowness"
Tried to use the new `--OjaNewton` (2nd order learning) on `test/train-sets/0002.dat`

Observations:

1) With vanilla run (all defaults) results are surprisingly much worse than without it (final mean loss is 0.127483 vs 0.003847.  About ~30x greater).  Note that this data-set labels are all around 0.5.  Predictions with `--OjaNewton` are way off, e.g. rather than roughly converge on the 0.5 avera

[2016-06-23 01:16] MrMathias opened #1020 "Error Correcting Tournament default to Filter Tree"
Am I understanding the code correctly, when I say that "--error" is a non-documented parameter to ECT which defaults to 0+1, i.e., a filter tree?

If so, either the documentation should cover this parameter, or the code should default to something that is not a filter tree. Maybe 4log(k) as per the article.

[2016-06-23 07:11] JohnLangford commented on #1017
Haipeng, can you comment on this?

-John

On Tue, Jun 21, 2016 at 6:35 PM, Ariel Faigon <notifications@github.com>
wrote:

[2016-06-28 19:54] JohnLangford commented on #1020
I could see either enabling an explicit --filter_tree or doing better
documentation.   Do you want to tweak either?

-John

On 06/22/2016 09:16 PM, Mathias Andersen wrote:

[2016-06-28 21:12] MrMathias commented on #1020
I would like to give it a go.

If you see fit, I will change `--error` with `--m_tournaments` and add that to the documentation. It is a missed opportunity to not simply use the formulation of the ECT article.

Further, I believe the default parameter should be changed from `1` to `4 ln k`, such that ECT achieve its novelty performance by default, i.e., O(1) regret with O(log k) complexity.

[2016-06-29 00:18] vaer-k opened #1021 "Python wrapper installation fails"
I'm not able to `pip install vowpalwabbit` to install the python wrapper. I don't know enough to understand why it's failing, but I thought it might be worth bringing to someone's attention.

I'm on OSX and using an Anaconda environment. I installed vowpal wabbit from homebrew.

Here's my traceback:

[code]

[2016-06-29 15:52] usptact commented on #993
The version has been recently bumped to 8.2.0. Your voice in the desert has been heard after all. I would close the issue.

[2016-06-29 18:57] JohnLangford commented on #1021
@gramhagen Do you know what's up here?

[2016-06-29 18:59] JohnLangford commented on #1020
We should have an explicit --filter_tree option as well which defaults as the present.

Changing the default of --ect to 4 ln k seems fine, but I'm less clear on --m_tournaments.  Maybe just --tournaments?  I don't see the point of m_.

[2016-06-29 19:03] JohnLangford commented on #1003
If I understand correctly, this has the same effect as the 'base' in the
label.  https://github.com/JohnLangford/vowpal_wabbit/wiki/Input-format  so
having an option like "--default_base" would generalize this comment to all
regressors.  Maybe do that?  You can probably do it in scorer.cc very
easily.

-John

On Thu, Jun 2, 2016 at 4:50 AM, vainius <notifications@github.com> wrote:

[2016-06-29 19:08] JohnLangford commented on #1002
You are running into some strange defaulting.  Basically, the default range
for regression is [0,1] and when the label exceeds this range, that becomes
the new range.

What is a better approach?  Should we default to no range and then limit to
the range of observations?

-John

On Fri, May 27, 2016 at 6:09 PM, Arni Westh <notifications@github.com>
wrote:

[2016-06-29 20:22] sharatsc commented on #1021
Instead of homebrew you can now do "pip install vowpalwabbit"

regards
Sharat

On Tue, Jun 28, 2016 at 8:18 PM, Vincent Rupp Jr. <notifications@github.com>
wrote:

[2016-06-29 21:14] arielf commented on #1002
@arniwesth  This is a beautiful graph, thanks.  Can you share the code generating it?

Many of the high vw-predictions on the positive side (especially in the 1st half and 1st quarter of the data-set) seem to be much more extreme than anything in the orange (actual target) set. Also the range expansions in the orange-set are smaller and much less jittery, so it seems there's more to that than just

[2016-06-29 21:29] vaer-k commented on #1021
@sharatsc I see. I thought the pypi vowpalwabbit was just the wrapper, but apparently it is the vowpal wabbit package _and_ the python wrapper. Is that right?

[2016-06-29 21:31] vaer-k commented on #1021
I've tried `brew uninstall vowpal-wabbit` followed by `pip install vowpalwabbit` but the install issue I'm seeing persists.

[2016-06-29 22:22] gramhagen commented on #1021
It looks like the pip install isn't finding the boost-python library used
by anaconda.  Have you installed boost-python through brew or anaconda?

Scott

On Wed, Jun 29, 2016, 5:32 PM Vincent Rupp Jr. <notifications@github.com>
wrote:

[2016-06-30 00:24] vaer-k commented on #1021
@gramhagen I installed via anaconda. Vowpal wabbit does work for me from the command line. I can build classifiers and make predictions. This would be impossible if boost weren't installed, right? If it is impossible, then this must mean that, like you said, pip can't find the boost library in the anaconda environment.

But I just built boost manually in a linux virtual machine and attempted pip i

[2016-06-30 15:43] vaer-k commented on #1021
I tried installing libboost-all-dev with `apt-get`, and I was more successful with  `pip install vowpalwabbit`. This time, the compile failed with:

`/usr/include/boost/python/detail/wrap_python.hpp:50:23: fatal error: pyconfig.h: No such file or directory`

[2016-06-30 16:39] vaer-k commented on #1021
I made symlinks of all of the files in /usr/include/python2.7 to /usr/include in hopes of bypassing the makefiles attempts to locate files in /usr/include. This seems to have helped, but now the installation is failing with the following error:

`error: [Errno 13] Permission denied: '/usr/local/lib/python2.7/dist-packages/pylibvw.so'`

[2016-06-30 16:44] swapniel99 commented on #993
Thank you.
It would be great if significant and/or non-reverse compatible changes be versioned. :)

[2016-06-30 16:44] #993 closed

[2016-06-30 16:50] vaer-k commented on #1021
Decided to leeroy jenkins it and just `sudo pip install vowpalwabbit`. The scripts says that vowpalwabbit was successfully installed. But now:

[code]

[2016-06-30 17:59] vaer-k commented on #1021
I now have a working installation. In the end, these are the steps that were required to get a working copy of vowpal wabbit going for me on linux:

From the wiki:
[code]

Followed by:
`sudo apt-get install vowpal-wabbit`
This installed the vowpal wabbit package and got me command-line access to vw.

Followed by:
`pip install vowpalwabbit`
This got me the python wrapper.

I think this could be a b

[2016-07-01 02:42] gramhagen commented on #1021
Thanks for keeping track of these steps.  I'm definitely interested in
making the documentation more comprehensive.  As it stands it's not very
clear that the pip installation is intended to build a standalone Python
package for importing and does not provide the command line VW executable.
Plus all the dependencies you've come across.

Glad you finally got it working!

Scott

On Thu, Jun 30, 2016

[2016-07-01 16:34] JohnLangford commented on #993
I agree in general---not sure where this one slipped in.

-John

On 06/30/2016 12:44 PM, Swapnil Gusani wrote:

[2016-07-07 17:31] Feynman27 opened #1026 "RuntimeError: the argument ('--lambda') for option '--softmax' is invalid"
I'm trying to run a simple contextual bandit using the python wrapper pyvw. My training data is taken from the wiki and looks like
| a:1 b:0.5
0:0.1:0.75 | a:0.5 b:1 c:2

shared | s_1 s_2
0:1.0:0.5 | a:1 b:1 c:1
| a:0.5 b:2 c:1

I'm running the command from a python script using

`pyvw.vw(-d train_adf.dat --cb_explore_adf --softmax --lambda 10)`

but get the error:

RuntimeError

[2016-07-07 17:35] Feynman27 commented on #1026
Remove --lambda and just using --softmax 10 removes the error. Though I'm not sure this is setting the lambda value at the moment.

[2016-07-07 23:33] JohnLangford commented on #1026
I'm confused about why that worked. Alekh, can you comment?

-John

On 07/07/2016 01:35 PM, Thomas Balestri wrote:

[2016-07-08 02:54] JohnLangford commented on #1026
Ah yes, I incorrectly remembered how I have done this. I pass the lambda
parameter as an argument to softmax it seems, which is not being read
correctly in the setup. I will send a PR with update.

Alekh

On Thu, Jul 7, 2016 at 7:33 PM, John Langford <jl@hunch.net> wrote:

[2016-07-08 15:08] zachmayer opened #1028 "[Feature Request] Rectified linear unit option for the neural net"
The neural net model in VW currently uses sigmoid units.  I was thinking it might be useful to have some other activation functions, most notably rectified linear units.

Thanks!

[2016-07-08 17:18] ekg commented on #1028
I am also interested in this. Would it be a straightforward change?

On Fri, Jul 8, 2016, 16:08 Zach Mayer <notifications@github.com> wrote:

[2016-07-08 17:26] zachmayer commented on #1028
I think the activation happens here: https://github.com/JohnLangford/vowpal_wabbit/blob/4faae05eddce3bcde15e0626d52b04b19c8bc24c/vowpalwabbit/nn.cc#L212

It looks like you could replace `fasttanh` with a function for calculating the rectified linear activation, but I'm not sure.

[2016-07-08 21:24] JohnLangford commented on #1028
Let me 'cc Paul Mineiro.  You need to get the gradient right also.

-John

On Fri, Jul 8, 2016 at 1:26 PM, Zach Mayer <notifications@github.com> wrote:

[2016-07-09 02:53] JohnLangford commented on #1028
Yes I think letting the user select the activation function would be easy, you just need two functions which do the forward and backward, and then make (fast)tanh the default.

If you send John a pull request cc-me on it and I'll take a look.

p

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: johnclangford@gmail.com <johnclangford@gmail.com> on behalf of John L

[2016-07-09 18:36] trufanov-nok commented on #982
Basically you can create a dictionary of feature names and use feature ID from that dictionary as its hash. It'll be unique. It could have sense to implement this as a script and preprocess incoming data. VW supports `--hash` parameter that allows to just spoof features in dataset with their hash. I wouldn't mind from such script in VW's `utl\` folder or even as optional VW's logic.
But I would be

[2016-07-10 18:38] joshloyal commented on #1028
I'd be happy to submit a pull request for this. Since we're only changing the activation, it should be as simple as abstracting away the activation to a general nonlinearity that has a basic call and a `first_derivative` and plugging them in were necessary as Paul said.

[2016-07-10 20:08] JohnLangford commented on #1028
Go ahead.

-John

On Sun, Jul 10, 2016 at 2:38 PM, Joshua Loyal <notifications@github.com>
wrote:

[2016-07-12 01:27] ErikOmberg opened #1034 "C# Contextual Bandit Prediction Exception"
I setup a simple application using the C# VW wrapper in CB mode like this:

          VW.VowpalWabbit<VWRecord> vw = new VW.VowpalWabbit<VWRecord>(new VowpalWabbitSettings
            {
                EnableStringExampleGeneration = true,
                Verbose = true,
                Arguments = "--cb 20 --cb_type dr"
            });

When I call Predict, it causes a System.Overflow exception:

[2016-07-12 02:17] JohnLangford commented on #1034
Not sure what's up.  @eisber do you know?

[2016-07-12 02:48] eisber commented on #1034
Your VW arguments must match the prediction type. There is no check if the memory layout of the return prediction matches – thus you’ll get some weird exceptions.
If you use –cb you’ll have to use cost sensitive prediction from what I remember correctly. @John Langford<mailto:jcl@microsoft.com>: what part of ex->pred union is populated by --cb?

In general I’d follow https://github.com/GitTools/Gi

[2016-07-12 02:54] JohnLangford commented on #1034
multiclass as per: https://github.com/JohnLangford/vowpal_wabbit/blob/master/vowpalwabbit/csoaa.cc#L95

[2016-07-12 04:04] ErikOmberg commented on #1034
Wonderful! I changed my predict call to use PredictionType CostSensitive, and that appears to be working. Thank you.

`var vwPrediction = vw.Predict(record, VowpalWabbitPredictionType.CostSensitive);`

[2016-07-12 04:04] #1034 closed

[2016-07-12 11:29] FrankRouter commented on #415
I've got the same problem. Have you solved it? @nitlev

[2016-07-13 06:09] zihaolucky opened #1035 "Any way to get_tag() in VW Java ?"
In java version, learner provides `learn` and `predict`, I'm wondering whether we have any options to get these info. Thanks~

[2016-07-13 06:16] sujitpal commented on #415
No I moved to Linux, it works fine there.

[2016-07-13 13:36] JohnLangford commented on #1035
You want the tag for an example?

-John

On Wed, Jul 13, 2016 at 2:09 AM, Zihao Zheng <notifications@github.com>
wrote:

[2016-07-14 02:11] zihaolucky commented on #1035
Yes. The `Tag` in training/test data.
` [Label] [Importance] [Base] [Tag]|Namespace Features |Namespace Features ... |Namespace Features`

[2016-07-14 02:16] zihaolucky commented on #1035
Here's my code:

[code]

[2016-07-14 15:09] FrankRouter opened #1036 "Is "make python" still work?"
[code]
Works fine and the vw binary is OK. But `make python` seems broken.
[code]
While "Nothing to be done", pylibvw.so is not compiled.

[2016-07-14 20:50] pommedeterresautee opened #1037 "test_search_ldf.py not working with real dataset"
I tried to make `test_search_ldf.py` work with French universal dependency dataset (20Mb for the train data, 14K samples) and it takes forever to complete (I mean I waited several hours).

The thing which impacts the most the time is the number of possible labels:
[code]

Even if I keep one sample in the dataset, the function `_run()` function is called 347 times!
With two samples it s above 1300

[2016-07-14 21:05] pommedeterresautee commented on #1036
You are supposed to install it through pip (even local code)

[2016-07-14 21:13] gramhagen commented on #1036
```make python``` should still work (you can always try to force it with ```make -B python```, though @pommedeterresautee is right, I think it's preferable to pip install the local version if you are interested in the python binding

```pip install -e python```

from the main vowpal_wabbit directory

and then in python:
[code]

[2016-07-15 01:55] FrankRouter commented on #1036
`make -B python` does not work. pylibvw.so is not compiled.
[code]
`pip install vowpalwabbit` works for me. But I'd like to tweak the python interface for some reason, so makefile is a problem now.
`pip install -e python` does not work neither.
[code]

[2016-07-15 04:48] arielf commented on #1036
Could this be an issue with the auto-generated Makefile (by autogen.sh)?

When I try on Ubuntu, where I always avoid running `autogen.sh`, it uses the original `Makefile` from the repo, and things seem to work just fine:

[code]

[2016-07-15 05:26] FrankRouter commented on #1036
Yes. It is autogen.sh. By the way, I check the pip install log, make sure that only `make python` is executed. That's why pip install works well. Thanks. @arielf

[2016-07-15 05:26] #1036 closed

[2016-07-15 06:35] pommedeterresautee commented on #1037
Another point: the code from `test_search_ldf.py` is not consistent with the one from `Learning_to_Search.ipynb `.

In `test_search_ldf.py` the `_run()` function adds for each sample all the possible variation. It doesn't make sense to me. See the loop below:
[code]
In `Learning_to_Search.ipynb` there is not such loop but the code doesn't execute :-(

[2016-07-15 09:13] SergeyParamoshkin opened #1038 "vw use -a key Segmentation fault (core dumped)"
Hi, I compiled with debug mode. assembly was held without any errors.
I run vw and get the error. if  use the -a option

[code]

[code]

env:
rhel 6.7
gcc - gcc version 4.8.2 20140120 (Red Hat 4.8.2-15) (GCC)
boost-devel-1.59.

[code]

[2016-07-15 13:23] robbine opened #1039 "vw yarn, stuck at map 100% when training set is large"
I tried mapscript-yarn.sh and fed it with tens of millions of training samples.
The hadoop streaming job stuck at 100% and never end.
All mappers have 100% progress bar while state remains "RUNNING"
Does anyone know how to solve this?

I runs well with small training set

[2016-07-15 15:54] JohnLangford commented on #1039
A common issue is that the number of mappers is not controlled.  Are you
controlling it to force a number of mappers which can all run
simultaneously?

You need to trick Hadoop into having a fixed-size set of mappers because
synchronous communication is required.   To do this partition the dataset
with .gz files (which Hadoop cannot break up) or run VW in a (controlled)
number of reducers.

-John

[2016-07-15 17:59] arielf commented on #1038
This is a typical thing that happens on Red-Hat: a dynamically linked `vw` executable trying to run against an incompatible version of the boost library.

Solution: build your vw statically with `make CXX=gcc -static` and these problems should go away.
Or use one of these:
[statically linked executables](http://finance.yendor.com/ML/VW/Binaries/)

[2016-07-15 18:13] arielf commented on #1038
Also, for reference.  I can't reproduce this with latest:

[code]

Runs fine.

But I can't reproduce the `stdout stream` above so there's a (remote chance) this might be data-dependent. Please provide actual reproducible details.:

[2016-07-16 03:33] dakami opened #1040 "No apparent way to pickle a model from vowpalwabbit.sklearn_vw.VWClassifier"
Pickling a fitted classifier gives you:

RuntimeError: Pickling of "vowpalwabbit.pyvw.vw" instances is not enabled (http://www.boost.org/libs/python/doc/v2/pickle.html)

Means I basically need to build the classifier at runtime every time to do actual prediction (or, I suppose, use CRIU).

[2016-07-16 16:17] arielf commented on #1038
Puzzle solved.

It happens when there's an empty feature name with a weight:

Example:
     4 |  :1.3

[See also PR 1041](https://github.com/JohnLangford/vowpal_wabbit/pull/1041)

[2016-07-18 03:23] robbine commented on #1039
Some of the mappers failed with exit code 141
Error: java.lang.RuntimeException: PipeMapRed.waitOutputThreads(): subprocess failed with code 141 at org.apache.hadoop.streaming.PipeMapRed.waitOutputThreads(PipeMapRed.java:320) at

[2016-07-18 03:24] robbine commented on #1039
Some of the earlier failed mapper print out logs like this "Can't create directory /srv/data/0/yarn/local/usercache/recsys/"

[2016-07-18 08:53] robbine commented on #1039
This is a stderr log of a failed mapper
000068
100
hdfs://hz-cluster1/tmp/model3
newsrec3.photo.163.org
Starting training
final_regressor = sgd.vwmodel
Num weight bits = 20
learning rate = 0.5
initial_t = 0
power_t = 0.5
decay_learning_rate = 1
creating cache_file = temp.cache
Reading datafile = /dev/stdin
num sources = 1
average  since         example        example  current  current  current
los

[2016-07-18 14:13] arielf commented on #1039
Why do you think this is a `vw` issue?

[2016-07-19 06:57] robbine commented on #1039
maybe it is NOT. hadoop fs command is not allowed in the cluster I use.
The only way to solve this is by using multiple output format.

[2016-07-19 09:11] pommedeterresautee opened #1042 "[Python] Decreases of L2S perf when oracle=0 (needs PR)"
I try to build a POS tagger for French with L2S based on French UD dataset.
I use the Python wrapper.

When I don't use `allowed=` parameter in `predict()` function I get a 0.08 hamming loss (state of the art is 0.03).

When I used `allowed=` to inform VW that I know deterministically some POS tag (for punctuation and det) and I provided it to VW through `allowed=` the hamming loss goes up to 0.11

[2016-07-19 10:27] pommedeterresautee commented on #1037
Seems to be much more slow when using Python wrapper. Using the C++ client doesn't have this issue.

[2016-07-19 10:27] #1037 closed

[2016-07-19 10:48] pommedeterresautee commented on #1040
I am not using the Scikit wrapper but just the Python one.
I made the same mistake than you.
You need to provide the model path as an option (-f) like you would do with the C++ client.
You make your learning, when it is finished, you call the finish() method.
At that moment your model is written on disk.

Hope it helps.

[2016-07-19 13:16] pommedeterresautee opened #1043 "Share POS tag / NER source code referenced in papers / slides"
Would it be possible to get the source code in this repository of the examples used in the papers/presentation related to the POS tagger and NER tagger?

It doesn't seem to be in https://github.com/JohnLangford/vowpal_wabbit/blob/master/test/RunTests

The examples in Python folder are slow and obviously under-optimised (no cache, not best options, etc.) and the code in tests is applied to super sm

[2016-07-19 13:23] pommedeterresautee opened #1044 "Documentation missing on how to get LOLS / SEARN / DAGGER / Aggra predictions"
It took me time to understand that I should play with roll in / roll out policies to make VW applying LOLS or Dagger L2S strategies.

So far I have no idea on how to get Aggra.

As there is several papers using these approach, it would be great to see this information in the Wiki part of this repository (even just a few lines to get a start for a new user).

[2016-07-19 15:24] KaiWeiChang commented on #1042
Could you provide the _run function?

[2016-07-19 21:15] pommedeterresautee commented on #1042
Thank you @KaiWeiChang for your anwer.

Please find below my whole class:
To make the code more clear (and not make ref outside of the class), I just forced the correct answer for pos tag == 4 which is punctuation.
Results are of course the same than the one described in my previous message.

[code]

BTW caching examples in a dict increase the rapidity of the model learning and should be included

[2016-07-19 21:48] KaiWeiChang commented on #1042
Could you try one thing for me.
When pos != 4 set possible to all the possible labels explicitly.

That is change:

    possible = [4] if pos == 4 else None

to

    possible = [4] if pos == 4 else [1,2,3,4,...]

It looks that there might be a bug in initializing the predictor when allowed=None.

[2016-07-19 22:15] pommedeterresautee commented on #1042
Crazy results!

If I use `allowed=None` (always None), I get 0.89
if I use `possible = [4] if pos == 4 else None` I get 0.85 on the sample
if I use `possible = [4] if pos == 4 else [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]` I get 0.91
if I use `possible = [4] if pos == 4 else [0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]` I get 0.92

Results are `1-hamming`
FYI I

[2016-07-19 22:33] KaiWeiChang commented on #1042
Wait? you mean 0.92 in hamming loss comparing with 0.08 you used to have? Or this is accuracy?

[2016-07-19 23:07] pommedeterresautee commented on #1042
No as Said I now report 1 minus Hamming.
Sorry to not be clear.

[2016-07-19 23:09] pommedeterresautee commented on #1042
Both messages are reporting hamming.

0.08 on the whole dataset reported in the first message - > 0.92 as reported in the Last message

[2016-07-19 23:10] KaiWeiChang commented on #1042
I see. So, it seems that the last one gave you similar results as without using allowed.

[2016-07-19 23:12] pommedeterresautee commented on #1042
Last give same results on the sample. I usually gain up to two points on the full dataset.
So it's very encouraging.
But it's 2Am here, will try tomorrow.

[2016-07-19 23:15] KaiWeiChang commented on #1042
Thanks! I'll take a look at the potential bug on the initialization...

[2016-07-20 08:42] pommedeterresautee commented on #1042
FYI, I got the results for the full dataset re run this morning:
- `allowed=None` (always None) -> **0.920** (like in my first message)
- `possible = [4] if pos == 4 else [0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]` -> **0.949**

I will complete my tests tonight with `possible = [4] if pos == 4 else None` on the full dataset (should get the same results as my first message but want

[2016-07-20 09:05] pommedeterresautee opened #1045 "ipynb files are broken"
The following files can't be viewed in Github following a commit dated as of June 14th, 2016 (da2b54468344d75dbd0e54c6a832005f89aaaecc)

![image](https://cloud.githubusercontent.com/assets/1029874/16981127/78f70586-4e69-11e6-950e-60c6f6d0be3c.png)

![image](https://cloud.githubusercontent.com/assets/1029874/16981190/b36ff3a8-4e69-11e6-9fa6-d871cca8d6e2.png)

Moreover, file https://github.com/JohnL

[2016-07-20 11:17] pommedeterresautee commented on #1042
Something else I forgot to report is time taken by the model.
When allowed is used the learning takes 53mn instead of 40mn when allowed is always set to None!

[2016-07-20 11:38] robbine opened #1046 "Is it possible to provide a tool that can convert binary model to readable model and vice versa"
I check the command lines, It seems there is no such tool

[2016-07-20 16:06] eisber commented on #1046
Create an empty text file: empty.txt

vw -i <model filename> --readable_model <text file name> -d empty.txt

From: robbine [mailto:notifications@github.com]
Sent: Wednesday, July 20, 2016 7:39 AM
To: JohnLangford/vowpal_wabbit <vowpal_wabbit@noreply.github.com>
Subject: [JohnLangford/vowpal_wabbit] Is it possible to provide a tool that can convert binary model to readable model and vice versa (#10

[2016-07-20 16:35] gramhagen commented on #1046
That will give you the weights corresponding to the feature hashes, but you will need to use the original training data set instead of an empty file to get the raw feature names (unless you converted them all to numeric features).

[2016-07-20 16:37] gramhagen commented on #1045
yeah, there are some invalid headers on some of the cells, I can fix that and move the poisson notebook over

[2016-07-20 17:18] gramhagen commented on #1045
PR #1047

[2016-07-20 17:52] alonsopg commented on #1021
Got exactly the same issue in OSX, still can't install through `pip3`... any idea of how to proceed?.

[2016-07-20 17:55] vaer-k commented on #1021
@alonsopg The first thing I would try doing on macOS is to use homebrew to install vowpal wabbit, then pip to install the python wrapper.

[2016-07-20 17:57] gramhagen commented on #1021
python3 is not totally supported, we need to pull in changes from #994 and update the dependency resolution to use the boost-python3 library.

[2016-07-20 18:29] alonsopg commented on #1021
Thanks for the feedback @vaer-k, I all ready did that:

[code]
Then pip3:

[code]

[2016-07-20 19:30] pommedeterresautee commented on #1042
@KaiWeiChang I updated my message with all perf and all times for each configuration of allowed (other parameters and features are the same for all tests).

Obviously there is an issue when comparing `allowed=None` and `allowed=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]`.
Time to process the dataset is another indicator that the work done is not the same.

Have you find a fix f

[2016-07-20 19:57] KaiWeiChang commented on #1042
Thanks. Apparently, there are some problems in the initiation. I haven't figured out it.

For the time difference, I think the reason is transforming an array from python to C++ is slow, and the predictor function is somehow in an inner loop. There may be a way to reuse the predictor instead of  repeatedly creating a new instance of it.

You may want to use allowed=range(len(tags)) for now (it doe

[2016-07-20 23:01] usptact opened #1049 "Is it possible to run Learning to Search in Active Learning setup?"
I am successfully training a model for sequence tagging using the "--search_task sequence" option. My question is how to do, if possible, such learning in active learning setup.

What I have:

- seed training file with sequences tagged
- large dataset with no sequence tags

What I would like:

- Learn the model from labeled training data
- Learn from the large unlabeled dataset while asking the la

[2016-07-20 23:33] JohnLangford commented on #1049
This is not possible at present.  It is something that we are
considering, but setting this up to work well is to some extent a
research problem.

-John

On 07/20/2016 07:01 PM, usptact wrote:

[2016-07-21 00:24] usptact commented on #1049
Thanks, @JohnLangford ! I was playing with different argument combinations and going back and forth to vw --help and examples to no avail. I will close the issue then.

[2016-07-21 00:24] #1049 closed

[2016-07-21 02:04] robbine commented on #1046
Thanks! it's very convenient.
And is there a way to convert readable model back to binary model ?
Is it possible ?

[2016-07-21 02:21] JohnLangford commented on #1046
Not right now.

-John

On Wed, Jul 20, 2016 at 10:04 PM, robbine <notifications@github.com> wrote:

[2016-07-21 20:17] pommedeterresautee commented on #1042
@KaiWeiChang may be I don't get how VW but I noticed that setting `search_rollout` and `search_rollin` to different values (`mix`, `mix_per_roll`, `mix_per_state`,  etc.) has no effect on the result (exception: oracle makes my results different).
When setting `search_rollout` to `none` make the whole process crash with a 139 error code.

I am thinking that may be there is another issue in reading

[2016-07-22 11:23] robbine opened #1050 "I tried -i option to load initial model but failed"
I set "-i sgdpre.vwmodel" in the command below, and vw output seems wrong
cat part-00000.shuf | ../vowpalwabbit/vw -b 20         --l1 0.000001         --l2 0.000001        --passes 100        -i sgdpre.vwmodel        -d /dev/stdin        -f sgd.vwmodel        --cache_file temp.cache       --loss_function=logistic

finished run
number of examples = 0
weighted example sum = 0
weighted label sum = 0

[2016-07-22 12:40] JoshuaC3 opened #1051 "import pyvw Kills ipython/jupyter kernel"
When in my jupyter notebook, if I do `import pyvw` and then run cell this kills my ipython kernel.

I have vowpal wabbit installed successfully (`autogen`, `config`, `make `and `make install`, then ran `make test`) and have brew installed python 2.7.x, boost and python-boost. I have Anaconda on my system so I removed this from $PATH and added the brew installed python path. Then I did` pip install

[2016-07-22 13:03] gramhagen commented on #1051
Can you  try:
pip install vowpalwabbit

Then in the notebook
from vowpalwabbit import pyvw

On Fri, Jul 22, 2016, 8:40 AM JoshuaC3 <notifications@github.com> wrote:

[2016-07-22 13:16] pommedeterresautee commented on #1051
`pyvw ` is the old package.
`vowpalwabbit` is the new one.

[2016-07-22 16:52] arielf commented on #1050
"multiple occurrences" means "When using `-i model` You shouldn't repeat options which are stored in the model on the command line."

Also note that `cat datafile | vw ... -d /dev/stdin` can be simplified to `vw datafile`

[2016-07-22 17:26] JoshuaC3 commented on #1051
I have already installed this:

[code]

Now I start up the juptyer notebook and run import pyvw

[code]

`usr/local/lib` is in my environment path variable.

[2016-07-22 17:39] gramhagen commented on #1051
It sounds like you may be running the jupyter notebook in the anaconda
environment instead of your base /usr/local/lib/python2.7 env.
what do you get back from ‘which jupyter’ ?

On Fri, Jul 22, 2016 at 1:27 PM JoshuaC3 <notifications@github.com> wrote:

[2016-07-23 11:59] JoshuaC3 commented on #1051
`Joshs-MBP:Python Dev Josh$ which jupyter
/usr/local/bin/jupyter`

[2016-07-23 12:53] gramhagen commented on #1051
peculiar (unless that's a softlink to something else), I find using virtualenvs can help avoid some difficulties when working with new packages.
Kenneth Reitz has a good tutorial here: http://docs.python-guide.org/en/latest/dev/virtualenvs/

you could also try to install it directly in a notebook, once you've started jupyter and opened a notebook you can run
```!pip install vowpalwabbit```
might b

[2016-07-23 15:17] JoshuaC3 commented on #1051
Pip install first.
[code]

Then which pip.

[code]

Haven't done virtualenvs yet but will read link and have a try later.

[2016-07-25 02:41] haipengl commented on #1017
Sorry for the delay. It seems like the problem is in the learning rate. If you run OjaNewton with --alpha_inverse=0.1, you will get similar loss, although indeed it doesn't seem like second order information is helping here...

[2016-07-25 03:46] arielf commented on #1017
Should we make `--alpha_inverse=0.1` the default then?

One of the nice features of `vw` is that defaults work well so tweaking of secondary parameters isn't necessary in many cases.

[2016-07-25 12:54] #1050 closed

[2016-07-25 12:55] robbine opened #1054 "How to set termination threshold?"
I tried termination option and got this error
vw: unknown option termination
is it deprecated?

[2016-07-25 13:04] gramhagen commented on #1040
#1052 adds save and load methods for the sklearn interface as an alternative to the f option.

I was thinking it might be helpful to use sphinx to autogenerate api docs for the python build.  Is that the kind of documentation that would be helpful?

[2016-07-25 13:22] haipengl commented on #1017
I set the current default based on my experience of running this algorithm on a bunch of datasets (basically those in the paper). Do you find using --alpha_inverse=0.1 is in general better?

[2016-07-25 14:15] JohnLangford commented on #1002
I've changed the defaults to make things work more cleanly in the master branch now.

[2016-07-25 14:15] #1002 closed

[2016-07-25 17:04] arielf commented on #1017
@haipengl not generally better, but it bothers me that my first attempt to use the `--OjaNewton` option with nothing else (vanilla run) resulted in such unexpected outcome.  Not sure what the best solution is. The default learning rate in `vw` is, I believe 0.5 and it works pretty well on most of the data-sets in our test suite.   Perhaps this should be documented in the wiki: `--OjaNewton` perfor

[2016-07-25 17:16] arielf commented on #1017
Also: the `-b` dependence seems like a bug that is unrelated to convergence and learning rates.

For example.   The following two runs produce vastly different results. The only difference is `-b 20` vs `-b 22`:

[code]

[2016-07-25 17:19] JohnLangford commented on #337
It should work for --ftrl now.

[2016-07-25 17:19] #337 closed

[2016-07-25 17:23] JohnLangford commented on #439
My feeling is that counting the number of features should not be the responsibility of a reduction.  Instead, it should be managed by the foreach_feature templates which should make it impossible to miscount.

[2016-07-25 17:26] JohnLangford commented on #529
Look here: https://github.com/JohnLangford/vowpal_wabbit/blob/master/vowpalwabbit/lrq.cc#L111 for an example of creating audit features.

[2016-07-25 17:35] JohnLangford commented on #537
I added an exception to address this.

[2016-07-25 17:35] #537 closed

[2016-07-25 17:35] arielf commented on #1054
There's no generic --termination option to vw.

When you run multiple passes: `--passes <N>` with the default holdout, it will do early termination on the number of passes (controlled with `--early_terminate`):
[code]

`--termination` is not deprecated, but it is applicable/limited to `--bfgs` only.

See more detail in [vw command line arguments](https://github.com/JohnLangford/vowpal_wabbit/wiki/

[2016-07-25 17:35] JohnLangford commented on #603
Closing, I think this is addressed?

[2016-07-25 17:35] #603 closed

[2016-07-25 17:36] JohnLangford commented on #605
Closing for now.

[2016-07-25 17:36] #605 closed

[2016-07-25 17:37] JohnLangford commented on #665
There are good ideas here that I have not yet had time to implement.  Nevertheless, I'd like to see it happen.

[2016-07-25 17:38] JohnLangford commented on #687
Closing, I think this is dealt with.

[2016-07-25 17:38] #687 closed

[2016-07-25 17:41] JohnLangford commented on #726
@trufanov-nok do you want to add a check for ECT compatibility with a link function?   I could go either way.  The default link function is clearly ok, and we don't have a general mechanism to force people to use sensible reductions.

[2016-07-25 17:42] JohnLangford commented on #729
Closing this for now.

[2016-07-25 17:42] #729 closed

[2016-07-25 17:45] JohnLangford commented on #732
@KaiWeiChang @hal3 have you taken a look at this?

[2016-07-25 17:46] JohnLangford commented on #733
I'm going to close this, but if you want to fix, please do so.

[2016-07-25 17:46] #733 closed

[2016-07-25 17:48] JohnLangford commented on #734
Closing this for now as the model should be bulletproof.  I still think a signal handler is a good idea.

[2016-07-25 17:48] #734 closed

[2016-07-25 17:49] JohnLangford commented on #738
I'm closing this for now.  I still believe the hyperparameter search ideas here could be quite useful.

[2016-07-25 17:49] #738 closed

[2016-07-25 17:49] JohnLangford commented on #752
@gramhagen What is the status on this?

[2016-07-25 17:50] JohnLangford commented on #758
@gramhagen are tags working in python?

[2016-07-25 17:51] JohnLangford commented on #760
Closing, appears resolved.

[2016-07-25 17:51] #760 closed

[2016-07-25 17:52] JohnLangford commented on #778
This issue is old so I'm unsure of status.  Closing for now.  Reopen if it's still live.

[2016-07-25 17:52] #778 closed

[2016-07-25 17:54] gramhagen commented on #752
this is fixed

[2016-07-25 17:54] JohnLangford commented on #806
@jmorra @deaktator have you considered making the java interface support multiple VWs sharing the same model?

[2016-07-25 17:54] JohnLangford commented on #807
I believe this is fixed.

[2016-07-25 17:54] #807 closed

[2016-07-25 17:55] JohnLangford commented on #810
Closing this for now, although I'd welcome a patch with more thorough error reporting.

[2016-07-25 17:55] #810 closed

[2016-07-25 17:56] gramhagen commented on #758
I'll take a look

[2016-07-25 17:56] #834 closed

[2016-07-25 17:57] #839 closed

[2016-07-25 18:02] JohnLangford commented on #847
Reawakening this, the updates to these parameters are centralized here: https://github.com/JohnLangford/vowpal_wabbit/blob/master/vowpalwabbit/global_data.h#L249

Do you want to try and make things consistent?

[2016-07-25 18:08] JohnLangford commented on #882
I think the first issue has been fixed.  The predict() vs. learn() issue is kind of tricky to deal with.  Essentially, we need code to dispatch to one or the other as is desired.  Something like this: https://github.com/JohnLangford/vowpal_wabbit/blob/master/vowpalwabbit/learner.cc#L5

However, I'm not sure this is the interface people expect with a library.  When you call learn() do you expect th

[2016-07-25 18:08] #882 closed

[2016-07-25 18:10] JohnLangford commented on #959
The key issue with python 3 vs python 2 seems to be keeping compatibility with python 2 (for now).  I'm closing this issue for now, as it is being discussed in pull requests.

[2016-07-25 18:10] #959 closed

[2016-07-25 18:10] JohnLangford commented on #957
Assuming fixed, and closing.

[2016-07-25 18:10] #957 closed

[2016-07-25 18:12] JohnLangford commented on #944
I believe "don't write to the same cache file" is the fix here.  Closing, but reopen if you have evidence that is not the case.

[2016-07-25 18:12] #944 closed

[2016-07-25 18:13] JohnLangford commented on #933
@jhofman have you had a chance to look?

[2016-07-25 18:14] JohnLangford commented on #930
Fixed so closing.

[2016-07-25 18:14] #930 closed

[2016-07-25 18:15] JohnLangford commented on #924
@gramhagen have you seen this one?  Do you know what's up?

[2016-07-25 18:16] JohnLangford commented on #922
@eisber Have you seen this one?

[2016-07-25 18:17] JohnLangford commented on #919
@sharatsc have you considered making a patch for this?

[2016-07-25 18:22] JohnLangford commented on #918
There have been several changes to the code to support more advanced prediction types of one sort or another so this is relatively easy to do now.  This: https://github.com/JohnLangford/vowpal_wabbit/blob/master/vowpalwabbit/example.h#L42 is probably the right/best datastructure to store raw scores in for the purpose of reading out from the library interface.

[2016-07-25 18:42] deaktator commented on #806
@JohnLangford for clarity, are you thinking of something like allowing thread-local copies of the model for prediction to increase prediction throughput (like below) or are you thinking about allowing the model to be mutable across threads?  I think we previously looked at multithreading the underlying models about a year ago and synchronization seemed to limit throughput.  I'll catch up with @jmo

[2016-07-25 18:42] martinpopel commented on #847
I don't have time for this now (or in the near future), sorry.

[2016-07-25 18:59] trufanov-nok commented on #726
Can't estimate if I'll have enough time to dig into this in a next few weeks. But I wouldn't leave it as is without a warning at least. So how about a warning for known unsupported reductions?

[2016-07-25 19:02] JohnLangford commented on #903
This is fixed in the current master now.  Also, it wasn't a one-word document but rather a 0-word document.  You need to put a space ' ' between the '|' and the first feature or VW interpret this as part of a namespace.

[2016-07-25 19:02] #903 closed

[2016-07-25 19:03] marko-asplund commented on #806
Personally, I would be interested in the following uses:
- allow initialization and use of multiple models with different parameters within one process (primarily for prediction) or
- allow multiple copies of a model (within one process) for prediction to increase prediction throughput

[2016-07-25 19:04] JohnLangford commented on #960
Closing, likely solved.  Thanks @gramhagen

[2016-07-25 19:04] #960 closed

[2016-07-25 19:06] JohnLangford commented on #970
Closing for now.  Patches to make things work better on a mac are welcome.

[2016-07-25 19:06] #970 closed

[2016-07-25 19:08] #974 closed

[2016-07-25 19:17] JohnLangford commented on #982
@aartibagul is working on supporting sparse models which (I think) addresses this in a different way.  Instead of building a perfect hash, it allows a hash function with a large number of bits.

[2016-07-25 19:18] #988 closed

[2016-07-25 19:19] JohnLangford commented on #999
@jmorra @deaktator any ideas?

[2016-07-25 19:20] JohnLangford commented on #1003
Closing for now.

[2016-07-25 19:20] #1003 closed

[2016-07-25 19:21] haipengl commented on #1017
Adding a note in the wiki is definitely a good idea (I am new to Github and not sure how to do it though...)

What does -b do exactly?

[2016-07-25 19:22] JohnLangford commented on #1017
-b changes the number of bits in the hash function (and hence, the size of the model).  You should have an option to edit things in the wiki https://github.com/JohnLangford/vowpal_wabbit/wiki

[2016-07-25 19:23] JohnLangford commented on #1026
This should be fixed now.

[2016-07-25 19:23] #1026 closed

[2016-07-25 19:24] JohnLangford commented on #1028
Closing, as we can discuss in the pull request.

[2016-07-25 19:24] #1028 closed

[2016-07-25 19:26] JohnLangford commented on #1035
@jmorra @deaktator

It's easy to add an interface to get the tag of an example, but I'm sketchy on the value from a library interface perspective.  If you are predicting in the library, you are creating an example---in particular you are creating an example with a known tag.  Why not just record the tag separately on the java side and feed no tag into the example?

[2016-07-25 19:27] JohnLangford commented on #1039
Sounds like it's not a vw issue.  Closing for now.

[2016-07-25 19:27] #1039 closed

[2016-07-25 19:28] haipengl commented on #1017
I see. Will work on the wiki later then.

I really don't understand why -b changes things then. Will take a look into it...

[2016-07-25 19:31] JohnLangford commented on #1043
I believe the code you want is here: https://github.com/JohnLangford/vowpal_wabbit/blob/master/vowpalwabbit/search_sequencetask.cc

[2016-07-25 19:31] #1043 closed

[2016-07-25 19:31] JohnLangford commented on #1044
@KaiWeiChang do you think you can add some wiki documentation?

[2016-07-25 19:31] #1044 closed

[2016-07-25 19:32] JohnLangford commented on #1045
Closing in favor of pull request.

[2016-07-25 19:32] #1045 closed

[2016-07-25 19:32] #1046 closed

[2016-07-25 19:33] JohnLangford commented on #1054
What would a termination option look like?

[2016-07-25 19:43] deaktator commented on #999
@JohnLangford You're right.  Every time I've had this issue, it's been an issue loading the C code via JNI.  @stangirala, could you please give some platform information.  `name -a` and also, if you're on linux, maybe cat the redhat release file if you have one.  Also, are you running inside any containers?  Thanks.

[2016-07-25 20:56] arielf commented on #1054
My thinking was along:
[code]
where `vw` stops accepting input and finalizes the model iff avg-loss becomes equal or less than <threshold>.

From the end user perspective, there's no reason to limit this option to `--bfgs` only.

(Comparing this to 'loss since-last' makes much less sense since that's a very volatile number.)

[2016-07-25 22:03] gramhagen commented on #758
looks like this is still a problem, I'll dig in further

[2016-07-26 02:30] robbine commented on #1054
So if I set -passes 20 and --early_terminate 10.
Then vw will terminate after 10 passes when holdout loss doesn't decrease, right?

[2016-07-26 03:20] gramhagen commented on #1051
this is pretty wild to me, are you still having trouble? I can't understand how you can get a message saying vowpalwabbit is installed in the notebook and also can't import it?  the only thing I can think is that you might make sure you're starting your notebook somewhere like /tmp so it won't try to find packages based on the local path.

[2016-07-26 06:36] pommedeterresautee commented on #1044
Wiki page with explanation would be awesome.

The minimum and would not take time would be to add commands in test run file. For instance the same operation like POS tagging on WSJ dataset using SEARN, Dagger, LOLS and Aggrevate (may be there are others...). Therefore the user would see the variation of the parameters for the same use case to get each of these L2S algo.

If you can do a wiki page,

[2016-07-26 06:38] arielf commented on #1054
Yes, [as explained in the command-line args doc](https://github.com/JohnLangford/vowpal_wabbit/wiki/Command-line-arguments)

[code]

When you run `vw` with multiple passes (and no `--holdout_off`) it will tell you how many passes were actually used, and it will print the holdout loss, so you can see exactly when (in which passes) the (holdout) loss stopped decreasing.  holdout loss should start in

[2016-07-26 07:19] ievag commented on #1003
The base option adds the given constant to each prediction (even before the updates in the algorithm). This is not exactly what we were looking for. The idea of intercept scaling is to train the model on sampled data and to make the adjustment just on the final prediction.

[2016-07-26 12:46] pommedeterresautee commented on #1043
Thanks.

[2016-07-26 13:35] JohnLangford commented on #1003
So, you do adjustment 0 while training and a nonzero adjustment for the
final prediction?

-John

On Tue, Jul 26, 2016 at 3:19 AM, ievag <notifications@github.com> wrote:

[2016-07-26 13:53] pommedeterresautee commented on #1042
@KaiWeiChang needs more check but seems the bug is related to the fact that the prediction ID starts with 0 instead of 1. On C++ client starting with 0 is forbidden.

Will test more tonight. If this is the case, the easy fix is to throw an exception if allowed is used for a tag with 0 (and some documentation in the Python package).

[2016-07-26 14:34] ievag commented on #1003
Yes, that's what we need. In case of imbalanced data (e.g. where the positive examples in the data are very rare) one can take a sample where the proportion of positives is higher. Training a logistic regression on this sample results in higher final predictions. The intercept scaling allows to convert the probabilities so that these reflect the initial data before sampling.
Base option gives diff

[2016-07-26 18:15] pommedeterresautee commented on #1042
@KaiWeiChang
Going deeper in my test, behaviour when a tag is 0 changes according to the roll out policy (not tested roll in):
* `search_rollout='none'`: crash after some examples if tags include 0 until I set `allowed=range(0,17)`
* `search_rollout='mix'`: perf decreases severely if tags include 0 until I set `allowed=range(0,17)`

When I send tags from `range(1,18)` -> no more issue, no need to

[2016-07-28 05:41] Visarga commented on #415
I guess it's still unsolved for Mac? I am trying to import sklearn_vw or pyvw and get segmentation faults. I removed anaconda from the paths. I am using El Capitan.

[2016-07-28 11:51] gramhagen commented on #415
I'm using a Mac with el Capitan to do development of this.  But clearly
there are some setups that cause probs, that I would like to sort out. Can
you reinstall it now that anaconda is off the path?

[code]

[2016-07-29 09:24] pommedeterresautee commented on #1042
@KaiWeiChang do you want me to make a PR for that or you plan to work on it?
(just checking if oracle==0 and throw an exception on Python part + unit test)

[2016-07-29 10:18] JoshuaC3 commented on #1051
Yes still it will not load. If I use pyvw directly it kills the ipython kernel and if I import vowpalwabbit it has no module still.

How do I check the `/tmp` issue?

[2016-07-29 10:42] gramhagen commented on #1051
From the command line just change directory to /tmp then try 'jupyter
notebook'
That way it won't have any build artifacts from the vw repo on the path to
confuse things.

On Fri, Jul 29, 2016, 6:18 AM JoshuaC3 <notifications@github.com> wrote:

[2016-07-31 04:33] zihaolucky commented on #1035
Aha I see. Thanks for your help.

[2016-08-03 06:11] usptact opened #1057 "Learning a mapping from sequence to a tree"
I have a problem of learning a model that maps a sequence to a tree.

The input is a collection of relatively short sequences (less than 20 symbols each). Each symbol of the sequence carries a label as shown in this example (sequence of 7 symbols):
`
A B C C B D E
`
The total number of input symbol labels is finite and is known from the training set. In my example there are 5 possible symbol label

[2016-08-03 13:29] dhruvghulati opened #1058 "Trouble importing vowpal wabbit sklearn"
I read the docs and it says to set up the `sklearn` version of Vowpal Wabbit, I need to install via pip. However, since I was having exit code 193 errors when running `from vowpalwabbit.sklearn_vw import VWClassifier` I followed the instructions to remove any conda bin directory from my path and then install vowpal wabbit via pip. However, if I do so, I lose any `pip` installation I have.

Essenti

[2016-08-03 14:42] dhruvghulati opened #1059 "can't open dat file for cost sensitive classification"
I have produced a `dat` file where each line looks like:

`/location/statistical_region/net_migration:0.363035119394 0|0.0 0.0 1.0 0.0 0.0 0.0 1.0`

Where the end part is a vector of bag of words features for a sentence, and the part before the `I` symbol is just an index that increments for each sentence.

Why can't vowpal wabbit open such a file? Do I need to convert my labels to numbers?

[2016-08-03 14:53] #1059 closed

[2016-08-03 17:04] gramhagen commented on #1058
once you have removed conda from your path you should reinstall the python
wrapper. from the vowpal_wabbit/python directory, under whichever
virtualenv you want to use (or none if that’s what you want).
[code]

On Wed, Aug 3, 2016 at 11:22 AM Dhruv Ghulati <notifications@github.com>
wrote:

[2016-08-03 19:22] dhruvghulati commented on #1058
OK thank you, this answered my question. Can I after installing this then amend my `$PATH` again to include the conda bin so that I don't lose my whole conda features (pip etc)?

[2016-08-03 19:36] gramhagen commented on #1058
unfortunately no, if you do that importing anything in vowpalwabbit will
seg fault because it is built using your system’s boost-python library and
not conda’s.  there’s nothing stopping you from pip installing the other
packages necessary without conda, most of the modern packages (numpy,
scipy, sklearn, etc.) are pretty easy to just pip install nowadays.

ideally, we can get vw to either build u

[2016-08-04 11:35] tmkmrcnk opened #1061 "Error: 91 is too many tokens for a simple label"
An error is thrown in when running vw .exe --audit (called from vw-varinfo):

Error: 91 is too many tokens for a simple label:

[2016-08-04 12:20] pommedeterresautee commented on #1061
One possible reason, you use website address as example label. There are ":" in each address and this char has a special meaning. I had the issue using web address a features and replaced all these semi colon by a point -> no more issues.

[2016-08-04 13:19] tmkmrcnk commented on #1061
I've considered it and I know that URLs can be messy (e.g. contain pipes). I've now replaced the Urls with simple labels it it also fails. Also, if I remove a couple of random lines from the sample I attached, it works fine so it does not look like a problem with one specific line. I also manage to do full training on large data sets. I will debug it properly later to see what exactly is passed to

[2016-08-04 14:17] JohnLangford commented on #1061
I can't replicate this problem, but there is a problem with the URLs---they
are being parsed as a float rather than as a tag.  You want to transform
the dataset according to:

sed -e 's/\ |/|/' test1.txt

Does that fix your problem also?

-John

On Thu, Aug 4, 2016 at 9:19 AM, tmkmrcnk <notifications@github.com> wrote:

[2016-08-04 15:07] trufanov-nok commented on #726
I've taken a look into link problem again. It seems that OAA **is** compatible with `--link logistic`. It just require `--loss_function logistic` in this case. It doesn't work good for any other loss with `--link logistic` on a test dataset ( the predictions become equal after a few passes thus class 1 is always chosen). When logistic loss function is used the results are as good as for `--link gl

[2016-08-04 16:29] trufanov-nok commented on #726
I've have played with ECT. Parameters are:
`vowpalwabbit/vw -k --ect 10 --error 3 -c --passes 10 --invariant -d test/train-sets/multiclass --holdout_off`

It gives `average loss = 0.110000` for all links except logistic. And `average loss = 0.900000` for logistic (all current predictions are 8).
It seems it might be fixed by just changing `> 0` to `> 0.5` [here](https://github.com/JohnLangford/vow

[2016-08-05 07:30] arielf commented on #1061
As John said.  The data is incorrect vw format.

The official reference is here:
[https://github.com/JohnLangford/vowpal_wabbit/wiki/Input-format](https://github.com/JohnLangford/vowpal_wabbit/wiki/Input-format)
Note what it says about _Tag_

A tag (comment in an example) should either be marked with a leading quote: '
OR touch the pipe-char (without spaces between them)
Otherwise the parser will

[2016-08-05 08:23] Wirack opened #1062 "Purpose of IEnumerable predict method in vowpalwabbit.cpp"
As I was investigating the c# wrapper I stumbled upon the following code fragment in the vowpalwabbit.cpp file in the vw_clr project:

[code]
[Link to code in question](https://github.com/eisber/vowpal_wabbit/blob/master/cs/cli/vowpalwabbit.cpp#L477-L509)

I was wondering why the method only returns the first prediction.
I thought the purpose of the method was to return all the predictions, e.g. a

[2016-08-05 16:47] eisber commented on #1062
Certain reductions have the concept of multi-line examples (cb_adf, csoaa_ldf,…). As the particular task requires more structure than is expressable on a single line using namespaces, data is spread over multiple lines. Thus really you can see these multiple lines as a single “example” and the interface returns a single prediction for it (e.g. a ranking over those lines).
This is *not* optimizatio

[2016-08-05 19:13] Wirack commented on #1062
Thanks for responding, then the method makes sense for me aswell :)

In relation to looking for something specific in the wrapper:
I do a batch of predictions, so was looking for something to speedup that prediction process.

I will use the predict method with a single example at a time for now :)

Maybe it is worthwhile to add functionality to the wrapper for a batch of predictions?
I am thinking

[2016-08-05 22:43] eisber commented on #1062
We support multithreaded already. There is VowpalWabbitThreadedPrediction. It will maintain a pool of VW instances sharing the memory intensive weights between, so it won’t eat up all your memory. Have a look for the test cases to show it works, should be pretty straight forward. The pool allows for model upgrade as well.

Markus

From: Søren [mailto:notifications@github.com]
Sent: Friday, August

[2016-08-06 00:32] usptact opened #1063 "Sequence tagging Hogwild mode"
I have a large dataset with sequences that have tags in them. I am using the `--search` and `--search_task sequence` options to learn from this data.

The learning from such data is fine but uses only one core. I tried to use Hogwild mode to learn from the dataset while leveraging all cores of my machine.

While learning terminates successfully, I have a question about the quality of the learned m

[2016-08-07 08:10] Wirack commented on #1062
Thanks! will definitely take a look.

[2016-08-07 08:10] #1062 closed

[2016-08-08 17:47] #726 closed

[2016-08-09 15:41] dhruvghulati opened #1065 "Ultimately running model on test data"
I was unsure from your tutorial on cost sensitive classification how I run my model on my test data:

https://github.com/JohnLangford/vowpal_wabbit/wiki/One-Against-All-%28oaa%29-multi-class-example

Should I create a new dat file called `csoaa_test.dat` which contains only the test features and their tags:
[code]
And then run: `vw -t -i csoaa.model csoaa_test.dat -p csoaa.predict`? In the current

[2016-08-09 17:54] JohnLangford commented on #1065
Are you using oaa or csoaa (multiclass labels or cost sensitive
multiclass labels?)

Anyways, the below looks correct, except that your features are odd.
The feature specification is sparse so you want something like:

0| 2
1| 1
2| 1 2
3| 1 2 3

(where each feature index implicitly has a feature value of 1)

-John

On 08/09/2016 11:41 AM, Dhruv Ghulati wrote:

[2016-08-09 18:02] dhruvghulati commented on #1065
I am using cost sensitive multiclass labels, and those are sparse features because they are a simplified version of a bag of words vector which is 5000 words long for each test instance. So a value is 1 if that word in the vectorizer appears. Is this why I am getting very low recall thus far?

[2016-08-09 18:27] arielf commented on #1065
Yes,

vw input is not positional (where column defines feature id).

Your input features (not their values) are just 0 and 1.
This doesn't look like it represents distinct words (there are only 2 distinct values which doesn't make sense).

So you should use the words themselves directly, not 0, 1 as the features following the pipe.

[2016-08-09 18:32] dhruvghulati commented on #1065
@arielf thanks for this. I gave the above as an example but are you saying my features should be:

[code]

Not sure if this is what you were referring to, but I thought the value just to the left of the `|` is just a tag so you can call it anything (I just give it the index number of my total samples). I guess that doesn't matter from what @JohnLangford wrote.

[2016-08-09 18:47] JohnLangford commented on #1065
You need to have a space between the '|' and the first feature.  Otherwise, it treats this is a namespace declaration.

[2016-08-09 18:51] JohnLangford commented on #1063
It's hard to answer this in any authoritative fashion.  The core issue is that hogwild is a race condition.  Is your problem such that one subset of features can be used and updated while the other subset is doing something else?  That's often true with text features.   It's often not true with dense features.  Whether or not this is beneficial seems strongly problem dependent.

[2016-08-09 18:51] #1063 closed

[2016-08-09 18:51] JohnLangford commented on #1061
Closing, I believe this is diagnosed.

[2016-08-09 18:51] #1061 closed

[2016-08-09 18:52] JohnLangford commented on #1058
Closing for now.  @gramhagen it would probably need to be you, so if you can find the time that would be great.

[2016-08-09 18:52] #1058 closed

[2016-08-09 18:55] JohnLangford commented on #1057
@KaiWeiChang can you comment?  This looks very close to dependency parsing to me so at most a small adaptation would be needed.

[2016-08-09 18:57] JohnLangford commented on #1054
Closing this for now.  I'm hesitant to go with a termination threshold in general, because users typically want to maximize accuracy, constrained only by computation (which check pointing handles well).  The termination criteria in bfgs is a throwback to the optimization view where we do not have a holdout set.

[2016-08-09 18:57] #1054 closed

[2016-08-09 18:58] JohnLangford commented on #1051
Closing this---I'm presuming it's addressed?

[2016-08-09 18:58] #1051 closed

[2016-08-09 19:01] JohnLangford commented on #1042
@hal3 for reference.  I'm interested in a pull request from anyone.

[2016-08-09 19:02] JohnLangford commented on #1040
1052 is in, so closing for now.  Better documentation is very welcome form anyone who can contribute.

[2016-08-09 19:02] #1040 closed

[2016-08-09 19:03] JohnLangford commented on #1038
This is fixed, thanks.  Closing.

[2016-08-09 19:03] #1038 closed

[2016-08-09 19:05] JohnLangford commented on #1035
There was a similar issue on the python interface that was solved there, so this is in general possible.  Closing this for now.

[2016-08-09 19:07] JohnLangford commented on #1021
What is the status on this?  python 3 still bad even on the current master?

[2016-08-09 19:08] JohnLangford commented on #1017
When there are collisions, parameters become shared which causes a loss of expressivity.

Have you edited the wiki? I'd like to close this.

[2016-08-09 19:09] JohnLangford commented on #1020
Closing this for now.   A patch to tweak the defaults is welcome.

[2016-08-09 19:09] #1020 closed

[2016-08-09 19:10] JohnLangford commented on #999
Ping on this @stangirala

[2016-08-09 19:10] JohnLangford commented on #999
I'm going to assume this was fixed, so closing for now.  Please reopen if not so.

[2016-08-09 19:10] #999 closed

[2016-08-09 19:11] JohnLangford commented on #982
Closing this for now, but reopen to discuss further.

[2016-08-09 19:11] #982 closed

[2016-08-09 19:12] JohnLangford commented on #980
Closing for now.

[2016-08-09 19:12] #980 closed

[2016-08-09 19:12] JohnLangford commented on #973
Closing for now.

[2016-08-09 19:12] #973 closed

[2016-08-09 19:13] JohnLangford commented on #933
@jhofman ping

[2016-08-09 19:14] JohnLangford commented on #922
@eisber can you take a look?

[2016-08-09 19:15] JohnLangford commented on #919
Closing this for now.  A patch is welcome.

[2016-08-09 19:23] JohnLangford commented on #806
The first is should be doable now: you just have different VW objects.

The second is also doable now with the caveat that you can't easily share the state.   (And the caveat to the caveat that you _can_ share the state on linux.  See here: https://github.com/JohnLangford/vowpal_wabbit/blob/master/vowpalwabbit/memory.h#L43)

I think a patch on this is welcome but not necessarily needed.  Closing f

[2016-08-09 19:23] #806 closed

[2016-08-09 19:24] JohnLangford commented on #758
Closing.  Thanks @gramhagen !

[2016-08-09 19:24] #758 closed

[2016-08-09 19:24] JohnLangford commented on #752
Thanks, closing.

[2016-08-09 19:24] #752 closed

[2016-08-09 19:25] JohnLangford commented on #732
Closing this for now: likely out of date.

[2016-08-09 19:25] #732 closed

[2016-08-09 20:16] dhruvghulati commented on #205
I am getting this exact issue. I am guessing this may be because I have examples of the exact same features which have different costs for different labels.

My model is predicting the label "16" even though I only have training labels from 0 to 15.

[code]

This happens across all my files, but I have attached a sample pipeline of training to test for one of my pipelines.

Commands run were:

vw

[2016-08-09 20:19] dhruvghulati commented on #1065
Running into a separate issue more related to cost formation, but the crux of this issue has been solved in my mind now, thanks.

[2016-08-09 20:19] #1065 closed

[2016-08-09 21:45] usptact commented on #1063
@JohnLangford Thanks for mentioning the race condition issue. Yes, the features are lexical features extracted from text (unigrams, bigrams, suffixes/prefixes, capitalization patterns etc, basically Stanford NER features).

My toy dataset is comprised of ~5K sequences. The feature extractor generates about ~150K unique features in total.

[2016-08-10 09:13] JoshuaC3 commented on #1051
It is still not working. I haven't tried @gramhagen's last suggestion. I will look at this as soon as possible and update.

[2016-08-10 09:45] dhruvghulati opened #1067 "csoaa predicting an invalid class"
I am guessing this may be because I have examples of the exact same features which have different costs for different labels? Or because my training features are very different to my test features?

My model is predicting the label "16" even though I only have training labels from 0 to 15.

[code]
This happens across all my files, but I have attached a sample pipeline of training to test for one o

[2016-08-10 13:31] anujgupta82 commented on #1021
On MacOS following steps:

brew update
brew install boost --with-python (if this throws error - "Error: boost-1.60.0_2 already installed", do next 2 steps)
brew unlink boost
brew install boost --with-python

brew install boost-python
brew install vowpal-wabbit
sudo pip install vowpalwabbit

[2016-08-10 14:55] gramhagen commented on #1021
brew install vowpal-wabbit, or apt-get install vowpal-wabbit will install an older version of vw to run on the command line but this isn't necessary to use the python wrapper.  the dependencies listed however are important:
[code]

pip3 install vowpalwabbit will not currently work unless you are pointing to the latest local code because I haven't pushed the changes to PyPI yet.

@JohnLangford can

[2016-08-10 15:05] JohnLangford commented on #1063
Just try it and see.

-John

On 08/09/2016 05:45 PM, usptact wrote:

[2016-08-10 15:06] arielf commented on #1067
Not sure if his is the reason but all documentation and examples use 1..N rather than 0..(N-1)

[2016-08-10 15:06] JohnLangford commented on #1067
That's likely it.

[2016-08-10 15:28] dhruvghulati commented on #1067
Yes this solved the issue!

[2016-08-10 15:28] #1067 closed

[2016-08-10 15:29] lhwilke commented on #415
Yes, the problem is still there, unfortunately:

Process:               Python [31110]
Path:                  /usr/local/Cellar/python/2.7.12/Frameworks/Python.framework/Versions/2.7/Resources/Python.app/Contents/MacOS/Python
Identifier:            Python
Version:               2.7.12 (2.7.12)
Code Type:             X86-64 (Native)
Parent Process:        bash [25390]
Responsible:           Termina

[2016-08-10 15:40] dhruvghulati opened #1068 "calling subprocess within python to run succession of commands makes predict file one row too small"
Command line prediction is predicting fine on my files, but when I run commands from within python like so:

[code]

I get a predict file that only goes to 498 rows, instead of 499 as it does on the command line.

[closed_cost_1.predict.txt](https://github.com/JohnLangford/vowpal_wabbit/files/411507/closed_cost_1.predict.txt)
[test.dat.txt](https://github.com/JohnLangford/vowpal_wabbit/files/41150

[2016-08-10 16:02] gramhagen commented on #415
my best guess is the versions of boost used are not the same between what the python package is using for installation and what your python installation is running with.

from the stack trace above looks like it's pulling from: /usr/local/opt/boost/lib/libboost_program_options-mt.dylib

can you check where that really lives (mine is a link to a brew installed folder under Cellar) ?
[code]

now you

[2016-08-10 16:12] arielf commented on #1067
Thanks.
Please don't close this yet.  I feel there's a need for improving the error message here.  I'll take a stab at it hopefully this week.

[2016-08-10 16:30] lhwilke commented on #415
Thanks for your fast response.

The paths seem ok:

[code]

Which boost version do you use?

[2016-08-10 16:51] gramhagen commented on #415
I'm using 1.60

the other thing that looks a little odd is there are two versions of python in that trace:
/usr/local/Cellar/python/2.7.12/Frameworks/Python.framework/Versions/2.7/Python
and
/usr/local/lib/python2.7/site-packages/vowpalwabbit-8.2.0-py2.7-macosx-10.11-x86_64.egg/pylibvw.so

maybe due to using sudo when runing python setup install ?  you might try repeating those steps under a virtu

[2016-08-10 17:59] eisber opened #1070 "Windows installer is missing uninstall entry in Add/Remove Programs"

[2016-08-11 01:08] sanketkumarsingh opened #1071 ""label 0 is not allowed for multiclass" - while doing One Against All (oaa) multi class classification"
Hi,
I am trying to perform oaa classification over my test data as
vw -t -i train-tamura.model test-tamura-photo-county-vw-1.0.txt -p test-photo-predict-new.txt

The prediction stops after processing few test instances giving error: "warning: null is not a good int, replacing with 0
libc++abi.dylib: terminating with uncaught exception of type VW::vw_exception: label 0 is not allowed for multiclass

[2016-08-11 13:47] JohnLangford commented on #1021
Yes.  I'll bump to 8.2.1 shortly.

-John

On Wed, Aug 10, 2016 at 10:55 AM, Scott Graham <notifications@github.com>
wrote:

[2016-08-11 14:11] haipengl commented on #1017
Yes, I just did.

Haipeng

On Tue, Aug 9, 2016 at 3:09 PM, John <notifications@github.com> wrote:

[2016-08-12 09:03] lhwilke commented on #415
Thanks. That was the right trace:

[code]

There was an old f****** MacPorts version in the path...

The reason why this happens and also conda crashes may be found in the Makefile:

`PYTHON_LDFLAGS = $(shell python$(PYTHON_VERSION)-config --ldflags)`

When you call it with conda

`/data/home/lwilke/miniconda2/bin/python2.7-config --ldflags`
it gives
`-lpython2.7 -ldl -framework CoreFoundation -u

[2016-08-12 18:14] #1071 closed

[2016-08-13 01:18] bobpoekert opened #1074 "Error building python extension"
Running `pip install -e .` in the python directory of the current master of vw I get the following error:

[code]

This is on Ubuntu 14.04

[2016-08-15 14:48] gramhagen commented on #1074
when installing from the local source it will copy over what is in your vowpal_wabbit directory to build the files necessary to make the vw libraries.  do those files not exist in your checkout?  you may want to use python setup to clean the installation and retry:
[code]

[2016-08-15 15:46] KristianHolsheimer commented on #758
Thanks @gramhagen and @JohnLangford
I added a test for tags in pyvw in `python/tests/test_pyvw.py`, see https://github.com/JohnLangford/vowpal_wabbit/pull/1076

[2016-08-15 15:55] gramhagen commented on #758
looks good! thanks @KristianHolsheimer

[2016-08-15 22:43] danqing commented on #918
Wondering if there's any progress/plan on this :) I think having the raw scores is going to be immensely helpful

[2016-08-18 01:34] danmelamed opened #1080 "unresolved externals on Windows"
Linking breaks on Windows.  Looks like the new externals are in the recent code for marginal features.

Error	7	error LNK2019: unresolved external symbol "struct LEARNER::learner<char> * __cdecl marginal_setup(struct vw &)" (?marginal_setup@@YAPEAU?$learner@D@LEARNER@@AEAUvw@@@Z) referenced in function "void __cdecl parse_reductions(struct vw &)" (?parse_reductions@@YAXAEAUvw@@@Z)	C:\dev\Repos\VS2

[2016-08-18 13:41] leonid-ubimo opened #1081 "Interactions: redundancy and arbitrary choice"
Consider the following training (toy_train_data.vw) and test (toy_train_data.vw) sets:

toy_train_data.vw:
1 |app app_cat=1 app_cat=2
-1 |app app_cat=1 app_cat=0
-1 |app app_cat=0 app_cat=0
1 |app app_cat=2 app_cat=1
-1 |app app_cat=2 app_cat=0

toy_test_data.vw:
1 |app app_cat=1 app_cat=2

When applying
vw -d toy_train_data.vw --loss_function logistic -f toy.model -q ::
vw -t -d toy_train_data.vw

[2016-08-18 21:31] dhruvghulati opened #1082 "How to generate prediction files with probabilities instead of chosen label for cost sensitive multi class regression"
I am using: https://github.com/JohnLangford/vowpal_wabbit/wiki/Cost-Sensitive-One-Against-All-%28csoaa%29-multi-class-example

With training of (example line):

[code]

And test of (example line):

[code]

Currently using:

[code]

But this is outputting a single prediction of a label from 1 to 16 for each test instance, instead of something like (test instance 1):

[code]

Which is the softmax pr

[2016-08-19 05:21] martinpopel commented on #1082
Have you tried `--probabilities`?

[2016-08-19 09:25] dhruvghulati commented on #1082
I am doing cost sensitive classification for multi class sentence classification using logistic regression, and find there is very low recall (as with normal logistic regression). However if I threshold the probabilities (so anything below 5% probability is an unknown class and so always is wrong), I can use the threshold as a hyperparameter and up my recall to an acceptable rate. I did this with

[2016-08-19 09:26] dhruvghulati commented on #1082
Also, small point but I really wish someone put `--probabilities` in the documentation. If you google "Vowpal Probabilities instead of Predictions", this `--link=logistic` parameter appears, and never clearly where in the command line it should appear in a command.

[2016-08-19 10:07] dhruvghulati commented on #1082
@martinpopel what would my updated original command be with `--csoaa_ldf=mc`?

[2016-08-19 10:38] martinpopel commented on #1082
OK, I did now: https://github.com/JohnLangford/vowpal_wabbit/wiki/Predicting-probabilities
(It's wiki, so you/anyone can improve it.)

[2016-08-19 10:58] martinpopel commented on #1082
train.dat:
[code]
label3 is the correct one as it has cost=0, all other labels have cost=1. For brevity, I used just 4 labels, but you should include all 16.  Each example must end with an empty line.

test.dat:
[code]
The format is same as the train data, just in real prediction you omit the costs (which are unknown).

Commands:
[code]

It is important to use `--probabilities` when testing (this

[2016-08-19 13:08] dhruvghulati commented on #1082
@martinpopel thanks for writing up in that Wiki, I will do that for next time! When predicting using your method I get:

[code]

[2016-08-19 13:27] JohnLangford commented on #1082
FYI for Martin: I changed the prediction type for probabilities from float*
to v_array<float>.  This makes the array self-delimiting and makes it so we
don't need to alloc/dealloc for each prediction.

-John

On Fri, Aug 19, 2016 at 9:08 AM, Dhruv Ghulati <notifications@github.com>
wrote:

[2016-08-19 18:28] martinpopel commented on #1082
The test command should be just
[code]
(i.e. without the `--probabilities`).

I am sorry for the confusion. I was using an older version of VW. Now in the newest version, the option `--probabilities` is stored in the model, so it does not need be repeated when testing (actually it cannot be repeated, otherwise there is the "option '--probabilities' cannot be specified more than once" error as you

[2016-08-19 21:05] arielf commented on #1082
Seeing how many users get hit by the "cannot be specified more than once" error.
I'm thinking maybe we should rethink it.

Some options:
- Last one wins (command line overrides model) with possible undesired consequences
- Check and if the two 'specified' values for the option are the same, don't abort
- A better idea?

[2016-08-19 21:13] JohnLangford commented on #1082
I agree.

I think we need 3 kinds of arguments: static + saved (option cannot
change), mutable + savedg ( option can change), and not saved.

-John

On Fri, Aug 19, 2016 at 5:06 PM, Ariel Faigon <notifications@github.com>
wrote:

[2016-08-19 21:14] martinpopel opened #1084 "Option cannot be specified more than once"
In https://github.com/JohnLangford/vowpal_wabbit/issues/1082#issuecomment-241135130 @arielf wrote

I think this should be discussed in a separate issue (here).
I like @arielf 's suggestion
- Check and if the two 'specified' values for the option are the same, don't abort

[2016-08-19 21:23] martinpopel commented on #1082
Let's move the discussion about "cannot be specified more than once" to a separate issue - #1084.

This issue is about predicting probabilities for `--csoaa`, which is not supported at the moment (a workaround exists with `--csoaa_ldf=mc --probabilities`, but it requires changing the input data format).

When implementing `--probabilities`, originally I wanted to make it work for `--csoaa` as well

[2016-08-19 21:31] martinpopel commented on #1084
One special example to consider: option `--probabilities` does not change the way a model is trained, but it could be useful in training because it reports multi-class logistic loss (in addition to zero-one loss). The main purpose of `--probabilities` is for testing to convert the predicted values (`-p`) to probabilities.

There may be several models, some trained with  `--probabilities`, some wit

[2016-08-19 22:33] MaJaHa95 opened #1085 "--invert_hash with LDA?"
Hey everyone,

Is it possible to use the `--invert_hash` option with LDA? I've been having trouble getting it to work, and looking at [the code](https://github.com/JohnLangford/vowpal_wabbit/blob/3ab6f489c59cf3825db448f5d287eeb74fb27940/vowpalwabbit/gd.cc#L252), it seems like it might be explicitly ruled out (or I could be totally misinterpreting that).

I'm using the C# wrapper for VW, if that ma

[2016-08-19 23:28] arielf commented on #1085
You can't do that directly.  LDA is not very friendly as default `vw` where you can use features directly and its implementation is often not fully orthogonal to various standard `vw` options. You need to build a dictionary to convert document words and topics to indexes and back.

But no worries, all the heavy lifting and translation back-and-forth has been implemented in a python script in the u

[2016-08-20 03:38] amrsharaf opened #1086 "Build fails on Mac OS X after commit 96c3756"
The current master branch (commit 08bb806) fails to build on Mac OS X with the following error message:

[code]

I noticed that a _size_t_ is passed on to _merand48_ instead of _uint64_t_, should be an easy fix. I think this maybe a compiler dependant conversion issue. Build is successful for commit (c593f3a)

[2016-08-20 15:29] dhruvghulati commented on #1082
Hi @martinpopel just to understand, do you mean that `csoaa_ldf` is not actually taking into the costs? The example in this issue is just a naive baseline I use, but I actually do need the costs to be taken into account e.g. I have versions like `1:0.211 2:0.34 3:0.056 4:0.03`. In that case, if I do:

[code]
In the same data format I had for `csoaa` will I achieve what I want?

[2016-08-20 16:56] MaJaHa95 commented on #1085
@arielf Thanks for the response!

And yeah, that's convenient, thanks.

The part I was really looking for (initially removed for brevity) was n-gram support, which doesn't look like it's built into either of those scripts. It's not really an issue for me to implement that myself, but I was hoping to benefit from the work that's already been completed.

But I'll look some more through those scripts

[2016-08-20 16:56] #1085 closed

[2016-08-20 17:58] arielf commented on #1082
@dhruvghulati  the command-lines you keep posting (since the start of this thread) give errors. e.g:
[code]

Please post reproducible issues with the exact command lines and data sets that you actually run.  It is hard to help otherwise.

The number of classes `<k>` must always follow the multiclass option `--oaa` or `--cs_oaa`, ` --csoaa_ldf` etc.    You may use  `vw --help` for options usage.

T

[2016-08-20 18:05] martinpopel commented on #1082
@dhruvghulati If you have costs such as 0.211 and 0.34 then I'd say you want to predict these costs (and not probabilities - I am not sure how a probability would be defined in such case). The purpose of csoaa is that it outputs the label with the lowest cost. If you don't need this and want to report the cost for each label, you can treat it as standard regression, that is

[code]
etc.

and then

[2016-08-20 18:06] arielf commented on #1085
I realize this is not always an option for all `vw` users, but if you feel a feature is missing and could add what's missing to the scripts to make them more general, that would be really cool. Thanks!

[2016-08-21 00:34] dhruvghulati commented on #1082
@martinpopel you've hit on what I want - I want a cost-sensitive model to output the label it thinks it is, taking into account the costs I provided as inputs, and output some sort of score or probability it assigned to that label prediction. I can then use those scores/probability and slightly change the label prediction. If it is the case that the model only outputs scores/probability for the la

[2016-08-21 05:50] arielf commented on #1082
@dhruvghulati

1) Trying to reproduce your example, verbatim (cut and pasted from your original issue):

[code]

2) For why is it failing please reread my [previous comment](https://github.com/JohnLangford/vowpal_wabbit/issues/1082#issuecomment-241214373)

3) Have you tried to read the reference I gave above?  I think it can help you understand `vw` multiclass formats and avoid errors (and questio

[2016-08-21 07:12] MaJaHa95 commented on #1085
Unfortunately, my Python skills are...lacking. Not like it's a tough language, but I'd hate to force others to read that :). I'll take a look at it, though.

I would, however, love to build a plugin for VW to work in Elasticsearch. That'd be super handy for my work, and I suspect others' as well. I don't know Java well either (which is required for doing that), but that's something I've thought ab

[2016-08-21 09:02] martinpopel commented on #1082
`--csoaa` needs the number of classes (e.g. `--csoaa 16`).
`--csoaa_ldf=mc` does not need the number of classes, as this can be different for each example and it is inferred from the number of lines of the given example.

[2016-08-21 09:05] martinpopel commented on #1082
@dhruvghulati you can try `--csoaa 16 -r raw_predictions.txt` (I cannot test it now, but it should give scores for each class).

[2016-08-21 10:40] dhruvghulati commented on #1082
@arielf sorry I think miscommunication here. I know the right command for the first thing in this thread (its all good and working).

[code]

The reason for putting in those additional lines was showing what I tried to get these raw  predictions.

@martinpopel yes, that makes sense and this is probably what I was looking for all along. I tried this for this input data:

[code]

And this test forma

[2016-08-21 15:06] JohnLangford commented on #1086
Thanks, fixed.

[2016-08-21 15:06] #1086 closed

[2016-08-21 15:06] JohnLangford commented on #1080
Thanks, this should be fixed in the current master.

[2016-08-21 15:06] #1080 closed

[2016-08-21 21:06] KristianHolsheimer opened #1088 "Bug in sort_features?"
Hi again,

I just noticed that there might be a bug in the `--sort_features` option. Namely, I noticed that it runs fine on:
[code]
but throws an error on
[code]
Then I looked at integer features, where
[code]
runs fine, but
[code]
throws an error. Here's the stacktrace: http://pastebin.com/WGiMXpte

Are you able to see what's happening here?

[2016-08-22 07:08] arielf commented on #1088
@KristianHolsheimer  thanks for the report.

I can't reproduce the error with latest (8.2.1) on Ubuntu 16.04.1 LTS.
All 4 commands seem to work fine, even though I have exactly the same version of libc:  `/lib/x86_64-linux-gnu/libc-2.23.so` as in the pastebin log.

[code]

I see this is on some Linux, which exactly, and with what `vw` version do you see this?

Have you built `vw` with `autogen.sh`

[2016-08-22 07:20] KristianHolsheimer commented on #1088
Hmm, that's odd.

I used a fresh clone (and I just did a git pull and make to be sure I have the latest version.. error's still there).
[code]
Our distributions are the same as well..
[code]

I build by running `make`.

[2016-08-22 13:15] martinpopel commented on #1082
Now I see, `-r raw_predictions.txt` does not work with `--csoaa`. So the options are:
* Keep the csoaa data format,  use `--audit` when testing and grep the raw scores from stdout (e.g. `vw -t -i csoaa.model -d test.dat --audit | grep -P '^\d' > scores.txt`).
* Change the data format to the one expected by `csoaa_ldf` and use `--probabilities` as I suggested [here](https://github.com/JohnLangford/

[2016-08-22 18:26] dhruvghulati commented on #1082
Hi @martinpopel , the first `--audit` method did not work. Ended up with a blank file. For sanity I'm just including the full training and test files for `latent dirichlet` and the normal `csoaa` format.

For the second method with `latent dirichlet`, I obtained an output file that was perfect (thank you!!), but for some reason seems to always predict label `11` for every test instance which is th

[2016-08-22 20:28] arielf commented on #1088
Thanks and sorry!

I can reproduce now.

Apparently I wasn't on latest "latest." Only a day old or so.

This is a very recent regression.

make test also fails in test 62 with:
*** Error in `../vowpalwabbit/vw': free(): invalid pointer: 0x0000000000c2acf0 ***

Need to run a `git bisect` to figure out the commit that caused this.

[2016-08-22 23:04] arielf commented on #1088
Ran git bisect,

Looks like this commit caused the regression:
[code]

To verify:
[code]

And also this fails:
[code]

If I go back to one earlier commit:  `commit 77cb357 fixed invalid copying of shared_ptr`
everything runs fine (all tests pass)

[code]

@danmelamed can you take a look?

Thanks!

[2016-08-23 00:23] tomkee opened #1089 "Python sklearn - error in pip version"
While training data with sklearn.VWClassifier I got error in self.fit():

[2016-08-23 12:18] anujgupta82 opened #1090 "Training loss ?"
How do i find the training loss ?

[code]

Is there a way to access the training loss incurred ?

[2016-08-23 12:28] gramhagen commented on #1089
Ah.  Ok I will update the version in PyPI shortly. On vacation right now.
Thanks!

On Tue, Aug 23, 2016, 2:23 AM tomkee <notifications@github.com> wrote:

[2016-08-24 04:46] dhruvghulati opened #1091 "What does vowpal assign as the costs of undefined label:cost pairs for a training instance in csoaa"
I am curious what the underlying algorithm assigns as the cost for undefined label-cost pairs for a training instance (for example if I have 4 potential labels, but on each row I only put the cost for 1 label instead of all 4). i.e.:

[code]

Instead of:

[code]

Are the costs for every other label assigned as 1? infinity? `None`?

[2016-08-24 17:28] abissell commented on #999
We encountered this issue when the output of `uname -a` on our servers was:

`Linux <hostname> 3.2.0-39-virtual #62-Ubuntu SMP Thu Feb 28 00:48:27 UTC 2013 x86_64 x86_64 x86_64 GNU/Linux`

We didn't notice it with any other version of Ubuntu running. It may have been due to an unrelated difference in our config on servers where we had deployed that particular version.

[2016-08-24 17:41] JannisH opened #1092 "Errors when lines get too big."
Hello,

I recently stumbled upon an error for which I have not found any fix. Basically I want to classify some texts with tf idf features. If training examples reach a certain line length vw however will throw "is too many tokens for a simple label" typish errors. To confirm that I didn't mess up data conversion I wrote some python script to generate random data and reproduce the error. The same

[2016-08-24 17:54] jmorra commented on #999
Is this on the latest code?  The JNI layer has been refactored quite a bit.

[2016-08-24 17:56] abissell commented on #999
No, this is on 8.0.0 as well.

[2016-08-24 17:57] jmorra commented on #999
Does it still occur on the latest code?

[2016-08-24 18:24] arielf commented on #1092
@JannisH

Thanks for the report.
Sadly the information isn't enough to reproduce.
- The python script aborts with `NameError: name 'l' is not defined`
- There's no `vw` command line to run
Could you help make the problem reproducible by others?

[2016-08-24 18:29] arielf commented on #1092
And if I change `l` to `letters` so the python script runs fine, I still can't reproduce any vw error or warning even if I make the line way longer (10,000 features).

[2016-08-24 19:38] abissell commented on #999
Don't know, we've already re-provisioned all the instances that were running this version unfortunately.

[2016-08-24 23:49] JannisH commented on #1092
Thank you for your help!Yes sorry I forgot to change the variable name here. Thats super strange I think I got the latest version (8.1.1 ?) do you have any idea what else I could try to solve this? Or could this be some character encoding problem?

[2016-08-25 01:18] arielf commented on #1092
Latest is 8.2.1 and pushes on top of that happen frequently. Try `vw --version`

Really can't tell what the problem is, as I can't reproduce.  If you want help, you'd need to:

- Use latest code
- Post a reproducible (full details) problem description

As is, I'm afraid this issue should be closed as "Unreproducible / Works for me".

[2016-08-26 17:21] arielf commented on #1088
@danmelamed
Looks like the additional object destroy calls caused a double free in one (and potentially more) particular code-path.  This is based on the error message in test 62:
     Error in `../vowpalwabbit/vw': free(): invalid pointer: 0x0000000000c2acf0

[2016-08-26 18:18] JohnLangford commented on #1088
I can't seem to reproduce?  Neither test 62 nor echo "| 2 1" | vw
--sort_features --hash strings cause an error and everything runs clean
under valgrind.

-John

On Fri, Aug 26, 2016 at 1:21 PM, Ariel Faigon <notifications@github.com>
wrote:

[2016-08-26 18:35] arielf commented on #1088
Are you on Ubuntu 16.04?

[2016-08-26 18:42] JohnLangford commented on #1088
No, 14.04.4.

-John

On Fri, Aug 26, 2016 at 2:35 PM, Ariel Faigon <notifications@github.com>
wrote:

[2016-08-26 18:46] arielf commented on #1088
Just tried on 14.04 as well - can't reproduce there.
On 16.04 it reliably reproduces.
16.04 has a much newer compiler (g++ 5.4.0) among many other upgrades.

[2016-08-26 20:19] JohnLangford commented on #1091
None is more accurate.  Each entry corresponds to an update, and no update occurs if you do not specify an entry.

[2016-08-26 20:19] JohnLangford commented on #1088
I'll need to upgrade as well.

The change that Dan introduced seems correct, so there may be some places in the code which were papering over an incorrectness here.

[2016-08-28 01:30] JohnLangford commented on #1088
I checked in a fix for this here: https://github.com/JohnLangford/vowpal_wabbit/commit/30d383e7a7cf4dd244a244f54d4110a882941cd5  Basically, there was something sketchy with sort related to audit features when you don't have a audit features.  Anyways, it should be fixed now.

[2016-08-28 01:30] #1088 closed

[2016-08-28 01:30] JohnLangford commented on #1088
(Thanks for the report.)

[2016-08-29 15:14] KristianHolsheimer commented on #1088
Thanks so much for fixing this so quickly, much appreciated!!

[2016-08-29 21:06] arielf commented on #1088
Thanks John.
Confirming that this issue is gone in commit 30d383e7a7cf4dd244a244f54d4110a882941cd5

[2016-08-30 09:18] pommedeterresautee opened #1094 "[BUG] tag are not reported with prediction when --multilabel_oaa is used"
Below is a simple example:

[code]

Then I run a prediction:

[code]

When I check the content of prediction.txt:

[code]

Please, remind that with `multilabel_oaa` it is possible to predict no label at all, so it explains why the first and the third line are empty. The issue is that there is no tag at all, but I asked for them (https://github.com/JohnLangford/vowpal_wabbit/wiki/Input-format).

I

[2016-08-31 01:11] gramhagen commented on #1089
@tomkee - I just released 8.2.1 to PyPI.  Let me know if that works for you.

[2016-09-04 16:43] lmsanch opened #1095 "vowpal wabbit with Python - Anaconda: Fatal Python error"
I am installing Vowpal Wabbit VW (including dependencies) following the steps below :

[code]

Everything installs fine w/o errors, however, when I try to import VW from python, I get the following:

[code]
Does anybody know how to fix this issue?

[2016-09-04 20:33] arielf commented on #1095
Does this error occur if you use the system python, or only when you use anaconda's?
Generally speaking: you cannot mix C++/boost libraries compiled with different compilers/ABIs etc.

[2016-09-05 21:44] lmsanch commented on #1095
I only use anaconda's python..my development environment is all there.

[2016-09-06 01:42] arielf commented on #1095
Obviously you use Anaconda's python but your system has multiple pythons installed. `brew install` is probably not using "your" (preferred) python. Along similar lines: can you run `pip install` again with `--verbose` in effect, and look at what it does. Mainly at the paths it prints.  Does it install into the Anaconda env?

I'm by no means a Mac OS-X env expert, and I don't use a Mac (or conda) b

[2016-09-06 10:20] adah1972 opened #1096 "Test 42 Failed on Mac"
Environment: OS X Lion 10.7.5 + MacPorts (clang-3.7 & boost+clang37+no_single+no_static+openmpi+python27)

Procedure:

[code]

I got one failure:

[code]

Any idea whether this is significant or not?

[2016-09-06 18:03] arielf commented on #1096
Thanks for the report.

Doesn't reproduce on Ubuntu 16.04.1 with clang 3.8.0-2ubuntu4 (tags/RELEASE_380/final)

Can you rerun the failed command and share the `diff` between the `lda-2pass-hang.stderr` and reference?  You may pass `-d` to `RunTests` to get the diff by default.

Looks like this `-d` is missing from `Makefile.am` (which is a bug, I'll fix shortly).

[2016-09-07 01:55] lmsanch commented on #1095
Thank you. It is very difficult to make VW work with Anaconda. Nevertheless, I found a temp solution: I created a Ubuntu VM and installed everything there. Works fine.

[2016-09-07 04:00] arielf commented on #1095
Igualmente, Hermano.  Glad you found a solution.  The problem is that `vw` uses `boost` and `boost` tends to change ABI (binary interface) very frequently, so if anaconda was built with one tool-set and/or boost-library version and `vw` with a different one, the two can't inter-operate.

[2016-09-07 04:00] #1095 closed

[2016-09-07 09:02] adah1972 commented on #1096
The diff:

[code]

[2016-09-07 17:39] arielf commented on #1096
Thanks!

I was hoping for a less significant diff (FP accuracy).

All these -24.xx values in the current predict column are definitely weird.
And since they start from the very 1st example and barely move, I suspect some un-initialized variable (garbage instead of 0) issue.  Curious: Is this repeatable every time you run it? Can you get values different than -24.xx in that column?

This is an LDA

[2016-09-07 20:10] tomkee commented on #1089
Yes, it works!

[2016-09-08 07:52] adah1972 commented on #1096
Yes, the predict values change. More tests show that the failure cases are more than No. 42. I have also seen cases 17, 32, 74, and 98 fail (though less frequently). It looks pretty bad to me.

I have tried Clang 3.8. I first installed clang-3.8 and rebuilt vowpal_wabbit with:

[code]

It did not work out well. Then I tried rebuilding boost with:

[code]

(Boost 1.61 is not official in MacPorts. I

[2016-09-08 15:51] gramhagen commented on #1089
Great!

[2016-09-08 20:02] emrobi opened #1099 "VW C# bindings under Mono?"
Is it possible to get the C# binding/nuget package to run under Mono on a Linux box?

[2016-09-08 21:47] eisber commented on #1099
Unlikely as the binding used C++/CLI that’s not supported under Mono. We’d have to change quite a bit to make use of PInvoke.

[2016-09-09 09:36] lcytzk opened #1100 "run vw under cluster env with --bfgs option has multiple different output model"
Before I use --bfgs option, I modify the single_machine by adding --readable_model in order to save my model than run the script, and I got two same model files.

After this, I add --bfgs option, and rerun the script, but I got two different model files.

Maybe I do it in a wrong way, but I can not find other specific infos about cluster with bfgs, so PLEASE help me.
1. Did I do something wrong or

[2016-09-09 15:24] modkzs commented on #1021
I try to install it using python 3 with virtualenv and get same error. Is there any way to solve it ? @gramhagen

[2016-09-09 16:41] gramhagen commented on #1021
python3 requires the boost-python3 lib, on my mac this is where it's at, but ymmv
[code]

if you can't find it you may need to install it via:
[code]

[2016-09-12 10:05] leonid-ubimo commented on #1081
Have you reproduced this bug? Waiting for a response.

[2016-09-12 23:54] arielf commented on #1096
Sorry for being so slow responding to this.

Is it possible to build on MacOs without `autogen.sh` like we do on Ubuntu/debian/mint, i.e. with the default `Makefile` ?

[code]

[2016-09-13 04:17] adah1972 commented on #1096
I tried building using the default Makefile:

[code]

I still got similar failures, like:

[code]

And it is still a bit random. On my first try test 17 failed, but on the second try the test failed at test 42.

The default clang (Apple LLVM version 4.2 (clang-425.0.28) (based on LLVM 3.2svn)) does not fare better either.

Oh, BTW, the following lines in vowpalwabbit/Makefile:

[code]

should be c

[2016-09-13 06:05] ankit20395 opened #1103 "vw --loss_function logistic --oaa 5 -i model -t -d test.vw -r raw_predictions.txt .. results in empty raw_predictions.txt file"
vw --loss_function logistic -i model -t -d test.vw -r raw_predictions.txt  only testing
raw predictions = raw_predictions.txt
Num weight bits = 18
learning rate = 0.5
initial_t = 0
power_t = 0.5
using no cache
Reading datafile = test.vw
num sources = 1
average  since         example        example  current  current  current
loss     last          counter         weight    label  predict features

[2016-09-14 01:23] modkzs commented on #1021
I already install it via brew, but I still can't find it when I use pyenv. It's work for my system python, but don't work when I use pyenv

[2016-09-14 14:35] gramhagen commented on #1021
which version of python are you installing via pyenv? if it's anaconda based that may be affecting the path used for boost

[2016-09-15 06:08] arielf opened #1105 "--boosting doesn't work with --link and more"
I tried to use `--boosting N` and noticed that model accuracy is worse than without it, which is unexpected.

For example, consider this pretty minimal train-set:

[code]

Put it in `train.vw` and train without boosting:

[code]

now that we have a model, predict on the same data:

[code]

Which is a reasonable prediction (1st example negative, 2nd example positive)

Now try to do the same with `-

[2016-09-19 16:00] david-geiger opened #1107 "latest 8.2.1 release fails to build due to some linking error"
Hi,

On Mageia we tried to build latest vowpal_wabbit 8.2.1 but we get some linking error (undefined reference to `adjust_used_index(vw&)'), see the full compile log:

http://pastebin.com/0LLvdK90

So we have found a workaround to fix temporally this issue to build without "-Wl,--no-undefined" LD flags enabled adding in the spec file this line:

"%define _disable_ld_no_undefined 1"

Compiled with

[2016-09-23 20:50] fgregg opened #1109 "Convergence for active learner"
Thanks for the great package!

With VW's active learning, is there any a way to evaluate convergence or other principled rules to stop asking for examples?

Best,

Forest

[2016-09-24 12:42] JohnLangford commented on #1109
If you use --confidence, it outputs an estimate of the importance of an
example with the opposite label required to cause the prediction to
change.  This could be leveraged into a stopping rule, if desired.

-John

On 09/23/2016 04:50 PM, Forest Gregg wrote:

[2016-09-24 17:42] fgregg commented on #1109
Does this change expected input for the active learning.

I'm using the current version from github

With this this command to start the server:

[code]
I can send two labeled examples over the socket

1. `-1 1 | 0:2.598557710647583 1:3.6677632331848145 2:0.0 3:4.785714149475098 4:1.0 5:1.0`
2. `'-1 1 | 0:4.596938610076904 1:4.121527671813965 2:0.0 3:4.785714149475098 4:1.0 5:1.0`

But when I try

[2016-09-25 08:06] david-geiger commented on #1107
Any comment about this issue?

[2016-09-25 12:20] JohnLangford commented on #1107
This may be fixed on the master branch.   Try updating?  I can certainly
compile with gcc 5.4.0 there.

-John

On Sun, Sep 25, 2016 at 4:06 AM, david_david <notifications@github.com>
wrote:

[2016-09-25 12:58] david-geiger commented on #1107
I just tried with the current master branch and I get the same underlinking issue.

Have you tried to compile with?

export LDFLAGS='-Wl,--no-undefined -Wl'

Our build system use as LDFLAGS:

LDFLAGS=' -Wl,--as-needed -Wl,--no-undefined -Wl,-z,relro -Wl,-O1 -Wl,--build-id -Wl,--enable-new-dtags'

[2016-09-25 21:21] JohnLangford commented on #1107
Can you switch flags around to figure out something reproducible?

I use the default flags to compile.

-John

On Sun, Sep 25, 2016 at 8:58 AM, david_david <notifications@github.com>
wrote:

[2016-09-25 22:10] arielf commented on #1107
Neither I can reproduce with standard building: i.e just `make`

The pastebin log shows it was run through autogen/configure with several non-standard building options, some security related.  Subsequently, the libtool chain seems to have broken it massively (a lot of symbols defined in libvw.a appear as undefined).

[2016-09-26 05:18] david-geiger commented on #1107
to figure out something reproducible, you can add this following line before configure/make:

export LDFLAGS=' -Wl,--as-needed -Wl,--no-undefined -Wl,-z,relro -Wl,-O1 -Wl,--build-id -Wl,--enable-new-dtags'

i.e in a rpm spec file:
%build
export LDFLAGS=' -Wl,--as-needed -Wl,--no-undefined -Wl,-z,relro -Wl,-O1 -Wl,--build-id -Wl,--enable-new-dtags'
./configure
make

[2016-09-26 17:34] ll3021359 opened #1110 "problem of running on hadoop clusters"
when run the runvw-yarn.sh code on hadoop clusters, the job stop at the following status and didn't progress, what the problems is ? (I tested the code on non-hadoop clusters and worked)

16/09/27 01:09:50 INFO mapreduce.Job: Running job: job_1471428592509_1165868
16/09/27 01:10:03 INFO mapreduce.Job: Job job_1471428592509_1165868 running in uber mode : false
16/09/27 01:10:03 INFO mapreduce.Job:

[2016-09-26 22:12] arielf opened #1111 "vw says "You are using label 3.40282e+38 not -1 or 1 as loss function expects!" on unlabeled examples"
Scenario:
- Big data-set , about a billion points
- All unlabeled examples
- Loading a logistic regression model and trying to predict with it.

One in a while, very rare and out of the blue, in my case once every 350k examples, I get this message that doesn't make sense.  It seems like some overflow because the number refering to the label value in the message is MAXFLOAT to 6 significant digits.

[2016-09-27 10:32] root1984 opened #1112 "How can i get more than one result in prediction (not all) with --oaa <k>"
How can i get more than one result after predict (not all) with --oaa <k>?

I need take 2 - 3 results is the most exactly. What parameter can do it?

With --probabilities param we just take all results with <k> label.

[2016-09-28 10:10] modkzs commented on #1021
python version is 3.5.0, it's not anaconda based

[2016-09-28 10:57] montenegrodr opened #1113 "[Python] Probabilities flag is not working"
This snippet does not return the expected result:

[code]

That results in something like:
**`[ 28036672.]`**

It shouldn't be probabilities like:
**`[0.3, 0.6, 0.1]`**

Thanks.

[2016-09-30 19:35] david-geiger commented on #1107
So I come with a very good new!

One of our Mageia packager has found what is going wrong and has create a patch:

http://svnweb.mageia.org/packages?view=revision&revision=1057904
http://svnweb.mageia.org/packages/cauldron/vowpal-wabbit/current/SOURCES/vowpal_wabbit-8.2.1-linking.patch?view=markup&pathrev=1057904

Now vowpal-wabbit built fine and there is no more underlinking issue.

[2016-10-05 11:50] markaleung commented on #415
I just wanted to add my experience installing pyvw, for anyone who's having trouble installing it.
I had the segmentation fault when calling:
[code]

It turned out that I had mistakenly installed pyvw by typing
`pip install pyvw`
After I deleted pyvw and reinstalled pyvw by calling
`pip install vowpalwabbit`
there was no problem when calling
[code]

[2016-10-06 19:39] compeanansi commented on #1021
I'm having the same problem on Elementry Loki (based on 16.04). I have run:

sudo apt-get install libboost-program-options-dev zlib1g-dev
sudo apt-get install libboost-python-dev
sudo apt-get install vowpal-wabbit
brew install boost --with python
brew install boost-python

To install all possible prerequisites. Then I run:

sudo -H pip install vowpalwabbit

Which gives me the same error as above,

[2016-10-13 17:59] MNovak12 commented on #1082
I have a similar question. I'm using the Java wrapper, and `csoaa`. I'm using 10-30 word sentences as features, so I don't want to use `csoaa_ldf`. I need to use the costs for each class instead of just the class with the lowest cost. My problem is that I need to write the raw prediction to a file from your C++ code and then read from that file in my Java code, which slows down my program.

I'm cr

[2016-10-13 18:17] martinpopel commented on #1082
Why? You don't need to repeat the features for each label. Just put the into a `shared` name space (see my examples above).

[2016-10-16 22:29] arielf commented on #1111
Narrowed this down to a very small example.
If you mix labeled and unlabeled examples and use `--bootstrap N` unlabeled examples seem to be initialized to max-float and error goes through the roof:

[code]

[2016-10-17 15:13] felixmaximilian opened #1116 "Sklearn interface is not providing parameter for low rank quadratic features ( --lrq )"
Regarding the python interface, it seems that the sklearn wrapper does not provide the "--lrq" parameter in vowpalwabbit.sklearn_vw.VWClassifier.
This makes it impossible to enable the factorization machine style classification.

[2016-10-17 20:37] JohnLangford commented on #1111
Thanks, I believe this is fixed now.  In essence, we were not handling the error calculation properly in bootstrap when the example was unlabeled.

[2016-10-17 21:31] arielf commented on #1111
Confirming that this is fixed in latest. Thanks so much for the quick fix, John.
I plan to add a test case for it shortly.

[2016-10-17 21:31] #1111 closed

[2016-10-20 13:36] Wirack opened #1118 "Retrieving raw predictions in c# wrapper"
I am currently working with oaa, and can expose scores with use of logistic loss.
However, when I use another loss function I am not able to expose the scores.

I found that --raw_predictions can be used to extract raw predictions in vowpal wabbit.

How can I extract raw predictions in the c# wrapper, apart from outputting to a file?

And if that is not available currently, where should I modify t

[2016-10-20 14:11] eisber commented on #1118
You should modify the prediction factory, but I suppose we need some advice from John on how we should report those back through the example data structure. I don’t think it’s include yet.

From: Søren Skibsted Als [mailto:notifications@github.com]
Sent: Thursday, October 20, 2016 9:36 AM
To: JohnLangford/vowpal_wabbit <vowpal_wabbit@noreply.github.com>
Subject: [JohnLangford/vowpal_wabbit] Retrie

[2016-10-20 15:35] Wirack commented on #1118
I have begun implementing that, but stumbled into the same problem with raw predictions not being exposed in the example data structure.

I am wondering if oaa.cc should be adjusted to expose this in the example data structure, or if it is possible to implement something more general?

[2016-10-21 22:14] akmcinto opened #1119 "LDA returns same words for every topic with 8.2.1"
I'm using LDA to compute topics.  However, using release 8.2.1 Vowpal Wabbit returns the same words for every topic.  Using the command:

`vw -d 'vr_lda_input.lda.txt' --lda 30 --lda_alpha 0.1 --lda_rho 0.1 --minibatch 256 --power_t 0.5 --initial_t 1 -b 4 --cache_file 'topics.dat.cache' --passes 2 -p 'predictions.dat' --readable_model 'topics.dat'`

where the input file (vr_lda_input.lda.txt) is a

[2016-10-22 00:32] arielf commented on #1119
Thanks @akmcinto

I'm not sure I can reproduce this.
I get some similar weights but not identical across topics.  There's a variability between topics.
e.g. the 1st 3 lines in the predict file (I added an empty line between them for clarity) show:
[code]

Curious: why do you use `-b 4` (weight-vector is only 16-slots, which causes a very large number of feature collisions). Does it work better if

[2016-10-23 19:47] arielf commented on #1119
Preliminary narrowing down of this regression, using a few older executables I have saved.

- vw-8.20160817 is ok - shows 16 distinct topics in readable model for this test case
- vw-8.20160906 has the bug (only one distinct topic)

So the regression seems to have happened in this year aug/sept time-frame.

[2016-10-23 22:25] arielf commented on #1119
Working with git bisect on this case proved nearly impossible.  There are too many commits around Aug 18 (and the July/Sept time frame) that don't build (on Linux) or SEGV, so git bisect starts going way back in time and giving a long list of possible bad commits none of which is relevant (even though it was told of a [good bad] commit time range it keeps stepping out of the specified range.)

By

[2016-10-24 00:25] arielf commented on #1119
For the sake of completeness:
`git bisect run ...` pointed at the following skipped commits as possible root causes:
[code]

[2016-10-25 16:56] arielf commented on #1112
Have you tried to follow [this wiki?](https://github.com/JohnLangford/vowpal_wabbit/wiki/One-Against-All-(oaa)-multi-class-example)

Otherwise, or if things don't work as expected, can you please provide a reproducible example of the problem you're having?

1. data-file
2. exact command line used
3. expected result description vs
4. actual result

[2016-10-25 18:12] eisber commented on #1119
Not sure if this is of any help, but I’m able to get sensible topics when using a pre-trained model for prediction.

[2016-10-25 18:17] eisber commented on #1118
Without taking a too close look, we could introduce a commonly used field used by each instance.

Markus

[2016-10-26 18:40] arielf commented on #1119
Thanks Markus,
Yes, predictions seem to be working, it is the readable model that seems to have the bug. Maybe the issue is just when dumping regressor as readable.  In any case, this is a regression, since in the past `--readable_model` worked fine with `--lda` as well.

[2016-10-28 00:16] usptact opened #1121 "How to create multiline examples for predictions in Python?"
Hi,

I've trained a --csoaa_ldf model which makes use of multiline examples. Each example is a block of lines: each line tells what loss is incurred.

Here is one example:

[code]

I would like to use Python interface for making predictions. I installed the vowpalwabbit package for Python and managed to load the model.

It is unclear to me how to build an example for prediction task. I tried to pa

[2016-10-28 16:35] omtcyfz opened #1123 "Add rapidjson to dependency list"
I've tried to install `vowpal_wabbit` on my Ubuntu 16.10 and I get this kind of error:

[code]

Basically, this means that `rapidjson` is missing. However, I have installed all dependencies from README.

Thus, please add

[code]

To the Ubuntu installation instructions.

[2016-10-28 17:32] eisber commented on #1123
Rapidjson is actually a subtree of VW github source. Did you sync to from github?

From: Kirill Bobyrev [mailto:notifications@github.com]
Sent: Friday, October 28, 2016 9:35 AM
To: JohnLangford/vowpal_wabbit <vowpal_wabbit@noreply.github.com>
Subject: [JohnLangford/vowpal_wabbit] Add rapidjson to dependency list (#1123)

I've tried to install vowpal_wabbit on my Ubuntu 16.10 and I get this kind of

[2016-10-28 17:41] omtcyfz commented on #1123
Aw, yes, sorry. Didn't notice that.

Hm... That's really weird. I just cloned the repo few hours ago and during build stage I got these messages every time.

Actually, what I did was basically

[code]

[2016-10-28 22:45] arielf commented on #1123
I just verified (on vanilla Ubuntu 16.04.1) that no additional package install is needed.  `vw` clones and builds (with either clang++, or g++) , and passes `make test` on a system without `rapidjson` (or `rapidjson-dev`) installed.

Could this be 16.10 specific?  I haven't yet moved to 16.10.

[2016-10-29 03:39] ghost opened #1124 "Segmentation fault when testing with `--save_resume` trained model"
vw version: 8.2.1
env: mac OSX EI Capitan

Here is what I did:

[code]

Looks like model training is ok, but here comes the problem:

[code]

But, if I only use a few lines in the training data to train the model, like this:
`$ head -1000 data/sample/valid.vw | sed 's/^0/2/' | vw --oaa 2 --loss_function logistic --passes 1 -f /tmp/model.bin -l 0.1 --save_resume   # use only 1000 lines`

then, test

[2016-10-29 09:56] Wirack commented on #1118
Yes, I think that is the right approach, and is also discussed [here](https://github.com/JohnLangford/vowpal_wabbit/issues/918).
I also think the '--scores' flag would be  a good way to go.

[2016-10-29 12:00] ghost opened #1125 "same training configuration, different data format, inconsistent results"
I'm new to `vw`, doing some experiments with it, and I observed some really really weird issue which confuses me badly.

I have a very simple dataset, see below (let's call it `a.vw`):

[code]

yes, 2 namespaces (`a` and `b`), and after reading wiki, I know that `vw` will automatically make the real features like `a^1` or `b^c57`.
However, before I knew it, I actually made a `vw` file like this (c

[2016-10-29 14:05] omtcyfz commented on #1123
@arielf I don't know whether that is Ubuntu 16.10 issue, but building with `make` instead of `make CXX=clang++` does help to get rid of this error.

[code]

[2016-11-01 07:24] arielf commented on #1123
Interesting, on 16.04.1 it builds fine but the version is slightly older:
[code]

This may be a clang bug. There was another fixed pretty recently which prevented clang++ from linking `vw` (ABI incompatibility with Ubuntu precompiled libs).

Anyway, it doesn't look like a `vw` issue since it builds with gcc, so closing this for now.

[2016-11-01 07:24] #1123 closed

[2016-11-01 19:15] MLWave commented on #1125
Can reproduce when leaving in `--hash all`.

`cat a.vw`

`-1 |a a_1 |b b_c57
1 |a a_2 |b b_c3`

`cat b.vw`

`-1 |a 1 |b c57
1 |a 2 |b c3`

`vw --loss_function logistic -d b.vw -f b.model --hash all`

`vw --loss_function logistic -d a.vw -f a.model --hash all`

`vw -d b.vw -t -i b.model -p b.preds --link logistic`

`vw -d a.vw -t -i a.model -p a.preds --link logistic`

`cat a.preds`

`0.428175
0.54

[2016-11-08 21:07] sh1ng opened #1128 "Segmentation fault when use JSON"
vw -d train_0.json --json --compressed --rank 5  --cache_file vw.cache
Num weight bits = 18
learning rate = 10
initial_t = 1
power_t = 0.5
creating cache_file = vw.cache
Reading datafile = train_0.json
num sources = 1
average  since         example        example  current  current  current
loss     last          counter         weight    label  predict features
Segmentation fault (core dumped)

[t

[2016-11-08 21:10] eisber commented on #1128
The format is not supported, have a look here: https://github.com/JohnLangford/vowpal_wabbit/wiki/JSON
Individual examples must be on separate lines, not elements of an array.
I’ll look into making the error messaging more graceful.

[2016-11-09 07:27] sh1ng commented on #1128
Thanks you for the clarification.

By the way, that could be a great feature, it's easier(and probably faster) to generate valid json than process it line by line.

[2016-11-09 07:27] #1128 closed

[2016-11-09 13:04] samuelbroscheit opened #1129 "Predictions for Learning 2 Search with PyVW degrade after ~200 examples"
I have implemented a joint tokenizer and sentence boundary detector to play around with learning 2 search and pyvw a little bit. I extended the BIO sequence tagging scheme with an additional state for the sentence boundary.

During training I supply sequences consisting of multiple continuous sentences.

During testing I supply the whole document for prediction. After (in average) ~200 examples (c

[2016-11-09 14:19] eisber commented on #1128
It very much depends on the JSON generating system. If you use something like Azure Stream Analytics, it creates line separated JSON by default.

The C# JSON parser supports arrays, I might add it to the C++ part too.

[2016-11-09 14:36] sh1ng commented on #1128
I'm using python pandas to produce json chunks(just dataframe.to_json).

I don't really know internal implementation and why do you need per line json, but in my opinion if you support json as input format it should be just a valid json. JSON Array sounds logical for me.

[2016-11-09 14:41] sh1ng commented on #1128
On the other hand if you consider input stream of data as json objects separated by \n it's better to distinguish --JSON and --JSON_STREAM and support both of them.

[2016-11-09 21:00] dmlicht commented on #1021
What's the status on this? I'm still encountering this problem.

[2016-11-09 21:53] gramhagen commented on #1021
i think there are multiple issues reported here.  Are you having trouble with vw install under python3 on a linux distro?

[2016-11-09 22:46] gramhagen commented on #1021
@compeanansi
for linux you should only need:
sudo apt-get install libboost-program-options-dev libboost-python-dev zlib1g-dev
and (if you don't have pip)
sudo apt install python-pip
then:
sudo -H pip install vowpalwabbit

installing vowpal-wabbit through aptitude may install different versions of boost ? and the brew commands are only used for mac osx (does that work with elementary?  not too fami

[2016-11-11 13:50] aszalucha commented on #1123
@arielf I had the problem on 16.04.1 when I used ./autogen.sh
However on the other 16.04.1 when I didn't use ./autogen.sh everything work

[2016-11-11 18:14] mttdbrd commented on #1118
I wrote a method in the Java wrapper which shows how to extract raw predictions without writing to a file. You can see it here: [https://github.com/JohnLangford/vowpal_wabbit/compare/master...getservice:master](url)

[2016-11-12 10:49] Wirack commented on #1118
Thanks, will take a look when I have some free time.

[2016-11-16 22:42] allonbendavid opened #1131 "Mac build?"
I can't build _any_ version of the JNI for Darwin with MacOS Sierra and any variant of libboost (1.5.5, 1.5.9, 1.6.0, 1.6.2).  I've gone back to tags of released binaries that include the Darwin lib in the jar and I cannot build them successfully either.  I think they might have been built on a previous OS and/or previous versions of boost.

If anyone can build the Darwin lib (java/src/main/bin/bu

[2016-11-18 19:05] JohnLangford commented on #1131
@jmorra @deaktator any idea what's going wrong?

[2016-11-18 19:06] JohnLangford commented on #1129
It's hard to comment without having something reproducible.  Can you make a reproducible test case?

[2016-11-18 19:19] JohnLangford commented on #1125
The problem with this seems to be an inconsistent application of --hash all.  I've modified VW to keep --hash all in the file arguments if it is ever used.

[2016-11-18 19:19] #1125 closed

[2016-11-18 19:20] JohnLangford commented on #1125
Oh, and thanks :-)

[2016-11-18 19:21] JohnLangford commented on #1124
This is undebuggable given the information, although I'd like to debug it.  Can you create a reproducible example?

[2016-11-18 19:23] JohnLangford commented on #1121
@gramhagen @hal3 csoaa_ldf is possible via the python interface, right?

[2016-11-18 19:29] gramhagen commented on #1121
Yes, I believe so.  I haven’t tested it through the scikit learn interface,
but you can import pyvw from vowpalwabbit and call pyvw.vw() with csoaa ldf
params.

On Fri, Nov 18, 2016 at 2:24 PM John <notifications@github.com> wrote:

[2016-11-18 19:29] deaktator commented on #1131
I don't have MacOS Sierra on any computer. Maybe I can upgrade one of my personal computers and take a look.  I'll get back.

Sent from mobile

[2016-11-18 19:34] JohnLangford commented on #1119
Thanks Ariel/Markus/akmcinto for the help.  Unfortunately, I cannot reproduce.  The topics that I get from the current master on Ubuntu 16.04 are below.  Is this problem solved?

`Version 8.2.1
Id
Min label:0
Max label:0
bits:4
lda:30
0 ngram:
0 skip:
options: --lda 30 --lda_alpha 0.1 --lda_rho 0.1
Checksum: 495864866
0 698.424 44.0161 82.6424 28.3573 102.965 26.67 31.7477 28.2295 34.3042 27.8887

[2016-11-18 19:36] JohnLangford commented on #1119
I'm closing on the theory this is solved, but please reopen if it's not with the current master.

[2016-11-18 19:36] #1119 closed

[2016-11-18 19:54] allonbendavid commented on #1131
I'm also trying another technique on the tagged 8.2.0 to see if I can get
it built again,  I'll update everyone but I'm not optimistic.  If anyone
else is successful that would be a milestone.

Thx.

On Fri, Nov 18, 2016 at 11:29 AM, Ryan Deak <notifications@github.com>
wrote:

[2016-11-18 19:55] JohnLangford commented on #1121
It's more complicated than just the parameters because multiline examples
are not (yet) first class primitives in VW.  Essentially, you need to input
a stream of examples corresponding to individual lines and ending in an
empty example (equivalent to a newline), then read out the predictions from
the input examples.

Again, I believe this should be working, but I don't have a quick test case
to co

[2016-11-18 20:04] allonbendavid commented on #1131
The other anomaly is if you download/clone tag 8.2.0, the POM in the java
project is versioned at 8.1.2-SNAPSHOT, so I'm not sure what version you're
getting when you add 8.2.0 as a maven dependency.

On Fri, Nov 18, 2016 at 11:54 AM, Allon Bendavid <allonbendavid@gmail.com>
wrote:

[2016-11-18 20:07] gramhagen commented on #1121
There is some code in the python binding to accept examples for ldf.  If
you can point me to a script exercising that functionality from the command
line I can create a python test.

On Fri, Nov 18, 2016, 2:55 PM John <notifications@github.com> wrote:

[2016-11-18 20:18] allonbendavid commented on #1131
Yeah, just double-checked, there is no git history in master of the POM
ever being at 8.2.0.  Jumps from 8.1.2-SNAPSHOT to 8.2.1-SNAPSHOT

On Fri, Nov 18, 2016 at 12:03 PM, Allon Bendavid <allonbendavid@gmail.com>
wrote:

[2016-11-18 20:40] deaktator commented on #1131
Hey Allon,

I'm pretty positive the tagging process and maven release are independent. It would be nice to unify this somehow but I'm not really sure how.

[2016-11-18 20:42] samuelbroscheit commented on #1129
Hi John,

yeah sure, I'll try to create an example. I just wanted to make sure that I
didn't miss something obvious. Thank you for creating such an amazing piece
of software, btw.

Best,

Samuel

On Fri, Nov 18, 2016 at 8:06 PM, John <notifications@github.com> wrote:

[2016-11-18 20:51] allonbendavid commented on #1131
I'm not quite sure how the overall build is being done and tagged, but what
is strange is that there is a Maven release of 8.2.0 but there is no Git
history of the POM ever being at that version, so you really don't know
what revision of the code you're getting when you pull that.  Seems like
someone may have updated the POM to that version locally, did a release
build and deploy from their deskto

[2016-11-18 21:18] jon-morra-zefr commented on #1131
Unfortunately I am very familiar with how the release process is done and it's very messy.  The pom versioning is controlled by `configure.ac`.  The file you mainly want to look at is `java/src/main/bin/build.sh`.  One of our medium term goals is to rewrite the entire release process to make it more streamlined.  Until that is done, however, we're left in a less than idea situation.

As for your s

[2016-11-18 21:21] JohnLangford commented on #918
I've modified oaa.cc to allow you to pass --scores which stores all the scores.  Hence, the underlying plumbing is now setup, and this may just work in some interfaces.

[2016-11-18 21:24] JohnLangford commented on #918
I've modified oaa.cc to allow you to pass --scores which stores all the scores. Hence, the underlying plumbing is now setup, and this may just work. I'm not positive about the python interface.  @gramhagen does the python interface multiplex on the prediction type stored here: https://github.com/JohnLangford/vowpal_wabbit/blob/master/vowpalwabbit/learner.h#L114 ? (This is relatively recent, but it

[2016-11-18 21:25] JohnLangford commented on #1116
@gramhagen is this an easy fix?

[2016-11-18 21:26] JohnLangford commented on #1113
@gramhagen @hal3 I suspect this is a type conversion error.  This should be much more easily avoided now that the prediction type is explicit in the top level learner.

[2016-11-18 21:27] JohnLangford commented on #1112
Are you looking for --multilabel_oaa ?

[2016-11-18 21:27] #1112 closed

[2016-11-18 21:29] JohnLangford commented on #1110
VW typically runs in a map only mode where communication is direct between VW instances.  You'll need to examine the error output of individual mappers to diagnose further.

[2016-11-18 21:29] #1110 closed

[2016-11-18 21:30] JohnLangford commented on #1109
Yes....

You probably want to periodically save the model and then evaluate with --confidence.

[2016-11-18 21:30] #1109 closed

[2016-11-18 21:31] JohnLangford commented on #1107
Thanks for the patch :-)

[2016-11-18 21:31] #1107 closed

[2016-11-18 21:31] JohnLangford commented on #1107
(And thanks Ariel for helping.)

[2016-11-18 21:33] JohnLangford commented on #1121
Functionality is exercised here:
https://github.com/JohnLangford/vowpal_wabbit/blob/master/test/RunTests#L875

-John

On Fri, Nov 18, 2016 at 3:07 PM, Scott Graham <notifications@github.com>
wrote:

[2016-11-18 21:38] arielf commented on #1107
NP.  Always a pleasure.
Thanks again for all the work on vw.

[2016-11-18 21:41] JohnLangford commented on #1105
@haipengl any thoughts?

(2) Is surely easily fixed.

W.r.t. (3), it's very difficult to guarantee monotonic performance in general for ML algorithms, although I agree that it is desirable.

[2016-11-18 21:43] JohnLangford commented on #1100
There isn't enough information here to debug.  I suspect your script is somehow not symmetric across the machines leading to badness.

[2016-11-18 21:43] #1100 closed

[2016-11-18 21:44] JohnLangford commented on #1099
There is an old PInvoke interface available. My understanding is that PInvoke is also not such a great interface because you have much less type safety.

[2016-11-18 21:47] JohnLangford commented on #1096
Does valgrind work on macs?  If so, it would be superhelpful here.

I suspect we are facing some issue where a variable is not properly initialized under a mac but it is properly initialized under linux/windows where we can (and do) run systematic memory checkers.

[2016-11-18 22:03] JohnLangford commented on #1094
This is fixed in the current master.

[2016-11-18 22:03] #1094 closed

[2016-11-18 22:45] david-geiger commented on #1107
Thanks for taking care of our patch! :-)

[2016-11-18 23:11] allonbendavid commented on #1131
I looked at the date of the Darwin lib in the JNI jar and it was dated
7/11/16.  In git there was a merge of master on that date, so I checked out
that revision and was able to build a lib for Alpine (not macOS still) that
seems to operate the same as the pre-built mac binary.  So I'm guessing the
java lib version 8.2.0 is likely a build of the 7/11 merge of master.

At least I have that going now

[2016-11-19 00:06] JohnLangford commented on #1092
Closing this for now--can't reproduce.  @arielf, thanks for your help.

[2016-11-19 00:06] #1092 closed

[2016-11-19 00:06] #1091 closed

[2016-11-19 00:06] JohnLangford commented on #1090
Not be default.  If you want training loss, you must deliberately test on the training set.

[2016-11-19 00:06] #1090 closed

[2016-11-19 00:06] #1089 closed

[2016-11-19 00:15] JohnLangford commented on #1081
I'm not following the issue.  In particular I do not see a duplicate index in the above.  Closing for now, but reopen if you can describe the issue better.

[2016-11-19 00:15] #1081 closed

[2016-11-19 02:17] arielf commented on #1119
Thanks.
Just verified that this is, indeed, fixed in latest (top of tree)

[code]

[2016-11-19 12:47] adah1972 commented on #1096
I have a new Mac with macOS Sierra, and I tried again with Homebrew. I still got failure in test 17:

[code]

I did inherit settings from my old laptop. At least this does not seem a Lion- or MacPorts-only problem...

Regretfully Valgrind does not support Sierra yet (Homebrew marks the formula as requiring macOS <= 10.11, and building from source does not work either). I'll see later whether I wil

[2016-11-19 14:15] adah1972 commented on #1096
I could always reproduce the wild "current predict" values by running the following command three times at most:

[code]

However, after adding `valgrind --tool=memcheck --track-origins=yes` before the `vw` command, I kept getting zero "current predict" values, about 10 times in a row until I stopped trying...

[2016-11-19 14:19] JohnLangford commented on #1096
Did valgrind complain about uninitialized values?

-John

On Sat, Nov 19, 2016 at 9:15 AM, Wu Yongwei <notifications@github.com>
wrote:

[2016-11-19 14:25] adah1972 commented on #1096
Not a single error was reported:

[code]

[2016-11-19 14:39] JohnLangford commented on #1096
And this is the same code which is nondeterminstic when not in valgrind?
This is deeply confusing.

I also noticed that this seemed to be a property of the _printout_ only,
and not the learned model.  It's as if some library function is getting
tickled in a bad way here.

-John

On Sat, Nov 19, 2016 at 9:25 AM, Wu Yongwei <notifications@github.com>
wrote:

[2016-11-19 15:02] haipengl commented on #1105
The boosting algorithms implemented are the online version. I guess you would see improvement if you look at progressive error and try larger data sets...

[2016-11-19 20:03] JohnLangford commented on #1131
I'm going to leave this open for now, so we have a todo to improve the Java build.

[2016-11-19 20:03] JohnLangford commented on #1124
Closing for now.  Reopen if you find something reproducible please.

[2016-11-19 20:03] #1124 closed

[2016-11-19 20:04] JohnLangford commented on #1118
You can now pass --scores to oaa.cc and it will expose all predictions via pred.scalars.

[2016-11-19 20:08] JohnLangford commented on #1105
@beygel @haipengl can you handle (1) and (2) maybe?

[2016-11-19 20:08] #1099 closed

[2016-11-19 20:34] JohnLangford commented on #1082
The original question seems to really be "How do you do cost sensitive classification and get all the scores returned"?  That's not currently supported, although it's not hard to imagine doing so.  This is effectively supported now in the oaa code itself (as of yesterday).  If anyone wants to tweak to support this, go ahead.

[2016-11-19 20:34] #1082 closed

[2016-11-19 20:35] JohnLangford commented on #1074
I'm assuming this is solved and closing.  Thanks @gramhagen

[2016-11-19 20:35] #1074 closed

[2016-11-19 20:35] JohnLangford commented on #1070
@eisber what's the status on this?

[2016-11-19 20:37] JohnLangford commented on #1068
No idea what's happening here.  @hal3 @gramhagen any ideas?

[2016-11-19 20:41] JohnLangford commented on #1057
I'm closing this as it's cold.  I still believe you could handle the problem in this way.

[2016-11-19 20:41] #1057 closed

[2016-11-19 20:41] #1035 closed

[2016-11-20 00:44] adah1972 commented on #1096
It was the same `vw` executable, compiled with `OPTIM_FLAGS='-O1 -g'`.

[2016-11-20 03:21] JohnLangford commented on #1096
If you compile with -O3 what happens?

On Sat, Nov 19, 2016 at 7:44 PM, Wu Yongwei <notifications@github.com>
wrote:

[2016-11-20 08:47] adah1972 commented on #1096
It was the default `-O3` when I first encountered the failure. I used `-O1 -g` only because this was the recommended setting for valgrind to see where the error occurs. With the higher level of optimization, valgrind might not be able to figure out the source of problems. Either `-O1` or `-O3` will cause the error to happen (when valgrind is not present).

[2016-11-20 16:17] adah1972 commented on #1096
One more observation. After I found that the Homebrew formula of vowpal-wabbit worked, I did this:

[code]

The test then passed. So it seems the issue might be brought in between version 8.2.1 (11 Aug 2016) and 6 Sep 2016.

[2016-11-20 19:41] JohnLangford commented on #1096
You might try a binary search to discover where something went wrong.
Lacking that, I don't know how we can debug further at present.

-John

On Sun, Nov 20, 2016 at 11:17 AM, Wu Yongwei <notifications@github.com>
wrote:

[2016-11-21 08:19] leonid-ubimo commented on #1081
Actually, app^app_cat=1app^app_cat=2 and app^app_cat=2*app^app_cat=1 is the same interaction. However, it has two different coefficients: 0.154262 and 0.167245.

[2016-11-21 10:39] bartleusink commented on #1096
Hi!

The same command does lead to some valgrind memcheck messages on my machine:

[code]

Since the messages seem related to threading, I ran helgrind as well and attached the log:
[helgrind.txt](https://github.com/JohnLangford/vowpal_wabbit/files/603260/helgrind.txt)

Please let me know if there's any other command I can run to help debug this issue!

[2016-11-21 13:32] JohnLangford commented on #1096
This looks spurious---either the pthread implementation is messed up or
Valgrind is triggering a false positive.

-John

On Mon, Nov 21, 2016 at 5:39 AM, Bart Leusink <notifications@github.com>
wrote:

[2016-11-21 14:06] eisber commented on #1070
On my TODO list…

[2016-11-21 15:31] adah1972 commented on #1096
It seems this commit caused the failure:

commit dc6e62e8f130d4f2f6753856982bcb47867c83bf
Date:   Mon Aug 15 09:35:45 2016 -0400

    remove topic_predictions from example replacing with pred.scalars

[2016-11-21 16:25] bartleusink commented on #1096
I just compiled vw against jemalloc and ran this test about a dozen times without it failing once.

[2016-11-21 22:27] barsunator opened #1134 "LDA: all words have same probabilities in 8.2.1"
There seem to be an issue with LDA in 8.2.1. Looking at the readable model, all words have the same probability distribution for all topics, i.e.

Version 8.2.1
Id
Min label:0
Max label:0
bits:13
lda:10
0 ngram:
0 skip:
options: --lda 10 --lda_alpha 0.1 --lda_rho 0.1
Checksum: 1098308800
0 0.158531 0.110868 0.19577 55.8061 0.742481 45.7343 0.143204 0.281239 0.192346 0.759209
1 0.158531 0.110868 0.

[2016-11-22 00:00] JohnLangford commented on #1134
Is this a problem for the current master?

-John

On Mon, Nov 21, 2016 at 5:27 PM, barsunator <notifications@github.com>
wrote:

[2016-11-22 00:41] JohnLangford commented on #1096
That's some great detective work.

I have a partial theory.   The lda code calls return_simple_example:
https://github.com/JohnLangford/vowpal_wabbit/blob/master/vowpalwabbit/simple_label.cc#L129
which calls output_and_account_example
https://github.com/JohnLangford/vowpal_wabbit/blob/master/vowpalwabbit/simple_label.cc#L109
which calls print_update
https://github.com/JohnLangford/vowpal_wabbit/bl

[2016-11-22 02:04] arielf commented on #1134
Looks like the same issue as https://github.com/JohnLangford/vowpal_wabbit/issues/1119
(which seems fixed in latest).

[2016-11-22 09:51] barsunator commented on #1134
Indeed, this is same as
https://github.com/JohnLangford/vowpal_wabbit/issues/1119

my mistake was i didn't remove is:open when searching :) apologies for the noise.

[2016-11-22 16:34] JohnLangford commented on #1096
Please try again with the current master.

-John

On Mon, Nov 21, 2016 at 7:41 PM, John Langford <jl@hunch.net> wrote:

[2016-11-22 16:54] bartleusink commented on #1096
Unfortunately the test still fails on my machine with the current master (bea9ce4)

[2016-11-23 03:00] adah1972 commented on #1096
Ditto. I still see weird predict values.

[2016-11-23 14:41] JohnLangford commented on #1096
Do you see weird predict values (via -p) or weird printout values (as per
the initial report)?

On Tue, Nov 22, 2016 at 10:00 PM, Wu Yongwei <notifications@github.com>
wrote:

[2016-11-24 03:59] adah1972 commented on #1096
John, I am not sure I get you. My original report showed strange values under the "current predict" column. It is still the same. If you need more info, please guide me with the exact command lines. Thanks.

[2016-11-24 13:22] JohnLangford commented on #1096
I think the question is: If you add '--quiet -p /dev/stdout' to the
commandline, do you see differing predictions on the current master?

-John

On Wed, Nov 23, 2016 at 10:59 PM, Wu Yongwei <notifications@github.com>
wrote:

[2016-11-24 14:47] adah1972 commented on #1096
The output still looks random to me. Some trial runs with `(cd test && DYLD_LIBRARY_PATH=~/Programming/vowpal_wabbit/vowpalwabbit/.libs ../vowpalwabbit/.libs/vw --quiet -p /dev/stdout -k --lda 100 --lda_alpha 0.01 --lda_rho 0.01 --lda_D 1000 -l 1 -b 13 --minibatch 128 -d train-sets/wiki256.dat)`:

1)
[code]

2)
[code]

3)
[code]

[2016-11-24 14:52] JohnLangford commented on #1096
Ok, this revises my understanding of the problem.   All forms of prediction
are being corrupted.

Can you do another test for me?  Add --readable_model foo  to the
commandline and compare the output models.  Do they differ across runs?

-John

On Thu, Nov 24, 2016 at 9:47 AM, Wu Yongwei <notifications@github.com>
wrote:

[2016-11-24 14:59] adah1972 commented on #1096
Yes, they do. Now sometimes I get 256 lines of output, and sometimes I get one line. The one-line output looks a huge number like -42564421405308151731650614181817745408.

[2016-11-24 15:52] JohnLangford commented on #1096
I'm confused then.  Your original diff Showed only precision-level
differences in everything _except_ predictions (see below).   That means
the models cannot be differing.   Are you stating otherwise now?

-John

-12.813775 12.813775            1            1.0  unknown   0.0000
 201-12.946867 13.079960            2            2.0  unknown   0.0000
     220-13.718190 14.489512            4

[2016-11-25 16:56] JohnLangford commented on #1096
Please try again.  bartleusink discovered that I didn't actually use the new code :-)

[2016-11-25 17:09] #1134 closed

[2016-11-26 04:41] adah1972 commented on #1096
Finally, all tests pass (most of the times). ;-) I think this issue is resolved.

I did see in one case (out of about 10 `make test`) the following error. I think it is a separate issue:

[code]

[2016-11-27 18:26] JohnLangford commented on #1096
This one is a heisenbug on thread termination.  It's a separate (mostly harmless) issue that I need to track down.

Thanks for your help---it was essential.

[2016-11-27 18:26] #1096 closed

[2016-11-27 18:57] gramhagen commented on #1068
I can't reproduce the problem with the latest code.  You mention you're looping through various files, could it be a problem there?

`Scotts-MBP:vw_test sgraham$ ls
closed_cost_1.dat.txt	test.dat.txt
Scotts-MBP:vw_test sgraham$ vw --csoaa 16 closed_cost_1.dat.txt -f csoaa.model
final_regressor = csoaa.model
Num weight bits = 18
learning rate = 0.5
initial_t = 0
power_t = 0.5
using no cache
Reading

[2016-11-27 22:50] gramhagen commented on #1113
there's a couple things going on. right now the file exposing methods to python (pylibvw.cc) doesn't have support for arrays of probabilities. I'm not super familiar with how to convert c++ arrays to python objects, so my initial attempt failed.

[code]

I'm sure there's probably a way around that, but it will take a little manipulating. Accessing the prediction still seems to give the large integ

[2016-11-27 23:31] JohnLangford commented on #1113
(I'm similarly ill-informed about the python side.)

To return a vector of probabilities, you need to add --probabilities to the
commandline---otherwise if defaults to returning a single value.  Also
v_array<float> is a type that python is very unlikely to recognize.

I'm a little bit confused about why you mention the label when you want to
predict.  To get the prediction, you want something like

[2016-11-28 10:26] Wirack commented on #1118
Thanks, that's a nice clean solution,
And since VowpalWabbitScalarsPredictionFactory already exposes pred.scalars I would say this issue is resolved.

[2016-11-28 11:51] Wirack commented on #1118
It seems VowpalWabbitScalarsPredictionFactory does not allow for multiclass scores, but VowpalWabbitPredictionType.MultiClassProbabilities can be used instead.

[2016-11-28 15:11] eisber commented on #1070
@JohnLangford can you review and merge (it's short)?

[2016-11-28 16:59] neosoulmab opened #1138 "Building the JNI library on 8.1.1"
Hello,

I need to build the java library from a specific version (8.1.1). When i clone the project and checkout 8.1.1, there is no makefile already there, so i have to use ./autogen.sh then make all. Unfortunately, the created makefile doesn't build anything for the java subdirectory. Trying to build directly from the java directory leads to many errors, and most records of these on the web advise

[2016-11-28 17:00] gramhagen commented on #1113
ok, np I was a bit confused about the labels (not realizing that they have to be encoded as ints)

I can make a new method that passes a list back to python to handle providing multiple probabilities stored in ec->pred.scalars. And I'll update the predict method to catch the --probabilities case and call the new method.

As for the sklearn interface, it would be better to wrap this under sklearn.m

[2016-11-28 22:12] gramhagen commented on #918
the python interface multiplexes on a provided label type, which can be accessed from the label parser. It shouldn't be too hard to switch this to the learner's prediction type and provide access to raw scores through the python interface. #1139 already starts to provide multiple class probabilities.

[2016-11-28 22:26] gramhagen commented on #1116
should be, let me test it out now

[2016-11-29 01:31] JohnLangford commented on #1113
Thanks Scott.

-John

On Mon, Nov 28, 2016 at 12:00 PM, Scott Graham <notifications@github.com>
wrote:

[2016-11-29 01:38] gramhagen opened #1141 "Make clean building first"
running make clean builds source files in vowpalwabbit first before deleting files

[2016-11-29 04:10] gramhagen commented on #1121
ok, digging in more, couple problems, the current python wrapper is only providing the partial prediction for context sensitive and cbandits label types. There are some bugs there I can fix. Should we also support --probabilities here to provide all probabilities for each label?

as for the multiline support, learning string inputs gets routed to this function in pylibvw.cc
[code]
should we expect

[2016-11-29 09:48] Wirack opened #1143 "Potential C# Wrapper bug"
In relation to exposing raw prediction scores as discussed [here](https://github.com/JohnLangford/vowpal_wabbit/issues/1118) I have stumbled into a problem of retrieving different scores when utilising the wrapper compared to those when using the vw.exe file.

Perhaps I have misunderstood how to utilise the wrapper correctly, so here is a description of how i produced the results utilising the vw.

[2016-11-29 13:26] JohnLangford commented on #1121
The VW core does not support multline examples as a first class object yet,
so "no" unfortunately.   It's on the todo list.

-John

On Mon, Nov 28, 2016 at 11:10 PM, Scott Graham <notifications@github.com>
wrote:

[2016-11-29 13:45] eisber commented on #1143
I looked a bit through the code (e.g. oaa.cc:87, print_all = true, if raw_prediction = true, -r). These probs are printed to the output before they’re further transformed. The wrapper can’t access those.
I’d say it’s less of a bug, but more of a missing feature.

Markus

From: Søren Skibsted Als [mailto:notifications@github.com]
Sent: Tuesday, November 29, 2016 4:49 AM
To: JohnLangford/vowpal_wabb

[2016-11-29 14:12] #1138 closed

[2016-11-29 14:13] neosoulmab commented on #1138
I ended up using a newer version (8.2), which easily build the .lib for JNI.

[2016-11-29 14:24] Wirack commented on #1143
Thanks. Hmm. You might be right.
I used the --scores flag and not the --probabilities flag, however.
So for me it looks like the o.pred array used to print the raw scores in oaa.cc line 88 is the same accessed in oaa.cc line 96.
ec.pred.scalars could potentially have been adjusted again later causing different scores to be outputted?

[2016-11-29 15:50] gramhagen commented on #1121
ok, I'll work on getting the correct prediction out.

@usptact, until we can support multiline you'll have to convert your blocks to single examples externally with something like this:

[code]

[2016-11-29 19:10] usptact commented on #1121
@gramhagen Thanks a lot for your time looking into the issue! Should I close this ticket then?

[2016-11-29 19:52] gramhagen commented on #1121
yeah, I plan to roll the fixes to the csoo and context bandits estimates
from python into the rework of PR #1139

On Tue, Nov 29, 2016 at 2:10 PM usptact <notifications@github.com> wrote:

@gramhagen <https://github.com/gramhagen> Thanks a lot for your time
looking into the issue! Should I close this ticket then?

—
You are receiving this because you were mentioned.
Reply to this email directly, v

[2016-11-29 20:30] #1121 closed

[2016-11-30 08:49] Wirack commented on #1143
I introduced an additional array to the example struct and stored the scores there right after the scores are printed in oaa.cc line 88. I then adjusted parser.cc line 972 to extract data from that newly introduced array. It gives the same results as shown in vw_CSharp_Result.txt though, and same goes when I manually add code to print the scores right after line 88 in oaa.cc. Could I be missing so

[2016-11-30 13:42] eisber commented on #1143
Can you actually try to use using(var vw = ...) and create a separate instance for scoring?
Also try to use roughly the same cmd line argument:  -i my.model -t -r output.dat
(obviously feeding data through the interface)

[2016-11-30 14:05] Wirack commented on #1143
Sure I swapped to:
[code]
It gives the same results as before using two VowpalWabbit instances (hope I understood the question correctly).

[2016-11-30 14:26] eisber commented on #1143
Hmmm. That's what I was looking for.

[2016-12-01 06:51] tonygrey opened #1144 "vw-varinfo: command not found"
I installed vowpal wabbit 7.3.0 in linux-mint. I am able to use vw for training and predicting. But, I am not able to execute the command vw-varinfo. It is giving an error 'command not found'.

[2016-12-01 09:05] arielf commented on #1144
vw-varinfo isn't included in the package.
You can get it from the git repository `utl` subdirectory:
[https://github.com/JohnLangford/vowpal_wabbit/tree/master/utl](https://github.com/JohnLangford/vowpal_wabbit/tree/master/utl)

[2016-12-01 10:16] tonygrey commented on #1144
I downloaded utl subdirectory. what should I do to get it running?

[2016-12-01 13:34] robbine opened #1145 "how to prevent vw from hashing on cluster training"
hi, I tried to run logistic regression on cluster, however I cannot prevent vw from hashing
my training sample looks like this "-1 | 0:1.0 2:1.0 10:1.0 16:1.0 180:1.0 6485:1.0 6624:1.0 13351:1.0 18135:1.0 23042:1.0 30743:1.0 30970:1.0 37886:1.0 51155:1.0"
my script looks like this
gdcmd="./vw
        --noconstant
        --total $nmappers
        --node $mapper
        --unique_id $mapred_job_id

[2016-12-01 17:21] arielf commented on #1144
Just call it by name.

Make sure the directory is in your `PATH` and files in it are executable, and call it from any shell.
Alternatively copy the `vw-varinfo` script (it is a perl script) to any directory that is already in your `PATH`.

Use:   `echo $PATH` in a shell to see your current `PATH` setting.

Change `PATH` in your `~/.profile` or `~/.bashrc` to make it take effect after each login.

[2016-12-02 03:37] robbine commented on #1145
I tried to add --invert_hash so that I can get a mapping between orignal index and hash index
but it confilcts with both multiple pass and cache file

[2016-12-06 09:26] Wirack commented on #1143
Hmm. Are you investigating the issue or do you have some pointers as to which area should be examined further?

[2016-12-06 14:34] eisber commented on #1143
I’m pretty swamped this week. Really at this point I suggest to walk through the debugger. Given you link against debug you should be able to step through. Just be aware that in the C++/CLI layer the VS watch window is fishy (C# and pure C++ is fine). I’d use Debug::WriteLine there.

If you provide me with a minimum example (command line + data) I can give it a look next week.

Markus

[2016-12-07 07:20] robbine commented on #1145
I tried to use these two cmds in map script, it seems working.
gdcmdfirst="./vw
        -b 30
        --total $nmappers
        --node $mapper
        --unique_id $mapred_job_id
        -d train.data
        -c
        --passes 4
        -f sgd0.vwmodel
        --span_server $submit_host
        --loss_function=logistic"

gdcmdlast="./vw
        -t
        -p prediction
        --invert_hash my.in

[2016-12-07 11:26] Wirack commented on #1143
Thanks.

By debugging as you described, I have located what appears to be a symptom of the problem [as seen here](https://github.com/JohnLangford/vowpal_wabbit/blob/master/vowpalwabbit/gd.cc#L309-L312).

It appears that the lower scores gets assigned a value of -1 as the scores are lower than sd->min_label.

I then tried running the wrapper with a model trained by vw.exe
`.\vw.exe --oaa 4 -f my.mo

[2016-12-07 12:01] Wirack commented on #1143
By further debugging I found that it was a problem in the test, sorry for the inconvenience!

The trouble was that I on accident used a multiline example for the training.
`data.ForEach(x => vwTrain.Learn(data));`

It should of course be changed to
`data.ForEach(x => vwTrain.Learn(x));`

So indeed there is no bug! :)

---------------------
Out of interest, what is the purpose of [this code](https:

[2016-12-07 15:34] eisber commented on #1143
From John…

It’s not underflow/overflow, but rather a stabilization of regression to the range of observed values.

-John

[2016-12-07 19:34] Wirack commented on #1143
Thanks for the clarification, and again sorry for the inconvenience.

-Søren

[2016-12-07 19:34] #1143 closed

[2016-12-07 19:39] TMaheshGoud opened #1146 "Contextual Bandit Java Api additional utility methods (IPS)"
Hi Team,

I was wondering if we can make java's vw.learner.VWLearners expose other methods that can return IPS (inverse propensity scores) or progressive IPS scores for contextual bandit models. I wish to inspect these scores as the learning proceeds in an online manner.

Any comments on this would be helpful
My dependencies and unit-test can be found below.

[code]

[2016-12-07 20:30] eisber commented on #1143
No worries… happy to help.

[2016-12-07 21:05] TMaheshGoud commented on #1146
Re-posted this question at https://groups.yahoo.com/neo/groups/vowpal_wabbit/. Closing this one

[2016-12-07 21:05] #1146 closed

[2016-12-08 11:32] ravisharma4cloud opened #1148 "Unable to create vw_jni.lib in ubuntu 14.04 jessie/sid"
Followed this step []**(https://github.com/JohnLangford/vowpal_wabbit)** for ubuntu. Unable to create vw_jni lib; Getting unsatisfied link error for the same.

java.lang.Exception <java.lang.UnsatisfiedLinkError: no vw_jni in java.library.path> is a java.lang.UnsatisfiedLinkError

Stacktrace was: java.lang.UnsatisfiedLinkError: no vw_jni in java.library.path

       at java.lang.ClassLoader.loadLi

[2016-12-08 12:46] girnara commented on #1148
I am facing the same issue. It was working perfectly fine with Mac OS. But when I have deployed it on ubuntu, it was not able to create vw_jni.lib library.
+1

[2016-12-12 08:08] #1118 closed

[2016-12-22 23:17] shivayogibiradar opened #1153 "./parse_example_json.h:16:10: fatal error: 'rapidjson/reader.h' file not found #include <rapidjson/reader.h> ^"

[2016-12-22 23:17] shivayogibiradar opened #1154 "./parse_example_json.h:16:10: fatal error: 'rapidjson/reader.h' file not found #include <rapidjson/reader.h> ^"

[2016-12-22 23:17] shivayogibiradar opened #1155 "./parse_example_json.h:16:10: fatal error: 'rapidjson/reader.h' file not found #include <rapidjson/reader.h> ^"

[2016-12-22 23:17] shivayogibiradar opened #1156 "./parse_example_json.h:16:10: fatal error: 'rapidjson/reader.h' file not found #include <rapidjson/reader.h> ^"

[2016-12-22 23:18] shivayogibiradar commented on #1156
./parse_example_json.h:16:10: fatal error: 'rapidjson/reader.h' file not found
#include <rapidjson/reader.h>    ###this is the error that I'm getting while installing vovwpal rabbit on my Mac OS Sierra .Please help.
         ^

[2016-12-22 23:19] shivayogibiradar commented on #1156
I got the same issue on windows 10 as well.

[2016-12-22 23:20] #1153 closed

[2016-12-23 10:36] #1070 closed

[2016-12-23 15:18] #1154 closed

[2016-12-23 15:19] #1155 closed

[2016-12-23 15:20] shivayogibiradar commented on #1156
resolved in Mac by issuing command brew install rapidjson

[2016-12-23 15:20] #1156 closed

[2016-12-25 06:06] dselivanov opened #1157 "rapidjson/reader.h: No such file or directory"
Reporting to just let you know, on 14.04.4 LTS I got following:
[code]

Solved as suggested here: http://stackoverflow.com/questions/40253440/vowpal-wabbit-installation-encounters-error-of-rapidjson-reader-h

[2016-12-26 10:58] xjj210130 opened #1158 "[HELP]vowpal wabbit c api is stable? predict the same query ,cost different time"
hi all:
  i use vowpal wabbit c api  to predict score. When i test the same query more than 10000 times,  the vw cost different time . Most of time is less than 2ms, but some of time cost 50ms. It cost too much.
Is there some one meet this questions.
The following is my code:
 example *item;
 vw *tmp_model=VW::initialize((char *)"-t -i " + path)

item = VW::read_example(*tmp_model, cstrFeature);
t

[2016-12-26 11:04] xjj210130 commented on #1158
There are 24 threads  to accept reqs, one request use one thread .
I use the following code:
item = VW::read_example(*tmp_model, cstrFeature);
tmp_model->learn(item);
VW::finish_example(*tmp_model, item);

in the same thead.

[2016-12-26 12:35] eisber commented on #1158
I don’t think the learn function is thread safe…

[2016-12-26 14:02] jennakwon06 commented on #1021
I'm having the same problems but with CentOS... what version of Boost libraries are needed?

[2016-12-26 14:38] jennakwon06 commented on #730
Which version of Boost package is needed for vw 8.2?

[2016-12-27 02:16] xjj210130 commented on #1158
I use the code like the following:
 void predict()
{
item = VW::read_example(*tmp_model, cstrFeature);
tmp_model->learn(item);
VW::finish_example(*tmp_model, item);
}

each thread use the function independently.

The above question , maybe  is my fault, I should  add para: ring_size.

[2016-12-27 07:32] eisber commented on #1158
Do you lock(*tmp_model) or have separate *tmp_model instances?

Markus

[2016-12-27 14:49] gramhagen commented on #1021
@jennakwon06 should work with boost versions >= 1.54

[2016-12-29 02:03] dlihhats opened #1159 "Default value for loss_function"
The documentation says that the default value for the loss_function parameter is 'squared'. However, the code for Python vowpal_wabbit in sklearn_vw.py sets 'logistic' as the default value.

[2016-12-29 06:15] xjj210130 commented on #1158
Do you meaning, each thread use separate  vw pointer?or, the vw should be locked?
In fact ,i use only one vw instances. i init it once:   vw*pVw = VW::initialize();
all thread use the pVw.

I use it like the above method, is it wrong?
Thank you very much.

[2016-12-29 18:39] JohnLangford commented on #1159
@gramhagen can you comment?

[2016-12-29 18:41] JohnLangford commented on #1158
Are you trying to predict or learn?

[2016-12-29 19:29] JohnLangford commented on #1157
Thanks, I fixed this.  The problem was that the automake build wasn't updated when rapidjson was added for json parsing.

[2016-12-29 19:29] #1157 closed

[2016-12-29 19:30] JohnLangford commented on #1144
Looks resolved, closing.  Thanks @arielf

[2016-12-29 19:30] #1144 closed

[2016-12-29 19:31] #1141 closed

[2016-12-29 19:33] JohnLangford commented on #1145
VW always hashes, but in the case where an index is used as a feature, the index is the hash (by default).  Hence, you need do nothing.  If you want to look at what the parameters are use --readable_model <filename>

[2016-12-29 19:33] #1145 closed

[2016-12-29 19:35] JohnLangford commented on #1129
Closing this for now.  Reopen if/when you get a test case we can use.

[2016-12-29 19:35] #1129 closed

[2016-12-29 19:36] JohnLangford commented on #1113
This should be fixed now.  Thanks @gramhagen

[2016-12-29 19:36] #1113 closed

[2016-12-29 19:50] dlihhats opened #1160 "Input data shuffling in multi-class classification problem"
I'm observing a difference in the way VW works when launched from Bash and through Python sklearn.

I've got a multiclass classification problem with 550 classes. I have the train data in VW format with all samples sorted by label. When I pass this train set to VW in Bash with --oaa option, it's obvious that VW reads the data as a truly online learning algorithm, i.e. sequentially. As a result, it

[2016-12-29 20:58] JohnLangford commented on #1160
There is no such option.  Typically, I use a commandline tool like 'shuf' or 'sort -R' if I want to shuffle on the commandline.

[2016-12-29 20:58] #1160 closed

[2016-12-29 21:41] gramhagen commented on #1159
There are three classes in the sklearn wrapper:
2 use the vw default (squared) loss function: VW, VWRegressor
1 overrides the default loss function with logistic: VWClassifier

It was intentional to use logistic loss as the default for the classifier, since that typically makes the most sense for a classification setting and is consistent with sklearn. The other two classes are more inline with th

[2016-12-29 22:16] gramhagen commented on #1116
this is all set, thanks for pointing it out @felixmaximilian

[2016-12-29 22:20] gramhagen commented on #918
This is now supported through the python wrapper with #1139, using scores will give you a list of probabilities.

[2016-12-31 13:20] xjj210130 commented on #1158
i use vw to predict ,It's online service.

[2017-01-03 08:53] knarf-hackatal2016 opened #1162 "[Input] Repeating features in a feature space yield bag of words ?"
I'm using Vowpal Wabbit for the first time with text input and I have a doubt for the input format.

If an input line is

`1 | the cat play with the other cat`

would it be similar to

`1 | the:2 cat:2 play:1 with:1 other:1`

or

`1 | the cat play with other`

Differently put, what happens when you repeat a feature several times in the same feature space ? I guess it should be the first one but I

[2017-01-03 17:32] jon-morra-zefr commented on #1148
Yes.  The JNI layer is pretty brittle right now.  I'd like to rewrite it in total, but that'll have to wait for a little bit.  In the meantime here is what I suggest.

If you look [here](https://github.com/JohnLangford/vowpal_wabbit/blob/master/java/src/main/java/vowpalWabbit/jni/NativeUtils.java#L68) and [here](https://github.com/JohnLangford/vowpal_wabbit/blob/master/java/src/main/java/vowpalWab

[2017-01-03 23:19] dlihhats commented on #924
BFGS option simply doesn't work with VW in Python sklearn. When you try, it says that the minimum number of passes should be 2 even though I have set it up to even larger number.

For example, just adding "bfgs=True" produces the following:

`model = VW(oaa=550, passes=30, b=26, convert_to_vw=False, random_seed=7, \
           decay_learning_rate=0.8097261737051064, initial_t=4.617634843743026e-05

[2017-01-03 23:36] gramhagen commented on #924
The situation with passes for the python wrapper isn't great. right now the
model is configured to learn by processing one example at a time and the
wrapper controls looping over the input data based on the number of passes.
Let me see what can be done to work around this.

On Tue, Jan 3, 2017, 6:20 PM Dmitri <notifications@github.com> wrote:

[2017-01-04 00:26] arielf commented on #1162
It would be closer to the 1st (unclear why you split feature `the` and not `cat` into two separate instances, but `cat cat`, `cat:1 cat:1`, and `cat:2` are all equivalent).

tip: running with `--audit` (or `-a` for short) can help debug/understand cases like this.

[2017-01-04 12:05] knarf-hackatal2016 commented on #1162
Thank you very much. `the` is my mistake, I was focusing too much on `cat` in my example.
Thank you for the tip. In the end it behaves as it should and as I expected. Maybe it could be explicitly written in the Input format section, otherwise the issue can be closed.

[2017-01-04 14:00] arielf commented on #1162
Thanks, I added the clarification to the [Input format wiki paget](https://github.com/JohnLangford/vowpal_wabbit/wiki/Input-format)
Look under **Notes / feature repetitions**

[2017-01-04 14:00] #1162 closed

[2017-01-05 21:07] gramhagen commented on #924
The simplest thing to do is to pass a training data file directly during construction of the VW object which will use the native training (with a cache file and multiple passes). This would be in lieu of using the sklearn fit() method.

something like this:
`model = VW(convert_to_vw=False, oaa=3, passes=30, bfgs=True, data=data_file, cache=True)`

this should take care of the sklearn passes issue.

[2017-01-06 01:49] gramhagen commented on #924
this use case is a little awkward with python. the python wrapper and subsequent sklearn wrapper create the vw model in memory and interact with it (to learn new examples and make predictions). It does have some capabilities of saving and loading models, but they are not stored in the normal vw format (as you would use for an initial regressor).

The model can be finished, but at that point you ca

[2017-01-07 19:55] gramhagen commented on #924
Ok, I think I've addressed the concerns with the new PR.  You can load in initial regressor models, and specify external data files to use for training (using data='filepath') when constructing the model. This will let you do something like VW(data='filepath', passes=30, oaa=3, bfgs=True), check out the new tests in test_sklearn_vw, and test_pyvw.

To save the output you should use model.save('fil

[2017-01-07 22:44] dlihhats opened #1164 "--quiet option changes VW results when used alongside --cubic"
I was very hesitant to raise this issue but after multiple failed attempts to prove that I might be doing something wrong, I still keep getting different prediction results with and without the `--quiet` option during training when used alongside the `--cubic` option.

I'm using VW 8.1.1 on Ubuntu 16.04.
`vw --version
8.1.1`

- I'm running VW like this:

Trainging:
`vw --oaa=550 -d kaggle_data/tra

[2017-01-09 19:06] #1164 closed

[2017-01-12 07:26] alexott opened #1167 "libboost_program_option isn't found on Ubuntu 14.04"
On Ubuntu 14.04, the libboost_* libraries are installed in the `/usr/lib/x86_64-linux-gnu`, not in the `/usr/lib`, or `/usr/lib64`

By modifying the variable `libsubdirs` in the `acinclude.d/ax_boost_base.m4` to include `lib/x86_64-linux-gnu` fixed this issue, but it should be more generic.

[2017-01-17 22:41] arielf commented on #1167
It is unclear what the problem is and how you got into a state of problem.

Ubuntu/Debian doesn't require messing up with options or flags.  `vw` should build smoothly without needing to change anything in any config files (let alone auto-generated ones).

The `Makefile` in the source tree has the correct:

     ifeq ($(UNAME), Linux)
           BOOST_LIBRARY += -L /usr/lib/x86_64-linux-gnu

even

[2017-01-18 10:55] alexott commented on #1167
Ok, sorry for noise - I removed the old git clone, re-did the fresh clone & now it's detected correctly...

[2017-01-18 10:55] #1167 closed

[2017-01-19 07:44] apoorvreddy opened #1169 "Neural Network Invert Hash Readable Model doesn’t contain the full network parameters"
### TL;DR:
The file generated using the —invert_hash flag doesn’t contain a few of the output_hidden weights (weights from the hidden layer to the output layer) and the output node bias, although the corresponding hashes for these edges exist in just the readable_model format (which only contains the hash:value tuples)

### Reproduction steps below:

#### Train Dataset
[code]

#### Train Command
`

[2017-01-19 16:53] ApproximateIdentity opened #1170 "Did prediction file format change?"
I'm referring to running vw with the following command:

[code]

On the tags 8.1.1 and 8.2.1 I will get a `prediction.dat` file whose first few lines look something like this (the numbers at the end are filenames):

[code]

On the master branch as well as tag 8.3.1 this is the example output for the predictions file (note the missing filenames on the right):

[code]

On another note, is it the cas

[2017-01-23 05:10] ankitarya10 opened #1173 "Error: daemonerrno = unknown vw (parser.cc:439): daemonerrno = unknown"
I am using vowpal wabbit in a docker container. Using the following docker image:

https://github.com/shabbychef/docker-vw/blob/master/Dockerfile

I get the error
Error: daemonerrno = unknown vw (parser.cc:439): daemonerrno = unknown

running the following command:
vw -i <model_name> -t --daemon --quiet --loss_function logistic --link logistic --port 26542 --probabilities

I am not sure what the e

[2017-01-23 05:24] arielf commented on #1173
Not sure what it is either, but lines 437-439 in parser.cc are:
[code]

So it seems like the `daemon(1,1)` called failed in this particular docker env.

And why would `daemon()` fail?  `man daemon` says:
[code]
Something in that env is too restrictive? What happens if you simplify?  run `vw` not as a daemon (drop some of the options) does it work?  Try to run same under sudo, does it work? etc.

[2017-01-23 05:42] ankitarya10 commented on #1173
without --daemon
[code]

Same result as above with sudo.

Do you think it could be something to do with the port ?

[2017-01-23 06:00] arielf commented on #1173
Possibly.  Did you try to drop the `--port` ?

[2017-01-23 06:01] ankitarya10 commented on #1173
yep same error.

[2017-01-23 15:01] ankitarya10 commented on #1173
@arielf I was able to run through https://github.com/JohnLangford/vowpal_wabbit/wiki/Daemon-example. So i don't think port is an issue.

At this point my guess is that it has something to do with the model file, but it runs fine on my local Mac, on a separate ubuntu system i tested.

[2017-01-23 20:10] ankitarya10 commented on #1173
Closing the issue.  It turns out the system was running out of memory, probably causing the above mentioned issue. A bigger aws instance solved the problem.

A better error would have been nice. Not sure if that could be done though, given daemon could fail for a number of reasons.

[2017-01-23 20:10] #1173 closed

[2017-01-23 21:18] MLWave commented on #1159
Updated documentation at https://github.com/JohnLangford/vowpal_wabbit/wiki/Loss-functions to make a note of default override.

[2017-01-23 22:35] dlihhats commented on #1159
It's probably worth noting that the Python wrapper also seems to be overriding the default squared loss with logistic loss when using VW with the `oaa` option (VWClassifier only supports binary classification currently). If @gramhagen could confirm this, it would be great. Thank you!

[2017-01-24 00:54] arielf commented on #1173
@ankitarya10
Since you are in the best position to reproduce this.
Any patch / pull-request would be greatly appreciated.
Thank you!

[2017-01-24 07:55] 5kyn37 opened #1174 "Problem with pip install vowpalwabbit"
Hello.
I have CentOS release 6.8 (Final), python version 2.7.8 and boost library 1.5.9.

[code]

[2017-01-24 11:57] apoorvreddy commented on #1169
@arielf

I noticed that there was a question related to this issue on stackoverflow
http://stackoverflow.com/questions/33441183/vowpal-wabbit-input-of-neural-network

Has there been any change to the code to print all the weights for --nn flag ?

[2017-01-24 16:30] arielf commented on #1169
I'm not aware of any intentional change to cause this.

Are you saying/hinting that there was a time in the past where this behaved differently?

The best way to make sure a feature you care about in `vw` never accidentally breaks is to add a test case for it in `test/RunTests`.  A failure of the test suite is pretty much a guarantee for blocking unintentional changes.

I'm not 100% sure, but I su

[2017-01-25 01:18] arielf commented on #1174
Looks like you're missing build prerequisites (make, etc.) needed by `pip install`

[2017-01-25 01:25] arielf commented on #1174
`make` is complaining on missing `clean` target.
I can't reproduce this on Ubuntu 16.04.1. Here's the full session.

[code]

Looks like something is missing in your env, but hard to tell what it is from the provided output.

[2017-01-25 01:55] arielf commented on #1174
Digging deeper into this.
Looks like there are two separate/incompatible python packaging systems. The old is called 'egg', the new is called 'whl' (extension stands for wheels)

The new (wheels) method seems to works smoothly with the relatively new/current vowpalwabbit packages.

When you're running `pip` in this CentOS env you seem to be using (very) old `egg`.  Perhaps you should look at build

[2017-01-25 05:22] apoorvreddy commented on #1169
Thanks @arielf for replying ! :)

I should have phrased my question better.

This is what I meant to ask. Is there any way to print all the weights (and the bias) from the hidden layer to the output node, as they currently are not printed when using the invert_hash flag ? I believe this is an issue, as one cannot visualize the network without them.

[2017-01-25 07:03] 5kyn37 commented on #1174
When I try to build from github repo without virtualenv.

[code]
what is more

[code]
console version has been compiled successfully.

[2017-01-25 11:09] apoorvreddy commented on #1169
The weights from the hidden layer to the output layer (hidden_output) has an empty dat.ns_pre, hence the human readable value of these weights are the same which is `[x]`, where x is the number of hidden nodes. (i.e. running with `-nn 3` gives `[3]`)

Because of this, `dat.all.name_index_map` (which is a std::map) stores only one of the hidden_output weights. There is a check at [gd.cc Line238](ht

[2017-01-25 14:04] 5kyn37 commented on #1174
Well, Perhaps I can see another variant. I would like to hear your opinion on this issue. The situation is such that I need to solve the problem of binary classification. It must be an online learning. I need to predict a probability of Class A. I need to work with unbalanced data (~1:500 or ~1:1000). Ratio of element's numbers of class A to class B may change significantly over time. It happened

[2017-01-25 16:15] jrmarkle opened #1175 "How do I build and install libvw_c_wrapper?"
I'm trying to test some changes to the C wrapper but I can't seem to find any `make` targets that actually build `vwdll.cpp` or `libvw_c_wrapper` for Linux. Can anyone point me in the right direction?

[2017-01-25 19:06] jrmarkle commented on #1175
I found that the debian maintainer's fork github.com/yarikoptic/vowpal_wabbit has a branch `debian` which does build and install the C wrapper, but perhaps there is another way to get this working.

[2017-01-25 19:06] arielf commented on #1169
Hi @apoorvreddy ,

I'm not sure what's the best way to make this behave better. As you noted the code is pretty complex.  `--invert_hash` was added as an early reduction, and may not interface nicely with the core SGD code. `ns` stands for "name space", not sure about the meaning of `pre` in this context.

Trying to be practical: does the change above still pass the full `make test`?  If yes, I th

[2017-01-25 19:11] arielf commented on #1175
Is merging this fork by submitting a PR a good idea?

[2017-01-25 19:24] arielf commented on #1174
- On the build issue: same comment as above. It is using 'egg'.
- On the '--he` issue: the option is `--help`
- On the question on how to do unbalanced binary classification: yes doing active learning seems reasonable. There's an example `active_interactor.cc` in the source tree which can help in active learning.
- Not sure why you need two daemons. I think one suffices. you can learn while making

[2017-01-25 19:34] jrmarkle commented on #1175
I'm not sure. It's a bit out of date (version 8.1.1).

[2017-01-25 21:46] jrmarkle commented on #1175
I've found that if I run
[code]
then the library is built and installed but if I skip the `./autogen.sh` step and just run
[code]
then `make` succeeds but the libraries are not built or installed.

[2017-01-25 21:46] #1175 closed

[2017-01-25 22:06] arielf commented on #1175
Sounds like this needs fixing in the original `Makefile`.  `autogen.sh` overrides the original.

To get all original `Makefile`s back:  `git checkout Makefile */Makefile`

[2017-01-26 00:08] klvbdmh opened #1176 "Python wrapper with Windows Binaries"
I've downloaded precompiled Windows binaries from the [releases page](https://github.com/eisber/vowpal_wabbit/releases). Is there any way I can use those binaries with the Python wrapper? I tried to follow the instructions, but I'm missing `pyvw35.dll'` file. It's not available in the Windows binaries from the .msi installer.

Alternatively, is it possible to make Python Wheels for Vowpal Wabbit?

[2017-01-26 00:26] arielf commented on #1175
But I would be careful to not pollute/infect the default `Makefile`s with all of GNU `libtool` complexities (linking with temporary `.lt` files etc.) which `autogen.sh` adds.

[2017-01-26 06:08] AbdealiJK opened #1177 "Making documentation not working"
The readme says to do `make doc` in the root directory but that just gives:
[code]

Even if I cd into the doc directory and do a `make` it does the same and gives the same error:
[code]
How do we make the documentation for local usage ?

I did a `./configure` and am now trying to `make` and `make doc`
`make` is running but `make doc` is not

[2017-01-26 07:42] indiaProdip opened #1178 "How to set Learning rates in Vowpal Wabbit for processing streaming data"
I am using Vowpal Wabbit to train a Neural Network on streaming data. What I want is that the learning rate should never go towards 0, else it won't be able to learn from new data. Here are couple of things:
1. If I set power_t to 0 then learning rate won't decay
2. Adaptive gradient accumulates previous gradients per features, so if that is on eventually it will drag learning rate to 0 with time?

[2017-01-26 09:33] arielf commented on #1177
`make doc` at the top level dir works fine for me.

Perhaps it says 'nothing to be done ...' because it is already made?

Try:
[code]
When I try this, it creates a ton of of files under `doc/html`
Note, you need to have `doxygen` installed.

[2017-01-26 12:23] eisber commented on #1176
@gramhagen can you release a new version for the pip repository?

[2017-01-26 12:30] gramhagen commented on #1176
Sure. I'll setup a new account on PyPI and try to automate the steps so we
can add it to the build box.

On Thu, Jan 26, 2017, 7:23 AM Markus Cozowicz <notifications@github.com>
wrote:

[2017-01-26 14:33] 5kyn37 commented on #1174
Thank you. Your answer helped.

[2017-01-26 14:33] #1174 closed

[2017-01-26 20:45] AbdealiJK commented on #1169
@arielf @JohnLangford I believe a better approach would be to actually label what the hash means manually - like how it's done for `Constant`.
I've made a PR at https://github.com/JohnLangford/vowpal_wabbit/pull/1179 which does this.

@apoorvreddy can you test if this works for you ?

[2017-01-26 21:00] AbdealiJK commented on #1177
It seems like if I do a reset to master and then do `make doc` - it works.
But if I run `./autogen.sh` and then run `make doc` it does not work because the Makefile has been overwritten by the `./autogen.sh`

Possibly this should be mentioned in the documentation ?

[2017-01-27 05:31] apoorvreddy commented on #1169
@AbdealiJK This works for me 👍 Perhaps, add comments and tests as well ?

[2017-01-27 21:16] arielf commented on #1177
[Documentation extended/fixed in this PR](https://github.com/JohnLangford/vowpal_wabbit/pull/1180)
Awaiting merge.

[2017-01-29 12:26] seriouscoder123 opened #1182 "Cubic features and self interactions"
It looks like if `cubic` option is used, each namespace can appear multiple times in the interactions. For example:

`echo` '1 |t a b |q x y |d r:2' | vw --cubic tqd --invert_hash test.model`

Produces:

[code]

As you can see, namespace `t` and `q` can appear multiple times. I was expecting to see the following combinations:
[code]

Additionally `quadratic` option doesn't include the same namespa

[2017-01-30 00:39] trufanov-nok opened #1183 "parse_regressor.cc can't be compiled with g++"
It's been at least 6 month I haven't look into VW code and it changed a lot since when. I was working with my old fork, but today decided to compare it with master branch. And faced with the fact that I can't build master branch with g++ which is default. With libtool or without it.
I'm getting following errors:
[code]
It seems the code is too complicated for g++. My knowledge of templates was far

[2017-01-30 06:58] arielf commented on #1183
Hi Alex,

I can build with gcc (and clang) without issues on Ubuntu 16.04.1 LTS
The differences between us are:

- I use the default compiler: gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.4)
- I build directly using the original `Makefile` (not using `autogen.sh`, nor libtool)

[2017-01-30 09:22] 5kyn37 opened #1184 "Broken link on the page: https://github.com/JohnLangford/vowpal_wabbit/wiki/Command-line-arguments"
Hello.
Current "Agnostic Active Learning without Constraints" points to http://books.nips.cc/papers/files/nips23/NIPS2010_0363.pdf, but there is a redirect to http://papers.nips.cc/book/advances-in-neural-information-processing-systems-23-2010 . I found this publication in the [archive](https://web.archive.org/web/20120525164352/http://books.nips.cc/papers/files/nips23/NIPS2010_0363.pdf).

[2017-01-30 14:11] MLWave commented on #1184
Thanks for reporting!

I fixed the broken link to the full paper (including proofs) at http://www.cs.columbia.edu/~djhsu/papers/iwal-cal.pdf

[2017-01-30 18:36] apoorvreddy opened #1185 "--invert_hash doesn't work with --save_resume when passes != 0"
The condition at [this line](https://github.com/JohnLangford/vowpal_wabbit/blob/master/vowpalwabbit/gd.cc#L228) i.e.

[code]

doesn't allow the human readable feature names and their weights to be printed when using `--save_resume` if the `passes != 0`

As --invert_hash isn't compatible with --passes flag, it is recommended to use the [following way](http://stackoverflow.com/questions/24437152/vow

[2017-01-30 19:08] gramhagen commented on #1176
@eisber released 8.3.2
I also set up a new owner for pypi and testpypi, I can give you the credential info and steps to try and upload new versions. Let me know if that build works for what you need, there are a few changes to the docs and manifest that need to be made, so I'll submit a PR.

[2017-01-30 19:32] gramhagen commented on #1176
#1186 is the PR referenced above

[2017-01-31 05:09] apoorvreddy commented on #1185
I propose to update the condition at [line](https://github.com/JohnLangford/vowpal_wabbit/blob/master/vowpalwabbit/gd.cc#L228)

[code]

to

[code]

`make test` passes.

[2017-01-31 06:26] #1184 closed

[2017-01-31 09:56] majube commented on #1176
@gramhagen is version 8.3.2 supposed to work on Python 3.6? pip install vowpalwabbit fails for me with
`Exception: Pre-built vw/python library for Windows is not supported` at line 108 of setup.py - though interestingly line 108 of setup.py in the master repository contains a different error message ("Pre-built vw/python library for Windows is not supported for this python version").