[2019-12-16 14:59] jackgerrits commented on #2193
Can you please provide data.txt?

[2019-12-16 15:00] jackgerrits commented on #2193
@AlexFridman can you please provide data.txt? If I can repro I can look into this

[2019-12-16 15:05] jackgerrits opened #2197 "Corrupt example due to reuse"
Command line:
[code]

Data: https://gist.github.com/AlexFridman/013c7bb7391c277b3c3e122f9f3ee2e4

Issue:
[code]

This is probably due to the labels being reused and not cleaned correctly.

[2019-12-16 15:07] jackgerrits commented on #2193
I've opened #2197 to track this new issue

[2019-12-16 15:11] AlexFridman commented on #2193
@jackgerrits , but does it cover my issue with the ring size? It looks like to separate ones...

[2019-12-16 15:14] jackgerrits commented on #2193
The ring size issue shows up as `vw (shared_feature_merger.cc:41): cb_adf: At least one action must be provided for an example to be valid` right? I removed the `--ring_size` parameter because the default is 256

[2019-12-16 15:15] AlexFridman commented on #2193
I have a bigger data file and without setting ring_size to a large value it fails with segmentation fault.

[2019-12-16 15:16] jackgerrits commented on #2193
Can you provide a repro of that?

[2019-12-16 15:17] AlexFridman commented on #2193
sure. in a few hours.

[2019-12-16 21:35] #2118 closed

[2019-12-16 22:15] AlexFridman commented on #2193
@jackgerrits , I've updated the message bellow with a link to the data. In case if you missed it.

[2019-12-17 14:41] jackgerrits commented on #2193
What is the command line you are using in this case? Can you also please provide the output of `vw --version`?

[2019-12-17 14:58] AlexFridman commented on #2193
8.8.0 (git commit: f83c0e30)

actually, with command line it's working with any ring_size.
BUT: this script fails if you set ring-size=4000 instead of rinf-size=400000

`from vowpalwabbit import pyvw
vw = pyvw.vw('--cb_explore_adf --epsilon 0.2 --ring_size 400000')
with open('data.txt') as f:
    examples = f.read().strip().split('\n\n')
for example in examples:
    pred_example = vw.parse(example

[2019-12-17 15:08] jackgerrits commented on #2193
Okay thanks for providing that, I have a repro. I am in fact getting a segfault with the default ring size of 256

[2019-12-17 15:09] AlexFridman commented on #2193
exactly, but what is ring size? There is a pool of size=ring_size being created? And all new arriving examples should supplant old examples?

[2019-12-17 15:11] jackgerrits commented on #2193
Ring_sized has changed a little bit recently, it is the initial size of a pool of examples used in a queue. These examples are reused, and if they are left in a bad state we see issues like this. That is my suspicion right now. I am not sure why we cannot get this issue to reproduce through the command line though.

[2019-12-17 15:12] jackgerrits opened #2199 "Crash in cb_explore_adf in Python"
This issue was originally reported as being dependent on ring size. Working at 400000, but failing at 4000. However, I am seeing it fail at the default 256.

data.txt: https://gist.github.com/AlexFridman/7d48306ef6ac04c9c520ae9782076da4

This crashes at about the 56th cb adf example

[code]

[2019-12-17 15:13] AlexFridman commented on #2193
Maybe because in python it operates like in "streaming" mode, but in command like it more looks like a "batch". Just train and that's all...
Just an idea.

[2019-12-17 15:14] jackgerrits commented on #2193
Perhaps, but when using the `parse` function it utilizes the same pool and so I expected to see the same behavior. I am working on cleaning up the part of the example data structure that is most often to blame for these issues but its a way out. I'll try and get to the bottom of this issue. It may also be related to the other issue you saw (#2197)

[2019-12-17 19:02] lokitoth opened #2200 "SoftMax exploration sometimes generates NaNs"
Currently working on fleshing out a full repro, but it seems that in certain cases, using --softmax for exploration ends up with a model that generates NaNs for action probabilities.

[2019-12-17 20:11] #2166 closed

[2019-12-18 14:32] ataymano commented on #2006
Hi,

as far as I see coefficients are reset not before restarting the training, but during the training.

Looks like you are not using --save_resume mode which is supposed to be used for continuing learning. So weights from previous training are used only as initial values, but optimization is done only based on new dataset. So for every not observed feature (in new dataset), corresponding weights

[2019-12-18 17:09] AaEll opened #2201 "Heisenbug w/ docker container running Vowpal Wabbit daemon."
#### Describe the bug
Heisenbug when making requests to docker container running Vowpal Wabbit daemon.

#### To Reproduce
Steps to reproduce the behavior:
1. Login to ECR `$(aws ecr get-login --no-include-email --region <region> --registry-ids 462105765813)`
2. Pull Vowpal Wabbit docker image `docker pull 462105765813.dkr.ecr.<region>.amazonaws.com/sagemaker-rl-vw-container:vw-8.7.0-cpu`
3. Start

[2019-12-18 20:09] jackgerrits opened #2202 "VW::finish_example getting called twice in Python bindings"
This causes an assert to hit in `clean_example` (`assert(ec.in_use);`) as it has already been returned. Therefore I think multiple pointers are being put back into the pool.

To repro, run the following with a debug build of the Python bindings. When using single examples this is unlikely to cause problems. But as soon as you use multi_ex this is a very dangerous.

[code]

[2019-12-18 21:08] jackgerrits commented on #2202
The original fix for #2150 was incorrect (PR #2153). The VW::finish_example function was in fact being called. That fix should have broken our CI and this needs to be looked into.

Reverting that fix exposes further issues too though.

[2019-12-19 15:51] jackgerrits commented on #2201
We've seen issues where netcat closes before it has finished receiving the response.

Can you try adding `-q 1` to the netcat command?

[2019-12-19 15:53] jackgerrits commented on #2194
@arielf would you be able to take a look at this?

[2019-12-20 02:14] jackgerrits opened #2205 "v_array should only contain TriviallyCopyable types"
`v_array` uses [`std::realloc`](https://en.cppreference.com/w/cpp/memory/c/realloc) to obtain better performance than `std::vector` in many places. However, as `realloc` can copy the piece of memory when it must be expanded this is undefined behavior unless the contained types are [*TriviallyCopyable*](https://en.cppreference.com/w/cpp/named_req/TriviallyCopyable).

The following code snippet will

[2019-12-20 16:45] jackgerrits commented on #2193
@AlexFridman all of these Python issues seem related. I have a fix out in PR @2206

[2019-12-27 00:17] AaEll commented on #2201
the `-q` is only available for openbsd's distribution of netcat, and it is not easy to install on AWS.

[2019-12-27 14:40] #2193 closed

[2019-12-27 14:40] #2199 closed

[2019-12-27 14:40] #2202 closed

[2019-12-31 22:35] pmcvay opened #2210 "Editing cache files"
Is it possible to edit the cache file vw generates after reading a data file? I would like to change the only the labels for each point (the features stay the same) and the only way I have been able to do that so far is to edit the text file with the data and then reload into vw.

[2020-01-02 15:43] jackgerrits commented on #2201
Could you also try using `-i 1`?

[2020-01-02 21:09] AaEll commented on #2201
Using Ncat 6.40 with `-i 1` and `-i 3`, the problem persists.

[2020-01-03 15:57] jackgerrits opened #2211 "Consider migrating to FetchContent based dependency fetching"
By migrating our dependencies to using FetchContent we achieve several things:
- Users no longer need to worry about how to install dependencies on their system:
    - No Vcpkg, apt or anything like that
- Works the same way on all platforms
- We can specify dependency versions explicitly
- Boost can be automatically retrieved. See: https://github.com/Orphis/boost-cmake

In order for this to work

[2020-01-04 06:07] timgates42 opened #2212 "Fix simple typo: throogh -> through"
# Issue Type

[x] Bug (Typo)

# Steps to Replicate

1. Examine java/README.md.
2. Search for `throogh`.

# Expected Behaviour

1. Should read `through`.

[2020-01-05 16:06] #2212 closed

[2020-01-07 21:57] jackgerrits commented on #2210
There is no such tool available unfortunately. Cache files aren't intended to be edited, only produced and consumed by VW. I can see a tool like this being useful though, though creating something like this isn't really on the radar at the moment.

[2020-01-08 06:54] kfoofw opened #2216 "Is --invert_hash not compatible for multi pass models on Linear Regression?"
Hi there!

I am trying to apply vowpalwabbit as a linear regression model (with the Boston housing toy dataset) and I came across this SO post reply (https://stackoverflow.com/questions/19187532/ordinary-least-squares-regression-in-vowpal-wabbit). Note that this SO post answer was in 2014, when the published version of vowpal was 7.3.1 while my current version is 8.5.0.

As part of reproducibility

[2020-01-09 19:51] pmcvay commented on #2210
Could you point me in the direction to where I could figure out a hack? I'm kinda lost in the code base

[2020-01-09 20:02] jackgerrits commented on #2210
This is the reader function that is used when reading cache files: https://github.com/VowpalWabbit/vowpal_wabbit/blob/ae8d7241b56d55785e09f0b6e41506281b91f9b9/vowpalwabbit/cache.cc#L64
You can use this to understand the general structure of the cache file.

Depending on which reductions are being used there will be a different label parser. This defines how the label is read and written. The read

[2020-01-14 04:49] elviraux commented on #2100
Any progress @peterychang ?
I am facing similar issues when I try to install it on macOS Mojave 10.14.6
trying different python versions don't help.

`Collecting vowpalwabbit
  Using cached https://files.pythonhosted.org/packages/d1/5a/9fcd64fd52ad22e2d1821b2ef871e8783c324b37e2103e7ddefa776c2ed7/vowpalwabbit-8.8.0.tar.gz
Building wheels for collected packages: vowpalwabbit
  Building wheel for vow

[2020-01-14 16:00] marco-rossi29 opened #2222 "use IPS estimator for average loss of --cb_type dr"
See #1696 for more details

--cb_type dr is a mode of learning, but we should enable the ability to use the IPS estimator to compute the average loss

[2020-01-14 19:50] kumpera commented on #1863
This cleanup will make my life easy speeding `-q ::` so I'm doing it

[2020-01-15 09:31] prakashjayy opened #2223 "installing using asdf python 3.7.0, poetry enviroment in linux fails."
#### Describe the bug
Build fails when trying to install within python3.7 environment using poetry.

#### Environment
What version of VW did you use?
[code]
What OS or language did you use?
[code]

#### Additional context

getting the following error

[code]
Anything i am missing ?

[2020-01-15 15:28] jackgerrits commented on #2223
From that output it is linking against libpython3.7m.a, which is not compiled as PIC which wont work. On my machine it links against the Python shared object.

- Can you please provide the entire output of the `pip install vowpalwabbit` command?
- Can you provide the output of `ls /home/user/.asdf/installs/python/3.7.0/lib`?

[2020-01-16 08:16] Prakashvanapalli commented on #2223
Hi,

following are the two outputs.

Can you please provide the entire output of the `pip install vowpalwabbit` command?

[code]

**Can you provide the output of ls /home/user/.asdf/installs/python/3.7.0/lib?**

the following three folders are present.
[code]

[2020-01-16 16:06] jackgerrits commented on #2223
In order to build the bindings the installed Python libs need to either be compiled with `-fPIC` for a static lib, or be a shared lib. The issue here is that the static lib that is installed is not build with `-fPIC`. I am not familiar with Poetry, is there a way to get it to install it as I described?

[2020-01-16 19:11] cheng-tan opened #2226 "--invert_hash does not include all features when reading from a list of files"
#### Describe the bug
When input is a list of files, `--invert_hash` only includes the features in the last file. For the features only exist in previous files they are ignored in invert_hash file.

#### To Reproduce
1. Datasets:
    1) 100k.json contains 100k events
    2) split 100k.json into 2 files, 50k_0.json and 50k_1.json
2. Generate model and invert hash for 100k.json
     1) vw --cb_adf -

[2020-01-17 19:13] jackgerrits opened #2228 "Create VCPKG package for VowpalWabbit"
Vcpkg is a C++ dependency management system that makes installation and consumption as a dependency very easy. We should support this for VW to allow consuming the lib as easy as possible.

Instructions for creating a new package can be found here: https://github.com/microsoft/vcpkg/blob/master/docs/examples/packaging-github-repos.md

[2020-01-20 06:36] Prakashvanapalli commented on #2223
I am not sure how to do that. Can u please help ? How to install python libs with -fPIC compiled?

[2020-01-20 09:40] hardianlawi opened #2229 "Incomplete argument documentation"
#### Describe the bug
There are missing explanations of the arguments on this page https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Command-line-arguments

One example is `--cb_type`. What are the available options? Also, since there are so many arguments, what are the default behaviors if the arguments are not specified? e.g. whether the label is multiclass or binary, etc.

[2020-01-20 14:58] serjioteh opened #2230 "--ngram option"
#### Describe the bug
From wiki doc:
"--ngram arg              Generate N grams.
                         To target a specific namespace write its name as a prefix to arg
                         (e.g. --ngram a2 --ngram c3)."

Writing a specific namespace as a prefix to arg doesn't affect on result.

#### To Reproduce
Steps to reproduce the behavior:
1. To train the model with --ngram option and

[2020-01-21 16:14] jackgerrits commented on #2223
How did you install your system Python? Also how did you install the virtual env? Did you install `python-dev` on your system aswell?

I tried to repro using Poetry and was not able to. Could you provide a repro?

[2020-01-21 18:12] jackgerrits commented on #2229
That wiki page is definitely out of date I'll take this and get it updated soon.

[This tutorial](https://vowpalwabbit.org/tutorials/contextual_bandits.html#vowpal-wabbit-tutorial) on the website touches on `cb_type`, and includes references.

[2020-01-21 18:39] jackgerrits opened #2232 "deprecate `--q:` as it is unused and superseded by wildcards in all interactions"
This option is no longer used in the code anywhere, it should be deprecated and removed. It has been superseded by usage of wildcards in interactions.

https://github.com/VowpalWabbit/vowpal_wabbit/blob/8d6f103f15dc70537e1691cda24a4ef5cd0e53f6/vowpalwabbit/parse_args.cc#L666

All that needs to be done is adding a deprecation warning when it is used and then once that has been released we can remov

[2020-01-22 21:02] kumpera opened #2234 "libvw and exception visibility"
In 2019 we changed vw's default visibility to hidden. It's important as it's faster and avoid exposing internal symbols to users of libvw.

Recent versions of clang as early as Apple clang version 11.0.0 (clang-1100.0.33.17), now enforce visibility rules to vtables and RTTI. This means that exceptions thrown from libvw can't be caught by programs even if they use them same headers. This happens be

[2020-01-27 22:18] annaluo676 commented on #2184
Thanks for assigning the task. @lokitoth, just wondering if there's any update?

[2020-01-28 20:54] jackgerrits commented on #2210
I worked with Paul via email to come to a solution that suits him.

If others find this and want something similar, I have [a branch](https://github.com/jackgerrits/vowpal_wabbit/tree/overwrite_simple_labels_in_cache_file) that allows simple labels to be overwritten in a cache file. This branch is very hacky - you cannot use this for any normal VW functionality. Make sure you use a normal VW binar

[2020-01-28 20:54] #2210 closed

[2020-01-29 18:24] peterychang opened #2240 "sklearn has deprecated LinearModel Mixins"
Related to https://github.com/VowpalWabbit/vowpal_wabbit/issues/2183
Sklearn has deprecated a lot of interfaces into the library in sklearn 0.22. Most of the issues have been addressed in https://github.com/VowpalWabbit/vowpal_wabbit/pull/2208, but there are 2 major objects we'll lose access to with no good replacements.

[code]
The two Mixin classes from LinearModel have been deprecated as of skl

[2020-01-30 15:59] rajan-chari opened #2241 "NAN issue when importance weight of an example is small"
#### Describe the bug
When the importance weight of an example is extremely small, it causes the gradient to go to inf.
This then causes a NAN during predict() in gd.

#### To Reproduce
Found when building a new reduction (continuous_offset_tree)

#### Expected behavior
When importance, weight falls below a certain threshold it should be modified.

#### Environment
What version of VW did you use?

[2020-01-30 16:14] jackgerrits commented on #2241
Can you please provide a repro?

[2020-01-31 16:04] kumpera commented on #2240
Can you add some sklearn references here from sklearn?
I could not find it.

[2020-01-31 16:13] kumpera commented on #2240
Here's the PR: https://github.com/scikit-learn/scikit-learn/pull/15324

I wonder what do we lose if we switch to ClassifierMixin/RegressorMixin.

[2020-01-31 16:16] peterychang commented on #2240
Here's an explanation of the deprecations (though it doesn't say exactly when the private API will be closed off)
https://scikit-learn.org/stable/whats_new/v0.22.html#clear-definition-of-the-public-api

The deprecation warning in sklearn 0.22 mention we'll lose them in 0.24. Their public API is documented here
https://scikit-learn.org/dev/modules/classes.html

[2020-02-01 11:03] hardianlawi commented on #2229
@jackgerrits if I specify the `cb_type` to `ips`, what is the algorithm used as the learner? I have been searching for it, but I could not find any reference. My guess is linear models trained in One-vs-all manner.

[2020-02-01 20:48] jackgerrits commented on #2229
It will use cost sensitive one against all and that will in turn reduce to gradient descent by default. You can override the default by providing command line options. I don't think there is a good central place to see a list of base learners other than where the reduction stack is defined [here](https://github.com/VowpalWabbit/vowpal_wabbit/blob/8ccb5ed724a066ba6c30838d80eb825b8c8eacb3/vowpalwabb

[2020-02-02 10:06] wally-mageia opened #2242 "8.8.0 build fails with -Wl,--no-undefined linker flag"
vw 8.8.0 build fails with -Wl,--no-undefined linker flag in current Mageia Cauldron (the development version):
[code]
[code]

[2020-02-02 10:07] wally-mageia commented on #2242
Build fails even without -Wl,--no-undefined:

[code]

[2020-02-02 15:27] hardianlawi commented on #2229
Thanks for your reply! Although it would be really helpful if you have some references that are more complete than the wiki.

For example, now I know they are not training `K` binary classifiers based on this [page](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Cost-Sensitive-One-Against-All-(csoaa)-multi-class-example)

However, I do not know what loss function they are using and also the ba

[2020-02-02 15:50] jackgerrits commented on #2242
@kumpera is this related to the symbol visibility stuff you were talking about? Is it possible newer compilers, GCC 9.2 in this case are enforcing different symbol visibility rules?

@wally-mageia if you are after the VW binary itself, the library targets don't need to be built. Could you try `make vw-bin` and see if that target can link?

[2020-02-02 19:18] jackgerrits commented on #2229
I agree, the coverage of the wiki is spotty. Any contributions to help improve the wiki are greatly appreciated. Yes, squared loss is the default as far as I can tell.

The GD reduction by default has all of the flags you mentioned turned off. See here:
https://github.com/VowpalWabbit/vowpal_wabbit/blob/8ccb5ed724a066ba6c30838d80eb825b8c8eacb3/vowpalwabbit/gd.cc#L1120

[2020-02-03 17:04] yannstad commented on #2230
Hi @serjioteh

I tried to reproduce and I do not see the issue.

**Input data for my test:**
`1 1.0 |MetricFeatures:3.28 height:1.5 length:2.0 |Says black with white stripes |OtherFeatures NumberOfLegs:4.0 HasStripes`
(chosen from the [wiki](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Input-format))

**VW version tested:**
Build from source (commit [c88fd5605aefd3df6b854f49fea714f0f741180c]

[2020-02-03 19:18] jackgerrits opened #2245 "LDA returns/finishes examples as part of predict/learn"
As a part of predict/learn LDA actually finishes and returns examples. This is unsafe, goes against the example lifecycle and cannot be worked with in library mode. LDA does this because it uses a minibatching mechanism that doesn't play well with VW's architecture.

LDA itself is a misusing memory right now. Once the minibatch processes, the example that returns up the stack is actually already r

[2020-02-04 15:39] jackgerrits commented on #2226
Repro:

1. Create two files:
    1. data1.txt
[code]
    2. data2.txt
[code]
1. Run: `vw data1.txt -f model1.vw --noconstant`
2. Run: `vw data2.txt -i model1.vw --readable_model readable.txt --invert_hash inv.txt --noconstant`

inv.txt:
[code]

readable.txt:
[code]

inv.txt only has 3 feature names, instead of the full 5 that are present as weights in the model. The missing values are the ones onl

[2020-02-04 19:13] jackgerrits commented on #2197
Tested this on current master, and the datafile has too many newlines at the end of the file. Removing one of the newlines stops the issue.

@AlexFridman it is possible that the original issue was due to passing an empty line through to VW?

Closing this as it does not reproduce now. Please reopen if it is still a problem.

[2020-02-04 19:13] #2197 closed

[2020-02-04 19:23] jackgerrits commented on #2183
Fixed in #2208

[2020-02-04 19:23] #2183 closed

[2020-02-06 15:44] jackgerrits commented on #2115
It seems this bug is more specifically to do with combining interactions and cache input.

Here is a smaller repro:
[code]

[2020-02-06 17:11] serjioteh commented on #2230
It seems that the problem is in vw-varinfo2.py script.
It works correctly with --ngram 2 and --ngram A2 B2 C2 options on small dataset. But when I run vw on the whole big dataset output files will be identical for --ngram A2 B2 C2 option and without it.
Nevertheless script will generate big output file with feature importance with --ngram 2 option and I can see inside the file 3-grams,4-grams,5-gr

[2020-02-06 17:11] #2230 closed

[2020-02-06 19:49] jackgerrits commented on #2242
@wally-mageia, additionally can you please provide your ld version? `ld --version`

[2020-02-06 19:58] jackgerrits commented on #2216
I'm not too sure about the issue with the consistent 4.74 predictions - @marco-rossi29, any ideas there?

That behavior should be working in current master (with one small caveat I'll address below), so perhaps there was an issue in 8.5.0. Can you try from master?

However, for the invert_hash if there is no known hash for a feature when you do invert_hash current behavior (master) is to skip it.

[2020-02-06 22:05] econinformatics commented on #2006
I see. So, a given coefficient for feature 'f2' doesn't get reset until 'f2' is seen in the training data, rather than performing a wholesale copy of the hashed feature space (an "initialization" using the initial model). That is surprising, but I guess makes sense. This means that you will "forget" in the initial conditions for features that don't appear in the latest iteration of model training,

[2020-02-07 04:11] #2194 closed

[2020-02-07 15:50] wally-mageia commented on #2242
[code]

[2020-02-07 16:30] wally-mageia commented on #2242
Looks like the libraries are built anyway as `make vw-bin` fails with the following:
[code]

[2020-02-07 16:32] pmineiro commented on #2024
If you have a fixed set of actions, you can assign each action a feature which uniquely identifies it and then interact that to get the equivalent of "--cb".  The following example encodes a 3-D vector feature observation and a set of 5 actions, where the 4th action was played by the logging policy with probability 1/7 and the observed cost was -1.

[code]

you would use this with a command line l

[2020-02-07 22:53] zli12 opened #2253 "When running in inferencing mode, vw failed on parsing input json if label is NaN or probabilities contains NaN"
#### Describe the bug
When running vw in inference mode using json format input, label probability information is not needed. Therefore, NaN in labels (_label_probability) should be ignored, so as NaNs in probabilities ("p").

Also, failing to parse NaN probability in one sample should not fail other valid samples in same batch.

#### To Reproduce
Steps to reproduce the behavior:
1. Command line
`

[2020-02-07 23:21] zli12 commented on #2253
[data.zip](https://github.com/VowpalWabbit/vowpal_wabbit/files/4173307/data.zip)
attaching the cooked log in json format for repro, the issue can be repro'd without a model file.

[2020-02-07 23:22] jackgerrits commented on #2242
@wally-mageia

I've been trying to reproduce the issue. I cannot get it to repro on the non-cauldron Mageia 7.1. This had GCC 8.3.1 and ld 2.32.

I wasn't able to install Cauldron because the network installer doesn't work as a bootable disk for VirtualBox. Can you advise how I can install Cauldron?

I also tried Ubuntu 19.10 which has GCC 9.2.1 and ld 2.33 and it did not repro.

[2020-02-08 13:51] wally-mageia commented on #2242
Netinstall .iso should be bootable in VB. I had no problems to boot from http://mirror.math.princeton.edu/pub/mageia/distrib/cauldron/x86_64/install/images/Mageia-Cauldron-netinstall-nonfree-x86_64.iso.

I can reproduce the issue also with Mageia 7.1, but it seems that it only happens if BUILD_SHARED_LIBS is ON.
[code]

[2020-02-09 21:57] XuandongZhao opened #2254 "segmentation fault in mac os catalina"
#### Describe the bug
I have successfully install the package. But when I want to run examples in vowpal_wabbit/python/examples/ there is always segmentation fault.

#### To Reproduce
os: mac os 10.15.3
python:  which python
/Users/zhaoxuandong/opt/anaconda3/bin/python
it is python 3.7.4 via anaconda

#### Expected behavior
when I use python to run pyvw, there is an error:
for example

[1]    7191

[2020-02-10 03:48] arielf commented on #2254
Might be the recurring binary incompatibility of anaconda's and Ubuntu's compiled libraries
See e.g. https://github.com/VowpalWabbit/vowpal_wabbit/issues/1095

[2020-02-10 06:57] XuandongZhao commented on #2254
I followed his steps and reinstall vowpalwabbit. But the segmentation error still exist.

[2020-02-10 10:08] arielf commented on #2254
Reinstalling vowpal wabbit won't help if the anaconda distro was built with a different (ABI) compiler, or different versions of C++ libraries (e.g. libboost.*), than the ones you're building vowpalwabbit with. These are inherently and fundamentally _binary_ incompatible.  You need to rebuild everything (incl anaconda itself) from _source_ with the exact same compiler and libraries to make it work

[2020-02-10 14:36] jackgerrits commented on #2254
If you're able to not use Anaconda, you can workaround this by using the system Python. So if you install vowpalwabbit outside of conda environment it might work

[2020-02-10 18:01] XuandongZhao commented on #2254
Yes, it works well without anaconda.

[2020-02-10 19:29] jackgerrits opened #2255 "Parser should skip examples in cmdline where it encountered an error"
When parsing, if an error is encountered then there is a message printed out and VW actually continues on. It is treated like a warning. This means that a malformed example is used as part of learning/inference.
If you wish to fail on malformed examples you can pass `--strict_parse`. This will cause the warning to become a throw and VW will exit on malformed examples. This is useful but not the wh

[2020-02-10 19:30] jackgerrits commented on #2253
Can be reproduced with:
[code]

There are two issues here:
1. "NaN" should be parsed as a float NaN even though it is a string.
2. We should improve the parser behavior so that it properly skips over examples on failure

I am going to address 1 as part of this issue and since 2 is a larger amount of work which will take longer it will be tracked by a separate issue. (#2255)

[2020-02-10 19:31] #2232 closed

[2020-02-10 21:46] #2115 closed

[2020-02-10 21:55] jackgerrits commented on #2211
After trying this and investigating further I don't think this is worth pursuing. It may work for some things but often there is no network access at build time. It is possible we could use FetchContent as a backup if the CMake is not able to find the dependencies initially.

[2020-02-10 21:55] #2211 closed

[2020-02-11 05:07] XuandongZhao commented on #2254
I install successfully in my laptop. But when I use same instructions on my iMac, it still output segmentation fault.
My python is /usr/local/bin/python3 it is python 3.7.6.
vowpalwabbit version is 8.8.0
os: mac os 10.15.3

[2020-02-11 15:33] Smit-create opened #2257 "Error while using sudo make install"
[code]

[2020-02-11 15:39] jackgerrits commented on #2257
CMake ships FindBoost.cmake modules with each release and they support up to a certain version of boost, which means for newer versions of Boost you need the correct version of CMake that supports the given Boost version.

You can determine the supported Boost version for each CMake version by inspecting the variable: `_Boost_KNOWN_VERSIONS` in FindBoost.cmake.

Here is that [variable for the CMak

[2020-02-11 16:11] peterychang commented on #2160
Wiki is updated. PR to link the README to it is up
https://github.com/VowpalWabbit/vowpal_wabbit/pull/2258/files

[2020-02-11 16:53] #2160 closed

[2020-02-11 17:18] Smit-create commented on #2257
Thanks it worked :)

[2020-02-11 17:40] #2257 closed

[2020-02-11 23:28] cheng-tan opened #2260 "push_many in v_array errors out"
#### Describe the bug
On windows, memcpy_s() in push_many method has wrong destination size

#### To Reproduce
1. Create a test.dat with one example: `+1 | happiness:1`
2. Run `vw -d test.dat --affix +2 --audit`
3. It failed with an exception on windows

#### Environment
vw8.8 on Windows

[2020-02-12 15:24] peterychang commented on #2123
We currently have 2 very different workflows, which complicates this issue. Regardless of what the final design is, we will need to unify them
1. JSON parser
This parser reads in a single line of JSON and outputs a vector of examples. In the case of a multiline example, the vector contains all the examples. Example allocation occurs within the parser itself via a factory object
2. Text (maybe cach

[2020-02-12 15:34] peterychang commented on #2123
If we take futureproofing into consideration (ie: multiple parser threads) there are no small changes to fix the ring_size problem.

For example:
Assume we have the following setup
- 2 json parser threads
- ring-size == 4

Now, assume each thread is parsing a multi example with 4 actions each. Each thread has at least 1 example reserved, so neither thread will be able to complete its parsing; resu

[2020-02-12 15:43] peterychang commented on #2123
While not a perfect solution, a temporary workaround to this problem could be to cap the parsed examples queue size. This wouldn't give us the ability to enforce a hard cap, but it wouldn't be too far off. The max pool size in this case would be
`max_pool_size = max_queue_size + max_multiline_size * (num_learner_threads + num_parser_threads)`

[2020-02-12 17:04] haltux opened #2262 "vw --cbify does not properly handle multi-label dataset"
#### Describe the bug

Multi-label datasets for CB experimentation seems to be highly relevant considering that practically, in real life CB problem, several actions often lead to sucess, which unless I am missing something is not the case in experiments based on multi-class problems.

It seems that multi-label dataset can be generated to be used by Vowpwabbit for CB experiments. I have not found

[2020-02-12 20:28] jackgerrits opened #2264 "Multiclass labels do not error when given a multilabel"
The core of the issue here is that the number parser used for multiclass labels (and other places I'm sure) doesn't check that the number it parsed was the entire token. The parser should use the endptr strtol argument of `strtol` to check that the entire token was the number.

The label `1,2 | ...` which is a valid multilabel is interpreted as a multiclass label of `1` but instead there should be

[2020-02-12 20:28] jackgerrits commented on #2262
Hi @haltux,

So there are two things here. `--cbify` takes multiclass labels, and not multilabels. As you correctly noticed, the parser is actually extracting the first number and using that as the label here. This is clearly a problem, the parser should have given you an error instead. I've created issue #2264 to track this.

The second thing is how you can achieve the behavior you're looking for

[2020-02-12 21:56] pmineiro commented on #2262
Your question unfortunately requires a verbose response.

## Supervised Multi-class and Multi-label

Consider a multi-class problem with 4 classes.  For each input there is one good class and 3 bad classes,  so the possible cost vectors all have a single zero in them and the rest ones like (0, 1, 1, 1), (1, 0, 1, 1), etc.   Because there is only "one good class" per example it is common to conside

[2020-02-13 16:02] peterychang commented on #2100
@elviraux Unfortunately this is not an issue we can resolve from our end. Conda needs to rebuild python on a newer version of OSX, linking against libc++ (instead of libstdc++)

The only workaround at the moment is to avoid using anaconda on MacOS 10.14+

[2020-02-13 16:21] peterychang commented on #2100
One planned task _may_ actually resolve this issue (this is likely how other libraries work despite the missing library).

Only the c++ library is incompatible, the underlying c library should be compatible. If we created a VW shared object with a pure C  interface, and called those functions directly from the python wrappers, we should be able to resolve the crashes.

**NOTE** This is a _long-ter

[2020-02-13 17:36] #2026 closed

[2020-02-13 20:30] arielf commented on #2254
Also sounds like the same (or very similar) issue as  https://github.com/VowpalWabbit/vowpal_wabbit/issues/2100

anaconda is very sensitive to C++ incompatibilities, it locks you into a full ecosystem (compiler, compilation options, libs) which are often incompatible with other compiled software written in C++.

@peterychang (thanks) has done a great job explaining the issue in #2100 and giving so

[2020-02-13 22:33] #2253 closed

[2020-02-14 06:03] Smit-create opened #2267 "Documentation of pyvw.py"
#### Describe the bug
The documentation of `pyvw.py` can be corrected i.e to add essential details like Parameters, Return type, Examples etc. The documentation of `sklearn_vw.py` provides with this essential details and becomes easy to use at the user end. We can also follow the specific patter of documenation in all `.py `files as in https://numpydoc.readthedocs.io/en/latest/format.html#sections

[2020-02-14 12:49] jackgerrits commented on #2267
100% agree, the documentation can be improved. I do like the suggestion of following the sections that numpy uses, that seems quite complete. Let's see if any others have opinions here.

By the way, docs are hosted here: https://vowpalwabbit.org/docs/vowpal_wabbit/python/html/
They are currently updated manually which is why they are out of date. I've started work on automatic updating, I have CI

[2020-02-14 15:50] Smit-create commented on #2267
Thanks @jackgerrits . Okay lets wait, once everyone agrees, I will open a PR of the same

[2020-02-14 15:52] Smit-create commented on #2267
Yes, seems that `pyvw.py` documentation needs an attention.

[2020-02-14 19:34] kumpera commented on #2146
I can confirm this on ubuntu. Working on it.

[2020-02-14 19:46] Smit-create opened #2268 "Increase coverage of pyvw.py"
#### Describe the bug
The code coverage report of `pyvw.py` is:
[code]
An html code coverage report can be generated locally with:
`/vowpal_wabbit/python$ pytest --cov=vowpalwabbit.pyvw --cov-report=html tests/test_pyvw.py`

Below is the code coverage report of `sklearn_vw.py` which looks good:
[code]
Does increasing the code coverage report seems to be a good idea to work upon?

[2020-02-14 20:20] jackgerrits commented on #2268
Adding tests is always welcome! 😄

[2020-02-14 20:23] kumpera commented on #2201
I can reproduce that on linux + ncat. Looking into it.

[2020-02-15 04:00] Smit-create commented on #2268
Sure! will open a PR for that to work upon.

[2020-02-15 04:42] Smit-create commented on #2268
I have started working on it. But without documentation is hard to run them. In `SearchTask()`, that type of object should be `sch`?

[2020-02-15 13:20] jackgerrits commented on #2268
The search objects are complex, I would suggest you skip over them for now. If you would like to learn more have a look at these resources:
- https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Learning-to-Search-Sub-System
- https://hunch.net/~l2s/

[2020-02-15 13:59] Smit-create commented on #2268
Okay!, will look over that

[2020-02-15 19:27] kfoofw commented on #2216
thanks @jackgerrits. I'll update my vowpal wabbit version to the current master and update any findings on this!

[2020-02-17 23:49] kfoofw commented on #2216
Hi @jackgerrits, thanks for your help. The latest version of vowpalwabbit on the repo master (8.8.0) solved the issue of the constant prediction.

As part of the update, here's a description of the issues that I encountered in 8.5.0, which were fixed using vw=8.8.0.
- Constant prediction issue using multi pass model is fixed
- Invert hash on multipass of 1 pass binary model versus implicit single

[2020-02-17 23:49] #2216 closed

[2020-02-18 15:11] Smit-create opened #2271 "Test failure in test_sklearn.py"
#### Describe the bug
The following test fails in `test_sklearn.py` when ran locally
[code]
.

[2020-02-19 00:48] marat-turaev opened #2272 "C# bindings on .NET core 3.1"
Starting with .NET core 3.1, it's possible for C++/CLI projects to target .NET core on windows (source: https://docs.microsoft.com/en-us/dotnet/core/porting/cpp-cli).

Related: #1685

[2020-02-19 16:28] marco-rossi29 opened #2274 "NaN prediction in example"
creating quadratic features for pairs: pc
ignoring namespaces beginning with: s
Enabling FTRL based optimization
Algorithm used: Coin Betting
ftrl_alpha = 4
ftrl_beta = 1
Num weight bits = 18
learning rate = 0.5
initial_t = 0
power_t = 0.5
creating cache_file = 20200214192500_data_2020_02_19_0.json.cache
Reading datafile = 20200214192500_data_2020_02_19_0.json
num sources = 1
average  since

[2020-02-20 15:25] #1935 closed

[2020-02-20 16:08] jackgerrits commented on #2271
Does not repro in master for me locally. This test is run in CI as well. Is the installed copy of the Python package edited or code directly from master?

[2020-02-20 17:51] #2271 closed

[2020-02-20 19:07] #2101 closed

[2020-02-20 22:12] RituRajSingh878 commented on #2046
Hi @rajan-chari ,
I am new here and I would like to contribute so can you please elaborate on the issue so that I can proceed.
Thanks

[2020-02-20 22:19] adityauser commented on #2031
Hello @rajan-chari ,
I have read VW documentation related to Contextual Bandit and I would love to contribute in this domain. Can you please elaborate on this issue?

[2020-02-21 14:44] adityauser opened #2281 "Python examples doesn't support recent version of scikit-learn i.e. 0.22"
#### Describe the bug
A clear and concise description of what the bug is.
Example in https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/python/examples/sklearn_vw.ipynb use outdated terminology(Look at the 2nd cell):
`RandomizedSearchCV `module is now under `sklearn.model_selection`, and not any more under `sklearn.grid_search`  .
Onwards scikit-learn version 0.18.1 `grid_scores_` is no lon

[2020-02-21 17:29] #2146 closed

[2020-02-21 18:03] #2226 closed

[2020-02-22 01:43] mebaran opened #2284 "ARM Support"
I would like to use vowpal wabbit on ARM.  However the only thing stopping me is the sse2 and sse flags in the CMakeList.txt config.  Is there any reason not to use -march=native to support the best floating point instructions on all architectures?

Most tests seem to pass when I do this except some concerning active simulation.  Anything I can do to help add the support?

Link to test failure out

[2020-02-22 03:32] jackgerrits commented on #2284
Hi @mebaran,

Supporting ARM is really important, thanks for bringing this up. I wasn't aware of `-march=native`, seems like it would be really useful for making the builds simpler for cross platform. I'll look into changing our build script for this.

Briefly looking at the test output, it seems like the failure is caused by float differences. I'm not surprised given it was run on ARM, I've notic

[2020-02-23 04:14] Smit-create commented on #2281
It is also related to #2240

[2020-02-23 05:31] RituRajSingh878 commented on #2014
@rajan-chari  I am trying to implement this and I am proposing a method in which I will make a new function `examples` and it will take a multiline example, example or list of examples and will return a list of examples.

[code]
[code]

[2020-02-23 23:28] mebaran commented on #2284
Yes, -march=native will activate the ideal floating point system for each binary built.  The tests were all run via make test.

In terms of CI, ARM machines are pretty easy to come by these days and Travis CI has native support.  The build script executed cleanly on ARM so I would bet it would be minimal effort to support actually (assuming your CI is run on top of Github Travis)

[2020-02-24 00:37] #2254 closed

[2020-02-24 14:03] #2201 closed

[2020-02-24 15:47] jackgerrits commented on #2284
We've been investing in CI on Azure DevOps, from a quick look it doesn't seem that easy to run ARM there. Might be worth using travis for the easy integration. I'll discuss that and come to a solution

[2020-02-24 23:43] Sharad24 commented on #1868
@jackgerrits Could you point to an example of a case matching this issue? It looks like there are _very_ few of them present now.

[2020-02-25 17:29] rads284 opened #2290 "Error Handling in cli tool"
#### Describe the bug
The vw cli tool does not check for bad parameters. It doesn’t validate the command being passed.

#### To Reproduce
Steps to reproduce the behavior:
1. Used this specific command line i.e. `vw -`

#### Expected behavior
Bad parameter and help should appear.

#### Observed Behavior
`Num weight bits = 18
learning rate = 0.5
initial_t = 0
power_t = 0.5
using no cache
Reading dat

[2020-02-25 17:59] jackgerrits commented on #2290
There is a single positional parameter that is the data file to be used. In this case the tool is interpreting the `-` as the datafile as you can see by these lines:
[code]

[2020-02-25 19:00] RituRajSingh878 commented on #2290
By using only this `vw` command, same behavior is observed also it hangs in end. So I think it should check the passing argument and with the bad parameter, it should suggest to use help.

[2020-02-25 19:01] jackgerrits commented on #2290
When running just `vw`, it is waiting to accept input from stdin. If you pass EOF (cntrl+D) then it will exit gracefully.

[2020-02-25 19:14] RituRajSingh878 commented on #2290
@jackgerrits thanks
my bad!

[2020-02-25 21:01] jackgerrits commented on #1868
In example_predict.h you'll notice there is a typedef of `namespace_index` to `unsigned char`. Namespace indices are the majority offender for this issue I'd say.

So this issue is mostly a work item about auditing usages of namespace indices and making sure that we are doing the correct thing. Namespaces are stored as a `std::string`, and so is a list of signed characters. But we use them as an u

[2020-02-25 21:15] Sharad24 commented on #1868
Ah gotcha, thanks! Will take a look

[2020-02-26 01:39] gramhagen commented on #1469
@jackgerrits I dug in a bit more on item 1. I believe lazy initialization is the right construct for this estimator, and it was added to support sklearn [pipelines](https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline). We should keep the vw model construction out of __init__ to maintain support for this. Handling the case where a data file is

[2020-02-26 01:48] rads284 commented on #2290
Shouldn't it hold of other outputs as well?

On Tue, 25 Feb, 2020, 11:29 PM Jack Gerrits, <notifications@github.com>
wrote:

[2020-02-26 02:54] jackgerrits commented on #2290
Could you elaborate? I’m not sure I understand.  Are you noticing VW failing to error out on other invalid command lines?

[2020-02-26 08:05] Shivanshmundra opened #2291 "Badly Formatted Example"
#### Describe the bug
 cb_adf: badly formatted example, only one line can have a cost
![image](https://user-images.githubusercontent.com/25545489/75324095-2f4ded00-589c-11ea-80f5-b2902cdee33b.png)

#### To Reproduce
Steps to reproduce the behavior:
I have uploaded my code in a collab notebook [here](https://colab.research.google.com/drive/1tVbOULvH3oM5bMe5pRR381izYdTE1JQz).
Although, collab crashe

[2020-02-26 12:42] Casperfrc opened #2292 "Issue with dependency parsing demo"
#### Describe the bug
The demo is in the following directory:
_vowpal_wabbit/demo/dependencyparsing/_

Following the _README.md_, that gets posted after running the Makefile, I try to run the following command:
_make dep.perf_

This returns:
`/bin/bash: ../../vowpalwabbit/vw: No such file or directory `

I have tried changing the path to a lot of different parts of that directory but with no luck.

[2020-02-26 12:47] jackgerrits commented on #2292
Thanks for pointing this out. It looks like the issue is it can’t find the vw binary to use. If you’re using an installed vw binary then you should be able to change line 2 of the makefile to
[code]

If you built it yourself then you need to point it to the build output dir
[code]

[2020-02-26 13:08] bhavukkalra commented on #2228
hello @jackgerrits I would love to work on this as a first issue. Could you please guide me to what particular C++ files to package with it. I am having trouble finding them in the repo.
It would be great to get a head start.

[2020-02-26 13:12] jackgerrits commented on #2228
I had a first crack at this a few weeks ago and this issue is actually blocked on symbol export issues we noticed in #2235. Before we can reasonably create a VCPKG package all of the internal libs need to properly export symbols for when they are built as dynamic libs.

[2020-02-26 14:17] Casperfrc commented on #2292
Hey @jackgerrits,

Thanks a lot, it worked like a charm and thanks for the work you guys are doing with this library.

Have a great day!

- Casper

[2020-02-26 14:33] jackgerrits commented on #2291
I had different issues running this off 8.8.0, which may be related. It did not repro for me on current master though. Could you please try running your notebook based on master?

You can install the pip package from latest master with:
[code]

[2020-02-26 14:33] jackgerrits commented on #2292
@Casperfrc you're welcome, glad it was a quick fix!

[2020-02-26 14:33] #2292 closed

[2020-02-26 16:09] Shivanshmundra commented on #2291
@jackgerrits It says Requirements are already satisfied. I guess master branch is on `8.8.0`.

[2020-02-26 16:10] jackgerrits commented on #2291
You will need to uninstall the existing package first or force the installation. Version numbers get updated when we move to the next version.

[2020-02-26 18:49] jackgerrits commented on #2284
I tested changing the build flags to use `-march=native` and on my machine some of the tests begin to fail. I assume this is because some floating point logic changed and sufficiently changes the results so we start to fail in some cases. It would be reasonable to add a CMake option to allow overriding the current flags with `-march=native`

[2020-02-26 21:34] Shivanshmundra commented on #2291
@jackgerrits Thanks, this solved the issue. Closing this issue for now.

[2020-02-26 21:34] #2291 closed

[2020-02-26 21:44] jackgerrits opened #2295 "Python cbandit_label str function provides incorrect output"
The `cbandit_label` type provides a str function to convert the object back to a string representation. That is currently structured as:
[code]

I would expect this output to match the input form for these labels, which can be found [here](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Logged-Contextual-Bandit-Example). The use of the word `label` is also is misleading. It is actually the acti

[2020-02-27 02:27] Smit-create commented on #2295
I would like to work on it and I will submit a PR soon.

[2020-02-27 21:19] thealphadollar commented on #2281
@jackgerrits I would love to work on this. I hope this issue is free :smile:

[2020-02-28 04:09] rads284 commented on #2290
No, I am not. My bad.

On Wed, 26 Feb, 2020, 8:24 AM Jack Gerrits, <notifications@github.com>
wrote:

[2020-02-28 04:46] mritunjaysharma394 opened #2298 "[Documentation Improvement] CMake error: Could not Find ZLIB error while using make"
#### CMake error: Could not Find ZLIB error while using make

After the use of `make` command (while configuring and building vw), CMake error propped up with the following message:
`CMake Error at /usr/share/cmake-3.10/Modules/FindPackageHandleStandardArgs.cmake:137 (message) : Could NOT find ZLIB (missing: ZLIB_INCLUDE_DIR)`

![Screenshot from 2020-02-15 04-34-54](https://user-images.githubuserc

[2020-02-28 13:51] jackgerrits commented on #2290
Closing as it seems as though this is resolved, if there are further issues please reopen.

[2020-02-28 13:51] #2290 closed

[2020-02-28 13:51] jackgerrits commented on #2281
Yes this issue is free, please feel free to work on it

[2020-02-28 17:04] RituRajSingh878 opened #2300 "Problem in Implementing VWRegressor model and Other VWClassifer model"
I am trying to integrate different models of `sklearn` with `VWRegerssor` and `VWClassifier`.
But I am a little bit confused with VW and How it works.

Let's assume I am trying to implement/integrate multiclass classifier in VWClassifier then How should I proceed with VW-
https://github.com/VowpalWabbit/vowpal_wabbit/blob/3c0f0ffb84c47701521abba6450a8cf7b39fba83/python/vowpalwabbit/sklearn_vw.py#L

[2020-02-28 17:15] jackgerrits commented on #2300
@gramhagen are you able to help answer this?

[2020-02-28 19:04] RituRajSingh878 commented on #2300
I think, then logistic will not make any sense here. But let's assume, I wish to add linear models like `Laso`, `ridge`,` linear regression` then?. I want to extend the VWRegressor and VWClassifier with different sklearn models.
Also, `VWClassifier`  doesn't support multiclass classification so if I want to extend it then how should I proceed?

[2020-02-28 20:10] thealphadollar opened #2303 "[IMPROVEMENT] Remove Outputs From Existing Python Examples"
Some of the examples (for instance [Contextual_Bandit_Example_with_VW_Python_Wrapper](https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/python/examples/Contextual_Bandit_Example_with_VW_Python_Wrapper.ipynb)) do not have the corresponding output with them. We should add outputs since,

- The output provide a base expected result and if something is an amiss user trying the example can easi

[2020-02-28 20:11] jackgerrits commented on #2303
The problem with outputs is it makes the already very hard to review notebook file even harder. I think it is better to have outputs left cleared.

[2020-02-28 20:17] jackgerrits commented on #2303
I think the ideal way would be to reduce the friction to run the notebooks. We have a [separate repo](https://github.com/VowpalWabbit/jupyter-notebooks) for use with Binder so notebooks are easy to run. I would prefer we invest in that than check in evaluated notebooks. Some of the notebooks under python/examples need a bit of love which is why they haven't been migrated

[2020-02-28 20:27] thealphadollar commented on #2303
Sounds good to me. What about removing output from existing ones, like https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/python/examples/poisson_regression.ipynb

Shall I help with that?

[2020-02-28 20:30] thealphadollar commented on #2303
Also the one I'm attaching below is very creator specific and requires some files to be present in a particular directory. What can we do about this?

[2020-02-28 20:38] jackgerrits commented on #2303
Yeah, go ahead and clear the outputs, that would be helpful thanks.

I'm not sure what to do about that one at the moment. I think what's best would be to make it generic. It's reading a pred file, I'm just not quite sure which prediction type it is right now.

[2020-02-28 20:57] thealphadollar commented on #2303
@jackgerrits If you can somehow (if possible) provide me the file it is trying to access, I'll update it accordingly :)

[2020-02-28 20:58] jackgerrits commented on #2303
That's the thing, it was last edited 4 years ago. I don't know what it was run against.

[2020-02-28 21:01] thealphadollar commented on #2303
Noted. IMO either we should remove it or try to find an alternative input file. Now, finding an input file to fit an already written notebook could be tough, I guess. Although I would be in favor of removing (or marking it in a manner that depicts it doesn't work), I would surely try to find a suitable input if you think it's worth investing time in.

[2020-02-28 21:03] jackgerrits commented on #2303
Agreed, I would like to avoid removing it though. It's just about finding the time to work it out :)

[2020-02-28 21:12] thealphadollar commented on #2303
Cool. It's quite late here in India but I'll certainly see if I can try to fix it tomorrow. Thanks for the help :) and quick responses.

[2020-02-28 21:35] gramhagen commented on #2300
@RituRajSingh878 you can change the loss function, regularization and a few other parameters used with the current implementation of VWRegressor. See options here: https://github.com/VowpalWabbit/vowpal_wabbit/blob/e3f4038dbfb890058ff128d69a44ffec7c251236/python/vowpalwabbit/sklearn_vw.py#L186

However, the sklearn implementation is just a wrapper around the pyvw binding, which in turn is just a w

[2020-03-01 10:44] RituRajSingh878 commented on #2300
I will have to look more into this so that I can understand it clearly after that I will try to work around this.

Initially, I misunderstood the working of VWRegressor but I get it now.

 I will try to add `VWMulticlassiifer` and will open a pr for the same.

[2020-03-01 10:48] RituRajSingh878 commented on #2264
I want to work on the issue, but I don't know form where I should start.

And if I make some changes in files(.cpp or .cc) then How should I check it or test it?
(we do for python files `python setup.py install --user `and `python3 - pytest ./python/tests/`)

[2020-03-01 11:37] Shivanshmundra commented on #2264
@RituRajSingh878 once you change files, you can build the solution just like you install Vowpal Wabbit from source and see how is this working. [Here](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Building) is the link to do that.

[2020-03-01 14:43] Shivanshmundra commented on #2264
@jackgerrits As I was looking into algorithms, I was looking into this problem. I could not work out the solution suggested by you because:
* ```strtol``` finds the number in the remaining string from ```endptr```.
* Without tokenization lines can't be separated as examples.
But using tokenization in ```multiclass.cc``` can solve this problem. I have solved using this and submitting PR.
@RituRajSi

[2020-03-01 18:12] RituRajSingh878 opened #2308 "Pandas load and save from VW text format"
I try to work around this and would love to contribute. But I don't understand precisely the expectations of the VW community with this. So if anyone can explain it more clearly, it will be very helpful. As I realized, I have to add a class that will be going to read the VW formate data and will convert it so that pandas can read and then we can do what panda can do inside the VW.

Maybe something

[2020-03-01 18:52] thealphadollar commented on #2308
I guess something similar would be cool. What I think is that one alternate could be actually contributing to the Pandas community and adding a method to read our data format just in a manner that they have `read_csv`. This can later on be extending to loading from new formats as well that we go on to support.

@jackgerrits What do you think about it?

[2020-03-01 18:58] thealphadollar commented on #2303
Hey @jackgerrits , as you must be knowing the attached example, which we discussed briefly, has files missing from the example. Very apparently, one file `pred_original.out` are outputs on some data (again unknown) after ground truth  which is also not available to us (I may be wrong here). Then there is `pred_with_ce_original.out` which seems to be the output before ground truth method was applie

[2020-03-02 10:50] Smit-create opened #2309 "FileNotFound Error in Uncertainty_Scores_and_Prediction_Errors"
While running the `vowpalwabbit/python/examples/Uncertainty_Scores_and_Prediction_Errors.ipynb`. I get the following error:
[code]

#### Environment
What version of VW did you use?
What OS or language did you use?
Ubuntu 18.04 LTS

 `VW 8.8.0 on ubuntu 18.04 LTS with the Python bindings`

.

[2020-03-02 11:29] RituRajSingh878 commented on #2309
`os.chdir `is just a command to change the directory. And that directory doesn't exist in your local.
So it is raising an error.

[2020-03-02 12:43] Smit-create commented on #2309
Thanks @RituRajSingh878 for your response. I guess it is should be present with the examples provided so that the .`ipynb` files run without error. At the user-end, they should be able to understand the content of the` .ipynb` file by running them. So I think that we must make sure that the required file/directory is present along with the examples so they run smoothly.

[2020-03-02 15:01] jackgerrits commented on #2298
Was this on a 64 bit install of Ubuntu? Did you run `sudo apt install zlib1g-dev`?

I'm wondering how it would fail to pick up zlib, but I don't think directing users to install the 32bit variant is the correct course of action here.

[2020-03-02 15:32] thealphadollar commented on #2309
This issue is a duplicate of the discussion we are having in #2303 where I and @jackgerrits are talking about the same problem. This issue can be safely closed :)

[2020-03-02 15:43] thealphadollar opened #2310 "[IMPROVEMENT] Python Version And Dependency Management"
As evident from #2307 failing tests, and numerous problems with not fixating on versions for various python dependencies; we should adopt `Pipenv` which will help us limit python version as well as very minutely manage the dependency versions we would be using. It offers numerous benefits which are listed in [this amazing article](https://opensource.com/article/18/2/why-python-devs-should-use-pipe

[2020-03-02 18:40] jackgerrits commented on #2309
Closing this as this issue is present in #2303

[2020-03-02 18:40] #2309 closed

[2020-03-02 18:46] jackgerrits commented on #2310
The issue seen in #2307 is from using a private method that isn't part of the API, and as such there are no compatibility requirements between versions. Simply enforcing this particular version is not a good way forward as it means we cannot upgrade dependency versions without breaking code.

Given the small number of dependencies of VW I do not see the benefit of using a system such as Pipenv.

[2020-03-02 18:58] TheLethalCode commented on #2255
@jackgerrits I'd like to work on this if the issue is free.

[2020-03-02 19:15] thealphadollar commented on #2310
I certainly understand. My apologies, I intended to mean the difference in versions of the SKLearn package.

Also, I totally understand the intuition behind a choice of not adopting Pipenv since it'll be another part where we'd have to maintain up to date information. What do you think about updating the current versions of packages in `requirements.txt` to newer ones?

I can test everything with

[2020-03-02 19:15] peterychang commented on #2310
In general, we should be trying to maintain compatibility with the latest version of all our dependencies. Any maximum version exclusions should be a temporary measure while we work on the changes required to become compatible.
A good example of that would be setting sklearn < 0.24 until we can find a fix for #2240.

We should strive to make VW work with as many versions of our dependencies as pos

[2020-03-02 19:19] thealphadollar commented on #2310
Sounds perfect to me. @peterychang Shall we update the requirements.txt file?

[2020-03-02 19:32] jackgerrits commented on #2310
I believe @peterychang just suggested we should **not** update the requirements.txt file as we want to maintain compatibility with as many versions as possible.

[2020-03-02 19:34] peterychang commented on #2310
@thealphadollar no, sklearn is only on 0.22, there's no reason to prematurely restrict the sklearn version. Issue #2307 is attempting to use functionality thats already been deprecated, which we should not be doing

[2020-03-02 19:38] thealphadollar commented on #2240
Hey @peterychang

What do you think about writing the above classes by ourselves using the Public API instead of importing them from the new version? This will also ensure that in future we can be sure that we don't end up having broken code often.

I believe it should be fairly easy as it'll only require us to write one or two methods by ourselves and use the parent of the `LinearClassifierMixin`

[2020-03-02 19:39] thealphadollar commented on #2310
Understood. Thank you for the clarification and discussion. I will close the issue then, for now.

[2020-03-02 19:39] #2310 closed

[2020-03-03 09:20] RituRajSingh878 commented on #2300
I am trying to implement like this-

[code]

But before opening a pr, I want to check it with you that I am heading in right direction.
Thanks

[2020-03-03 09:22] RituRajSingh878 commented on #2308
@jackgerrits anything here?

[2020-03-03 09:36] mritunjaysharma394 commented on #2298
Yes, this was on a 64 bit install of Ubuntu and I tried it to fix it earlier with ```sudo apt install zlib1g-dev``` . However it did not fix the error, so I had to install the i386 variant and then it worked

[2020-03-03 13:26] jackgerrits commented on #2308
Well part of this project is designing how it will look. Pandas is pretty much just a table, (correct me if I'm wrong). But VW has more rich descriptions that must captured when doing this work, such as namespaces/feature groups and labels. Working out how to best make that work in a pandas based scheme will be an interesting challenge. Before we consider contributing anything to Pandas it needs t

[2020-03-03 20:27] #2295 closed

[2020-03-03 22:30] #2303 closed

[2020-03-03 23:00] jackgerrits commented on #2298
This is really odd. I understand that installing the i386 variant fixed things for you, but this isn't normal behavior as far as I can tell and it's definitely not something we should be directing our users to do as part of setting up their environment.

Do you have any ideas as to what may have caused your environment to get in this state? Is it a fresh install of Ubuntu 18.04?

[2020-03-03 23:38] thealphadollar commented on #2308
Sounds reasonable. Correct me if I'm wrong, this is one of the crucial parts of project 5 for open source fest.

[2020-03-04 01:00] marat-turaev commented on #2272
#2273 is ready for review.

[2020-03-04 04:43] RituRajSingh878 commented on #2308
@jackgerrits  It is a table representation but contains reach information of the data set. Also, We can keep the feature of the VW format dataset with pandas. The more important thing is, We can get more information which we can't see directly from the data set using pandas as it is capable of doing almost any type of manipulation with data. Also, we can change the given data into many formats of

[2020-03-04 04:51] RituRajSingh878 commented on #2300
@gramhagen any suggestions on the above-commented code?

Also, I am wondering that do we have score functions for telling different types of scores after fitting train data and prediction of the test data like` r2_score`, `f1_score`,  `confusion matrix` and others.

[2020-03-04 14:05] gramhagen commented on #2300
@RituRajSingh878 thanks for starting this. I think we should leverage the internal multiclass support that vw offers using learners like oaa. In fact the existing VW class does support multiclass output

[code]

So I think the key will be just to enforce use of probabilities and one of the multiclass learners (like oaa for default). Then we need to match the multiclass sklearn api, so it would be

[2020-03-04 15:47] jackgerrits opened #2317 "Memory leak in vw_dll_parse_escaped unit test"
This unit test ensures that an exception is thrown with this line:
[code]

However, it seems that this operation is not exception safe causing Valgrind to report leaks in this test.

Once this is fixed we should turn on unit tests in the Valgrind CI.

Related to #2122

[2020-03-04 16:06] RituRajSingh878 commented on #2300
I don't understand this part mainly "matching with multiclass sklearn api", so can you explain it in more detail?
And What about score functions? Do we have any?

[2020-03-04 16:59] lokitoth commented on #2317
I am concerned that we are throwing an exception across an `extern "C"` boundary.

Is it even valid to do this?

This may not just be a test-issue.

[2020-03-04 17:02] jackgerrits commented on #2317
Yep it's a **big** issue with the C API right now. But we can't fix it without breaking it because we don't actually have a mechanism to communicate errors. It is valid to throw in this case IFF the function is used in a C++ program. If this were linked and called as a C function it would bring down the program (which we have seen reports of before: #2121).

[2020-03-04 17:03] jackgerrits commented on #2317
Technically we could mitigate this function with nullptr - which we probably should do. But there are plenty of other functions in the C API which cannot communicate errors because of `void` return values.

[2020-03-04 17:16] gramhagen commented on #2300
the goal of the sklearn_vw module is to provide an API that matches what sklearn has, so you can use the same syntax and integrate this with other tools in the sklearn eco-system. The object inheritance you specified should provide the method support needed. I think we may just need to override the decision_function() method?

One way to test this out would be use an sklearn test case and replace

[2020-03-04 18:58] mritunjaysharma394 commented on #2298
While the Ubuntu 18.04 install is not a fresh one, I can say that the issue here is with CMake which can create problem in some machines (my friend also faced the same issue). While trying to find a fix, I found that the ZLIB header was found, but the library itself was not (one if is executed, the other isn't). Thus both `find_library calls` in the `FindZLIB.cmake` fail for some reason. Unfortuna

[2020-03-04 19:56] jackgerrits commented on #2298
Installing the 32 bit variant cannot be the official instruction as if it is used it will cause crashes.

This issue discusses something similar: https://github.com/mesonbuild/meson/issues/4812. I want to try and get a better understanding of your environment to see if we can work out the root cause and fix this. Can you do these things for me?
1. What is the output of `cmake --find-package -DCOMP

[2020-03-04 20:38] mritunjaysharma394 commented on #2298
**Output**
`ZLIB found.`

**Output**
[code]

**Output**
[list.txt](https://github.com/VowpalWabbit/vowpal_wabbit/files/4289545/list.txt)

**Output** for `ls /usr/lib/i386-linux-gnu/`

[i386.txt](https://github.com/VowpalWabbit/vowpal_wabbit/files/4289560/i386.txt)

**Output** for `ls /usr/lib/x86_64-linux-gnu/`

[x86_64.txt](https://github.com/VowpalWabbit/vowpal_wabbit/files/4289565/x86_64.txt)

[2020-03-04 21:11] jackgerrits commented on #2298
So it looks like `apt list --installed` indicates that only the 64 bit version of zlib is installed. However, looking at the contents of the two lib directories, both libs are present. CMake also detected and used the 64 bit version and not the 32 bit version.

[2020-03-04 21:22] pavithraks opened #2320 "Missing documentation for --ignore_linear and --confidence"
This is not an exhaustive list

[2020-03-05 10:09] adityauser opened #2322 "cb_explore and cb_explore_adf are taking invalide epsilon arguments"
#### Describe the bug
The command `vw -d train_adf.dat --cb_explore_adf  --epsilon -1` is running flawlessly but clearly it is invalid since the epsilon is beyond its bound

#### To Reproduce
Run any of these commands:
`vw -d train_adf.dat --cb_explore_adf  --epsilon -1`
`vw -d train_adf.dat --cb_explore_adf  --epsilon 2`
`vw -d train.dat --cb_explore 4 --epsilon 4`
`vw -d train_adf.dat --cb_explo

[2020-03-05 14:06] jackgerrits commented on #2322
Yes, I agree epsilon should be between 0 and 1 inclusive.

[2020-03-05 14:17] ataymano commented on #2006
Actually I was not entirely correct, there is an option that may work for you:
https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Command-line-arguments#weight-options
Can you please try using --output_feature_regularizer_binary instead of -f and --input_feature_regularizer instead of -i?

[2020-03-05 15:30] mritunjaysharma394 commented on #2298
If this is the case, then what is your analysis of this unusual behaviour that occurred in my system? As far as the Documentation is concerned, I think it's fine then to make no changes there. This discussion in itself can work as a reference for anyone who faces the issue

[2020-03-05 15:47] econinformatics commented on #2006
I haven't been able to find any documentation on how to use those settings,
even though I've wanted to in the past. Do you have a link to an example?
Thanks!

On Thu, Mar 5, 2020, 7:17 AM Alexey Taymanov <notifications@github.com>
wrote:

[2020-03-05 16:02] ataymano commented on #2006
Sure.
new 1a)
vw -d train.vw **--output_feature_regularizer_binary regularizer.bin** -k -c -l 10 --passes 100 --l2=1e-8 --holdout_off --min_prediction=-100 --max_prediction=100 --bfgs --readable_model readable1.txt

new 2b)
head -n 2 train.vw | vw **--input_feature_regularizer regularizer.bin** -k -c -l 10 --passes 10 --l2=1e-8 --holdout_off --min_prediction=-100 --max_prediction=100 --bfgs --read

[2020-03-05 16:57] RituRajSingh878 commented on #2300
@gramhagen

Now, I understand things clearly. I will implement it according to this plan.

I was talking about supporting of scores in core VW like pr #1001 for the score function.
I wan trying to add a loss function with this pr #2313 but I am not able to understand few things so if you can help here.

Thanks

[2020-03-05 17:43] gramhagen commented on #2300
Sounds good. For scores like f-score, confusion matrix, etc. we can use the sklearn metrics library for that. That's the nice part about matching the sklearn api.

As for adding the Huber loss function, I'm probably not the best one to help out there, sorry. I'll comment on that thread though.

[2020-03-05 18:22] jackgerrits opened #2324 "Tracking issue: Split label out of example object"
As a part of the atomization project we would like to split the label object out of example and additionally change the signature of learn/predict from:
[code]
to:
[code]

To do:
- [ ] Infrastructure to support learn/predict interop
- [ ] Convert finish example
- [ ] Convert output example
- [ ] Transform all reductions

[2020-03-05 18:33] thealphadollar commented on #2240
@jackgerrits @peterychang Any feedback on my comment?

[2020-03-05 18:58] RituRajSingh878 commented on #2300
@gramhagen thanks

I will implement it.

[2020-03-05 19:07] mritunjaysharma394 commented on #2322
I have tried to fix this bug by prompting an error :
`ERROR: Invalid argument error, epsilon should be between 0 and 1 (both inclusive).`
and it is working for all the cases, except
`vw -d train.dat --cb_explore 4 --epsilon 4`.
Maybe @jackgerrits you can help me out in cracking this case. Also, do we need to terminate the entire execution or just prompt an error?

[2020-03-05 19:13] jackgerrits commented on #2322
Is `vw -d train.dat --cb_explore 4 --epsilon 4` valid input or invalid?

An invalid epsilon is fatal.

[2020-03-05 19:25] mritunjaysharma394 commented on #2322
In the fix, I tried to implement, I am producing this kind of output for all other invalid epsilon cases:

![Screenshot from 2020-03-06 00-46-53](https://user-images.githubusercontent.com/45476902/76017183-3338d980-5f44-11ea-9c0f-a3ae8b4db118.png)

Is this the right way? Do we have to use abort() also?
Also, I don't think `vw -d train.dat --cb_explore 4 --epsilon 4` is a valid input. Maybe @aditya

[2020-03-05 20:23] Shivanshmundra commented on #2324
@jackgerrits are you taking up this issue or is it free to take? Since I have experience with labels in the example, I would love to take this issue.

[2020-03-05 20:31] jackgerrits commented on #2324
This is an in progress task that I am working on, this issue is to track progress.

[2020-03-06 05:23] mritunjaysharma394 commented on #2322
After following the suggested instructions, output for respective wrong entries of epsilon is something like this:

[code]
Is it fine? Can I send a pull request for the issue?

[2020-03-06 15:35] Sharad24 commented on #1469
@jackgerrits Is this safe to close?

[2020-03-06 21:27] iadeelzafar opened #2326 "Where does the code for VW Server Mode reside?"
Can someone provide the tree link where the code for VW Server mode is stored?

[2020-03-06 23:06] jackgerrits commented on #2326
You can read more about daemon mode here: https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Daemon-example

[2020-03-07 07:27] #2326 closed

[2020-03-07 08:24] #2298 closed

[2020-03-07 19:45] thealphadollar commented on #2240
I'm starting work on this.

[2020-03-07 21:35] thealphadollar opened #2329 "[IMPROVEMENT] Add Pre-Commit Hook To Impose Python Coding Standards"
Currently, we have the following three code linting methods which need to be run before we commit in order to ensure that the code formatting is correct as we want it to be.

- `python3 -m yapf -i python/vowpalwabbit/*.py`
- `python3 -m mypy vowpalwabbit/*.py --ignore-missing-imports`
- `python3 -m pylint vowpalwabbit/*.py`

While YAPF automatically implements basic linting, mypy and pylint give r

[2020-03-07 21:45] jackgerrits commented on #2329
In my experience pre commit hooks are troublesome because they only work if the user actually installs and uses them. CI that gates PR's has been more reliable and easier to use

[2020-03-07 22:12] thealphadollar commented on #2329
I see. I would have preferred to add it in our `travis.yml` but I believe that CI tests should fail for stricter reasons. But I do have a great idea, can we please add [PEP8Speaks](https://pep8speaks.com/) to our repository and set it rules so that the user can get it checked.

There are multiple similar linters which can detect the change in particular language files and accordingly run pipelines

[2020-03-08 09:33] thealphadollar commented on #2322
@jackgerrits I guess this has been fixed via #2325 and can be closed safely.

[2020-03-08 13:45] #2322 closed

[2020-03-09 14:51] #2281 closed

[2020-03-09 16:33] gramhagen commented on #2300
fyi @RituRajSingh878 here are a couple of nice resources for developing sklearn estimators
http://danielhnyk.cz/creating-your-own-estimator-scikit-learn/
https://ploomber.io/posts/sklearn-custom/

[2020-03-10 14:39] ARDivekar commented on #2267
Adding another issue: the documentation pages for https://vowpal-wabbit.readthedocs.io/en/latest/vowpalwabbit.pyvw.html and https://vowpal-wabbit.readthedocs.io/en/latest/vowpalwabbit.sklearn.html seem to be empty?? Seems like that's a miss.

[2020-03-10 16:10] RituRajSingh878 commented on #2300
@gramhagen thanks

I have opened a draft pr to start this- #2332

[2020-03-10 16:13] thealphadollar opened #2333 "Write Test For New SKLearn Based Classifier"
@gramhagen [gave](https://github.com/VowpalWabbit/vowpal_wabbit/issues/2300#issuecomment-596636994) a set of helpful links for things to keep in mind when creating new estimators which we want to be compatible with SKLearn.

Here are the two links:
- http://danielhnyk.cz/creating-your-own-estimator-scikit-learn/
- https://ploomber.io/posts/sklearn-custom/

Going through both the links I found out

[2020-03-10 16:20] thealphadollar commented on #2320
I would like to work on this and also try to find other missing documentation for arguments. What would you like to display as help for the above?

[2020-03-10 17:08] thealphadollar commented on #2267
@jackgerrits Is this issue open for taking up?

[2020-03-10 17:15] thealphadollar commented on #2242
@jackgerrits I believe this issue has been fixed by 6ba4499 Can we please close the issue?

[2020-03-10 17:16] thealphadollar commented on #2234
@jackgerrits I believe this issue has been fixed via 354967c.

[2020-03-10 17:25] thealphadollar commented on #2128
@jackgerrits What is this issue about? Can you please elaborate?

[2020-03-10 17:32] jackgerrits commented on #2242
@wally-mageia, @kumpera recently made some changes about symbol visibility. However, I am not sure if they solve the issue completely. We really need to do more work with AllReduce as it is a separate target being linked. Would you be able to try this again as I wasn't able to get it setup yet?

[2020-03-10 17:33] TheLethalCode commented on #2178
@peterychang Are you working on this?

[2020-03-10 17:35] jackgerrits commented on #2128
big_tests utilizes a large elaborate makefile to run its tests. It also does not run in the PR CI. It would be good if we could get it running in PRs (if the runtime is reasonable), and potentially running cross platform maybe using Python. This is kind of an open end issue where we want to modernize big_tests and there isn't a specific task list.

[2020-03-10 17:38] thealphadollar commented on #2242
@jackgerrits I don't think I completely understand how may I be able to reproduce the error. Can you help me out here? What I understand is as follows:

- Install gcc (Mageia 9.2.1-0.20200201.1.mga8) 9.2.1 20200201
- Install cmake version 3.16.3
- Try to run `make vw-bin`

Is there anything else I need to do to test the same?

[2020-03-10 17:39] Smit-create commented on #2267
@thealphadollar I am working on it.

[2020-03-10 17:39] thealphadollar commented on #2079
@lokitoth @peterychang What do you think is the progress on this issue?

[2020-03-10 17:40] jackgerrits commented on #2242
I was not able to reproduce this, you should try following @wally-mageia's suggestions and see if you can hit the issue

[2020-03-10 17:40] thealphadollar commented on #2267
Great 😀

[2020-03-10 17:45] jackgerrits commented on #2242
@wally-mageia, apologies the fix I was thinking of has not been merged yet. If possible, testing this PR would be helpful. https://github.com/VowpalWabbit/vowpal_wabbit/pull/2235

[2020-03-10 17:50] thealphadollar commented on #1714
@jackgerrits Is this issue complete?

[2020-03-10 17:54] jackgerrits commented on #1714
Release management is still something we are working on. The new_version script has issues and as such it has not really been used. Ideally release pipelines will be setup eventually but we need to find time to work that out.

[2020-03-13 16:22] lokitoth commented on #1820
Partially fixed by #2279

[2020-03-14 17:07] adityauser opened #2335 "Passing "--ring_size" with 0 as an argument, stucks the execution"
#### Describe the bug
Passing `--ring_size` with 0 as an argument, stucks the execution

#### To Reproduce
Run command:
`vw -d train_adf.txt --cb_explore_adf --ring_size 0`

#### Expected behavior
`--ring_size` shouldn't take 0 as an argument.
I think we need to switch `--ring_size` to its default value, and a relevent warning should be displayed, whenever 0 is passed as an argument.

#### Observe

[2020-03-14 22:15] adityauser opened #2338 ""--audit" gives NA and unrecognizable symbols as output"
#### Describe the bug
`--audit` sometimes gives **NA** and unrecognizable symbols as output.

#### To Reproduce
Steps to reproduce the behavior:
1. For getting **NA**:
Run `vw -d train_adf.txt --cb_explore_adf --ring_size 10 --permutations   --audit `
Link to the [dataset](https://gist.github.com/AlexFridman/013c7bb7391c277b3c3e122f9f3ee2e4)
#### Observed Behavior
_Look at the highlighted line_
![

[2020-03-15 09:53] RituRajSingh878 opened #2339 "Implementation of base SGD in vw_sklearn"
I am opening this issue to discuss the implementation of the base SGD in vw_sklearn.
I have opened a pr #2332 for the implementation of the multiclassifier for vw_sklearn and would like to add this base learner also.

These are the links to make a new sklearn API and I will take help from these and also, we have already implemented `BaseEstimator` for classifier and regressor. so that will be also

[2020-03-15 12:45] mritunjaysharma394 opened #2340 "vw taking invalid arguments of power on learning rate decay and learning rate"
#### Describe the bug
The commands `vw house_dataset.txt -l 8.9` and `vw house_dataset.txt --power_t 1.5
` should produce invalid argument error since both learning rate and power on learning rate decay should be in the range [0,1]. However, the commands are working with these values
#### To Reproduce
Steps to reproduce the behavior:
1. `vw house_dataset.txt -l 15`
2. `vw house_dataset.txt -l -6`

[2020-03-15 13:05] mritunjaysharma394 commented on #2340
This PR #2341 is trying to resolve the above issue

[2020-03-15 14:59] RituRajSingh878 commented on #2333
@thealphadollar  I am working on the implementation/integration of classifier and it will be helpful if we have such a feature and also, I can help here in the implementations of the `check_estmator`.
 During the implementation, we need to add or take care of lots of things, so I think a discussion will be helpful.

[2020-03-15 15:42] gramhagen commented on #2339
Is the suggestion to change the base VW class in sklearn_vw or add something new? Can you describe what you're thinking of?

[2020-03-15 15:55] RituRajSingh878 commented on #2339
I was thinking of adding a new class for the SGD.

https://github.com/scikit-learn/scikit-learn/blob/95d4f0841d57e8b5f6b2a570312e9d832e69debc/sklearn/linear_model/_stochastic_gradient.py#L68

[code]

[2020-03-16 12:27] gramhagen commented on #2339
I see. I wasn't aware of that class. It does seem like a better base class to use than BaseEstimator. Although it's not part of the public API. Could be because it's newer?

We're trying to support a wide range of sklearn versions so that can make this difficult. Is there functionality that this class provides which we want to add. If so then we can discuss how to do that.

[2020-03-16 13:46] eisber opened #2342 "Chaining SGD and BFGS fails if used with save_resume/preserve_performance_counters"
#### Describe the bug
Chaining SGD and BFGS fails if used with save_resume/preserve_performance_counters.

#### To Reproduce
ARGS="--passes 5 --holdout_off --loss_function quantile -q :: -l 0.1"
# CRASHES
# ARGS="--passes 5 --holdout_off --loss_function quantile -q :: -l 0.1 --save_resume --preserve_performance_counters"
/mnt/c/work/vowpal_wabbit/vowpalwabbit/vw $ARGS -k --cache_file /tmp/marcozo-

[2020-03-16 14:20] lokitoth commented on #2340
Hi @mritunjaysharma394,

Thank you for the report.

I am wondering, how did you choose the interval [0, 1] rather than, rather than (1, +inf) for learning rate, and [0, +inf) for power_t?

For example, if you set learning_rate to zero, you will never converge, because the magnitude of the update will always be zero.

[2020-03-16 14:31] RituRajSingh878 commented on #2339
Yes, We can use a better class although BaseSGD is not a new class. We can use directly `SGDClassifier` and `SGDRegressor` for the implementation.
https://github.com/scikit-learn/scikit-learn/blob/95d4f0841d57e8b5f6b2a570312e9d832e69debc/sklearn/linear_model/_stochastic_gradient.py#L1071

I am thinking that if we are matching VW with sklearn API so if sklearn has different classes for SGD then we

[2020-03-16 15:47] gramhagen commented on #2339
My understanding is that modules prepended with an underscore are not stable/public. So it would be risky to inherit from that.

Until it becomes stable we may want to just reproduce any missing functionality. I don't see the goal of the sklearn_vw module to duplicate all the sklearn classes, but more as a way to provide a simple wrapper around vw so it can be used like a sklearn model.

That said

[2020-03-16 15:49] RituRajSingh878 opened #2343 "Running of example test in the Code"
I am opening this issue for the implementation of scripts so that we can run the test directly by some command(maybe` vw runalltest` )and in this test, it should run the example test as well as the test file. (Currently we can't test examples by this command `python -m pytest ./python/tests/`)
example test -
https://github.com/VowpalWabbit/vowpal_wabbit/blob/bcd47ad60dabba63504b6fd8c691b20f1624caf

[2020-03-16 16:50] mritunjaysharma394 commented on #2340
Hi @lokitoth,

As far as power_t is concerned, while I was going to the tutorial on https://vowpalwabbit.org/tutorials/getting_started.html , I came across this -

![Screenshot from 2020-03-16 22-06-50](https://user-images.githubusercontent.com/45476902/76780270-bd016600-67d2-11ea-9c4d-b12e12249480.png)

Here it was mentioned that the value of power_t can vary from [0,1], and when I tried to run t

[2020-03-16 18:22] RituRajSingh878 commented on #2339
agree with this

If we wish to use `sgd` learner for regressor/classifier model then currently we can't use from `sklearn_vw`. So I am suggesting to add this feature so that we can access the `sgd`.

Now we can do this by the addition of code into currently implemented `VW` class in sklearn_vw or we can do it by making a separate class.

[2020-03-16 18:33] gramhagen commented on #2339
Can you elaborate on what you mean by access the sgd?

[2020-03-16 18:54] RituRajSingh878 commented on #2339
pylibvw.vw wrapper vw
https://github.com/VowpalWabbit/vowpal_wabbit/blob/bcd47ad60dabba63504b6fd8c691b20f1624caf5/python/vowpalwabbit/pyvw.py#L78

sklearn wrapper VW
https://github.com/VowpalWabbit/vowpal_wabbit/blob/bcd47ad60dabba63504b6fd8c691b20f1624caf5/python/vowpalwabbit/sklearn_vw.py#L22
 we can use `sgd` in pylibvw.vw wrapper vw like
[code]

But we can't use `sgd` in sklearn wrapper VW. So

[2020-03-16 20:21] kumpera commented on #2242
@wally-mageia the fix in question was merged, could you test again your issue?

[2020-03-16 21:57] jackgerrits commented on #2338
That is actually the progressing validation output intertwined with the audit output. You'll notice that the columns line up with:
[code]

So what you're seeing is there there is no loss recording in this run so far. To see just the audit output I believe you can pass `--quiet`

[2020-03-16 22:02] jackgerrits commented on #2339
Project 9 in RLOS fest is not tackling usage with SKLearn, but just pyvw proper. Perhaps as a stretch goal SKLearn can be incorporated. As Scott said sklearn_vw's goal in life is to be a wrapper allowing usage of VW in sklearn.

What stops you from adding the sgd parameter to the sklearn vw object and initializing it with that?

[2020-03-16 22:04] jackgerrits commented on #2343
Is the ask here to run Python examples as part of CI? I don't understand the issue with ipython? If there are two issues, please open them separately so they can be tracked easier.

[2020-03-16 22:05] jackgerrits commented on #2342
@eisber Are you able to provide a datafile to reproduce this?

[2020-03-16 22:08] jackgerrits commented on #2340
@lokitoth Can you confirm the values in the tutorial are incorrect?

[2020-03-16 22:09] adityauser commented on #2338
Ohh! But why we are getting this symbol `�_id`?

[2020-03-16 22:19] jackgerrits commented on #2338
Namespaces in vw are one byte in size. This is helpful because through the command line and input formats they can be represented by one character text. However, standard ASCII only occupies values 0-127 (I think). Reserved namespaces utilize the 128-255 space of the byte. This is in the extended ascii range and non standard, which is probably why it is failing to print. In this case it is `ccb_id

[2020-03-17 04:23] RituRajSingh878 commented on #2339
`Implement a simple gradient descent base learner using SKlearn` this is the part of project 9. So can you please describe it in detail.

https://github.com/VowpalWabbit/vowpal_wabbit/issues/2339#issuecomment-599691731 I have said that We can do this in two ways. I can go with the addition of `sgd` parameter in `VW`.

[2020-03-17 04:28] RituRajSingh878 commented on #2343
It would be great to run the example test on Cl. Also, I am saying for the developer if we have some command for testing on a local machine it will be great. And with that command, we can test the test file and the example present in the code.

[2020-03-17 06:12] Smit-create commented on #2343
This may be related
[https://www.sphinx-doc.org/en/master/usage/extensions/doctest.html](https://www.sphinx-doc.org/en/master/usage/extensions/doctest.html)

[2020-03-17 10:33] eisber commented on #2342
Prepared the URL and forgot to include... https://mmlspark.blob.core.windows.net/publicwasb/triazines.scale.svmlight

(you need to run %s/ / | / in vi - replace the first space with space + pipe + space)

[2020-03-17 12:08] jackgerrits commented on #2339
This means to use SKLearn to implement a single reduction in Python. So instead of using VW's GD reduction it would use a piece of code implementing the model learning and scoring using SKlearn, but adhering the interface of a VW reduction

[2020-03-18 09:59] bmdy commented on #2100
@scgalois Dear Scgalois, how do you change your version of python? I encounter the same problem, but cannot fix by now. Thank you very much for sharing your experience.

[2020-03-18 10:02] bmdy commented on #2100
Dear peterychang, I encounter the same problem and cannot fix by now. My MacOS is Mojave 10.14.6 with Python 3.7.7 and Clang 11.0.0. Can you help me try to resolve this issue? Thank you very much!

[2020-03-18 10:57] Smit-create opened #2345 "AttributeError in multiclass_probabilities_label"
#### Describe the bug
Produces AttributeError while passing an example as an argument in multiclass_probabilities_label.

#### To Reproduce
Steps to reproduce the behavior:
[code]
#### Observed Behavior
How did VW behave? Please include any stack trace, log messages or crash logs.
[code]

#### Environment

VW 8.8.0 on Linux with Python bindings
.

[2020-03-18 12:24] peterychang commented on #2100
@bmdy The only solution I know of is to uninstall Anaconda and use a compatible version of python, Brew's version should will work.

If that's not an option, you _may_ be able to find a conda repo that has a version of python built against a newer version of OSX, but it seems doubtful since it would introduce incompatibilities with base Anaconda packages.

[2020-03-18 13:06] bmdy commented on #2100
Thank you very much for your response. I've uninstalled Anaconda and use the Brew's version of Python. But I still encounter the problem: Library not loaded: @rpath/libpython3.7m.dylib. I've tried   several ways to resolve this, but in vain. Can you help me in more details?

[2020-03-18 13:17] peterychang commented on #2100
@bmdy Have you rebuilt VW after uninstalling Anaconda? You'll need to `pip uninstall vowpalwabbit` before attempting to install it again.

If that doesn't work, please paste any output you get from the install process as well as the output of `which python` (or `which python3`, i'm not sure what the default for MacOS is)

[2020-03-18 13:28] bmdy commented on #2100
Yeah. I've completely uninstall vowpalwabbit. My process is as follow:

$ pip install vowpalwabbit

$ brew install cmake
$ brew install boost
$ brew install boost-python3

The default 'which python' gives '/usr/bin/python' and 'which python3' gives '/usr/local/bin/python3'.

Below is the output:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3

[2020-03-18 13:30] bmdy commented on #2100
Yeah. I've completely uninstall vowpalwabbit. My process is as follow:

$ pip install vowpalwabbit

$ brew install cmake
$ brew install boost
$ brew install boost-python3

The default 'which python' gives '/usr/bin/python' and 'which python3' gives '/usr/local/bin/python3'.

Below is the output:
Traceback (most recent call last):
File "", line 1, in
File "/usr/local/lib/python3.7/site-packages/vow

[2020-03-18 14:18] peterychang commented on #2100
I'm wondering if you got the cached version of the binary. Try running the following command (it'll dump the logs into a file so you can attach it here if needed)

`pip -v install --force-reinstall --ignore-installed --no-binary :all: vowpalwabbit > vw_install.log`

This will force pip to rebuild the VW binary. If it continues to crash, please attach the logs here

[2020-03-18 14:28] #2345 closed

[2020-03-18 14:40] peterychang commented on #2100
For documentation's sake, the command
`pip -v install --force-reinstall --ignore-installed --no-binary :all: vowpalwabbit 2> vw_install.log`
will force a rebuild/reinstall and output the build logs to a log file.

[2020-03-18 15:22] bmdy commented on #2100
Thank you very much! It works. I can use vw to write code now. I will come to test more codes tomorrow and come back to you if some new issues occur.

[2020-03-18 21:54] jackgerrits opened #2349 "Python documentation version should be automatically fetched"
Python documentation version is currently outdated and hardcoded in this file: https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/python/docs/source/conf.py

It should be automatically read from https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/version.txt which is the central location to determine current version number.

[2020-03-18 22:48] jackgerrits commented on #2343
So the feature request is to be able to test that examples in documentation are valid as part of CI?

[2020-03-19 02:48] RituRajSingh878 commented on #2343
yes

[2020-03-19 03:09] RituRajSingh878 commented on #2343
You have opened a pr for the running doc on cl for every commits. After your pr, I will add the [doc8](https://github.com/PyCQA/doc8) style check for the doc(I will learn about this as I am not familiar with cl).

[code]

[2020-03-19 06:18] Smit-create commented on #2349
Hi @jackgerrits
I would like to work on this.

[2020-03-19 10:29] mvyasNetskope opened #2353 "vw hangs when we send it partially downloaded model files"
#### Describe the bug
vw hangs when we send it partially downloaded (corrupted) model files. It tries to read from file descriptor 0 i.e. stdin. The following command hangs
`$  ./vowpal_wabbit/build/vowpalwabbit/vw -i corrupted.model --quiet -d /dev/null --no_stdin
`
Workaround send a newline to vw in `stdin`, then it starts working and throws error as expected.
[code]
#### To Reproduce
Steps to r

[2020-03-19 13:51] jackgerrits commented on #2343
The CI I have created is for documentation general, not to enforce requirements on them. That should be done as part of PR validation.

[2020-03-19 14:09] jackgerrits commented on #2338
Closing this as it is expected behavior.

[2020-03-19 14:09] #2338 closed

[2020-03-19 14:11] jackgerrits commented on #2340
I spoke with Marco and power_t can take all real numbers. I have updated the tutorial to reflect this (pending deploy)

[2020-03-19 14:17] mritunjaysharma394 commented on #2340
Thank you so much for pointing it out. I am closing the issue.

[2020-03-19 14:17] #2340 closed

[2020-03-19 15:46] jackgerrits commented on #2342
Loading an SGD model into BFGS when using --save_resume doesn't make sense. That is likely what is causing the issue. I haven't looked into what exactly causes the segfault though.

When using save_resume the base learner should not change. That might be the right fix here?

[2020-03-19 16:06] Smit-create commented on #2349
[code]
Do I need to change `release` to auto-update or only just `version`?
Also if the above diff looks good, I will commit it.

[2020-03-19 17:09] eisber commented on #2342
ouch... that's an excellent point. Any chance to have an error message?

[2020-03-19 17:19] RituRajSingh878 opened #2354 "Implementation of _repr_html_ in python VW"
I am opening this issue for the discussion of the implementation of the `_repr_html_`, for example, model class. I have found a perfect [interactive tutorial](https://nbviewer.jupyter.org/github/thomasjpfan/sklearn_viz_html/blob/master/display_estimator_workflow.ipynb) of` _repr_html` of sklean, which is also under implementation. Here I want to know how I should proceed and what is the expectatio

[2020-03-19 17:21] jackgerrits commented on #2342
Yes we should have an error in this case for sure

[2020-03-19 17:22] jackgerrits commented on #2349
rather than iterating over the lines can you instead grab the 0th line? If an extra newline accidentally gets checked in the above change will break

[2020-03-19 19:17] RituRajSingh878 commented on #2354
@jackgerrits can you help here or can tag someone who can help

[2020-03-19 21:04] sahilkhanna129 opened #2355 "Could `vw` binary support reading data from more than 1 file"
#### Describe the bug
We are currently using `vw` binary for training vowal wabbit model. In our current implementation, we are streaming data to binary for training. We want to change that pattern to read data from a directory. However, I am unable to find a reference example that reads data from multiple files in a directory. There was nothing mentioned in `vw --help` as well.

I am wondering if

[2020-03-19 21:21] jackgerrits commented on #2355
Allowing multiple datafiles as input is an existing feature request. It is something we would like to support but do not currently have it assigned.

#1895 is the issue tracking this.

[2020-03-19 21:22] jackgerrits commented on #1895
#2355 additionally proposed support for globbing as well as passing a directory to the -d option.

[2020-03-19 21:30] Sharad24 commented on #1895
@jackgerrits Is anyone working on this issue?

[2020-03-19 21:52] sahilkhanna129 commented on #2355
Thanks, @jackgerrits for sharing the open issue.

[2020-03-19 21:52] #2355 closed

[2020-03-19 22:00] jackgerrits commented on #1895
No, you're welcome to work on this

[2020-03-20 02:52] Smit-create commented on #2349
Sure.

[2020-03-20 03:42] Smit-create opened #2357 "Version attribute of vowpalwabbit in python"
#### Describe the bug
Version attribute of vowpalwabbit in python

#### To Reproduce
[code]

#### Environment
VW 8.8.0 on Linux with the Python bindings

We should add this attribute, for knowing the version of vowpalwabbit. I found this useful while working on #2349
This will also make the `conf.py` look clean in #2356 and also provide an attribute to provide live updates of version while running

[2020-03-20 14:25] kumpera commented on #2353
Hi,

Could you provide the model file that is causing issues? Trying to reproduce it locally didn't produce the issue you mentioned.

[2020-03-20 14:31] thealphadollar commented on #2242
I tried with the latest master and was able to create the build successfully with gcc v9.3 and cmake 3.10.2

@kumpera

[2020-03-20 14:35] jackgerrits commented on #2242
@thealphadollar Did you run it on Mageia Cauldron? I have not been able to repro the issue on Ubuntu

[2020-03-20 15:45] wally-mageia commented on #2242
I'm currently abroad, but travelling back to home. I will test again in couple of days.

[2020-03-20 17:28] #2349 closed

[2020-03-20 17:28] #2357 closed

[2020-03-20 18:15] peterychang commented on #2240
I'm wondering if it would be possible to adapt [sklearn.svm.LinearSVM](https://github.com/scikit-learn/scikit-learn/blob/438bb3a438a42e23e3111c58575cf16841bb694d/sklearn/svm/_classes.py#L12) for this (This object is in the public API).

LinearSVM's inheritance diagram looks similar to the one we use
`class LinearSVC(BaseEstimator, LinearClassifierMixin, SparseCoefMixin)`

vs what we have in sklear

[2020-03-20 18:56] RituRajSingh878 commented on #2335
@jackgerrits I was thinking that we can implement a `check_arg` function for core `VW`. Which will check the validation of all args we have.  I am seeing this type of issue frequently(I don't know if we have already then why this is happening).

[2020-03-20 19:00] jackgerrits commented on #2335
I think the options framework could reasonably be extended to support enforcing constraints on inputted argument values.

[2020-03-20 19:16] adityauser commented on #2335
@jackgerrits could you guide me on how this could be done? Earlier in PR #2337 I was trying to some change in boost options po, but I couldn't make it.

[2020-03-20 19:29] #2335 closed

[2020-03-20 21:25] adityauser opened #2359 "Passing "--quiet" in vw-hyperopt"
#### Describe the bug
Currently, vw-hyperopt don't take `--quiet` as an argument. `--quiet` is necessary for vw-hyperopt, because when `max_evals` is large then diagnostics are printed for every evaluation, which makes the output messy

#### To Reproduce
Run:
`./utl/vw-hyperopt.py  --train ./test/train-sets/0001.txt --holdout ./test/train-sets/0001.txt --max_evals 2 --outer_loss_function logistic

[2020-03-20 22:51] adityauser commented on #2359
I don't think the 2nd case(passing `--quiet` through `--additional_cmd`) could be handled, a way around could be done by adding an extra space in `'--quiet'` i.e. passing:
` --additional_cmd '--quiet ' `

[2020-03-21 08:35] wally-mageia commented on #2242
Building latest git master fails. Steps I used:
[code]
Failure:
[code]

[2020-03-21 09:45] thealphadollar commented on #2240
I'll look into this @peterychang . I've quite some experience with inheritance and I'll update the PR accordingly.

[2020-03-21 10:01] thealphadollar commented on #2242
@jackgerrits My sincere apologies. When I tested, I ran it without any flags on the system and it worked. Now, @wally-mageia gave the exact commands to run and it is giving the same error on Ubuntu and  Mageia Cauldron

[2020-03-21 16:36] Casperfrc opened #2363 "Not able to limit the memory usage of the VW process"
#### Describe the bug
When training a model to play a game of hangman I have issues when upping the amount of iterations that the model will train on the data.
It is very clearly an issue of running out of memory, but I am simply cannot seem to limit the amount of memory the process uses and I am not sure if it is me doing something wrong.

#### To Reproduce
I have used this example as my key sour

[2020-03-22 16:18] thealphadollar commented on #2320
@pavithraks @peterychang Any tips here?

[2020-03-22 16:20] thealphadollar commented on #2333
@RituRajSingh878 Thanks for the hand :) ALso, can you please elaborate what you mean by implement `check_estimator`? In my opinion, we just need to call it and write tests that call it automatically on each of the custom estimators we are writing.

[2020-03-22 16:21] thealphadollar commented on #2329
@jackgerrits What do you think we should move forward with?

[2020-03-22 16:40] RituRajSingh878 commented on #2333
I tried to do the same, but there are many problems with calling `checkestimator`. The problem is with the way we have implemented our wrapper.
We can test by `checkestmator` by passing directly class or we can pass its object.

1- By Passing its object and it will show the following
[code]
I tried to find the reason behind this, but I am not able to find it.

2-By Passing class.
[code]
In this me

[2020-03-23 09:09] thealphadollar commented on #2333
Thanks for the insight, @RituRajSingh878 . I'll have a look into this when I'm free.

[2020-03-23 12:44] jackgerrits commented on #2363
If you are using the parse function then you also need to pass those examples to `finish_example`. Could you try updating this section of the code and let me know if this fixes your issue.
[code]

[2020-03-23 12:55] Casperfrc commented on #2363
Perfect @jackgerrits, this made me able to not only run it with a 100 iterations but also with 5000 iterations and I wasn't close to running out of memory a single time.

Thanks a tonne. :)

[2020-03-23 12:55] #2363 closed

[2020-03-24 02:21] gramhagen commented on #2333
I'm looking into this. I think we have to make some pretty significant changes to get in line with sklearn expectations. It might be worth doing though.

I'll add a draft pr soon and we can discuss the necessary changes. I believe the seg fault is happening during picking which isn't well supported yet.

[2020-03-24 08:06] RituRajSingh878 commented on #2343
Can I add doc8 checks here?
https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/build-linux.sh

[2020-03-24 18:00] gramhagen commented on #2333
@RituRajSingh878 @thealphadollar please take a look at the draft pr.
I was able to get check_estimator working for the base VW() class. Let me know if there are concerns.

One thing is that this depends on sklearn >= 0.2, so we might need to enforce that / update the documentation somewhere.

[2020-03-24 18:10] gramhagen commented on #2333
version 0.20 is when sklearn.utils starts filling up with helpful functions (check_array, check_X_y, check_estimator, etc.) which we're using in this change both in the implementation and in the tests.

anything >= 0.20 should be fine, this was released in sept. 2018, so I feel like we might as well draw a new line there for the 'modern' sklearn vw api work

[2020-03-25 04:26] Smit-create opened #2369 "Introducing flake8 in python"
Flake8 is described as a tool for style guide enforcement, to help us find errors in our code or warnings about style.

Running the `flake8` on `pyvw` and `sklearn_vw`, I got the following warnings:
[code]

Most of the error is due to violation of PEP8 rules, upon which I would work on my open PR #2336 for `pyvw`. For, `sklearn_vw`, I think it will be good to work along with @gramhagen in #2368 as

[2020-03-25 04:54] Smit-create commented on #2369
Also, I suggest importing only the required classes in `pyvw` from `pylibvw` as it will lead to a much faster loading of the module.
I observed the following time differences with the two cases.
1. With `import pylibvw`
[code]

2. With `from pylibvw import example as exm, vw as myvw`
[code]

[2020-03-25 05:10] RituRajSingh878 commented on #2369
I have opened a similar issue for the checks of code quality by doc8, and It would be great to have the test to check code quality in VW. Also, I will take care of standard checks for code quality during the implementation of #2368. so that later we don't have to make massive changes in the code for this check only.

[2020-03-25 05:14] Smit-create commented on #2369
Thanks. You can go ahead with #2368, and I will work on pyvw. After both of these are ready, I will integrate it in CI tests. Sounds good?

[2020-03-25 08:41] thealphadollar commented on #2369
I don't think E501 is a standard to follow anymore as most of the developers now have wide screens that can comfortably display 120 characters wide lines.

[2020-03-25 12:23] gramhagen commented on #2369
another option is using [Black](https://black.readthedocs.io/en/stable/) to enforce code style. I generally agree about 79-80 characters being too short, but the [argument](https://black.readthedocs.io/en/stable/the_black_code_style.html#line-length) in black for 88 characters too support easier diffs and those with impaired vision is reasonable.

[2020-03-25 13:09] Smit-create commented on #2369
Thanks @gramhagen. I will have a look into its documentation and provide an update related to this. Any comments on [this](https://github.com/VowpalWabbit/vowpal_wabbit/issues/2369#issuecomment-603639902)?

[2020-03-25 13:28] gramhagen commented on #2369
sure, sounds fine, though I would suggest the following names
[code]

[2020-03-25 13:30] Smit-create commented on #2369
Yes, I had use them just for testing purposes.

[2020-03-26 08:55] bmdy commented on #2100
I've encountered a new problem. Now I need to write code on a server with Linux version 4.9.93. The python is Python 3.6.8 (with [GCC 7.3.0] on linux) with Miniconda3. How can I install vowpalwabbit  on this environment? I've tried several ways following the instructions on this page https://pypi.org/project/vowpalwabbit/, but all failed. Thank you very much!

[2020-03-26 10:52] bmdy opened #2370 "How to install VW on a new environment?"
I failed to install VW on my new environment.

The new environment is as follows:
(1) A server with Linux version 4.9.93.
(2) Python 3.6.8 with [GCC 7.3.0] on linux.
(3) Miniconda3.

How can I install VW on this environment? I've tried several ways following the instructions on this page **https://pypi.org/project/vowpalwabbit/**, but all failed.

The details I that ran are as follows:

$ git clon

[2020-03-26 13:04] peterychang commented on #2370
I see at least 2 problems from the logs
1.

Imported targets not available for Boost version 107100

You are using boost 1.71 with cmake 3.8. Those are incompatible, you need cmake version >= 3.15.3 for boost 1.71. Please update your cmake

2.

  Could NOT find ZLIB (missing: ZLIB_LIBRARY ZLIB_INCLUDE_DIR)

It looks like you're missing zlib as well. Did you install all the required libraries? (the

[2020-03-26 14:08] bmdy commented on #2370
Thank you very much!

1. I'm trying to update my cmake.

2. I installed the following as suggested by the pypi page.
# install necessary boost dependencies
$ conda install -y -c anaconda boost
What else should I install?

[2020-03-26 14:10] peterychang commented on #2370
The full list is

[2020-03-26 14:34] bmdy commented on #2370
Sure. I will try to install all of them and then go back to you.

[2020-03-26 19:16] peterychang commented on #2370
I'm not sure what your system setup looks like, nor am I familiar with the package list/format for your package manager/OS version. The list I gave describe the required packages reasonably well. It looks like you have most of the boost packages installed already, but the process failed before the check for boost-python (boost-python3 may be a separate package, I'm not really sure). You are also c

[2020-03-27 12:59] jackgerrits commented on #2329
Travis is on the deprecated path, all new CI should be added to the existing azure pipelines

[2020-03-27 15:12] #2359 closed

[2020-03-27 16:43] #2245 closed

[2020-03-27 18:27] jackgerrits opened #2371 "RelWithDebInfo defaults do not work on Windows"
This PR (#2344) was recently merged changing the default flags for RelWithDebInfo. This works when the compiler is compatible with GCC/Clang style flags, but does not work for other generators including visual studio.

The cmake script should be updated to either:
1. Good: Determine if build scripts are being generated for GCC/Clang and only set the defaults then
2. Better: Have sensible defaults

[2020-03-30 13:24] bmdy commented on #2370
Thank you very much! Sorry for the delay to respond to you.

I've successfully installed VW in my environment. I updated cmake and installed some other dependency packages. Then ran an additional rebuild that you told me before.

I'm going to test some more characteristics of VW and may propose some possible new questions to you later. So this does not need to be closed.

Thank you again!

[2020-03-30 13:46] peterychang commented on #2370
In order to track the current status of our issues, I'll close this one out. If you have any additional questions, please feel free to either reopen this issue or create a new one.

[2020-03-30 13:46] #2370 closed

[2020-03-30 16:58] mvyasNetskope commented on #2353
[corrupted.model.zip](https://github.com/VowpalWabbit/vowpal_wabbit/files/4404259/corrupted.model.zip)

[2020-03-31 07:46] bmdy commented on #2370
Sure!

[2020-03-31 08:34] bmdy commented on #2370
I encountered a new problem. My default Python in the deployment environment is 3.6.8. And I've successfully installed VW by running  the following commands.

$ git clone https://github.com/VowpalWabbit/vowpal_wabbit.git
# create conda environment if necessary
$ conda create -n vowpalwabbit
$ source activate vowpalwabbit
# install necessary boost dependencies
$ conda install -y -c anaconda boost
$

[2020-03-31 13:12] peterychang commented on #2370
you need to reinstall VW in the conda environment. In general, your system python and conda python should be treated as completely separate things. Sharing packages between them can result in undefined behavior

Since you now have multiple pip instances, you'll want to run `pip uninstall vowpalwabbit` until you get an error message saying the package vowpalwabbit is not installed. Then you can ins

[2020-03-31 15:32] bmdy commented on #2370
I see it. I will try to reinstall VW in my environment and go back to you later.

[2020-04-02 17:18] #2371 closed

[2020-04-02 18:55] lokitoth commented on #2175
Looks like at least part of the issue may be due to bad ternary operator as per #2374

[2020-04-03 14:50] #2267 closed

[2020-04-04 21:13] jackgerrits opened #2382 "Update docs for Python packaging"
There is a file describing the process to package the Python module, but I believe it is quite out of date. It would be good to get it up to date and potentially merge docs between it and the wiki.

https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/python/PACKAGE.rst

[2020-04-06 11:23] arielf commented on #2353
@kumpera can you reproduce with the model Meena attached?  Thanks!

[2020-04-06 18:32] jackgerrits opened #2391 "Proposal: rename ::vw to VW::workspace"
In order to make progress in the area of namespacing and code organization I would like to make the following proposal:

- Rename `::vw` object to `VW::context`
    - https://github.com/VowpalWabbit/vowpal_wabbit/blob/17dad786022c6f56b8ee567d4e7b654a07780b89/vowpalwabbit/global_data.h#L361
- Support a compat.h header that exposes `::vw` as a type inherited from `VW::context`. This should assist ex

[2020-04-08 14:39] jackgerrits commented on #1769
In addition to the casing and usage of the namespace vs global namespace there are many top level namespaces too. These can be seen here: https://vowpalwabbit.org/docs/vowpal_wabbit/cpp/latest/namespaces.html

This issue is easier to deal with because of namespace aliasing.

[2020-04-09 16:17] jackgerrits commented on #2391
Decisions from discussion:
- Name will be VW::workspace
- Existing initialize functions will be moved to compat header
- New functions will be constructor based, or maybe factory

[2020-04-09 20:49] jackgerrits opened #2397 "Passing a list of strings to pyvw.predict fails in an unclear way"
#### Describe the bug
Passing a list of string to predict or learn will cause a cryptic crash. The string needs to be joined with newlines for it to work. This should either work as expected or fail in a clear way.

#### To Reproduce
[code]

#### Expected behavior
This should either work or a clear error should be raised.

#### Observed Behavior
How did VW behave? Please include any stack trace, l

[2020-04-11 10:01] Smit-create commented on #2397
I am working on this.

[2020-04-11 10:32] Smit-create commented on #2397
This also raises similar error with `vw.learn(examples)`

[2020-04-15 08:19] ZechyW opened #2405 "vw in --active mode crashes when a connection is opened on Windows"
#### Describe the bug
When vw has been started in --active mode on Windows, opening a connection to the daemon causes it to crash.

#### To Reproduce
Steps to reproduce the behavior:
1. Build VW from source on Windows 10, using Visual Studio 2017
2. Run `vw --active`
3. Connect to the daemon on the running port

#### Expected behavior
VW should enter interactive active learning mode.

#### Observe

[2020-04-15 12:17] jackgerrits commented on #2405
Hi @ZechyW, are you able to provide the data file used to repro this?

[2020-04-15 12:55] ZechyW commented on #2405
Hi @jackgerrits, vw crashes the moment a connection is opened, so there isn't a data file used per se -- I've tried it both with `active_interactor.py` from the repo as well as with a minimal TCP client, and in both cases it doesn't get past the connection stage.

[2020-04-15 12:57] jackgerrits commented on #2405
Okay I see, what is the entire command line for both the daemon and client?

[2020-04-15 13:11] ZechyW commented on #2405
For the daemon, I'm running `vw --active --port 6075`.
For the client, I've trying to open the connection directly in Python:
[code]

[2020-04-15 13:12] jackgerrits commented on #2405
Okay thanks, I'll take a look!

[2020-04-15 13:14] ZechyW commented on #2405
Much appreciated!

[2020-04-15 13:44] jackgerrits commented on #2405
The issue is that on Windows it seems that the socket detection function isn't working correctly. Specifially it seems that using `_getmaxstdio()` did not age well.

https://github.com/VowpalWabbit/vowpal_wabbit/blob/f94d8def9ed56b94d67b4985afd36a8641942fcd/vowpalwabbit/io_buf.cc#L114

This code is in need of a refactor that would resolve an issue like this but I want to try and work out a solutio

[2020-04-15 22:00] #2397 closed

[2020-04-16 02:05] ZechyW commented on #2405
Thanks for your help @jackgerrits, can confirm that vw in active learning mode works as expected when built and run on WSL.

[2020-04-16 12:35] plannigan opened #2408 "Publish manylinux wheels"
## Short description
Compiled wheels are published for windows. Can `manylinux` wheels also be published?

## **How this suggestion will help you/others**
Compiling from source can be complicated to get all the system dependencies set up properly. By publishing `manylinux` wheels, Linux and OSX users would be able to use the library as easily as Windows users.

## **Example/links if any**
[manylin

[2020-04-16 12:39] peterychang commented on #2391
Keep in mind the object will need to be completely opaque in the C API (handled as a `void*`). Any migrations we force the user to make now will be throw-away work once the official API is in place

[2020-04-16 13:36] jackgerrits commented on #2391
The primary motivation of this change is to make it possible to fix the namespaces. Since the inherited object is only used for the name, the object layout will be identical.

[2020-04-16 14:02] #2260 closed

[2020-04-17 05:05] mvyasNetskope commented on #2353
Any updates?

[2020-04-17 16:31] #2242 closed

[2020-04-21 14:40] Casperfrc opened #2413 "Running Dependency Parsing Demo with different datasets failing"
#### Describe the bug
The demo is in the following directory:
_vowpal_wabbit/demo/dependencyparsing/_

I am looking into using different datasets on the demo than the standard of wsj_train_subset and wsj_test_subset. I have created different testfiles based on some other data I found for dependency parsing but even after formatting the data seemingly fitting for the demo it won't entirely parse it

[2020-04-21 15:27] travisbrady opened #2414 "Schema/docs for contextual bandit json format"
### Description
Currently I'm not able to find one canonical source of the JSON input format for contextual bandits.
For example, I'd like to attempt this example (https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/python/examples/Contextual_Bandit_Example_with_VW_Python_Wrapper.ipynb) using the json format but I'm not able to tell what the field names should be translated to.

Is it `"acti

[2020-04-21 18:54] jackgerrits commented on #2414
The docs are definitely lacking clarity when it comes to JSON input, especially when it comes to CB.

On the JSON page linked the best example there is:
[code]
Which is equivalent to:
[code]

Features before the `_multi` key form the shared example, then each object in the `_multi` array correspond to each action.  The label can be supplied as the form VW text format understands or you could suppl

[2020-04-21 19:16] jackgerrits commented on #2413
I think you got a little mixed up with the files you're passing VW.
`parse_data.py` converts the original format to VW text cost sensitive examples.

[code]

So you probably want to run:
[code]

When I run this I get the following error:
[code]

I am not familiar with the dependency parsing scenario, but the following is the multi example that is causing the error. There is likely an issue with th

[2020-04-21 19:55] travisbrady commented on #2414
@jackgerrits thank you so much for the reply.

So what would be the translation of this simple example from [Logged-CB-Example](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Logged-Contextual-Bandit-Example) wiki page
[code]

Also, I have a handful more questions if you don't mind:
* When is `multi` necessary? Can it be ignored for simple CBs like in the notebook linked above?
* What is the r

[2020-04-21 20:21] jackgerrits commented on #2414
I think that would be:
[code]

`_multi` is necessary to describe actions in multi_ex situations. For CB it is possible each action would need to be an object in `_multi`

So DSJSON is an extension on top of JSON which allows for more logged information, they represent two parsing modes. The DS stands for [Decision Service which is a project from John and others](https://www.microsoft.com/en-us/res

[2020-04-21 20:34] jackgerrits commented on #2405
@ZechyW, if you are able to would you be able to confirm if PR #2412 solves the issue?

[2020-04-21 21:56] travisbrady commented on #2414
Thank you, @jackgerrits! This is already tremendously helpful.

One more question: is there a way in the C API to create an example directly without needing the parser? Say by passing a struct?

Also, I'd love to help add support for (DS)JSON input via the C API if you don't already have someone on deck to handle that. Just let me know.

[2020-04-22 01:50] ZechyW commented on #2405
Hi @jackgerrits, yes, can confirm that the changes fix the active learning mode connection issues on Windows 10 -- Thanks for the update!

[2020-04-22 11:48] Casperfrc commented on #2413
Hey Jack,

This really helped, I realised what the issue was after running it exactly like you told me. (Furthermore, I realised I had broken the Makefile in some way, so I re-downloaded that, whoops.)

The issue I had was simply the fact that I had more labels than the command in the Makefile was defining. It was defining 12, I had 34.

Thanks a lot for the help! Really appreciate what you guys a

[2020-04-22 11:48] #2413 closed

[2020-04-22 13:44] jackgerrits commented on #2413
Glad I could help you out @Casperfrc! Don't hesitate to reach out if you face issues.

[2020-04-22 14:55] jackgerrits commented on #2414
Yeah there is support for constructing an example without parsing. See this test for an example: https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/test/unit_test/vwdll_test.cc

Thanks for the offer, will let you know if there's a task that makes sense!

[2020-04-22 14:59] jackgerrits commented on #2408
Hi @plannigan, we investigated creating wheels on manylinux a while back, and it is definitely something we want to do. At the time there were issues because of Boost being required. We do have plans to remove the program options and python boost dependencies which should hopefully unblock manylinux.

[2020-04-22 15:14] travisbrady commented on #2414
Great. Thank you.

[2020-04-22 15:14] #2414 closed

[2020-04-22 15:23] travisbrady opened #2416 "How to infer prediction type via C API"
## Short description
Looking at the vw Python bindings https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/python/pylibvw.cc#L145 I can see we need to examine the prediction type to know which get prediction method to call.
Currently the C API doesn't seem to expose this (though I'd be happy to be wrong).
So, for instance, if you want a prediction from a CB you need to call `VW_GetCostSensit

[2020-04-23 14:30] jackgerrits commented on #2416
Yep, I agree. This is very necessary for the C api. This will definitely be incorporated into the API work we are doing.

[2020-04-23 16:26] travisbrady commented on #2416
Is there any way to do this today though? Or is this blocked on upcoming changes to the C API?

[2020-04-23 16:41] jackgerrits commented on #2416
There isn't as far as I can tell. It seems to me that there aren't entry points to retrieve all of the different prediction types either. We could patch the existing API, even thought it will be deprecated soon. @peterychang thoughts?

[2020-04-23 20:10] peterychang commented on #2416
I think patching the existing API is fine as a quick fix. If possible, we should make the signature as close to the proposed APIs as we can though.

@travisbrady Thanks for the feedback so far. I've migrated the proposed API surface to the wiki https://github.com/VowpalWabbit/vowpal_wabbit/wiki/%5BWIP%5D-C-API-Proposal
Its still a work in progress, but if you want to take an look and have any comm

[2020-04-23 21:53] sumpfork opened #2419 "Python bindings crash with SIGSEGV (Address boundary error) on Mac OS X pyenv install"
#### Describe the bug
WIth boost 1.72.0 installed from source and a recent python (I've tried fresh installs of 3.7.0 and 3.8.2) built from source via pyenv VW consistently crashes when called from python.

#### To Reproduce
Steps to reproduce the behavior:
- install boost 1.72.0 from source on Mac OS X 10.15.4.
- install python 3.8.2 (or 3.7.0) from source (I installed via pyenv)
- install vowpal

[2020-04-24 14:28] peterychang commented on #2419
It sounds like a similar issue to the one you referenced.

The problem stems from a mismatch between the version of the C++ library used in any of the binaries. This will include libpython, boost-program_options/boost-python (plus any dependencies here), possibly zlib (I think this is a pure c library though), and VW.

The problem you're likely running into is an incompatibility with the boost lib

[2020-04-24 15:57] sumpfork commented on #2419
Any hints on how I accomplished linking to different C++ libraries given that I installed all three packaged (boost, python and vw) from scratch and `otool -l` shows no differences in c++ library linkage?

[2020-04-24 19:45] peterychang commented on #2419
In this case, the order in which you build the libraries will be critical. It sounds like you built boost before building python. This would cause boost-python to use whichever python libraries were installed in the build path.

When building boost and VW, you'll need to ensure you're linking against the correct python/boost libraries. I'm not sure if the normal python build scripts output the ass

[2020-04-24 22:18] sumpfork commented on #2419
I have built them in that order, and I'm pretty sure there's no other boost on my system. I built all of boost. Note that the examples that come with the boost python library work fine with the python(s) I use, so I don't think this is a problem with my boost python install/combination generally.

The vw install seems to be finding all the right things:
[code]

My only boost install is in /usr/loc

[2020-04-25 10:03] etiennekintzler commented on #2308
Hello !

I am facing the same issue, having no way to directly transform a `pandas.DataFrame` to the suitable Vowpal Wabbit format. I am **willing to contribute** to this issue as well.

The destination format could be specified as a formula, in the same fashion as the python module [patsy](https://patsy.readthedocs.io/en/v0.1.0/formulas.html). In the present case, the formula would follow the [In

[2020-04-27 18:45] peterychang commented on #2419
Can you do 2 things for me?
1. Ensure vowpalwabbit is completely uninstalled and rebuild/reinstall the package again from source
   - I've noticed its possible to get multiple installations of VW installed into pip, which can cause unexpected issues. run `pip uninstall vowpalwabbit` until you get a message stating the package is not installed
   - If you're building from a cloned repo, ensure the

[2020-04-28 14:41] Penchekrak opened #2423 "--multilabel_oaa does not produce probabilities"
Can get neither probabilities nor raw predictions
I've tried

[code]
and ended up with target labels only in probabilities.txt. Also `-r` option designed to produce raw output returned nothing, unfortunately.

I used the latest git cloned build of VW

Apart from that, I'm not sure is there a way to achieve similar behaviour (multilabel prediction with logistic loss) with other available VW multicl

[2020-05-02 05:59] hardianlawi opened #2427 "Handling contextual bandit problem with continuous action space"
### Description

### Link to Documentation Page

[2020-05-04 11:26] Casperfrc opened #2428 "Running Dependency Parser demo and running out of memory"
#### Describe the bug
I've tried expanding on your Dependency Parser demo by giving it a harder dataset to crunch than the wsj. More specifically this dataset: https://github.com/UniversalDependencies/UD_English-GUM

To do this, I've had to add several more tags to the "tag" file and I've had to modify the Makefile's vw command as follows:
@$(VW) --passes 1 -d $< -k -c --search_rollin mix_per_roll

[2020-05-04 15:47] Casperfrc commented on #2428
I found a PC with 32 gigs of ram that was able to run the configuration and it ended up taking up about 18 gigs of ram at the peak. What I find weird is the result. I do not know if we have made a mistake with how we added the more than 3 times as many tags.

[The tags file](https://github.com/VowpalWabbit/vowpal_wabbit/files/4575610/tags.txt)
[The predictions file](https://github.com/VowpalWabbit

[2020-05-05 16:48] sumpfork commented on #2419
Sure, see below. Note that the py3.8 install was a clean install without any other packages other than vw installed, same problem. I searched my filesystem for other copies of the vw python shared library (and boost libraries), too, and can't find any.

[code]

[vw_install.log](https://github.com/VowpalWabbit/vowpal_wabbit/files/4582221/vw_install.log)

[code]

[2020-05-06 15:04] jackgerrits commented on #2423
It looks like Martin [answered this on Stack Overflow](https://stackoverflow.com/questions/61482843/vowpal-wabbit-multiclass-oaa-does-not-produce-probabilities). He's right `--multilabel_oaa` does not support `--probabilities`.

@pmineiro What would you recommend?

[2020-05-06 16:40] Penchekrak commented on #2423
Hi @jackgerrits, indeed it was my question on Stack Overflow. Since then I've tried to solve this issue and add some code to `multilabel.cc` analogous to what you guys have in `csoaa`. It worked considerably well somehow, though I still struggle to understand internal peculiarities of vowpal wabbit. I want to try to make a pull request out of it, hopefully with some help from this community, to ad

[2020-05-07 13:21] jackgerrits commented on #2423
A PR to update this is very welcome. Thanks for working on that!

I do not think there is a multilabel option for OAA available other than the reduction you mentioned.

[2020-05-08 13:34] jackgerrits opened #2433 "Produce docs + tutorial for cbify"
### Description

`cbify` is a very useful reduction for using existing datasets to train a cb learner but we have no wiki page for it or usage instructions. A wiki page would be a great start, a tutorial for the website would be even better.

[2020-05-08 20:01] lokitoth commented on #2428
Hi @Casperfrc, when you were running with 32 GB, were you still using VW 8.5, or did you use a newer version?

[2020-05-08 20:06] jackgerrits commented on #2427
Hi @hardianlawi, native continuous action support is being worked on currently. Would you be able to elaborate on what guidance you'd like to see for documentation around native continuous action support? As well as documentation about using discretization?

[2020-05-09 14:50] hardianlawi commented on #2427
From what I understand, there are different ways of dealing with continuous action. I'm not sure which one is being worked on currently.

What I think would be helpful is:

1. How do we deal with continuous action space? Do we discretize the action space or parameterize it by assuming some continuous distribution like gaussian?
2. If we discretize it, how do we deal with the discretization error?

[2020-05-14 15:57] JohnLangford commented on #2427
1) We have a paper here: https://arxiv.org/abs/1902.01520 looking at an approach which I believe in.  In essence, you create a continuous distribution to enable counterfactual evaluation of different strategies.  @rajan-chari has been working on implementing a practical version of this which should be merged in fairly soon.
3) It is not necessarily one-step policy gradient, because you want to ach

[2020-05-15 03:14] vingovan opened #2436 "segment fault when run pyvw.vw"
#### Describe the bug
I installed vowpal_wabbit. When I import pyvm and run pyvw.vw, I got error segment fault

#### Environment
- MacOS 10.15.2
- Install vowpal_wabbit use conda
- VW 8.8.1
- Python 3.8.2

Thanks

[2020-05-15 13:24] #2405 closed

[2020-05-18 10:24] mvyasNetskope commented on #2353
Any updates?

[2020-05-18 15:40] jackgerrits commented on #2436
Hi @vingovan,

This is a known issue to do with Conda on MacOS. It is a problem with the libraries Conda links against. You can find the full discussion in the tracking issue here: #2100

To mitigate, if it is possible for you to do so, you can use the package with Pip directly, outside of the Conda environment.

[code]

[2020-05-18 15:57] #2436 closed

[2020-05-19 18:28] jackgerrits opened #2443 "API inconsistencies between sparse and dense parameters"
I've begun work on this:
- Changed operator[] to return a float* indicating an array can be accessed
- Extending the parameters type to also expose an iterator

https://github.com/jackgerrits/vowpal_wabbit/tree/jagerrit/weights_refactor

[2020-05-20 15:16] waral opened #2444 "Contextual bandits with a neural network"
### Description

I'm using the vw python wrapper and I would like to use a neural network as the policy of a contextual bandit. I couldn't find any related example/tutorial or information about it in the documentation. Running, for example, `--cb_explore_adf --cb_type mtr --epsilon 0.01 --nn 10` doesn't give any errors. I also checked the human readable model with `--invert_hash` and it seems reas

[2020-05-20 19:00] calebtuttle-lp opened #2445 "CMake error during build "Could NOT find Boost""
I'm having difficulty installing vowpalwabbit for python use. I've tried installing both from source and with pip.
OS: Ubuntu 20.04
Python: 3.6.8 (
g++: 9.3.0
cmake: 3.16.3

To build from source, I followed the installation guide for in the wiki. Everything works fine. When I try to build the python wrapper with setup.py, I get the following output:

running build
running build_py
running egg_info

[2020-05-20 19:16] jackgerrits commented on #2445
The currently implementation of the Python bindings uses Boost Python, that ships binaries for linking against specific versions of Python. It looks like boost on Ubuntu 20.04 only ships the binaries requried for Python 3.8. can you confirm for me by running: `ls /usr/lib/x86_64-linux-gnu | grep boost`.

You may be able to get this working by explicitly installing an older version of Boost. This *

[2020-05-20 19:34] calebtuttle-lp commented on #2445
I appreciate the quick reply.
`ls /usr/lib/x86_64-linux-gnu | grep boost` produces this output:
`libboost_atomic.a
libboost_atomic.so
libboost_atomic.so.1.67.0
libboost_atomic.so.1.71.0
libboost_chrono.a
libboost_chrono.so
libboost_chrono.so.1.67.0
libboost_chrono.so.1.71.0
libboost_container.so.1.71.0
libboost_context.so.1.71.0
libboost_coroutine.so.1.71.0
libboost_date_time.a
libboost_date_time.

[2020-05-20 19:51] jackgerrits commented on #2445
It shouldn't be trying to build the tests for Python. Can you please delete the build directly and the run the Python install again.

[code]

Also just to confirm that we now have the required libs can you please paste `ls /usr/lib/x86_64-linux-gnu | grep boost` after you did the apt install of the older boost libs.

[2020-05-20 20:07] calebtuttle-lp commented on #2445
sudo make install works again. This is the output from the grep search:
libboost_atomic.a
libboost_atomic.so
libboost_atomic.so.1.67.0
libboost_atomic.so.1.71.0
libboost_chrono.a
libboost_chrono.so
libboost_chrono.so.1.67.0
libboost_chrono.so.1.71.0
libboost_container.so.1.71.0
libboost_context.so.1.71.0
libboost_coroutine.so.1.71.0
libboost_date_time.a
libboost_date_time.so
libboost_date_time.so.

[2020-05-20 20:20] jackgerrits commented on #2445
Okay that’s good. Does that mean you are now unblocked?

[2020-05-20 20:31] calebtuttle-lp commented on #2445
Tried running 'python setup.py build' again and got what looks like the same error:
running build
running build_py
running egg_info
writing python/vowpalwabbit.egg-info/PKG-INFO
writing dependency_links to python/vowpalwabbit.egg-info/dependency_links.txt
writing top-level names to python/vowpalwabbit.egg-info/top_level.txt
reading manifest file 'python/vowpalwabbit.egg-info/SOURCES.txt'
reading m

[2020-05-21 00:47] jackgerrits commented on #2445
So I looked into this a bit more. It looks like both the 1.67 and 1.71 apt packages for Boost on Ubuntu 20.04 only provide libs for Python 3.8. I have no idea why Boost is not bundling other versions. So using the apt installed binaries will only work for Python 3.8. I'm going to do a bit of research to see how we can mitigate this because undoubtedly people will want to use versions other than 3.

[2020-05-21 13:50] peterychang commented on #2445
Would it be possible to use anaconda?
I believe Conda has boost binaries for every version of python it supports, so it should solve your binary dependency issues.

I think the following `create` call will create a new conda environment and install all the conda dependencies required to build and run the python tests
`conda create -n <env_name> python=3.6 pytest pandas numpy boost py-boost zlib sc

[2020-05-21 14:31] calebtuttle-lp commented on #2445
Conda provided the fix. I installed miniconda and created the environment as suggested. Then a simple 'pip install vowpalwabbit' worked beautifully. Thank you @jackgerrits and @peterychang for your help

[2020-05-21 14:42] jackgerrits commented on #2445
Awesome, I'm glad that resolved it! Going to go ahead and close, feel free to reopen or create a new one if you face further issues.

[2020-05-21 14:43] #2445 closed

[2020-05-21 16:59] jackgerrits opened #2446 "warning: type ‘struct update_data’ violates the C++ One Definition Rule"
[code]

[2020-05-23 01:57] oleg131 opened #2447 "Getting raw predictions using Python wrapper"
## Short description
I usually run Vowpal Wabbit from command line, where I can get prediction scores using `-r` argument. However, I can't seem to find this option in the Python wrapper.

This line https://github.com/VowpalWabbit/vowpal_wabbit/blob/388d5516cca7aad00de7a0958d800a293e3dc9ab/python/vowpalwabbit/pyvw.py#L149
suggests that `pDECISION_SCORES` may be the needed prediction type, but this

[2020-05-23 09:06] AlchemistCamp commented on #2223
I encountered this same issue. I installed my Python (and many other languages) with asdf: https://github.com/asdf-vm/asdf

[2020-05-24 08:00] Smit-create commented on #2447
Hi @oleg131,

I agree this will produce attribute error as it should be `pylibvw.vw.pDECISION_SCORES` . Can you try using the following way if it produces the expected results?
[code]

[2020-05-25 04:38] oleg131 commented on #2447
@Smit-create

`pDECISION_SCORES` still can't be found:

[code]

If I pass `8` as argument, I get this:
[code]

However, e.g. `0` works as expected:
[code]

[2020-05-25 10:42] Smit-create commented on #2447
I see that the python wrapper isn't updated. Try updating it as in current master we now provide `pylibvw.vw.pDECISION_SCORES` as a key. Can you please try it on the current master?

https://github.com/VowpalWabbit/vowpal_wabbit/blob/388d5516cca7aad00de7a0958d800a293e3dc9ab/python/vowpalwabbit/pyvw.py#L133-L178

[2020-05-25 18:31] oleg131 commented on #2447
Tried master branch, I get this
[code]
And then the python process crashes.

This also happened before I switched to master, for some other predictions types.

[2020-05-26 13:22] jackgerrits commented on #2447
Hi @oleg131,

Can you please provide the entire script, model file and input file that is resulting in that segfault?

I installed 8.8.1 and was able to execute the following:
[code]

I have seen issues in the past where pip installs several versions of the same package side by side and the importing script gets the wrong version.

[2020-05-26 17:41] oleg131 commented on #2447
@jackgerrits
Yes,`pyvw.pylibvw.vw.pDECISION_SCORES` argument works on master for me too. But could you try using it in predicting? This is what I get

[code]

[2020-05-26 21:56] jackgerrits commented on #2447
Explicitly providing the prediction_type when calling predict is rarely required, and often when it is passed it is easy to get wrong.

In your case, in the example you provided you are using the default VW label format, and passing your examples to the default learner, scorer and GD. This setup produces predictions as floats. However, when you then specified `8` or `pyvw.pylibvw.vw.pDECISION_SCOR

[2020-05-27 00:03] oleg131 commented on #2447
@jackgerrits In that case I'm not sure that decision scores are what I'm looking for. The model I used for training was SGD, with the following arguments,

[code]

However, as mentioned, default output via Python wrapper is different from `-r` output. Is there any workaround for accessing `-r` values from Python? I could running prediction via subprocess, like you mentioned, but it just induces IO

[2020-05-27 13:20] jackgerrits commented on #2447
I see, so raw_prediction generally corresponds to the value of `partial_prediction` which is the raw output of the base learner before clamping and before reductions convert to their own representation. It is possible to get this value in Python.

You should be able to retrieve the raw prediction like so:
[code]

[2020-05-27 13:46] jackgerrits opened #2449 "Make Pandas an optional dependency"
Before we make another release I think it would be desirable to make the pandas dependency. It can be done in a similar way to the sklearn module at the moment.

[2020-05-27 13:49] jackgerrits opened #2450 "Support multiline examples with DFToVW"
There was significant discussion in the original PR about how to support multiline example the the DFToVW system.

In a nutshell:
- Define a column which specifies an example id, each row that has the same id is part of the same multiline
- Most multiline formats require different example types - therefore you you must be able to define several formulae which can be selected based on the value of

[2020-05-27 13:56] jackgerrits opened #2451 "Support direct example generation for DFToVW"
Currently the DFToVW converter takes a dataframe and produces VW text format. It would be desirable to skip the text step entirely by driving the necessary calls to build the example manually. This very likely has a dependency on the new C API being produced.

[2020-05-27 13:58] jackgerrits opened #2452 "Support all label types in DFToVW converter"
Currently only SimpleLabel is supported, it should eventually support all label types.

- [ ] multiclass
- [ ] mutlilabels
- [ ] cost sensitive (multiline)
- [ ] contextual bandit (multiline)
- [ ] ccb (multiline)
- [ ] slates (multiline)
- [ ] cb_eval (multiline)

[2020-05-27 15:56] etiennekintzler commented on #2452
Is the **multiclass** what's explained in [One Against All (oaa) multi class example](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/One-Against-All-(oaa)-multi-class-example)? If yes, I think the multiclass label type is quite straightforward to implement. The main difference with the `SimpleLabel` approach is that it required the label to be in the natural number set (between 1 and K). In fa

[2020-05-27 20:29] jackgerrits opened #2456 "Flaky debug assert hit in BFGS"
A debug assert that was recently added is hitting in the BFGS test with low probability (~1/35) due to the early termination.
[code]

[2020-05-28 00:27] oleg131 commented on #2447
Seems that `get_partial_prediction` agrees with `-r` but not always. Would you happen to know what are the steps between the two?

E.g. I have the following from `-r`:
[code]
and the following from `get_partial_prediction`
[code]

Full code for the latter
[code]

[2020-05-28 12:46] jackgerrits commented on #2447
I'm not aware of what could be causing the difference in behavior here. Can you please provide full code/command lines for how you produced both results? I want to make sure there are no differences that would cause this.

[2020-05-28 12:52] jackgerrits commented on #2452
Yes, OAA uses multiclass labels. Weight is a part of this label as well as the class, it's effectively the same thing as importantance.

Yes

No, those use cost sensitive labels.

I'll try and get around to updating the input format wiki page soon to hopefully clear these things up.

[2020-05-28 14:23] etiennekintzler commented on #2452
Ok so csoaa is multi class as well ? I am confused since you mentionned it as a separate **multiline** type.

To my understanding, the multi class pattern can be either :
- just the label with optional importance (defined as `label importance`) as in [oaa](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/One-Against-All-(oaa)-multi-class-example) or [ect](https://github.com/VowpalWabbit/vowpal_w

[2020-05-28 17:03] jackgerrits commented on #1927
One important things is you don't want to check whether the bias feature should be regularized or not on each feature, since this is done for all features the same way. One possible way to implement it would be to check if we are skipping bias regularlization once the update pass is complete and then "undo" the update.

A patch is definitely open for this issue if you're interested :)

[2020-05-28 18:04] jackgerrits commented on #2452
I've updated the [input format wiki page](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Input-format) to include more information about labels.

CSOAA (cost sensitive one against all) uses cost sensitive labels. Multiline is different to the type of label it expects. CSOAA has two variants, CSOAA (single line), CSOAA_LDF (multiline)

This is a mutliclass label

This is a cost sensitive label

[2020-05-28 19:10] oleg131 commented on #2447
Command line:
`vw -i m -d sa -r sc`

[code]

Python:
[code]

[code]

[2020-05-31 22:14] duburcqa commented on #2427
@JohnLangford Do you have any idea of what "fairly soon" means? I was about to start implementing it on my own but if someone is already doing it may be I could wait a little longer.

[2020-06-01 10:06] etiennekintzler opened #2458 "Improve DFtoVW user experience"
I have been thinking (and playing) with the `DFtoVW` and I think **the class API could be improved**. Except for the convenience function `DFtoVW.from_colnames` which is quite clear (maybe except its name) the default `DFtoVW` constructor could be further simplified:

1. The user shouldn't have to use `Col` (although this class could be kept for internal use).

2. A parameter `features`, that buil

[2020-06-01 15:52] jackgerrits commented on #2458
Thanks for your continued thought and work!

I'm a little skeptical for 1. Even though you correctly point out the most common behavior, I feel as though the implicit treatment of different parameters may be confusing. I would be interested to hear other people perspectives on this.

I am very on board for 2. Having the initial complexity be lower for the common use case and allowing a power user

[2020-06-01 16:10] jackgerrits commented on #2447
Can you additionally provide the input model `m` and the datafile `sa`?

[2020-06-01 17:40] jackgerrits opened #2459 "Positional args refactor change introduced API break"
#2418 changed the processing of positional arguments so that if more than 1 were passed it changed from being ignored to an error. This is a breaking change and should not being introduced without a deprecation and major release.

In this case, it was done accidentally and was not intended to be a breaking change.

[2020-06-02 13:44] #2459 closed

[2020-06-02 17:29] jackgerrits opened #2462 "It is not threadsafe to call set_done from learner thread"
The `set_done` method sets the state variable `done` to true. This begins the process of tearing down. However, when this is called from the learner thread it is possible to get into a situation where the `ready_parsed_examples` queue is not drained (especially when it is an early termination). After calling `set_done` an in flight operation to push an example completes. A mitigation was merged in

[2020-06-02 20:54] #2456 closed

[2020-06-03 20:04] oleg131 commented on #2447
I was doing more tests and it seems that the discrepancy was due to not including `--testonly` in the shell command. When running `vw -i m -d sa -r sc --testonly`, it produces same results as the python procedure you suggested. Thanks!

[2020-06-03 20:06] jackgerrits commented on #2447
Ah I see - so in the command line version it was learning and the updated model was producing different results. Makes sense! Thanks for circling back with the resolution.

[2020-06-05 19:56] jackgerrits commented on #2458
I agree.

I only really ever forsee people wanting to use constant names for feature names. Constants in other places are very unlikely

I agree

Your responses all sound reasonable to me.

[2020-06-08 16:20] etiennekintzler commented on #2458
Ok cool !

I will do a new PR soon with these 2 improvements (along with multi class label and a more stringent type checking).

[2020-06-08 16:34] etiennekintzler commented on #2450
Also, since it's a whole new field I think a new class method could be created (as we did for the "from_colnames" convenience method). We then would have :
- `DFtoVW`: for the default constructor
- `DFtoVW.from_colnames`: for the easy interface
-  `DFtoVW.multiline`:  for the multiline cases

A proper class method for multiline would prevent the default constructor to be clogged with more paramete

[2020-06-11 15:50] jackgerrits opened #2467 "Add runtests test for Slates"

[2020-06-12 16:01] albertlim opened #2469 "Measure memory usage of VW during inference and reducing it?"
Hey folks, very happy VW user here looking for some help.

I'm training hundreds of VW models, and we have about 20 servers that individually load them all. While the results are great, the memory usage of these models all together on each server are getting quite large, into the tens of gigs. Around 50MB per model, even when the raw size is just 150KB or less. As a result we're actively trying to

[2020-06-14 23:06] jackgerrits opened #2472 "Slates DSJSON format without an "_outcomes" field causes a crash"
If you do not populate the "_outcomes" field (or it is named something else), then it causes a crash. This is kind of low impact because pretty much every DSJSON log that is passed will contain the outcomes field, but it is still an issue.

Input:
[code]

Command line: `-d ../../../file_with_above_contents_above.dsjson  --dsjson --slates`

Output:
[code]

It seems to be caused by the fact that the

[2020-06-15 20:57] jackgerrits commented on #2469
Hi @albertlim,

Thanks for opening the issue!

I'd like to understand a bit more about your operating environment. Are you using VW as:
- Command line and piping the stdin/stdout?
- Lib in C++?
- Bound to another language?
- Using the shipped bindings?
- Something else?

You should not need to reduce your training data. This should not have an effect on inference memory consumption. If you are wor

[2020-06-18 21:08] etiennekintzler opened #2474 "Easier access to learned feature weight in python wrapper"
### Problem
In the python wrapper, **getting learned (features) weight should be easier**.

Currently the method to get learned weight of a given feature is :
1. find the hash value of the feature name using `pyvw.vw.hash_feature` using the feature name as 1st arg and the _hash_ of the namespace (being 0 for the naked namespace) as 2nd arg.
2. feed the feature name hash value to `pyvw.vw.get_weigh

[2020-06-23 13:32] jackgerrits opened #2475 "Chain hashing is not equivalent between text and json formats"
The way in which chain hash is calculated is inconsistent between equivalent examples in VW text format and JSON format.

### JSON:
[code]
[Source](https://github.com/VowpalWabbit/vowpal_wabbit/blob/fb8ca3c9cc887c24e4f17da6124be148d994bd93/vowpalwabbit/json_utils.h#L47)

Where `VW::hash_feature` is:
[code]
[Source](https://github.com/VowpalWabbit/vowpal_wabbit/blob/fb8ca3c9cc887c24e4f17da6124be148

[2020-06-23 19:54] jackgerrits opened #2476 "Refactor example setup functions into reductons"
setup_example does a bunch of logic to get an example ready for usage. In order to facilitate deterministic example reuse, it makes sense to extract this logic to a set of reductions.

These reductions should have an options that specifies that they undo anything they do, or they do not undo for performance reasons since the example will not be reused.

Candidates:
- Ignoring namespaces
[code]
- N

[2020-06-24 19:29] #1863 closed

[2020-06-25 13:53] jackgerrits commented on #2447
It looks like this issue is resolved, I'm going to go ahead and close. Feel free to reopen if need be.

[2020-06-25 13:53] #2447 closed

[2020-06-25 13:56] jackgerrits commented on #2339
Closed by #2348

[2020-06-25 13:56] #2339 closed

[2020-06-25 13:58] jackgerrits commented on #2333
@gramhagen it looks like #2368 resolved this? Are we okay to close?

[2020-06-25 13:59] jackgerrits commented on #2205
This is now being highlighted by warnings in GCC.

[code]

[2020-06-25 14:03] jackgerrits commented on #1876
Addressed in #2412

[2020-06-25 14:03] #1876 closed

[2020-06-25 15:13] ataymano opened #2479 "Explicit warning/errors when unsupported argument is ignored (at least for bfgs + save_resume)"
#### Describe the bug
There is confusing behavior: save_resume is not supported by bfgs but there is no explicit message about it - it just silently works if you provide it (ignoring --save_resume)
(based on #2006)

#### To Reproduce
Steps to reproduce the behavior:
echo "2 |
-1 | f1
5 | f2" > data.txt

vw -c --passes 2 -f model1.bin -d data.txt --bfgs
vw -c --passes 2 -f model2.bin -d data.txt --

[2020-06-25 15:17] pmineiro commented on #2444
Short answer: yes this is supposed to work.

Reductions are modular and are intended to compose.  Inability to compose is a bug.  So, for instance, if we release a new base learning algorithm (e.g., `--coin`), it is intended to work with all existing reductions (e.g., `--search`) and we don't explicitly state this.

Reductions are diagrammed here: https://vowpalwabbit.org/features.html

[2020-06-26 13:58] #2006 closed

[2020-06-29 15:11] jackgerrits opened #2486 "VW Slim unit tests are not running in CI"
Ideally slim would be built and tested on each CI platform - MacOS, Windows, Linux. A parallel check to verify this would be good as it should be very fast to execute.

[2020-06-29 17:15] jackgerrits opened #2488 "Proposal: A generic structure for JSON formats in VW"
# A generic structure for JSON formats in VW

## Motivation
Currently there is a split between JSON and DSJSON formats. The primary motivator for this split was likely being able to supply both top level metadata as well as structured label information for examples.

DSJSON has always focused on contextual bandit formats, and as those have been extended (CCB and Slates), the format has not scaled

[2020-06-29 18:01] #2467 closed

[2020-06-29 20:25] #2475 closed

[2020-06-30 17:29] etiennekintzler opened #2491 "In pyvw.vw, argument --passes not taken into account"
I am trying to do multiple passes on data using the argument `--passes` along with the cache argument `--c`. However **it does not seem to have any effect**.

I am using vowpalwabbit 8.8.1 installed from pip, python 3.7 and Ubuntu 18.04.4 LTS.

Below is a reproducible example :
[code]

The learnt weight of `model` is the same as `model_passes`.

Another way to see that it doesn't have any effect i

[2020-07-01 13:36] vumaasha commented on #2089
@peterychang this still not working in MacOS 10.14.6. Do you have any plans to make the installation easy for mac users?

[2020-07-01 14:17] lfleck commented on #1040
Is there any update on using pickle?
I'm defining multiple contextual bandits and try to train them in multiple python processes like this:

[code]

However, even with the "-f" option stated above, the originally mentioned 'Pickling of "vowpalwabbit.pyvw.vw" instances is not enabled' error appears. Same holds for [cloudpickle](https://github.com/cloudpipe/cloudpickle) which e.g. [joblib](https://j

[2020-07-01 15:10] jackgerrits commented on #1040
@gramhagen did you enable pickling in the PR you just submitted? (https://github.com/VowpalWabbit/vowpal_wabbit/pull/2368)

[2020-07-01 15:12] jackgerrits commented on #2491
When manually driving the learning process as you are the `--passes` argument does not make sense.

I agree it is confusing, but that argument is exposed so that if you created the pyvw instance with a datafile then it would first do multiple passes of learning of that datafile when then instance is initialized.

[2020-07-01 15:56] etiennekintzler commented on #2491
Yep I see. It make sense since you expect multiple pass on a whole datafile, not multiple passes per line example. For the same reasons I assume holdout_period won't make sense either ?

I have few questions :
- is there any plan to make `pyvw.vw.model` support list of examples as input. In that cases passes would make sense.
- is the following code a good way to emulate passes:
[code]

I have nev

[2020-07-01 16:37] jackgerrits commented on #2491
Yes, there are some arguments that wont make sense. I agree on holdout_period.

I think yes. Currently it is a little tricky because multi_exs are lists of examples so you need a way to distinguish between a multi_ex and a list of single_exs. We've been thinking about better encapsulation here. But yes, passing a list and being able to do multipass and all of that on it seems very attractive to me

[2020-07-01 16:54] etiennekintzler commented on #2491
Yes I noticed that too. You could pass a bool to a `multilines` parameter at init, or defined a special method `learn_multilines`/`learn_from_multilines` or if the code is really different maybe create a special namespace (you'd then use `from vowpalwabbit.pyvw.multilines import vw for example`)

Yes ! It would certainly be faster than learning example by example and would enable hyper parameter t

[2020-07-01 18:25] gramhagen commented on #1040
yes, you can pickle the sklearn model, under the hood this is accomplished using
[code]

but the problem will persist here since this is passing the pyvw.vw object itself (which is not picklable) to each new process. So you need to encapsulate model creation in your dummy_train function and only pass the parameters you want to vary.

example:
[code]

[2020-07-06 13:37] peterychang commented on #2089
@vumaasha yes, we are actively working on a change that should make VW installation a much simpler and more streamlined operation for Linux and MacOS. Specifically we are working on removing our dependency on boost and the C++ libraries for the python bindings layer, which should alleviate any issues installing with Anaconda and should allow us a way to provide binary wheels in the future.

Please

[2020-07-06 17:36] #2472 closed

[2020-07-06 19:34] ataymano opened #2497 "First slot loss report for ccb_explore_adf"
## Short description
Add capability to output loss from first slot only for ccb_explore_adf.

## **How this suggestion will help you/others**
Idea is to start using loss from the first slot in CFE pipeline.

## **Possible solution/implementation details**

Additional option that switching the meaning of reported average loss for ccb_explore_adf between loss from first slot only and sum
of losses o

[2020-07-07 14:29] jackgerrits commented on #2205
Partially addressed in #2484. Only search left to fix.

Once that is done the `enable_if` should be able to be easily added to guard future usage.

[2020-07-07 16:46] olgavrou opened #2499 "[Proposal] Flatbuffers as input to VW - file format"
# Flatbuffers as input to VW - file format

## Motivation

In adding flatbuffer support in VW there is a need to be able to read an input file one serialized object at a time. Flatbuffers don't support storing adjacent serialized objects in a (binary) file and reading them one by one. Objects can be serialized as part of an object collection. For the objects to be deserialized the entire collectio

[2020-07-07 19:52] jackgerrits commented on #2499
Is it correct that the only field that could be filtered on would be the values in the index file? So, position_in_file, size and type? I doubt this is super useful in filtering but I'm sure examples could be thought of. This will depend on what type specifies. Right now practically every file is sequentially processed.

In my mind I am asking is this worth requiring two files to be passed around

[2020-07-10 14:23] jackgerrits commented on #2205
This can't be completed until some APIs are removed. Deprecation began in #2498.

[2020-07-10 15:24] lalo commented on #2499
We need to keep in mind the security implications of the **implementation** of this proposal (emphasis on implementation). A bad actor can easily craft a payload that declares the size to be huge, and depending on how the implementation works a buffer might be allocated blindly trusting that user endpoint and crash. This might or not be a concern depending on the scenarios for  this (after all VW

[2020-07-11 03:31] abarbosa94 opened #2504 "pyenv: vowpalwabbit python wrappers do not build bc "Could NOT find PythonLibs" on Ubuntu 18.04 LTS"
#### Describe the bug
The steps described in https://vowpalwabbit.org/start.html do not work in a `pyenv` environment on Ubuntu 18.04.4 LTS

#### To Reproduce
Steps to reproduce the behavior:
Just copied the commands provided from the website:
[code]

#### Expected behavior
vowpalwabbit did not get installed ):

#### Observed Behavior
[code]

#### Environment
VW Version 8.8.1 on Ubuntu 18.04.4 LTS

[2020-07-11 08:55] etiennekintzler opened #2505 "Better handling of string/categorical feature vs float feature in DFtoVW"
The default behavior for the type `Feature` (used in DFtoVW) is to build feature as follow  `{feature_name}:{feature_value}`. If no name is supply the feature will be build as in `{feature_value}`.

This approach has 2 problems :
- For a _float_ feature : if **no name is provided**, the float feature will be incorrectly built as a string/categorical feature. The correct approach is to pass a empty

[2020-07-12 08:22] wangtianyu61 opened #2506 "Windows MSI Install -- new version request"
Hi,

I have installed Vowpal Wabbit using MSI Installer for windows from the https://github.com/eisber/vowpal_wabbit/releases. It works fine but it seems that it is in the newest version as several commands such as cbify-ldf and regcb do not exist. (I tried to compile source codes but it failed). I am wondering if there is the newest version of that MSI installer?

Thanks you.

Best
Tianyu

[2020-07-13 10:55] #2264 closed

[2020-07-13 14:07] jackgerrits commented on #2506
Hi @wangtianyu61,

Looks like @eisber maintained those in the past.

What components of the installer do you use? `vw.exe` or the C# DLLs?

[2020-07-13 14:08] jackgerrits commented on #2504
Looks like you're missing the Python dev dependencies -

Can you try running:
[code]

[2020-07-13 14:15] lalo commented on #2504
If that doesn't work, try also specifying the environment variable CMAKE_PREFIX_PATH to the corresponding pyenv `.pyenv/versions/<venv>/` directory and then retry.

You want to make sure that cmake finds the corresponding PythonLibs
[code]

[2020-07-13 18:23] abarbosa94 commented on #2504
Thanks for quick responses!

I have done it :) Errors are still the same

I am not so familiar with C++ code. How am I supposed to do this? Just by something like:
`export CMAKE_PREFIX_PATH=/home/andrebarbosa/.pyenv/versions/<venv>/` ?

[2020-07-13 20:39] eisber commented on #2506
You'll have to build either setup or setup_bundle project (https://github.com/VowpalWabbit/vowpal_wabbit/tree/master/cs/setup_bundle)

Here's the list of items packaged:

https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/cs/setup/Product.wxs#L39

[2020-07-14 20:59] lalo commented on #2504
I'm not that familiar with how pyenv structures the dirs but one of these might work? Try in the following order

`export CMAKE_PREFIX_PATH=/home/andrebarbosa/.pyenv/versions/3.7.2/envs/jon-snow/lib/python3.7/`
or
`export CMAKE_PREFIX_PATH=/home/andrebarbosa/.pyenv/versions/3.7.2/envs/jon-snow/`
or
`export CMAKE_PREFIX_PATH=/home/andrebarbosa/.pyenv/versions/3.7.2/envs/`
or
`export CMAKE_PREFIX_PA

[2020-07-14 22:36] rushter opened #2509 "VW deamon does not support JSON mode"
The `--json` flag is ignored when running VW in the daemon mode.

[code]

[code]

#### Environment

`8.8.1 (git commit: 866a3ff) MacOS`

[2020-07-15 08:08] wangtianyu61 commented on #2506
Thanks for the reply. I just used the installer of vw.exe before from @eisber and it runs well. However, as the version was maintained in 2018, it seems to be short of some new algorithms such as RegCB. Is there a new version of vw.exe? Or I still need to build based on VS2017?

[2020-07-15 08:43] eisber commented on #2506
@jackgerrits I'm a bit out of the loop in terms of VS version.

[2020-07-15 13:03] jackgerrits commented on #2506
I wasn't sure if there were users of the MSI, so this is helpful to know! The MSI hasn't been updated for some time so you'll need to do a source build for now.

To do a from source build you can follow the instructions in the wiki: https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Dependencies#windows

[2020-07-15 13:52] wangtianyu61 commented on #2506
Ok, thank you. (Actually at first I encountered some problems in source build so I turned to others:) Anyway thanks.

[2020-07-15 13:53] jackgerrits commented on #2506
Let me know if you have problems with those instructions and I can help out

[2020-07-15 14:36] lalo commented on #2506
@wangtianyu61 if you're able to share the build error log here that would be great for future reference.

[2020-07-15 15:16] rushter opened #2513 "Incorrect handling of multiclass labels when using JSON"
[Wiki](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/JSON) uses integers for class labels, but they don't work as expected for multiclass problems.

[code]

Current workaround is to use string type:
[code]

But this won't work with weights:
[code]

Another workaround that seems to work is to include weights in the label:
[code]
#### Environment

`8.8.1 (git commit: 866a3ff) MacOS`

[2020-07-15 16:04] jackgerrits commented on #2513
Currently the json format does not support JSON based label description for multiclass as you tried. The current workaround is to provide the text based label format as you did.

I have a proposal out for fixing inconsistencies and issues like this is the JSON format. See here: https://github.com/VowpalWabbit/vowpal_wabbit/issues/2488

[2020-07-15 16:25] rushter commented on #2513
Thanks for your response. Should I close this issue?

[2020-07-16 11:05] #2509 closed

[2020-07-16 11:08] olgavrou commented on #2509
Hi @rushter

Thanks for raising this bug. The issue should be resolved now on master. If you find that it isn't please feel free to reopen the ticket.

[2020-07-17 01:58] abarbosa94 commented on #2504
Thanks for the quick answers! However, I still got the same problem ):

Any other hypothesis?

[2020-07-17 05:48] lalo commented on #2504
Was it exactly the same error though?

Anyways, try running

`which python` copy the result and report it back here.
`which python3` copy the result and report it back here.
`which pip3` copy the result and report it back here.

Then run
`pyenv shell system` and this should run successfully, report back if it fails with the error.

Then run again:
`which python` copy the result and report it back

[2020-07-17 17:23] rushter opened #2516 "Memory leak in Python binding"
#### Describe the bug

The `vw.finish()` method and class deconstructor do not free memory when using Python bindings.

#### To Reproduce

The code below consumes 1.5GB for a 100MB model.
Each loop iteration increases consumption.

[code]

#### Environment

`Python 3.8, 8.8.1, macOS`

[2020-07-17 17:39] rushter commented on #2516
An unrelated question to the maintainers.

Is it possible to compile VW Python binding so that it won't need Boost installed on the system?
If so, why there are no Python wheels for PyPI (precompiled binaries for each system)?

I maintain a Python project with C code. And my CI automatically compiles 20+ wheels for Windows, MacOS, Linux.
I can help you to do the same, but I'm not an expert in C++

[2020-07-17 18:46] lalo commented on #2516
I did some quick debugging using `pympler` and just using `resource`, I was able to repro the memory leak. Then I tried turning this argument to `true` and the memory leak looks like is gone: https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/python/pylibvw.cc#L72

We should take a closer look, we might be assuming something incorrect on our python finish() call or figure out a proper way t

[2020-07-20 09:36] wangtianyu61 commented on #2506
The build error/warning log there contains: 1)Some metadata file cannot be found in out\target\Debug\x64\VowpalWabbit.**.dll (Core, JSON, Parallel) 2) About 60 warnings are the reference component could not be found such as Systems/WindowsBase/Systems.core etc.  3) Cannot open the file of out\target\Debug\x64\vw_core.lib (libvw.lib) 4) Cannot open the file of rapidjson/reader.h (no such file or re

[2020-07-20 14:16] lalo commented on #2506
From a couple of those, I assume either the dependencies are missing or you might have ommited the "--recursive" from the git clone command.

Make sure you clone with `git clone --recursive https://github.com/VowpalWabbit/vowpal_wabbit.git` to pull the submodules (rapidjson).

Here's the list of dependencies per OS. https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Dependencies

[2020-07-21 09:29] wangtianyu61 commented on #2506
Actually I thought I did all of them after check the list and dependencies. Could you release a new version of vowpalwabbit (vw.exe) online if possible?

[2020-07-21 15:23] jackgerrits commented on #2506
While this can change as we work on making it easier to get VW, at this point we don't distribute `vw.exe` as a binary. However, one of the experimental nightly pipelines produces it for Windows. You can give that a try? But keep in mind at this point it is "unofficial".

It is in the `target` artifact: https://dev.azure.com/vowpalwabbit/Vowpal%20Wabbit/_build/results?buildId=11433&view=artifacts&

[2020-07-21 15:29] peterychang commented on #2516
There are a few reasons why wheels are not generated for Linux or MacOS. Most of these boil down to the fact that we bind against C++ rather than a C interface.

On Linux, this creates some problems with building on the manylinux2010 environment, especially when boost is introduced into the requirements. A fair amount of effort has been spent trying to create wheels from our existing source, but t

[2020-07-21 19:35] ClementeOcejo opened #2521 "JNI Build"
I am trying to build the java JNI wrapper for the library, but when I try running make java i get the following error:
[code]
I have made sure that my JAVA_HOME is set appropriately and that Maven is installed. I also have all other dependencies. What could be causing this?

Thank you.

[2020-07-21 23:41] ClementeOcejo commented on #2521
Looking further into it, it looks like some of the options used by the library link in the java wrapper CMakeLists.txt are not recognized in clang. Is the only option to use gcc as the compiler instead?

[2020-07-22 02:06] abarbosa94 commented on #2504
Sorry about late answer

`/home/andrebarbosa/.pyenv/shims/python`

`/home/andrebarbosa/.pyenv/shims/python3`

`/home/andrebarbosa/.pyenv/shims/pip3`

Indeed, no errors :)

`/home/andrebarbosa/.pyenv/shims/python`

`/home/andrebarbosa/.pyenv/shims/python3`

`/home/andrebarbosa/.pyenv/shims/pip3`

This was unexpected though. The output was exactly the same ):

By following this, it works! However, a

[2020-07-22 13:36] lalo commented on #2504
We could probably beef up our cmake scripts to be able to find the python libraries, pyenv seems to behave differently or the PythonLibs finder script hasn't been updated (if this is the case). At least is good to hear that you were able to install it on the local python, this is good info for further root-causing the underlying issue.

[2020-07-22 13:40] jackgerrits commented on #2521
@eisber do you know if the Java bindings need GCC? It looks like the spark bindings added the `--enable-new-dtags` flag

[2020-07-22 16:00] eisber commented on #2521
the flag is used to make sure the dynamic library can be found (e.g. in the same directory).

[2020-07-22 16:54] ClementeOcejo commented on #2521
does this mean I have to use gcc? I tried finding a way to port the command over with options usable by clang but it is more difficult than I thought and building boost with gcc is giving me trouble too.

[2020-07-22 17:42] jackgerrits commented on #2521
### Let's try a mitigation:
@ClementeOcejo can you try just removing the flag here: https://github.com/VowpalWabbit/vowpal_wabbit/blob/2a4317daa2806ee4830eb278215f001c86febdc7/java/CMakeLists.txt#L58
So the line should become:
[code]

### Thoughts:
It seems that `--enable-new-dtags` is only supported on ELF targets, which MacOS is not. (https://stackoverflow.com/questions/22428356/unrecognized-opt

[2020-07-22 17:44] ClementeOcejo commented on #2521
Yeah I was moreso curious if this is a valid fix. Will this still build correctly? Thanks for the detailed response.

[2020-07-22 17:47] jackgerrits commented on #2521
Given that on MacOS `--enable-new-dtags` isn't supported I think it is a valid fix.

`--enable-new-dtags` is used to ensure the binary uses the newer DT_RUNPATH, and the point of this is to allow users more freedom about specifying dependencies on their system over the hardcoded search path in the binary. But if the platform doesn't support it then we're out of luck.

We 100% need to update the bu

[2020-07-22 17:48] ClementeOcejo commented on #2521
Sounds good, I'll give it a shot and update. Thanks!

[2020-07-22 17:57] ClementeOcejo commented on #2521
[code]

I'm getting these errors now which seem to have to do with Maven. Any thoughts? Thanks again.

[2020-07-22 18:08] jackgerrits commented on #2521
Yes, it looks like there is an assumption around the target platform being Linux. It looks like it was introduced with the Spark bindings but is affecting use for the orignal bindings too. @eisber how can we resolve this so that it can be loaded on all platforms?

See this file: https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/java/src/main/java/org/vowpalwabbit/spark/Native.java

[2020-07-22 18:34] eisber commented on #2521
Hi,

org.scijava.nativelib.NativeLoader this project does it almost right, but doesn't have the dependency extraction code.
The main issue I didn't tackle it is that ideally one would build for all platforms (linux, mac, windows) and then package the corresponding binaries into a single jar.

If you want to just build your self it's probably easier. https://github.com/scijava/native-lib-loader/blo

[2020-07-22 22:11] andy-soft opened #2524 "C# (CSharp) interface usage for joint prediction (search)"
### Description

I want to use VW from C# and not use the command line, just use a service and feed data in (to train), and pump predictions out
The problem is I did not find the C#API, no description of the usage, the Wiki info and the readme are not enough to understand the interfacing models.

I wat to use search, and do POS tagging, NER and Dependency Parsing, (all sequential) and don't know h

[2020-07-23 17:34] olgavrou opened #2527 "TestJsonDictClass fails randomly"
Example of failed run [here](https://dev.azure.com/vowpalwabbit/Vowpal%20Wabbit/_build/results?buildId=11736&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=bd05475d-acb5-5619-3ccb-c46842dbc997)

[2020-07-23 17:36] jackgerrits commented on #2527
@lokitoth I remember you looked into this a while back. What did you discover?

[2020-07-24 18:44] ClementeOcejo commented on #2521
I am not really sure where to go from here. Thank you for the responses though.

[2020-07-24 21:00] peterychang commented on #2188
It appears futexes can be used to synchronize across process boundaries at a relatively low cost
https://eli.thegreenplace.net/2018/basics-of-futexes/

The windows equivalent to futex is `WaitOnAddress`

[2020-07-28 20:50] peterychang opened #2528 "Python tests fail on Windows"
The python tests fail on windows. Most of the failures appear to happen in the DFtoVW converter, specifically when doing type checking.

After some investigation it looks like the problem is that the python `int` type is converted badly on Windows.

Instead of the `int`->`int64` conversion that happens on Linux, Windows does `int`->`int32`

[2020-07-29 11:08] abhijithea37 commented on #969
please initialize m4 enviornment by using aclocal

[2020-08-04 20:01] jackgerrits commented on #2528
Is this fixed now that #2530 is merged?

[2020-08-06 14:39] lalo opened #2539 "option.replace misuse"
https://github.com/VowpalWabbit/vowpal_wabbit/blob/895d347d6426234eaf8ebf70ee63daefdec908ef/vowpalwabbit/cb_explore_adf_cover.cc#L236

option.replace seems to only replace the command line argument on the input list of string arguments `m_command_line` and not on the already parsed `m_options`

In the referenced code above, it seems like a possible misuse since it's not calling `add_and_parse` aft

[2020-08-06 14:41] lalo commented on #2516
@peterychang this issued should be closed right?

[2020-08-07 18:14] #2458 closed

[2020-08-14 15:58] pransito opened #2545 "Please make v8.8 available via apt-get; Build description does not work for ubuntu 18.04.5"
#### Describe the bug
The description for building on ubuntu (18.04.5) does not work: https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Dependencies#ubuntu
On apt-get currently only version 8.5.0 is available.

#### Expected behavior
Please make current version available via apt-get for ubuntu so that everyone can simply run:
sudo apt-get install -y vowpal-wabbit

[2020-08-14 20:24] jackgerrits commented on #2545
Could you provide a description of the issue you faced when building based on the wiki?

The version is tied to OS release, so newer Ubuntu versions have newer releases. I'd like to look into an official PPA to make this easier on Ubuntu but that's just a thought at the moment. (There are other avenues we're exploring here too)

[2020-08-16 07:51] danielhaviv opened #2546 "Unable to install with Python 3.7"
I'm trying to build a pre-cooked docker image (ubunut based) with the VW python bindings.

I use python 3.7 and unable to pip install due to the following error:
[code]

#### To Reproduce
1. Dockerfile contents:
[code]

2. run (n the same directory as the docker file:
``` docker build .```

[2020-08-16 12:58] #2546 closed

[2020-08-16 12:59] danielhaviv commented on #2546
Issue was that FindPackageHandleStandardArgs couldn't find the python installation, after adding it to the PATH environment variable it works.

[2020-08-17 10:28] pransito commented on #2545
Hi,

Thank you for your quick reply!

I am working on an AWS EC2 instance. Changing the ubuntu version comes with a big overhead.

I think I have gotten it to work now but maybe improve some small things in the description to make it clearer for people unexperienced with building from source (like me):

on: https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Dependencies#ubuntu

everything works up

[2020-08-17 11:27] pransito commented on #2545
so you may close this, as there is no bug; just maybe improve build description with the suggested changes

[2020-08-17 12:09] jackgerrits commented on #2545
Building from source is a bit of a process, I agree. There are lots of options, so working out a clear way to present this is the wiki has been a journey. Thank you for the feedback though, it is much appreciated! Helps us improve!

Because `make install` often installs to system directories that's why the `sudo` is needed, but that is system dependent which is why we don't have it as `sudo` in th

[2020-08-17 12:13] olgavrou commented on #2545
@jackgerrits  yes I have made it explicit that the flatubuffers are not needed for `master`, apologies @pransito for the confusion. I have also made it explicit in the `Building` documentation that you should run `make` from `build` directory. Thank's @pransito for the feedback

[2020-08-18 19:40] #2491 closed

[2020-08-28 12:27] theKnack opened #2555 "How to learn to rank using Vowpal Wabbit's contextual bandit?"
I am using Vowpal Wabbit's contextual bandit to rank various action given a context.

    Train Data:
    "1:10:0.1 | 123"
    "2:9:0.1 | 123"
    "3:8:0.1 | 123"
    "4:7:0.1 | 123"
    "5:6:0.1 | 123"
    "6:5:0.1 | 123"
    "7:4:0.1 | 123"

    Test Data:
    " | 123"

Now, the expected ranking of action should be (from least loss to most loss):

    7 6 5 4 3 2 1

Using `--cb` just returns the

[2020-08-31 14:18] lalo opened #2556 "Outdated comment: there's no "release_example" fn"
https://github.com/VowpalWabbit/vowpal_wabbit/blob/22b3313d43181a60a316d2a96cecd6fe81dca4c5/vowpalwabbit/vw.h#L100

[2020-08-31 14:22] jackgerrits commented on #2556
I think it should probably refer to `dealloc_example`?

[2020-09-02 13:47] jackgerrits opened #2566 "Address repo size"
A fresh clone of the repo is currently ~170MiB, and the test dir is ~17MiB. The .git folder is ~128MiB. So there's some decently large files spread through the git history.

One approach I've seen used [elsewhere](https://github.com/Azure/mmlspark) is to place datasets into an archive that is uploaded to blob storage. The repo can then download and uncompress the artifact if they are needed for te

[2020-09-02 15:59] olgavrou commented on #2555
Hi @theKnack
 `--cb` does not do any exploration and just trains the model given the input so the output will be what the model (that has been trained so far) predicted

`--cb_explore` includes exploration using epsilon-greedy by default if nothing else is specified. You can take a look at all the available exploration methods [here](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Contextual-Ba

[2020-09-02 20:33] jackgerrits commented on #2555
I think CCB is a good option if computational limits allow. I'd just like to add that if you do `cb_explore` or `cb_explore_adf` then the resulting PMF _should_ be sorted by score so it is a ranking of sorts. However, it's worth verifying that the ordering is in fact sorted by scores (`--audit` will help here) as I don't know if there is a test covering this.

[2020-09-03 07:17] theKnack commented on #2555
Thanks a lot @olgavrou and @jackgerrits for the detailed reply!

[2020-09-03 07:17] #2555 closed

[2020-09-03 09:41] andreacimino opened #2567 "Memory leak in Python interface:"
`####` Describe the bug
Once a model is created in the python interface, this is never properly released from memory.

#### To Reproduce
Steps to reproduce the behavior:

[code]

#### Expected behavior
A clear and concise description of what you expected to happen.

#### Environment
8.8.1 (Ubuntu 20.04), Pip installation
Requirement already satisfied: vowpalwabbit in /home/andrea/.local/lib/python

[2020-09-03 12:53] jackgerrits commented on #2567
Using 8.8.1 from pip I get:
[code]

Using current master I get:
[code]

Looks like the leak was definitely real and is now resolved in master. We'll be doing a release soon, but in the meantime it can be installed from master using:
[code]

[2020-09-04 20:58] YiQ-Zhao commented on #2445
Hi,

I am encountering a similar issue for MacOS but it's not easy for me to switch to conda. I have other dependencies in the current venv.
I'm using py37 while `brew install boost-python3` has py38 as dependency. I can't find a way to install an earlier version of boost-python3.

Below is the full error message:

[code]

Any help would be appreciated.

[2020-09-07 14:09] olgavrou commented on #2497
@ataymano should we close this issue now?

[2020-09-07 14:10] ataymano commented on #2497
yes

[2020-09-07 14:10] #2497 closed

[2020-09-09 03:32] ahorn commented on #1687
I have repeated the experiment by @MelanieFreed with version 8.8.1 of VW, and I was able to reproduce the original result:

[code]

Since this experimental setup seems reasonable, and @JohnLangford marked the issue as a bug, I wanted to check on the expected behavior.

Is there anything that I, as a user of VW, can or should do to avoid similar unexpected results? For instance, should I choose the

[2020-09-09 09:55] olgavrou opened #2576 "Run all tests using flatbuffers"
The [PR](https://github.com/VowpalWabbit/vowpal_wabbit/pull/2496) that adds flatbuffers contains some very useful scripts for enabling ALL tests to run with flatbuffers (basic flatbuffer testing has been added to `test/RunTests`):

- `crate_bash_script.py` will create `create_data_files.sh`
- `create_data_files.sh` will in turn convert all test files to flatbuffer format so that all tests can be r

[2020-09-09 13:24] JohnLangford commented on #1687
An option was added to VW to truncate probabilities that become to small (--clip_p <x>).  The right value of <x> is dependent on the problem set, so we are still thinking about how to have an automatic solution.

[2020-09-09 16:30] olgavrou opened #2577 "[Proposal] JSON/DSJON format for continuous actions"
# JSON/DSJSON format for continuous actions

## Motivation

In order for continuous actions (_contact_ for short) to be integrated into APS it needs to have a valid json/dsjson format for inference and training.

## Proposal

Continuous actions currently have simple input format (no adf for contact). The text format is one-line-per-example (no multi):

`ca action:cost:pdf_value | features` for tra

[2020-09-10 17:32] andy-soft opened #2578 "When trying to do multiline structural learning (search) for NER the C# interface fail on predictions!"
#### Describe the bug
I am using C# interface to WV version 8/4 as well as 8.7 under windows

#### To Reproduce
Steps to reproduce the behavior:
Here is the training
var settings = new VowpalWabbitSettings();
				int bits = 24;
				var argx = $"-k -c -b {bits} --invariant --passes {passes} --search_rollout none --search_task sequencespan --search 9 --holdout_off";
				vn = new VowpalWabbit(argx);

[2020-09-11 10:40] olgavrou commented on #2488
According to the description shouldn't the `_label` fields for cb be: `"_label_cb"`, `"_label_shared"`, `"_label_cb_action"` OR `"_label_action"`? When  is `"_label" {"type": "X"}` used vs `"_label_TYPE"`

[2020-09-11 12:44] jackgerrits commented on #2488
Yes, thanks for picking up on that. I've updated `_label` -> `_label_cb` and `_label` -> `_label_ccb` for the relevant examples.

`{"type": "X"}` is just part of the data structure. `_label_TYPE` is the label enum, CB, CCB, Simple etc

[2020-09-14 14:10] jackgerrits commented on #2223
There are now manylinux wheels available for vowpalwabbit, those should be used automatically when it is installed now. If you try this scenario again it should be resolved.

[2020-09-14 14:37] jackgerrits commented on #2567
Closing as this is resolved in master, if you still experience the issue with that code please reopen!

[2020-09-14 14:37] #2567 closed

[2020-09-14 14:40] jackgerrits commented on #2504
There are now binary wheels available for Linux, including the 8.8.1 release. If you try this again, it should now use the binary wheel. If this still doesn't work please reopen the issue. Thanks!

[2020-09-14 14:40] #2504 closed

[2020-09-14 14:42] #2223 closed

[2020-09-14 14:43] #2046 closed

[2020-09-14 14:44] #2045 closed

[2020-09-14 14:44] #2037 closed

[2020-09-14 14:44] #2036 closed

[2020-09-14 14:44] #2031 closed

[2020-09-14 14:47] #2025 closed

[2020-09-14 14:47] #2018 closed

[2020-09-14 14:49] rajan-chari commented on #2014
This was in relation to continuous actions.  PR was merged.

[2020-09-14 14:49] #2014 closed

[2020-09-14 14:49] rajan-chari commented on #2013
Obsolete

[2020-09-14 14:49] #2013 closed

[2020-09-14 14:49] rajan-chari commented on #2012
Obsolete

[2020-09-14 14:49] #2012 closed

[2020-09-14 14:50] rajan-chari commented on #2010
Obsolete

[2020-09-14 14:50] #2010 closed

[2020-09-14 14:50] rajan-chari commented on #2040
Obsolete

[2020-09-14 14:50] #2040 closed

[2020-09-14 19:32] jackgerrits commented on #2100
I am currently investigating if it is feasible to get wheels for MacOS and have these preliminary artifacts - https://github.com/jackgerrits/vowpal_wabbit/actions/runs/254408712 if you could try installing the relevant wheel from there and see if it resolves the issue it would be appreciated

[2020-09-15 16:41] olgavrou commented on #2577
Another option could be:

[code]

which tends towards the proposed common json format described here: https://github.com/VowpalWabbit/vowpal_wabbit/issues/2488

With changes to the `parser_json_example.h` file seen [here](https://github.com/VowpalWabbit/vowpal_wabbit/compare/master...olgavrou:contact_json_plan_b#diff-87041431ff099d598c8705fe354f2474)

[2020-09-16 15:46] JohnLangford opened #2587 "static compile broken"
#### Describe the bug
-- Submodule update
Using the current master and doing make clean && make vw_static results in:

CMake Error at vowpalwabbit/CMakeLists.txt:31 (target_link_libraries):
  Object library target "vw_io" may not link to anything.

-- Configuring incomplete, errors occurred!
See also "/home/jl/programs/vowpal_wabbit/build/CMakeFiles/CMakeOutput.log".
See also "/home/jl/programs/vo

[2020-09-16 17:15] #2587 closed

[2020-09-17 08:05] saisr-media opened #2589 "Unable to do make in VW (due to unknown option: --enable-new-dtags)"
[ 81%] Building CXX object java/CMakeFiles/vw_jni.dir/src/main/c++/util.cc.o
[ 81%] Building CXX object java/CMakeFiles/vw_jni.dir/__/vowpalwabbit/spanning_tree.cc.o
[ 82%] Linking CXX shared library libvw_jni.dylib
ld: unknown option: --enable-new-dtags
clang: error: linker command failed with exit code 1 (use -v to see invocation)
make[2]: *** [java/libvw_jni.dylib] Error 1
make[1]: *** [java/CM

[2020-09-18 17:59] jackgerrits commented on #2589
Hi @saisr-media, currently the Java bindings are only setup for Linux. You can see this issue for a discussion https://github.com/VowpalWabbit/vowpal_wabbit/issues/2521. Closing as duplicate.

[2020-09-18 17:59] #2589 closed

[2020-09-22 09:42] #2577 closed

[2020-09-24 18:51] sumpfork commented on #2419
I pulled the latest code today, recompiled and at least the basics seem to work without a crash in this scenario now.

[2020-09-24 18:51] #2419 closed

[2020-09-24 18:58] jackgerrits commented on #2419
There are wheels available for each commit now for MacOS, you can use those too if you'd like. https://github.com/VowpalWabbit/vowpal_wabbit/actions?query=workflow%3A%22Build+MacOS+Python+Wheels%22

[2020-09-25 17:43] peterychang commented on #2528
Fixed in https://github.com/VowpalWabbit/vowpal_wabbit/pull/2530

[2020-09-25 17:43] #2528 closed

[2020-09-25 17:50] peterychang commented on #2516
We've resolved most of the issues with binary wheels. Python 3.6-3.8 wheels are now generated automatically via CI for Windows, MacOS, and manylinux.
Python 3.5 and 3.9 is only available on manylinux due to technical issues.

All available wheels will be available on pypi beginning with the next release; in the meantime the CI wheels can be downloaded manually here
https://github.com/VowpalWabbit/

[2020-09-25 17:50] #2516 closed

[2020-09-25 17:52] peterychang commented on #2408
We've resolved most of the issues with binary wheels. Python 3.6-3.8 wheels are now generated automatically via CI for Windows, MacOS, and manylinux.
Python 3.5 and 3.9 is only available on manylinux due to technical issues.

All available wheels will be available on pypi beginning with the next release; in the meantime the CI wheels can be downloaded manually here
https://github.com/VowpalWabbit/

[2020-09-25 17:52] #2408 closed

[2020-09-25 17:52] rushter commented on #2516
Good news! Thank you for your work!

[2020-09-25 17:54] jackgerrits commented on #2516
Here are links that take you directly to each platform workflow: https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Python#bleeding-edge-latest-commit-on-master

[2020-09-25 17:54] jackgerrits commented on #2408
Here are links that take you directly to each platform workflow: https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Python#bleeding-edge-latest-commit-on-master

[2020-09-30 00:42] kevinkurek commented on #1764
I know it's not a pip solution, but for others this solved it for me on MacOSX + Python 3.7.6.
`conda install -c conda-forge vowpalwabbit `

[2020-09-30 13:08] jackgerrits commented on #1764
Additionally, we have wheels produced for each commit now. Once we release 8.9 they will make it to pip so you can simply `pip install vowpalwabbit`. In the meantime check the wiki for a link to the wheel artifacts: https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Python#bleeding-edge-latest-commit-on-master

[2020-09-30 13:09] jackgerrits commented on #2100
We have wheels produced for each commit now. Once we release 8.9 they will make it to pip so you can simply pip install vowpalwabbit. In the meantime check the wiki for a link to the wheel artifacts: https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Python#bleeding-edge-latest-commit-on-master

[2020-10-01 15:51] lokitoth commented on #2578
Hi @andy-soft. Sorry for the delay getting to this. I am currently looking at this issue.

[2020-10-01 17:16] lokitoth commented on #2578
Hi @andy-soft: The issue here stems from there not being a set of helpers for Search (like there are for CB/ADF), which means you have to use the lower-level API to extract predictions.

Here is an example (built on [Tests 48/49 from RunTests](https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/test/RunTests#L1073-L1082), which aresimilar to what you are trying to achieve): https://gist.gith

[2020-10-01 17:43] lokitoth commented on #2524
I added a link to an [example gist](lokitoth/bd8e9e6f1c1be57c0cc320e638ce6b29) in #2578. Will use this issue to track the work to provide better documentation, and focus on assisting @andy-soft with specific questions in the other one.

[2020-10-01 20:50] etiennekintzler commented on #2505
To @lalo and @jackgerrits what do you think this issue? Seems to pose an hindrance to the use of the DFtoVW convertor for newcomers as the output format might yield underoptimal performances (since the variables might not be of the appropriate type).

[2020-10-02 00:37] andy-soft commented on #2524
Thank you!
I am testing it right now! (and it seems to work!)
But.. I found no information on the documentation to allow me do this construct!!!
Thanks a lot!
Just I am testing the NER parser (in Spanish) and it overfits a lot, it's really fast but commits lots of errors!
F1 < 60% when others reach 92% on same dataset. (Ancora) I also added lots of features on the peature space, not only word and

[2020-10-02 13:48] lalo commented on #2505
I don't believe feature value can be anything else than a float/integer. A feature name can be a string or a number. For semi-related context: under the covers id is always an integer, generated by hashing that string name also known as the hashing trick https://booking.ai/dont-be-tricked-by-the-hashing-trick-192a6aae3087).

On the classic vw input format, if a feature name is present without a va

[2020-10-02 14:18] olgavrou commented on #2505
@lalo I have seen a feature value be a string in chain hashing see test [here](https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/test/unit_test/chain_hashing.cc#L21) and chain hash data set [here](https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/test/train-sets/chain_hash_text_test.dat)

Not 100% what the use case for that would be but it seems like VW does support that kind of in

[2020-10-02 14:57] olgavrou commented on #2505
It seems the case where feature value is a string will get translated internally to "feature_namefeature_value":1 so we don't necessarily need to support that on the python level

[2020-10-02 15:58] etiennekintzler commented on #2505
I will take an example to be more precise, as my initial message might lack clarity 😄

Let's supposed two possible feature values :
- `high` which is a _string_
- `3.5` which is a _numerical_

and  2 possibilities for feature names:
- no feature name is provided
- one feature name is provided, for instance `var_a`.

The following table sum up the 4 cases possible, and the issues associated with 2

[2020-10-02 16:20] etiennekintzler commented on #2505
Yes @olgavrou it is my understanding as well ! However the issue remains, especially in the case of the numerical feature without feature name -> `3.5` will be translated internally as `3.5:1` which is wrong.

[2020-10-02 17:22] olgavrou commented on #2505
@etiennekintzler  Thanks for your second message it does clarify your concerns.

Based on your first message:

Do you mean `it will then return {feature_name}` maybe instead of `{feature_value}`? In what use case would it make sense to just pass in a value and not a feature name (i.e. `'':3.5`)? If a single element is given to VW it makes sense for it to be interpreted as a feature name, so if tha

[2020-10-02 18:17] etiennekintzler commented on #2505
@olgavrou  thanks for you reply

No, I meant for `Feature(value="colA", name='')` it will return the following value  `:{feature_value}`  (note that `:` is part of the expression).

I don't really know, I just know it's legal in VW format.

I agree with you here, but I've seen users use numerical value without prepending `name:` and expecting it to be used as numerical feature.

I think there is a

[2020-10-02 18:33] etiennekintzler commented on #2505
When I think of it, maybe the ability to add a feature name complexify the DFtoVW's API. Another possibility to make the API easier would be to :
- remove the possibility to add feature name.
- take the data.frame's column name as a the feature name.

For instance using the previous dataframe :

level | age
-- | --
high | 28
low | 30
low | 22

we'd use the following code
[code]

that would yield :

[2020-10-02 18:56] lalo commented on #2505
level | age
-- | --
high | 28
low | 30
low | 22

would actually be:
[code]

this is equal to

[code]
as long as you are consistent with your symbol picked. It ends up being hashed.

also equal to that is:
[code]
Since age is a number, you can ensure they are do not collide by using the number directly as a hash.

and this:
[code]
That's just removing the default feature value of 1.

also this is e