[2018-12-28 20:48] deaktator commented on #1579
@JohnLangford @jmorra @ampm78: I think this depends on the status of the build process. Previous to 8.4.1, we included the binaries for several OS variants in the jar. To the best of my recollection, the primary reason these were removed was related to two primary factors:

1. the release process for Java was independent of the C lib release process.
1. At the time, boost program options was dynam

[2018-12-28 20:49] JohnLangford commented on #1536
I'm slightly confused by this report.   What exactly are the flags being used?

[2018-12-28 20:55] JohnLangford commented on #1277
@alekh your thoughts here?

[2018-12-28 20:56] JohnLangford commented on #1579
I'm unsure, but several more people are becoming involved so it's possible we can engineer a more comprehensive release process.

[2018-12-28 21:00] alekh commented on #1277
Sorry, I am not sure I have the bandwidth in the near future. After the ICML deadline, I really want to focus on our book.

Alekh

From: John <notifications@github.com>
Sent: Friday, December 28, 2018 12:55 PM
To: VowpalWabbit/vowpal_wabbit <vowpal_wabbit@noreply.github.com>
Cc: Alekh Agarwal <alekha@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [VowpalWabbit/vowpal_wabbit] act

[2018-12-30 16:56] seanv507 opened #1699 "holdout_after does not work with value 40,000,000? works with 4,000,000"
[EDIT - markdown hid the command line params]
I am trying to use vowpalwabbit on the criteo dataset (~45 million rows - 7 days of impressions data)
what I wanted to happen is that I use first 40 million rows as training and last 5 million as holdout.
however, it does not seem to work - it claims no hold out set defined. If I use a data set of 5 million, it seems to work fine??
see log below:
a) no

[2018-12-31 14:20] JohnLangford commented on #1699
This is somewhat mysterious---not sure what's going on.

[2018-12-31 14:20] JohnLangford commented on #1699
Can you provide full directions for making this reproducible?

[2018-12-31 18:13] seanv507 commented on #1699
Thanks John, the vw call was hidden, updated. and shared s3 bucket with data. see above

[2019-01-01 16:42] #1699 closed

[2019-01-01 16:44] seanv507 commented on #1699
I think this is a user error! am still investigating, but looks like my vw file is cut short, so that the holdout_after is beyond the length of the file.

[2019-01-02 14:47] jackgerrits commented on #1692
clang-format is a command line tool that is run separately. I'm not sure if the editors can read the config

[2019-01-02 19:18] MelanieFreed commented on #1687
Hi @JohnLangford  Thanks for your response!  The above output was created with 100k events, so I re-ran it with 1 Million events and also 10 Million events, but the results look largely the same (see below).  From your response above, it sounds like it must be a representational issue, but I'm not quite sure what you mean by that.  Could you elaborate a bit?

Results for 1 Million events:
[code]

[2019-01-02 19:43] MelanieFreed commented on #1546
@matanster  @wbcustc  I'm trying to do this now and am having some trouble.  When I try to learn on the ADF formatted examples using the python wrapper, I'm getting an error.  Were you able to get this working and how did you run the learn step?  Thanks in advance!

Here's what I'm trying (from python3 installing vw from source at the commit on August 13th):
[code]

[2019-01-02 22:03] wbcustc commented on #1546
@MelanieFreed The example you feed to the VW should be a python list instead of the newline separated string. so first split your example string by `\n`  then use `pyvw.vw.example` function to convert each line to an example and then feed the converted example list to the `model.learn` function

[2019-01-03 00:13] palmerlao commented on #1692
My understanding of clang-format is similar to @jackgerrits previous comment. On a separate project, I use the following to make emacs format all of my C++ code as I go:

[code]

[2019-01-03 15:35] MelanieFreed commented on #1546
@wbcustc  Thanks for your response.  I gave that a try (see below), but I'm getting an error.  Is there something that's still not quite right?

[code]

[2019-01-03 20:03] wbcustc commented on #1546
@MelanieFreed I think that means something wrong with your pylibvw so file. You need to make sure that file contains the learn_multi function. Here is the source code. https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/python/pylibvw.cc#L716

[2019-01-03 21:09] jackgerrits opened #1702 "Reward estimators library"
Estimators
- [x] ips
- [x] weighted ips (aka snips)
- [x] mle
- [ ] dr
- [ ] dm
- [ ] switch estimators?
- [ ] ...

Components
- [x] Python
- [ ] Testing framework
- [ ] C++
- [ ] C#

Confidence interval

[2019-01-03 21:38] MelanieFreed commented on #1546
That's weird because my source code does have that function...  Must be a problem w/ my install somehow?  Anyway, I'll try to play around with it a bit more.  Thanks for your help!

[2019-01-04 03:07] ramab1988 commented on #1672
I guess so. Thanks for pointing it out. Is there any fix for this?

[2019-01-04 22:52] kumpera commented on #1300
I debugger the example from https://github.com/VowpalWabbit/vowpal_wabbit/issues/1300#issuecomment-347231627 and I can reproduce it with master.

The issue is that each instance of VowpalWabbit is trying to use stdin and introducing a race condition as they close it.

While we're working on a fix, there's a workaround, which is to pass `--stdin_off` as your first VW argument.

[2019-01-10 15:41] lokitoth commented on #1691
No, these are not. I will send out a PR with a full set of windows build scripts (until we finish migrating it to use cmake)

[2019-01-10 15:59] jackgerrits commented on #1573
Assigned to @pavithraks

[2019-01-10 18:31] jackgerrits commented on #1691
Can you remove `.gitkeep` while you are there?

[2019-01-11 16:22] JohnLangford commented on #1687
Something is definitely not right here, but I'm not sure what.  It's easier for me to address bugs (and will help isolate the issue) if this can be invoked from the commandline instead.  Note that you shouldn't need a large datafile since you can use --passes.

[2019-01-14 15:00] lokitoth commented on #1685
@jramos-ceres-br In terms of prioritizing, which parts of VW do you need to be exposed?

[2019-01-14 15:06] kumpera commented on #1685
They still won't be cross platform in net core 3 as they use managed C++.

[2019-01-14 15:18] lokitoth commented on #1685
Good point; I keep forgetting that bit.

[2019-01-15 16:49] jackgerrits commented on #1614
This bug affects both `--dsjson` and `--json`, `--invert_hash` implicitly relies on some audit functionality. When using standard VW format this works correctly but when using json parsing it is not using audit. While I work on a proper fix there is a workaround to explicitly add `--audit` to your command line.

---

### Temporary Workaround
When using `--json` or `--dsjson` add `--audit` to the c

[2019-01-15 22:21] #1614 closed

[2019-01-16 15:15] jackgerrits opened #1712 "Java 8 is no longer supported and cannot be installed"
Free public updates for the Java package we install in continuous integration images, and target as the supported Java version are no longer supported as of January 2019. The url used to install the package now returns a 404.
https://unix.stackexchange.com/questions/494694/error-404-on-jdk-download-debian-8
https://en.wikipedia.org/wiki/Java_version_history

[code]

Fails with:
[code]

This also i

[2019-01-17 15:35] JohnLangford commented on #1712
@jmorra @deaktator We are discussing what to do around this.  Should we try to upgrade to java 11?

[2019-01-17 15:51] jackgerrits commented on #1672
Assigned to @pavithraks to check if it still repros with the options patch

[2019-01-17 16:52] jmorra commented on #1712
While I have not used Java 11, Java has traditionally been very good at maintaining backwards compatibility.  The test coverage for Java is pretty good so I wouldn't be surprised if a simple upgrade just works.  Also the pom file still references Java 6.  We could try upgrading this as well.  It very well might make the code run faster as well.

[2019-01-17 17:12] marco-rossi29 commented on #1687
Hi Melanie, I'm looking into this

[2019-01-17 17:51] MelanieFreed commented on #1687
Thank you!!

[2019-01-17 17:54] jackgerrits opened #1714 "Update new_version script to update version.txt and other instances of version number"

[2019-01-17 20:47] jackgerrits commented on #1630
These are resolved with #1710 and #1713

[2019-01-17 20:47] #1630 closed

[2019-01-17 20:50] jackgerrits commented on #1629
@arielf I just tried to reproduce this on latest master, would you be able to try reproducing and confirm if it is still an issue or not? Thanks! I'm going to close this, but please reopen if it repros.

[2019-01-17 21:35] jackgerrits commented on #1712
I've updated our continuous integration to target Java 11 in #1716

[2019-01-18 21:41] JohnLangford commented on #1573
Great, thanks :-)

[2019-01-18 21:41] #1573 closed

[2019-01-18 22:01] pavithraks commented on #1672
Somehow, the changes in https://github.com/VowpalWabbit/vowpal_wabbit/pull/1706 did not fix this. I still see the error when I run the example data that @ramab1988 provided. We marked this one as a duplicate of 1573.  I'm looking into this. Let's not mark this as closed for now.

[2019-01-19 17:56] #1712 closed

[2019-01-21 01:14] arielf commented on #1629
Hi Jack,

This bug was detected when building with `CXX=clang++` on Ubuntu 18.04.

With the (unrelated) switch to `cmake` I'm no longer able to just run the build I used to regularly run (clang++ and static linking).

The instructions in README.md tell me I need to do:
[code]

Unfortunately, this fails with:
[code]
On Ubuntu 18.04, the default `cmake` version is `3.10.2`, so it is surprising this

[2019-01-21 01:28] alexfraze opened #1720 "memory issue with ngrams in python implementation"
#### Describe the bug
Using Ngram features in the python implementation seems to prevent correct memory de-allocation

#### To Reproduce
1. Create a vw model with ngrams
2. Train the model on some examples
3. delete the example and the models
4. Check to see if all the memory is freed up

#### Expected behavior
I expect there to be some memory still used by the model and examples

#### Environment

[2019-01-21 12:30] JohnLangford commented on #1629
Unclear what's up---we should try to figure it out.

[2019-01-21 12:42] JohnLangford commented on #1720
Do you have a program that reproduces?

-John

On Sun, Jan 20, 2019 at 8:28 PM alex frazier <notifications@github.com>
wrote:

[2019-01-22 16:05] jackgerrits commented on #1629
When you ran that set of commands did you run it from the base of the repo? The error message indicates that the CMakeLists.txt file that would found when you invoked cmake was not the base file, but a child one like the one in /vowpalwabbit for instance. Could you confirm the directory you were in?

Once that is working, you can add the `-fstack-protector` flag by adding it to the following line

[2019-01-22 16:56] pavithraks commented on #1672
okay, false alarm. I was running the installed vw on linux instead of the one with the fix (facepalm). The save_resume issue has been fixed. Although, I don't know the answer to @ramab1988 's other question about threads. (copied below)

_On a different note, I have started using python interface & it is not throwing any error while saving / loading the model. But I have an important question here

[2019-01-22 17:57] JohnLangford commented on #1672
Thanks Pavithra :-)

The answer to the threads question is "bad things".

[2019-01-22 17:57] #1672 closed

[2019-01-22 20:33] jackgerrits commented on #1702
@marco-rossi29 do you want to move this issue to the estimators repo?

[2019-01-22 21:53] lokitoth commented on #1714
Ideally, all the other places should grab the version number from version.txt, wherever possible. Are there situations where this cannot be done?

[2019-01-22 22:06] jackgerrits commented on #1714
I think the extra ones are mainly AssemblyInfo.*

[2019-01-23 17:22] marco-rossi29 opened #1724 "with --cb or --cb_explore VW creates multiple hashes for same feature"
#### Describe the bug
Multiple hashes are created for the same feature.
May be related to #1566 and #1687

#### To Reproduce
`data.txt` contains:
[code]

Running:
[code]
Num weight bits = 18
learning rate = 0.5
initial_t = 0
power_t = 0.5
using no cache
Reading datafile = data.txt
num sources = 1
average  since         example        example  current  current  current
loss     last          counte

[2019-01-23 19:52] jackgerrits commented on #1724
I’ll look into this

[2019-01-24 14:00] jackgerrits opened #1725 "Improve portability of VW lib - MUTEX and CV"
We should replace `MUTEX` and `CV` with the standard library types `std::mutex` and `std::condition_variable` to reduce dependence on SDKs and system headers.

Beyond this, daemon mode should be extracted into it's on project/target so it can be only compiled when needed as this introduces system dependencies for the network calls.

We are actually quite close to vw_core being portable across OSs.

[2019-01-24 15:44] jackgerrits commented on #1724
This is expected behavior, closing

[2019-01-24 15:44] #1724 closed

[2019-01-24 20:30] liyinan1001 opened #1726 "Unable to make on Ubuntu"
#### Describe the bug
I installed libboost-dev zlib1g-dev libboost-python-dev and followed the installing procedure.
`cmake .. -DSTATIC_LINK_VW=ON` succeeded. But when I run `make -j` the following error showed:

[code]

#### Environment
What version of VW did you use?
Most recent from git clone
What OS or language did you use?
Ubuntu 16.04.5 LTS

[2019-01-25 00:50] arielf commented on #1726
Confirming:
I can reproduce w/ same issue on Ubuntu 18.04
Since the switch to `cmake` was made, I'm not able to fully build statically by following the README.md instructions.

[2019-01-25 05:20] arielf opened #1728 "Recent significant regression in vw training-time"
#### Describe the bug

Seeing a significant regression in training-times with latest `vw`.
The regression occurred somewhere in the past ~6 months.

#### To Reproduce

Build latest `vw` like this:
[code]

[code]

With older `vw` (built statically on July 8, 2018):
[code]

Used 5000 passes just to get a long enough running time.
(the regression also occurs is single pass; time is too short to relia

[2019-01-25 12:41] JohnLangford commented on #1728
I don't know any good reason for this.

Can you binary search for the critical checkin?

[2019-01-25 13:34] #1726 closed

[2019-01-25 17:53] marco-rossi29 commented on #1702
Sure.

[2019-01-25 17:55] #1702 closed

[2019-01-25 20:42] arielf commented on #1728
@JohnLangford yes, I plan to get to this.

Running `git bisect` got a bit complicated because of the switch to `cmake` in the middle of multiple other changes.

Speculation: I might be hitting a pathological L2/L3 cache miss because of creeping code size growth, or maybe one of the newer Intel CPU freq-down-scaling adjustments on the fly when the chip gets too hot.  This is running on a pretty new

[2019-01-28 01:21] alexfraze commented on #1720
sorry wasnt a bug with VW.

Apologies

[2019-01-28 01:21] #1720 closed

[2019-01-28 16:52] bscan opened #1729 "no_bias_regularization not working"
#### Describe the bug
The option --no_bias_regularization for BFGS doesn't seem to affect anything. This option was added here: https://github.com/VowpalWabbit/vowpal_wabbit/pull/1151 as a fix to this bug https://github.com/VowpalWabbit/vowpal_wabbit/issues/919

#### To Reproduce
Here is an example dataset that shows it has no effect, and this dataset also shows the nature of why I want to use the

[2019-01-28 18:55] jprobichaud commented on #1671
I coulnd't have a chance to spend some time on this again, will anyone from the "official" team be able to have a look?

[2019-01-28 20:15] jackgerrits commented on #1725
I started on this task, but I have now realized it is made a bit more difficult by the fact that you cannot include <mutex> or <thread> when compiling in /clr mode. To workaround this these properties will need to be exposed in a pimpl pattern. I'll revisit this soon when I have a bit more time.

[2019-01-29 15:36] JohnLangford commented on #1728
I'm wondering if the problem was the switch to cmake.   The wrong optimization flags could account for this.

[2019-01-29 21:37] #1300 closed

[2019-01-30 17:04] maxpagels commented on #1667
Note that using no exploration (`--cb` instead of `--cb-explore`) does the opposite: with `-t` the loss is much higher (as expected).

[2019-01-30 19:09] #1725 closed

[2019-01-30 19:12] JohnLangford commented on #1667
I'm not following.  Why would -t make the classifier always predict label
1?  Is this an empirical observation?

-John

On Wed, Jan 30, 2019 at 12:04 PM maxpagels <notifications@github.com> wrote:

[2019-01-31 19:07] maxpagels commented on #1667
@JohnLangford thanks for the prompt response! I'm referring to `-t` as in test-only. I'm not passing in any model with `-i`, and all predications are of label 1:

[code]

Nothing really surprising here, since I explicitly used `-t` without providing an initial classifier. But it's unclear to me how the average loss reported at the end is much higher if I actually do learning, e.g.:

[code]

This s

[2019-02-03 03:33] arielf commented on #1691
Hi,

I'd like to reopen this issue. Basically, we have a regression.

Since the switch to `cmake`, I have trouble building `vw` statically with clang, on Ubuntu 18.04 by following the (new) instructions.

Starting with a fresh clone:
[code]

Proceeding with build according to instructions:
[code]

It is possible that `LD=clang++` should be added to environment (?)

Interestingly, going one level u

[2019-02-03 12:32] arielf commented on #1728
@JohnLangford thanks, indeed, good news.

Spent a long time bisecting the code to no avail.  It became obvious the problem is somewhere else. the slowness seemed to have become sticky in my work area and no `git checkout ... && make clean && make` could bring back the faster `vw`.

The cause was wrong build flags (forced to Debug).  I missed it because the compilation lines with the flags are no l

[2019-02-03 14:56] jackgerrits commented on #1728
Thanks so much for looking into this! That’s a huge problem with the CMake
definition, what you did is correct and meant to have worked. I think
@kumpera may have fixed this already but I’ll talk to him and make sure
it’s fixed up.
On Sun, Feb 3, 2019 at 7:32 AM, Ariel Faigon <notifications@github.com>
wrote:

[2019-02-03 16:31] maxpagels opened #1739 "8.6.1: --cb_adf silently makes two examples when single example has > 255 actions"
#### Describe the bug
In VW ver. 8.6.1, when using `--cb_adf` and specifying a multiline example with over 254 actions, actions # 255 and beyond are silently interpreted as a new example

#### To Reproduce
Data used: https://gist.github.com/maxpagels/d432e5e16fdaef899c58d6c0b6795c3d
Run: `vw test.vw --cb_adf --progress 1`

#### Expected behavior
If 254 actions is a hard limit, a warning would perh

[2019-02-03 23:18] arielf commented on #1728
Thanks @jackgerrits !

[2019-02-04 14:38] jackgerrits commented on #1728
I just confirmed that PR #1735 fixes the issue of `-DCMAKE_BUILD_TYPE=Release` not being picked up correctly.

As an aside, to see the command lines make is using when using the cmake generated files you can pass the VERBOSE flag like so when invoking:
[code]

[2019-02-04 22:05] JohnLangford commented on #1691
This should definitely be addressed.  @jackgerrits comments/thoughts?

[2019-02-04 22:13] lokitoth opened #1741 "VM model files containing option values of the form '-<digit>' cannot be loaded"
#### Describe the bug
Models containing lambda "-1" cannot be loaded, because the "-1" is being misinterpreted as a short option-key in the parser during the merge options logic.

#### To Reproduce
Steps to reproduce the behavior:
1. Get model file from https://github.com/lokitoth/lokitoth.github.io/blob/master/repros/vw/vowpal_wabbit/1741/model-unloadable.vw
2. Use the following vw configuration:

[2019-02-05 14:56] #1692 closed

[2019-02-05 16:31] lokitoth opened #1743 "clang-format should run automatically on PRs"
We recently introduced clang-format to ensure a consistent, agreeable style across the codebase. Unfortunately, the way we have it set up now leads to an odd situation: We have a tool that will only accept one input as non-broken, and is also capable of changing the provided input to match the input it wants, but still have it break the CI, rather than just running the fix and checking in the chan

[2019-02-05 16:41] lokitoth commented on #1743
We may also want to include updating the documentation to include the need to install nodejs and npm and clang-format as part of the dev tools dependencies.

[2019-02-05 17:04] lokitoth opened #1745 "Building VW statically with Clang does not work"
From #1691, @arielf found a regression in Linux build post CMAKE-changes

This seems like a big enough problem that it should be tracked under its own issue.

[2019-02-05 17:04] lokitoth commented on #1691
Going to re-close this in favour of using #1745 to track the build static regression.

[2019-02-05 17:04] #1691 closed

[2019-02-05 18:05] #1741 closed

[2019-02-05 22:06] jackgerrits commented on #1745
I've got a fix for the linker error you mentioned. For the seg fault it seems to be caused by the thread library being statically linked, so I am not yet sure how to fix this.

[code]

[2019-02-06 15:59] kumpera opened #1746 "Tests failures on master"
#### Describe the bug
When running the test suite on OSX against master 6dd314d20dfde9211b2d614a8b13d387fd93778d I hit a few issues.

#### To Reproduce
Steps to reproduce the behavior:
1. `mkdir build; cd build; cmake -GNinja ..; ninja`
1. `cd build/test; ctest --verbose`

#### Expected behavior
All tests passes

#### Observed Behavior
The following tests FAILED:
	  1 - RunTests_pass_1_onethread (

[2019-02-06 16:15] JohnLangford commented on #1746
Is this a heisenbug or a reliable fail?

[2019-02-06 16:16] kumpera commented on #1746
It's a reliable failure. I believe it happens on other OS', still confirming that.

[2019-02-06 16:18] JohnLangford commented on #1746
That's a relief---it should be much easier to debug.

On Wed, Feb 6, 2019 at 11:16 AM Rodrigo Kumpera <notifications@github.com>
wrote:

[2019-02-06 16:20] jackgerrits commented on #1746
Can you provide the full test failure output - using `make test_with_output`

[2019-02-06 16:29] kumpera commented on #1746
@jackgerrits https://gist.github.com/kumpera/94bd4727e198e5db88c233163e008830

[2019-02-06 16:31] kumpera commented on #1746
Links to the failures:

https://gist.github.com/kumpera/94bd4727e198e5db88c233163e008830#file-gistfile1-txt-L183
https://gist.github.com/kumpera/94bd4727e198e5db88c233163e008830#file-gistfile1-txt-L461
[code]

https://gist.github.com/kumpera/94bd4727e198e5db88c233163e008830#file-gistfile1-txt-L618
[code]

[2019-02-06 16:35] kumpera commented on #1746
The last error is just due to `repeat.py` not being python 3 compatible. That's a trivial fix.

[2019-02-06 16:41] kumpera commented on #1746
https://github.com/VowpalWabbit/vowpal_wabbit/pull/1747

[2019-02-06 19:57] jackgerrits opened #1748 "TopK should be a multi line reduction - illegal usage of example field in current state"
This causes a memory leak as well as undefined behavior when examples are retrieved from the buffer as many of the fields of example have previous values left in them. Therefore if a reduction does not overwrite the prediction field the old value will be used.

https://github.com/VowpalWabbit/vowpal_wabbit/blob/c9110426d9e8585e8410403d12f0194d5e6673fa/vowpalwabbit/parser.cc#L908

[2019-02-06 21:12] JohnLangford commented on #1748
No deallocation is supposed to happen---instead the memory should be reused.

VW operates on a principle of zero allocation in steady state example processing.

[2019-02-06 22:12] jackgerrits commented on #1748
The issue I was seeing was that an example was returned from the pool to be used, the reduction did not set the prediction field on the example and when it was printed the old stale value of prediction was used.

Is this a bug on the reduction not setting the prediction to 0?

[2019-02-06 22:17] JohnLangford commented on #1748
The reduction should always set the prediction variable.

[2019-02-07 01:12] arielf commented on #1691
Thanks @lokitoth
Sorry I missed the Windows specific detail !
Having a separate issue is good.

[2019-02-07 10:37] silverguo opened #1749 "Fail to compiling a static executable vw on macOS"
#### Describe the bug
Following the instruction [here](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Building), I fail to build vw statically on macOS

#### To Reproduce
1. Install all dependencies as mentioned [here](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Dependencies#macos), `brew install boost --with-python` doesn't work for me, I just did `brew install boost`

2. Following the

[2019-02-08 03:21] jackgerrits commented on #1748
This issue seems to be that TopK was stashing the tag field of the example but was a single line reduction so that example was potentially being returned and reused.

[2019-02-08 18:23] #1610 closed

[2019-02-08 21:25] #1748 closed

[2019-02-09 22:47] pavithraks commented on #1729
Hey @JohnLangford ,

I started looking at this and I don't understand how "weights[constant]" in line 460 in bfgs.cc will point to the intercept. It always seems to be 0. As far as I can see, the constant variable is defined in "constants.h" and "weights[constant]"  is used nowhere else in the code.  I don't get where weights[constant] is actually assigned the intercept. Maybe, I'm missing somethi

[2019-02-10 09:23] arielf commented on #1749
I believe this is a more general (Linux as well) not just Mac OS-X issue.

I wasn't able to build statically since the switch to `cmake` building was made. Neither with `clang++` nor with `g++`.

Prior to that, building statically was simple (just add `-static` to `CXX`) and always worked for me.

Building statically is very important for more system-independent production deployments.

[2019-02-10 12:00] silverguo commented on #1749
@arielf
Thanks for your reply!

Have you successfully built the VW on macOS with latest release 8.6.1? I try to build it statically with `make CXX='clang++ -static'`, but if I check the binary `vw` with `otool -L vowpalwabbit/vw`, I still get following output,

    /usr/local/opt/boost/lib/libboost_program_options-mt.dylib (compatibility version 0.0.0, current version 0.0.0)
	/usr/lib/libz.1.dylib

[2019-02-11 04:55] bscan commented on #1729
Hey @pavithraks, thanks for digging into this. I think that the constant is added to the feature space of each example in add_constant_feature (line 807 of parser.cc), which is also referencing the constant variable defined in "constant.h". Then whenever update_weight() is called, it should be updating the weight of the constant.

Then in line 447 of bfgs in add_regularization(): `(&(*w))[W_GT] +=

[2019-02-11 13:33] ataymano opened #1755 "Update python bindings"
Latest released (on pypi) version is 8.5.0.
1) Can it be released on conda as well?
2) Can python release pipeline be more automated?

[2019-02-11 13:57] ataymano opened #1756 "Json format in python bindings is not supported"
#### Describe the bug
json (dsjson as well) format is not supported for python binding

#### To Reproduce
from vowpalwabbit import pyvw
_vw = pyvw.vw('--cb_adf --dsjson')
_vw.learn('{"_label_cost":-1.0,"_label_probability":0.850000024,"_label_Action":4,"_labelIndex":3,"o":[{"EventId":"id-01","v":1.0,"DeferredAction":false}],"Timestamp":"2018-12-17T00:00:00.3930000Z","EventId":"id-01","DeferredActi

[2019-02-11 17:42] silverguo opened #1757 "Questions about cluster mode in VW"
After reading the wiki, I still have several questions about cluster mode in VW,

- Is it true that by default, without `--bfgs`, VW uses adaptive SGD on each node, average their weights only after each pass (not more frequently)?
- The strategy recommended in this [paper](https://arxiv.org/pdf/1110.4198.pdf), it's a hybrid way, so we run the first pass by adaptive SGD and then warm start L-BFGS f

[2019-02-11 20:44] jackgerrits commented on #1745
The second issue was to do with linking pthreads as static, it requires special linker flags in order to retain the symbols. I've submitted a fix for this. This fix may not work on other platforms but I have confirmed it works on Ubuntu with GCC and Clang.

[2019-02-11 21:32] JohnLangford commented on #1729
@bscan seems correct here.

[2019-02-11 21:34] jackgerrits commented on #1728
Closing this as #1735 has been merged.

[2019-02-11 21:34] #1728 closed

[2019-02-11 21:47] #1745 closed

[2019-02-11 22:50] #1757 closed

[2019-02-14 18:00] jackgerrits opened #1762 "Setup CI for MacOS"
Can be setup using Azure Devops at the [VowpalWabbit organization](https://vowpalwabbit.visualstudio.com/Vowpal%20Wabbit). Perhaps the other CI checks should be migrated there at the same time as well.

[2019-02-14 18:00] jackgerrits commented on #1629
@arielf Are you able to confirm if this is still an issue based on the information above?

[2019-02-14 18:03] jackgerrits commented on #1755
This is a duplicate of #1680, closing in favor of the existing issue.

[2019-02-14 18:03] #1755 closed

[2019-02-14 18:04] jackgerrits commented on #1680
Extra comments from other issue:

[2019-02-14 18:14] jackgerrits opened #1763 "Coveralls code coverage analysis is no longer updating"
The code coverage report has not updated for some time
https://coveralls.io/github/JohnLangford/vowpal_wabbit

[2019-02-15 14:13] JohnLangford commented on #1762
I expect we should get CI for MacOS setup, and then see how well that works.  Later, we can make decisions about any CI migrations based on how useful/usable the MacOS experience is.  (Travis has been quite good for us, so I'm hesitant to move there.)

[2019-02-15 14:16] jackgerrits commented on #1762
I agree 100%, lets not waste that effort especially since Travis is working
well. Also Azure DevOps doesn’t get support caching but they are actively
working on it
On Fri, Feb 15, 2019 at 9:13 AM, John <notifications@github.com> wrote:

[2019-02-15 16:18] AlphaOlish opened #1764 "Fail to install vw on python 3.7 and macOS"
Hello!

Before I've managed to install vw on macOS 10.13.6 (Darwin 17.7.0) using following:
$ brew install boost
$ brew install boost-python3
$ /usr/local/Cellar/python/3.6.5/bin/pip3 install vowpalwabbit

Now I haven't anymore boost-python3 for python 3.6 and python 3.6 itself.
If I do the same steps but adapted for python 3.7:
$ brew install boost
$ brew install boost-python3
$ /usr/local/Cellar

[2019-02-18 21:59] arielf commented on #1629
@jackgerrits I'm no longer able to reproduce this issue with latest tree.
I suspect something wrong was happening while the new build/cmake system still had some inconsistencies leading to possible mixing of objects compiled with different options (static vs dynamic, debug vs release, no doing full clean right...)

Closing.

Thanks for looking into this!

[2019-02-18 21:59] #1629 closed

[2019-02-20 21:23] jackgerrits commented on #1629
If this crops up again please reopen it. Thanks Ariel!

[2019-02-21 15:42] JohnLangford commented on #1764
@Scott-Graham-Bose Do you have ideas?

[2019-02-21 15:44] lokitoth commented on #1671
I've been looking at the other hook task issue and it seems like this may be the same issue.

The higher-level issue is that we explicitly disable "hook" - which seems to have been around for a while. That is fixed by removing the check in search.cc's setup(). The next-level issue is that this uses the old API for multi-line example, which fails the multi-line test. Switching to multi_ex as input

[2019-02-21 15:46] AlphaOlish commented on #1764
I am trying now to downgrade boost, python and boost-python3:
$ brew install boost@1.59
// install python 3.6
$ brew install --ignore-dependencies https://raw.githubusercontent.com/Homebrew/homebrew-core/f2a764ef944b1080be64bd88dca9a1d80130c558/Formula/python.rb
// install boost-python3 for python 3.6
$ brew install https://raw.githubusercontent.com/Homebrew/homebrew-core/6a77cdaac520f5d2f0a38f306

[2019-02-21 15:48] rajan-chari opened #1766 "vw slim"
Add a slim implementation of limited vw predict functionality for small footprint devices

[2019-02-21 22:17] jackgerrits opened #1769 "Proposal: Fix consistency of C++ Namespaces in VW"
**Problem**
The current usage of namespaces in vw is inconsistent and incomplete. Namespaces prevent conflicts in large projects, help enforce boundaries and areas of concern and also help code discovery in the form of autocomplete etc. As we continually transition vw to a more modern codebase I think namespacing is an important aspect to consider.

`VW` is currently used in some places, however,

[2019-02-21 22:21] jackgerrits commented on #1651
@kumpera is this related to the other test failure you saw?

[2019-02-22 13:30] silverguo opened #1771 "Not same model weight from nodes on cluster mode"
#### Describe the bug
I run VW 8.6.1 with some large dataset on cluster mode, models from each node are not exactly same, but I didn't have this problem with VW 7.7.

#### To Reproduce
For convenience, here I use some toy examples to reproduce this bug.

Here is my workspace,
[code]

I built the binary file for `vw` and `spanning_tree` with release **8.6.1** and **7.7**, then place then in `bin` f

[2019-02-22 16:22] silverguo commented on #1771
I just test the toy example above with all recent releases, and I found the versions before `8.2.1` don't have this issue, but all versions after `8.3.1` will produce different models on cluster mode.

[2019-02-24 17:43] arielf commented on #1771
Good catch.

Shot in the dark: might be a async non-deterministic inconsistency which we experienced in the past in other contexts.

This may be easy to verify/refute.  Does the issue go away when adding the `--onethread` option ?

[2019-02-24 18:15] arielf commented on #1749
@silverguo sorry, I'm behind responding to this.
I don't use Mac OS-X so no (sorry!).

However, I think we are not yet there with clang+static linking even on Ubuntu, I manage to build with clang, but some tests are failing. Ubuntu 18.04.

static linking has been fixed (works with standard gcc), so no need to add `-static` anymore to `CXX`, it should be sufficient to do this to get static linking:

[2019-02-25 09:45] silverguo commented on #1771
Thanks @arielf !

I add `--onethread` option but it still produces different models from each node.

Also I found that if we turn off `--adaptive` by adding `--normalized --invariant`, the models could be same. Is there something from `--adaptive` break the model average on cluster mode?

[2019-02-25 11:53] amirj opened #1772 "How to model multi actions in contextual bandit scenarios?"
I'm going to experiment with a set of contextual bandit algorithms (dm, ips and dr) on [Criteo Ad Placement Dataset](http://www.cs.cornell.edu/~adith/Criteo/). The [original paper](http://www.cs.cornell.edu/~adith/Criteo/NIPS16_Benchmark.pdf) evaluated on 1-slot scenario: for each context, we have only one observed action. So the dataset are organized as follows (in each example, the first line co

[2019-02-25 13:13] rajan-chari opened #1773 "vw example parsing library with minimal vw dependencies."
#### Describe the enhancement
VW is used in many embedded/distributed application scenarios where linking in all of vw is not desirable.
1) reinforcement_learning where client side inference is not needed.
2) example is generated in formats other than the standard ones supported by vw (for example Flatbuffer)

For these and a few other use cases, it would be good to separate out parsing of differe

[2019-02-25 14:49] silverguo commented on #1771
In addition, I did some binary search for the first bad commit between `8.2.1` and `8.3.0`, it seems that [this](https://github.com/VowpalWabbit/vowpal_wabbit/commit/24c68fcc0fb29dc574d39673981e55f45bcdc861) is the first bad commit which leads to different models from each node.

Since it's a very big commit (3034 additions and 1279 deletions), I don't have a very good understanding about it. Does

[2019-02-25 17:02] jackgerrits opened #1774 "Fix Exception bubbling in cache_numbits"
Exceptions are caught and swallowed in `cache_numbits` currently. These should bubble up normally, there are a couple of tests that need to be fixed to accommodate this.

https://github.com/VowpalWabbit/vowpal_wabbit/blob/ecb130592465cfb084b87eabdd4a103f9ddeb891/vowpalwabbit/parser.cc#L94

[2019-02-25 23:24] arielf commented on #1771
Excellent sleuthing @silverguo . Thank you for all this leg-work!

I hope that the isolation of both the commit-id and the fact that turning off `--adaptive` in clustered-mode fixes the issue, would be helpful for someone to figure this out. @jon-morra-zefr could you space sme cycles on this?

Most of the change in commit https://github.com/VowpalWabbit/vowpal_wabbit/commit/24c68fcc0fb29dc574d3967

[2019-02-26 21:32] lokitoth commented on #1671
I believe I have a fix for this - just need to do a bit more validation under Linux. After that will check whether there is more work (I expect there will be, to propagate the API changes through the Python library).

Here's the branch in my fork: lokitoth/vowpal_wabbit:dev/Fix-SearchHookTaskCppLibrary
cc @jprobichaud

[2019-02-26 22:09] jprobichaud commented on #1671
wonderful, thanks a lot for looking into it!  I will try to recompile my
C++ code later this week on your branch.  I'm working exclusively on linux
so this will hopefully test that side of the house a bit more.

thanks again!

On Tue, Feb 26, 2019 at 4:32 PM Jacob Alber <notifications@github.com>
wrote:

[2019-02-27 18:44] jon-morra-zefr commented on #1771
@arielf I'm not sure I'm the right person to ask here.  While I committed the Spark stuff I didn't touch the c code too much.

[2019-02-27 21:37] rajan-chari opened #1775 "Add multi_predict to offset_tree"
#### Describe the bug
It would be more efficient to use base.multi_predict instead of base.predict in offset_tree reduction.

[2019-02-27 21:59] kumpera commented on #1746
Fix a couple of unit tests on OSX: #1776

[2019-02-28 15:33] JohnLangford commented on #1771
This sounds like a real bug, and we should add a test case to avoid it in the future after fixing.

[2019-02-28 15:36] lokitoth commented on #1769
I changed the title to make it clear that we are talking about namespaces in a c++ sense, rather than a VW feature namespace sense.

[2019-02-28 16:19] pavithraks commented on #1729
Hey @bscan  @JohnLangford , I believe I found the bug and the solution.

Cause of problem: weights[constant] always returns 0, so there was no subtraction happening at all with the below two lines:

`(&weights[constant])[W_GT] -= regularization * weights[constant]; ret -= 0.5 * regularization * (weights[constant]) * (weights[constant]);`

This is because we weren't accessing it the right way.

`we

[2019-02-28 17:55] jackgerrits commented on #1772
Hi @amirj, for a single CB example only one action can have a reward/cost associated with it.

We're currently working on conditional contextual bandit (CCB), which is cb over multiple slots and would likely allow you to express the problem you set out here (if it doesn't satisfy it let me know and we can discuss). It is likely to make it into master in the next month or so. Work for it is being m

[2019-03-01 03:19] jackgerrits commented on #1739
Hi @maxpagels, thanks for the clear repro steps. It was very useful in fixing this. I've just created a PR (#1777) which addresses this issue by removing the limit on the number of examples that can be in a multi line example. The issue you are seeing was due to the fact a fixed size ring buffer was used to store these examples, and the default size is 256. You are able to pass a different size fo

[2019-03-01 09:08] amirj commented on #1772
Thanks @jackgerrits , it's a very nice feature.

[2019-03-01 17:15] marco-rossi29 commented on #1772
@amirj Two things:
- why is the cost of a click positive? in other words, why are you penalizing an action if there was a click?
- To understand better about you observation that all cb_type have same IPS estimate, can you specify what command of vw you are running and look at the predictions by exporting them to a file with -p. If the predictions are the same then IPS estimate is the same.

[2019-03-01 19:29] amirj commented on #1772
@marco-rossi29

The original paper defined the following costs:

- Clicked item: 0.001
- Not Clicked:  0.999

You're right, since I removed the cost of not clicked items, it's not reasonable to use 0.001 cost for clicked items. I have to find a way to add not clicked actions into the model. Is it ok to replicate an example by defining a clicked or not clicked action in with the same shared feature

[2019-03-01 22:43] marco-rossi29 opened #1778 "when using --cb_type dm (cb_explore_adf) warning of resetting to --cb_type ips is incorrect"
#### To Reproduce
Data:
[vw_bug.txt](https://github.com/VowpalWabbit/vowpal_wabbit/files/2921313/vw_bug.txt)

#### Expected behavior
As VW is warning that:
warning: cb_type must be in {'ips','dr','mtr'}; resetting to ips.

I expect --cb_type ips to behave exactly the same as --cb_type dm

#### Observed Behavior
[code]
#### Environment
What version of VW did you use? 8.6.1
What OS or language did y

[2019-03-01 23:24] jackgerrits commented on #1778
Thanks for finding this @marco-rossi29! I've submitted a fix in #1779

[2019-03-03 03:05] marco-rossi29 commented on #1778
thanks for fixing!

[2019-03-03 03:05] #1778 closed

[2019-03-04 21:09] jrmarkle opened #1780 "Logistic regression C app stopped working between releases 8.5.0 and 8.6.0"
I wrote a [small example C app](https://github.com/jrmarkle/vw-memory-test) to test logistic regression when linking against the C wrapper.

When I build and run using VW release 8.5.0 it seems to work properly and outputs
[code]

but when updating to 8.6.0 (or 8.6.1) the training doesn't seem to be happening:
[code]

Does anyone have a suggestion about the relevant changes between these releases?

[2019-03-05 13:45] JohnLangford opened #1782 "Modularity problems in the contextual bandit stack"
From #1779

--cb_explore_adf should not need to know about the cb_type since that isn't used except in the cb_adf reduction. Hence, there is a modularity failure. This modularity failure involves cover, mtr, and dealing with shared features which together make a mess. The clean way forward here is to break things out into simpler separate reductions which may have potentially different requirement

[2019-03-05 13:52] silverguo commented on #1771
@arielf @JohnLangford @jackgerrits
Hi, I just send a PR and it might be a fix for this issue, could you take a look at it?

[2019-03-05 16:41] mmmmaister opened #1783 "No predictions for some arms in contextual bandit"
Hi,

I'm trying to build contextual bandit model using --cb. My data has 6 actions and 52 variables (please see below for an example). However, when I use CB model for prediction (-p), it always recommends 2 arms at the same time. When I look into the raw prediction (-r), turn out that one of the arms never have cost prediction. Same situation happens for cb_type IPS/DM/DR.

Could any one explain

[2019-03-05 18:56] jrmarkle commented on #1780
I bisected to find that this stopped working with commit 276e0da6f0d21be617a854b0169d5e8ac0832225.

Unfortunately the commit message is simply "compiling". The changes seem to be related to "test labels" but I'm not familiar enough to understand what's going on.

[2019-03-05 19:33] JohnLangford commented on #1780
Thanks, that helps a great deal.

On Tue, Mar 5, 2019 at 1:56 PM Jamie Markle <notifications@github.com>
wrote:

[2019-03-06 16:19] #1771 closed

[2019-03-07 14:53] HelgeS opened #1784 "Same scores independent of action order for cb_explore_adf with Python"
#### Describe the bug
When using `cb_explore_adf` in the Python interface, the returned scores for a prediction appear to be independent of the order the actions were input.
In fact, the scores are in decreasing order (as they are with the commandline interface), but the relation to the corresponding action is lost.

#### To Reproduce
The issue can be reproduced with this script:
[code]

#### Expe

[2019-03-07 16:11] bscan commented on #1729
Thanks @pavithraks! I think this method makes sense and appears consistent with other uses in the code. For example, --constant lets the user set the initial value of the constant. This triggers:

`if (g.initial_constant != 0.0)
      VW::set_weight(all, constant, 0, g.initial_constant);`

which calls
`inline void set_weight(vw& all, uint32_t index, uint32_t offset, float value)
{
  (&all.weights[

[2019-03-12 13:03] silverguo commented on #1749
@arielf , I follow these command on Ubuntu, I could build static `vw`, but the `spanning_tree` is not static (`ldd cluster/spanning_tree` will show several dependencies), do you have the same issue?

But with old version (before `cmake`), I could build static `spanning_tree`.

How could we build static `spanning_tree` with `cmake`?

[2019-03-12 13:44] jackgerrits opened #1785 "Add documentation for CCB"
Add documentation to wiki for new CCB reduction.

- [ ] Text input format
- [ ] JSON input format
- [ ] DSJSON input format
- [ ] Options

[2019-03-12 15:59] jackgerrits commented on #1749
Hi @silverguo, I looked into this and `spanning_tree` was not hooking into the same logic for static executable creation. I've created a PR (#1787) that fixes this, no you can run cmake with  `-DSTATIC_LINK_VW=ON` and the `spanning_tree` executable you build should be staticly linked.

[2019-03-12 16:11] silverguo commented on #1749
@jackgerrits Great, thanks!

[2019-03-12 21:50] arielf commented on #1749
Thanks @jackgerrits !

[2019-03-15 16:25] jrmarkle commented on #1780
I narrowed the changes down to one line.

`ae->test_only |= all.p->lp.test_label(&ae->l);`

was added to `setup_example` in `parser.cc` in commit 276e0da.

If I remove that line my example app seems to work properly again. I also tried applying the same change to release 8.6.1 and it also works there.

[2019-03-15 16:35] ataymano commented on #1780
Hi Jamie,
Thanks for narrowing the issue. Looking right now.

[2019-03-15 17:48] jrmarkle commented on #1780
note that removing the line above does cause `make test` to fail

[2019-03-15 18:08] ataymano commented on #1780
So the problem that we are setting  test_only = F1(all) | F2(label) inside setup_example,
but also allow label to be updated later inside add_label call (without test_only update).

For resolving this particular problem, we can just recalculate test_only inside add_labels, but we need to add vw handle to signature in this case (to be able to get F1(all)):
VW_AddLabel(VW_EXAMPLE,...)   ->  VW_AddLa

[2019-03-15 18:34] jrmarkle commented on #1780
Ah, ok. This should be easy to work around for my use case.

I changed my [example app](https://github.com/jrmarkle/vw-memory-test) to not use `VW_AddLabel` and instead put the label value in the string given to `VW_ReadExampleA` and it works fine with release `8.6.1` unmodified.

[2019-03-15 18:38] ataymano commented on #1780
Yes, that's right - I need to think more how to fix it properly, but just avoiding AddLabel should work as workaround.

[2019-03-15 22:40] arielf commented on #1780
@jrmarkle @ataymano very nice diagnosis & work on this. Way to go. Thank you.

[2019-03-18 23:07] liyinan1001 commented on #1426
Hi gwerbin, where is autogen.sh? It's not in vw project folder

[2019-03-19 00:08] liyinan1001 opened #1792 "conda_install.sh failed"
OS: Ubuntu 16.04.
I successfully installed vw and happily used it. Now I want to use vw python wrapper. I tried executing vowpal_wabbit/python/vowpalwabbit/conda_install.sh https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/python/vowpalwabbit/conda_install.sh. However, the last command in the script failed:

[code]

[2019-03-19 13:03] ataymano commented on #1780
@JohnLangford, do you have idea what should be the best fix here? I see several ways to workaround original issue:
1) Recalculate label-dependent fields in AddLabel with changing VW_AddLabel signature (i.e. adding VW_HANDLE there)
2) Recalculate label-dependent fields in AddLabel without changing VW_AddLabel signature (but caching some additional info inside example:
i.e.  [ae->test_only = is_test

[2019-03-19 13:20] ataymano commented on #1780
4. Move setup_example from VW_ReadExample to VW_Learn (and leave just read_line there). Seems the best for me.

[2019-03-19 14:30] jackgerrits commented on #1426
Autogen is no longer used for building, we've migrated over to CMake. I haven't tested this but CMake has a similar prefix path arg: `cmake -D CMAKE_PREFIX_PATH=/path/to/custom/location`

[2019-03-19 14:34] jackgerrits commented on #1792
It looks like the conda path is missing the python dev libraries. Normally this is installed using `sudo apt-get install python-dev`, but when it is using the conda path then I am assuming either conda needs to be installed as a dev version or you need to install the python libs to the conda path.

[2019-03-20 17:19] #1739 closed

[2019-03-20 18:36] #1729 closed

[2019-03-20 19:12] bscan commented on #1729
Thanks @pavithraks ! This is great.

I just tested this locally and it seems to be working. I reran the example I cited in the original comment.

Without this fix, the `--readable_model` yields the following coefficients
[code]

Checking out the latest rev and rebuilding gives me:
[code]

Where the key line is the constant's feature of `116060:5.68637`, which is similar to the Scikit-Learn value o

[2019-03-20 21:00] liyinan1001 commented on #1792
I did `sudo apt-get install python-dev` and it says it's already installed. How do I install a conda dev version? And how to install the python libs to conda path?

[2019-03-22 15:23] kumpera opened #1803 "Have a single test harness for acceptance testing"
VW currently have two acceptance test harnesses. The first one is ` tests\RunTests`  which is a perl script. The second one is `cs\unitests\RunTests.tt`.

The second one parses the test definitions from the first one and have an exclusion list based mostly on tests it can't parse the definition from.

This leads to surprising CI failures when adding a new test that can't be handled by the second h

[2019-03-22 15:29] jackgerrits commented on #1803
Is it possible to run the perl test harness on Windows easily?

[2019-03-22 18:07] kumpera commented on #1746
Once the last two PRs are in, this will be done for now.
We should add CI so we avoid regressing in the future.

[2019-03-22 18:26] ataymano commented on #1792
Reproduced, looking.

[2019-03-22 19:31] jackgerrits commented on #1756
This is trickier than I first imagined. The way different parsers are exposed is through a function pointer, this function pointer doesn't accept a string but does the reading itself from whatever the input file is. So there isn't a generic way to go from string to list of examples using the set parser. I'll keep thinking about it but I think in order to get this functionality turned on I may need

[2019-03-22 19:40] jrmarkle opened #1806 "Incorrect confidence output after loading a model"
#### Describe the bug
Predictions are outputting `inf` confidence after loading a trained model.

#### To Reproduce
Train a logistic regression model with `--loss_function=logistic --link=logistic --confidence --save_resume`. Save it, load it and make a prediction.

See my latest [example app](https://github.com/jrmarkle/vw-memory-test) with a `Dockerfile` that shows the problem. (Comment out the

[2019-03-22 22:01] mina1987 commented on #1764
I have the same issue trying to install VW and libboost version  is 3.7. Any solutions?

[2019-03-25 13:40] Kmeco commented on #1687
Hey @marco-rossi29 and @jackgerrits, any updates on this issue? We plan to use this setup in our project and would be very interested to know what probability values to use. Would you recommend using higher probability values to speed up learning, which is what Melanie's findings seem to imply?

[2019-03-25 14:07] lokitoth commented on #1803
Is the goal to test "VW the library", or "VW the executable"?

The current run-tests in perl mode tests the latter. I am not super sure how to describe the C# version of these tests.

[2019-03-25 14:14] lokitoth commented on #1572
@sevilaybayatli: Has your question been resolved?

If not, could you provide a bit more details about your specific scenario?

[2019-03-25 14:15] kumpera commented on #1803
The goal is to reduce friction when adding tests to VW.

I'd expect that whether we test VW as a library or executable should not matter for the tests that don't care about this particular aspect.

Now, if RunTest is a mix of test that do and tests that don't care whether we're testing as a library, splitting along those lines is another way of addressing this issue.

[2019-03-25 14:20] lokitoth commented on #1782
Possibly related: #1541

[2019-03-25 14:33] lokitoth commented on #1803
Makes sense; I was just thinking about it from a roadmap standpoint. It might be that on different languages/platforms we might have different expectations of what the important ship vehicles are and which ones we need to implement these tests for first.

[2019-03-25 15:16] marco-rossi29 commented on #1687
Hi @Kmeco and @MelanieFreed,
Sorry for taking time to respond. I've been investigating this issue extensively (I'm actually still focusing on it). The root issue is the bias/variance trade-off: when a constant probability is passed to the learner, bias is introduced but variance is smaller, so in some settings better results can be observed.

How many actions would you have in your real setup?

[2019-03-25 16:37] Kmeco commented on #1687
Hey @marco-rossi29, thanks a lot for the quick response!

Our setup will include ~20 actions and context with ~1000 features.

What would you recommend?

[2019-03-25 22:01] Kmeco opened #1808 "Return action values in contextual bandits"
Hi everyone,

we would like to use vw in our project and would really appreciate your advice! We'd like to use the --cb reduction, but need to get all the action values. The reason for this is that in some cases the top action isn't available so we'd like to use the second best option.

If I use the --audit flag, it prints all the action values but I can not seem to find a way how to get these ret

[2019-03-26 00:16] #1749 closed

[2019-03-26 00:16] jackgerrits commented on #1749
Looks like @kumpera has addressed this in #1807, if there are still issues let us know

[2019-03-26 00:30] jackgerrits commented on #1808
It looks like the --cb reduction is using the multiclass prediction type. @marco-rossi29 are you aware of a way the ranking can be known?

[2019-03-26 00:33] marco-rossi29 commented on #1808
@Kmeco I think the simplest way to go is to use --cb_adf rather than --cb. Then you can see the ranking returned I guess the same way we have in Decision Service. In your case it can actually make sense to use the Decision Service directly rather than only VW

[2019-03-26 04:40] kumpera commented on #1746
OSX is green 🎉

[2019-03-26 04:40] #1746 closed

[2019-03-26 11:46] Kmeco commented on #1808
Thanks for the suggestion @marco-rossi29!
We already have the pipeline which takes care of tracking, rewards joining and retraining so we don't really need all the functions that Decision Service offers. All we would really need is to rank all the actions.

I tried using --cb_adf but am having the same issue as described here #1346 when using a string input.

When I try to pass in a list of vw.exa

[2019-03-26 12:04] jackgerrits commented on #1346
Currently, in order to predict/learn using a multiline example in Python a list of examples needs to be passed to the appropriate call. I have a PR out right now that fixes this limitation and the entire example in string form can be passed to the call (#1809).

Current usage:
[code]

After #1809 merged:
[code]

[2019-03-26 15:06] jackgerrits commented on #1808
I see, the problem is that the 8.5.0 bindings do not support multiline examples which is what is needed here. I will see if we can get the bindings updated to at least 8.6.1 on PyPi.

In the meantime can you build and use the bindings from source? Are you using Windows or Linux?

[2019-03-26 18:36] jackgerrits opened #1810 "Implement example.finish in Python bindings"
Currently the finish method is not implemented for the example class, specifically on the CPP side my_finish_example is not implemented. Currently this means examples are not released in the bindings.

https://github.com/VowpalWabbit/vowpal_wabbit/blob/04b3f605e45ebadbc75f10abe313784ee9bc5ac0/python/pylibvw.cc#L173

[2019-03-26 22:48] marco-rossi29 commented on #1808
@Kmeco Do you want to set up some meeting to understand your guys need and show you what we currently have in the Decision Service?

[2019-03-27 10:23] Kmeco commented on #1808
@jackgerrits I understand now, will install the bindings to the latest vw version :) there is still this issue however #1784, where the actions order isn't being returned with the results. What do you think about calling the command line interface from python as a workaround? described here:
https://stackoverflow.com/questions/47045769/interacting-with-vw-daemon-using-python

@marco-rossi29 would

[2019-03-27 14:18] jackgerrits commented on #1769
It seems that a class and namespace can share a name, so this is a simpler mechanical change.

[2019-03-28 13:01] rajan-chari opened #1811 "Error in calculating reported cost under cb_explore."
#### Describe the bug
**Email excerpt from Marco:**
[Code location](https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/vowpalwabbit/cb_explore.cc#L244)

The line is calculating the soft-average cost, i.e., the average cost of the policy using ec.pred.a_s[i].score; for each action:

loss += get_unbiased_cost(c.known_cost, c.pred_scores, i) * ec.pred.a_s[i].score;

The issue is that the i is

[2019-03-28 18:03] jackgerrits opened #1812 "Command line arguments page is out of date"
The wiki page detailing command line argument is out of date and missing arguments.

https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Command-line-arguments

Running `vw --help` on an up to date master branch will output the current set of arguments. Ensuring that the wiki page is at least up to date with that would be helpful.

[2019-03-29 17:20] #1756 closed

[2019-03-29 20:45] kumpera opened #1813 "[CI] Add python to our travis script"
We currently neither build nor test the python bindings.

We should add it, at the very least, to the linux lane.

[2019-04-02 21:28] lokitoth commented on #1413
I have test_search.py working, but test_search_ldf.py is still failing (on assertion in pyvw.py around line 270: `assert oracle > 0, 'multiclass labels are from 1..., please do not use zero or bad things will happen!'`).

My guess is that this is a separate issue from the root bug, so I would like to get the current fixes in, and will reopen a new bug focusing on the LDF issues.

[2019-04-03 02:36] JohnLangford commented on #1413
Sounds god.

[2019-04-03 14:10] jackgerrits commented on #1813
I just checked and we do actually build and test the Python bindings in the Linux CI. See:
https://github.com/VowpalWabbit/vowpal_wabbit/blob/31859a32385c17511eecf6bf7d0a04f12774a41e/build-linux.sh#L41

[2019-04-03 14:10] #1813 closed

[2019-04-03 14:14] lokitoth opened #1820 "Warnings when building under Windows"
#### Describe the bug
* Python bindings builds with warnings on Windows
* vw_clr builds with warnings on Windows (CodeAnalysis issue)
* GitLink causes warnings with build-time generated files on Windows
* warm_cb.cc builds with warning on Windows
* simulator builds with warnings on Windows

#### To Reproduce
Steps to reproduce the behavior:
1. Clone the repo
2. In a VS Developer Command Prompt run

[2019-04-03 15:29] jackgerrits opened #1821 "Inconsistent failure caused by cb examples not being left in good state"
#### Describe the bug
I've seen this issue come up in different forms. The latest is when replaying a log file and using more examples than the ring size there is a inconsistent failure caused by the label still containing a cost from the previous usage of the example object.

#### To Reproduce
Steps to reproduce the behavior (On my machine at least):
1. Command: `-d data_example_stale.json --dsjs

[2019-04-03 21:20] Alluxia-F opened #1824 "Please help: Error: Disagreeing option values for '--link': 'logistic' vs 'identity'"
####
vw --version: 8.6.1, installed with: brew install vowpal-wabbit
Computer: mac OS Mojave Version 10.14.4
####
Model training successfully. But when I run the following code for prediction, it shows the error. Detailed code as below:

$ vw -d test.vw -t -i neural_model --link=logistic -p probabilities.txt
creating quadratic features for pairs: sd ad do fd
only testing
predictions = probabilitie

[2019-04-03 21:27] jackgerrits commented on #1824
Hi @Alluxia-F, can you please try adding `--link logistic` to your training command and then trying this scenario again to see if it fixes it?

So your training command should become:
[code]

[2019-04-04 02:51] Alluxia-F commented on #1824
@jackgerrits , thank you for the quick response.

I tried to update the training command per suggestion above and then ran the following prediction command:
!vw -d test.vw -t -i neural_model -p nerural_model_prob.txt --link logistic

No probablitites generated in the  nerural_model_prob.txt file at all. All of the values are : 1.

creating quadratic features for pairs: sd ad do fd
only testing
pre

[2019-04-04 12:18] jackgerrits commented on #1824
Are you able to provide the test and train files so we can look into this?

On Wed, Apr 3, 2019 at 10:51 PM, Alluxia-F <notifications@github.com> wrote:

[2019-04-04 21:11] #1413 closed

[2019-04-04 21:11] #1671 closed

[2019-04-05 02:48] jackgerrits commented on #1689
I went ahead and did this @kumpera, hope that's all good

[2019-04-05 03:36] arielf commented on #1824
@Alluxia-F

We need to see the data-set (or at least a sample of it) to fully understand what's going on, but based on the progress output, and in particular this part:
[code]
It seems like the dominant label in the data-set is 1.0 so by predicting 1 always, the model gets perfect accuracy.

For more details and how to solve this problem see [this answer on Stackoverflow](https://stackoverflow.com

[2019-04-05 15:00] pavithraks commented on #1784
Hey @HelgeS , thanks for spotting this. The fix is pretty simple. The problem was that the actual scores list was indexed by action. In the python binding,  the index was being ignored. I'm sending in a fix now.

[2019-04-05 16:43] jackgerrits commented on #1808
There is a fix incoming for #1784, so once that's in you should be unblocked on the Python side. I think you're better off consuming the bindings directly rather than using daemon mode

[2019-04-05 18:40] #1784 closed

[2019-04-06 23:39] arielf opened #1831 "Still can't build statically on Linux"
#### Describe the bug

Following the [build instructions for static linking of vw](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Building)

Don't end up with a statically linked executable in `build/vowpalwabbit/vw`

#### To Reproduce

Steps to reproduce the behavior:

1. CMAKE_OPTS='-DCMAKE_BUILD_TYPE=Release -DSTATIC_LINK_VW=ON'
2. make clean
3. mkdir -p build
4. ( cd build && cmake ..  ${C

[2019-04-08 15:23] jackgerrits commented on #1831
Hi @arielf,

I just looked into this and it seems like #1807 regressed this. Was a really simple typo that made it through. I've put out a PR to fix it.

Here is the output for `file build/vowpalwabbit/vw` I got:
[code]

[2019-04-08 17:21] #1831 closed

[2019-04-09 08:57] arielf commented on #1831
Thanks @jackgerrits for the debug and quick fix. Highly appreciated!

[2019-04-09 21:41] yannstad commented on #1592
The independent sample `r1` in the box-muller transform must be strictly positive. But it is chosen using merand48, that possibly returns 0:
https://github.com/VowpalWabbit/vowpal_wabbit/blob/6ef7676bb222d8f11edaf89165fdb9e925e7b247/vowpalwabbit/OjaNewton.cc#L82

[2019-04-09 21:52] jackgerrits commented on #1808
@Kmeco I am going to close this, if this is still an issue please reopen the issue.

[2019-04-09 21:52] #1808 closed

[2019-04-11 13:12] ataymano opened #1840 "Multiple instance mode is not working for cb_adf dsjson"
#### Describe the bug
Multiple instances mode is not working for cb_adf dsjson

#### To Reproduce
vw.exe --args args.txt

args.txt:
--cb_adf --dsjson -d file.txt
--cb_adf --dsjson -power_t 0.5 file.txt

#### Expected behavior
Two passes over file.txt with both commandlines

#### Observed Behavior
Error: unrecognised option '--args'

#### Environment
Windows / 8.6.1

[2019-04-11 14:23] jackgerrits commented on #1743
It no longer fails CI if format has issues

[2019-04-11 14:28] jackgerrits commented on #1840
This issue is fixed by updating line 96 in main.cc
[code]

We spoke offline though and you mentioned there are further issues with the driver and multi_ec

[2019-04-11 15:48] jackgerrits commented on #1743
#1819 was one approach to tackle this. But rather than CI, using a bot may be a more sensible approach

[2019-04-11 15:51] #1592 closed

[2019-04-11 15:57] jackgerrits opened #1841 "Standardize contextual bandit action id index to be 0-based instead of 1-based"
Currently, for contextual bandit action scores the index is 1-based. Elsewhere in VW all indices are 0-based. This should be standardized to 0-based as this is confusing to users and maintainers. This is a breaking change though, so the major version will need to be updated and communicated to users.

[2019-04-11 16:17] lokitoth commented on #1743
I do like the bot approach - have it run on a schedule and clang-format automatically.

[2019-04-11 16:21] lokitoth commented on #1714
There should be a task to generate AssemblyInfo* that I believe is used. We might be able to do a bit of archeology to find it and drive it manually based on this version file.

[2019-04-11 20:00] yannstad commented on #1608
I fixed the counting issue (see PR #1844), that explains the off-by-one example issue.
The other bug I see is the "unknown" value in the "since last" average loss field.

@arielf you wrote that "Adding -c --passes 2 makes it print the progress between 500 & 1000 (1st pass), but breaks later when 2nd pass starts (no more progress printing)"
Actually what is printed here is the progress between 0 an

[2019-04-12 13:00] yannstad commented on #1608
Thank you very much @arielf for the reproduction details. I have added these 2 scenarios in RunTests.

[2019-04-12 20:37] peterychang commented on #1792
Should be fixed with https://github.com/VowpalWabbit/vowpal_wabbit/pull/1843
Feel free to reopen the issue if the problem persists

[2019-04-12 20:37] #1792 closed

[2019-04-13 20:18] arielf commented on #1831
No problem @kumpera . Thanks for all you work improving `vw` !

[2019-04-13 20:30] arielf commented on #1841
@jackgerrits what exactly do you mean when you say "elsewhere in vw all indices are 0 based" ?
In all multi-class algos (several of them) class-id have always been `1 .. k`.
Thanks.

[2019-04-13 21:10] arielf commented on #1608
@yannstad thanks for the off-by-one fix.

Just tried to verify latest code. Things look not yet fully fixed. It may be a separate/additional bug than the one you fixed.

The data-set has 1000 examples. We do 2 passes + print a progress line every 100 examples, so I expect progress output keep going (every 100 examples) till we reach 2000 like it does in other cases when holdout isn't involved.

I

[2019-04-14 11:09] elfring opened #1845 "Remove unnecessary null pointer checks when deleting pointers"
[An extra null pointer check is not needed in functions](https://isocpp.org/wiki/faq/freestore-mgmt#delete-handles-null "Do I need to check for null before delete p?") like the following.
- [delete_it](https://github.com/VowpalWabbit/vowpal_wabbit/blob/29c47678aae83cb8a6f64d12e95f63523dccfde2/vowpalwabbit/cbify.cc#L80 "delete_it function")
- [task_data](https://github.com/VowpalWabbit/vowpal_wabbi

[2019-04-14 11:13] elfring opened #1846 "Improve exception safety with smart pointers"
Would you like to wrap any pointer data members with the class template “[std::unique_ptr](https://en.wikipedia.org/wiki/Smart_pointer#unique_ptr "Description for the usage of smart pointers")”?

Update candidates:
- [AllReduceSync](https://github.com/VowpalWabbit/vowpal_wabbit/blob/d0c9042ca1057c858c8158d0d4b7335a12abd491/vowpalwabbit/allreduce_threads.cc#L14)
- [parser](https://github.com/Vowpal

[2019-04-15 13:52] yannstad commented on #1608
This behavior is expected, even though it may be surprising or counter intuitive.

**2nd scenario with 2 passes and no `--holdout _after`**
When you run several passes, vw automatically switches to 'over-fit avoidance' mode by holding-out 10% of the examples.
This is documented in the [tutorial](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Tutorial).
That is why only 1800 examples out of 200

[2019-04-15 15:47] choltz95 commented on #1764
Same issue. "Could not find boost python library".

[2019-04-15 15:57] kumpera commented on #1764
This sounds really bad, I'll take a look at this ASAP.

[2019-04-15 16:02] kumpera commented on #1846
In AllReduceSync we can replace some of pointers with values.

[2019-04-15 16:03] choltz95 commented on #1764
Let me know if I can provide any info. Installation also fails for me Python2.7. I've tried the steps detailed here: https://github.com/VowpalWabbit/vowpal_wabbit/issues/1021#issuecomment-229739016 and downgrading boost. I'm on osx 10.14.4. Command line version works fine.

[2019-04-15 21:49] yannstad commented on #1763
The `coveralls` command is not recognized because it is called outside of the docker, that contains all the required dependencies, including coveralls cmd itself. See for example the very end of [these](https://travis-ci.org/VowpalWabbit/vowpal_wabbit/builds/518617063?utm_source=github_status&utm_medium=notification) Travis logs:
[code]

I have submitted a PR that fixes this particular issue.
Now

[2019-04-17 00:19] marco-rossi29 opened #1848 "DSJSON dangling rewards and checkpoint lines not correctly handled"
Data file: [parse_bug0.txt](https://github.com/VowpalWabbit/vowpal_wabbit/files/3087393/parse_bug0.txt)

**Commit d4cac03c6fee89253e6732d3f9c15164fb7579c4**
Built on windows VS2017

[code]

Expected: Behavior of commit 72a4f949f3afd1d01d0cf8fdeddcb751e519f41e
[code]

Unit tests should be added so that we don't get these regressions in the future

[2019-04-17 01:36] JohnLangford commented on #1848
Thanks @marco-rossi29 :-)

[2019-04-17 13:03] yannstad commented on #1763
Now there is another error:
[code]
From Coveralls [doc](https://docs.travis-ci.com/user/coveralls/), the Github OAuth token must be valid in Coveralls.
@JohnLangford  The coveralls was not run for more than a year. I suspect that the token is not valid anymore. Could you try logging out / in on Coveralls.io to refresh it?

[2019-04-17 13:40] JohnLangford commented on #1763
Token regenerated.  Try again?

On Wed, Apr 17, 2019 at 9:03 AM yannstad <notifications@github.com> wrote:

[2019-04-17 15:03] yannstad commented on #1763
It did not work, showing the same error message `Couldn't find a repository matching this job`.
I wonder how to debug that. The same change in my CI pipeline send the coverall report successfully.

Another thing to try is to setup again Coveralls, from scratch. But **coveralls history will be lost**

[2019-04-17 17:12] marco-rossi29 commented on #1608
I believe that @yannstad is correct. I think @arielf was under the wrong assumption
`I'm guessing --holdout_after is supposed to imply --holdout_period 1 unless otherwise specified.`

In VW, you either do holdout_after or holdout_period. The two cannot be mixed.

In conclusion, I think VW is behaving as expected but the expected behavior is not clear from the documentation. I feel we should improv

[2019-04-17 17:17] yannstad commented on #1608
I agree.
Also, another thing that should be improved in the documentation is how the average loss is computed for lines without an `h` and lines with an `h`.

[2019-04-17 18:06] yannstad commented on #1763
@JohnLangford
Would you mind checking if coveralls is an authorized application in Github?

Coveralls should be listed here https://github.com/settings/applications:

<img width="1152" alt="coveralls" src="https://user-images.githubusercontent.com/4194615/56310411-d1983280-6119-11e9-97ff-bc42918c07c6.png">

[2019-04-17 20:11] JohnLangford commented on #1763
I see it at this URL...

-John

On Wed, Apr 17, 2019 at 2:06 PM yannstad <notifications@github.com> wrote:

[2019-04-18 14:14] #1811 closed

[2019-04-18 18:21] yannstad commented on #1763
Coverage reports are back:
https://coveralls.io/github/VowpalWabbit/vowpal_wabbit

[2019-04-18 18:21] #1763 closed

[2019-04-18 18:21] #1608 closed

[2019-04-18 23:41] marco-rossi29 commented on #1848
This bug is introduced by this commit: d4cac03c6fee89253e6732d3f9c15164fb7579c4

In particular, the refactoring done here: https://github.com/VowpalWabbit/vowpal_wabbit/commit/d4cac03c6fee89253e6732d3f9c15164fb7579c4#diff-87041431ff099d598c8705fe354f2474R1202

doesn't do what is supposed to do.

@lokitoth how was this code tested during PR #1809?

[2019-04-19 14:18] lokitoth commented on #1848
This might not only be a reporting bug.

[2019-04-19 15:45] marco-rossi29 commented on #1848
@lokitoth  Agreed. Can you take a look?

[2019-04-19 23:17] szipkin opened #1851 "Cannot retrieve latent factors with gd_mf_weights from a trained model"
I trained a rank 40 model on the movielens data, but cannot retrieve the weights from the trained model with gd_mf_weights. I'm following the syntax from the matrix factorization example but it is giving me errors. Any advice?

Model training call:
`vw --rank 40 -q ui --l2 0.1 --learning_rate 0.015 --decay_learning_rate 0.97 --power_t 0 --passes 50 --cache_file movielens.cache -f movielens.reg -d

[2019-04-20 02:21] ataymano commented on #1614
Cannot reproduce on current master.

[2019-04-20 07:58] arielf commented on #1608
Thanks @yannstad & @marco-rossi29 for the explanation.
I still don't feel we are doing the best we can in the present code.

There seems to be an arbitrary (and not sensible) link between `--holdout...` and `--progress`.

If I ask for 2-passes on a 1000 example data-set, I expect to have overall 2000 examples processed (regardless of holdout or not).

Independently, if I ask for a progress line ev

[2019-04-23 21:22] arielf opened #1852 "Add example context to data-set warnings & errors"
#### Describe the bug

Sometimes `vw` prints errors / warnings related to a specific example in the data-set.

Some of these are not informative enough. They could be more helpful if the following elements:

- File name (can be: `stdin` iff reading from stdin)
- Example and/or line number (line number is a bit more useful, but may not match example number in multi-line formats)
- The faulty exampl

[2019-04-24 18:32] peterychang commented on #1769
I'm not sure how limited in scope we wanted to keep this issue, but a couple of related things.

First, we should stop doing `using namespace std;` anywhere outside of any publicly exposed headers (to maintain compatibility). If we really need to do it, we should scope the statement inside the specific functions they're being used in and explicitly specify the functions/objects being used.

Second

[2019-04-25 18:43] peterychang opened #1855 "Proposal: Change int-based enums to enum classes"
Rather than using size_t with \#define'd values or const numbers, we should use enum classes, which are more readable and relatively type safe

[2019-04-25 18:45] lokitoth commented on #1855
Will that impact bindings? In other words, how transparent is this to be used from a C-like (flat, non-mangled) API?

[2019-04-25 18:52] lokitoth commented on #1841
I think this is to do with overloading of class-id and action index in the CB stack. Since class-id is an internal implementation detail, in some sense, of CB, exposing it is unintutitive. See #1482

It might be worthwhile combining these into a single issue, since fixing it to be consistent across the different interfaces is likely to be a breaking change.

[2019-04-25 18:57] peterychang commented on #1855
I _believe_ enum classes are mangled in the same way a namespace would be. In fact, I'm pretty sure the following will cause a redefinition compilation error

<code>
enum class Test { TEST1, TEST2, TEST3 };

namespace Test { const int TEST1 = 1; }
</code>

However, even if they aren't, its possible to define the underlying data type to enum classes, which will allow them to be set based on that ty

[2019-04-29 16:28] jackgerrits commented on #1714
`cs\version.props` also contains the version number and will need to be considered for this

[2019-04-29 20:56] jackgerrits opened #1856 "LGTM fails in Extraction stage for Java code"
LGTM is failing to build Java in the Extraction stage on master. This issue has been around since the move to CMake but since LGTM wasn't reporting status it was unnoticed.

[code]

[2019-04-30 15:19] #1810 closed

[2019-04-30 15:49] yannstad commented on #1553
@yarikoptic
I am having hard times to reproduce, since 32 bits architecture is not that common these days :)

Could you please provide details on the failure?
* What happen when you run only the failing test?
``` test/RunTests 42 <path_to_vw_bin>```
* What happen when you run only the failing test, but ignoring small floating-point differences?
``` test/RunTests -fE0.001 42 <path_to_vw_bin>```

[2019-04-30 16:00] yarikoptic commented on #1553
to ease reproducibility there are now those singularity images http://singularity-hub.org/collections/740 ... I will try to do it later on (singularity pull, singularity run, build, `test/RunTests 42 ...`) if noone beats me to it before then

[2019-04-30 16:07] yarikoptic commented on #1553
oh, now it is all cmake - so it (and whatever else is needed now) should be added to Singularity files (which are under `./singularity`) to get those images regenerated:
[code]

[2019-04-30 17:05] jackgerrits commented on #1856
https://discuss.lgtm.com/t/build-failure-with-a-java-project-on-github/1339/2

[2019-04-30 17:52] yarikoptic commented on #1553
ok, adjusted Singularity (will push a separate PR) and here is what I get
[code]
and
[code]

[2019-04-30 17:53] yarikoptic commented on #1553
note, that was in `debian/8.6.1.dfsg1-1` branch (not current master)

[2019-04-30 18:40] yannstad commented on #1553
Thank you!

So, my understanding is that the test 42 is not failing. The floating-point difference is expected, that is why the tests are run (in our pipeline) using an [option for fuzzy comparisons](https://github.com/VowpalWabbit/vowpal_wabbit/blob/f159ff65b536f5ac9512ff6fe91169988301d564/test/CMakeLists.txt#L17).
I do not know how you run the tests, but I suggest to pass the options `-fE0.001`

[2019-04-30 22:23] marco-rossi29 commented on #1856
Thanks for opening this!

[2019-05-01 14:49] jackgerrits commented on #1572
Closing this issue as it seems like the question is answered. @sevilaybayatli if it is not, please go ahead and reopen it.

[2019-05-01 14:49] #1572 closed

[2019-05-01 16:32] jackgerrits opened #1858 "Generate Python docs with Sphinx and host on ReadTheDocs.io"
The python bindings are decently documented with doc strings. It would be useful to be able to access those in the normal python docs way.

ReadTheDocs.io and Sphinx seem to be the standard way.

[2019-05-02 16:18] #1689 closed

[2019-05-02 17:54] marco-rossi29 opened #1860 ""--softmax --lambda -1.0" breaks CLI"
when using `--cb_explore_adf --softmax` the default `--lambda` is `-1.f`.

However VW fails when `--lambda -1.0` is in input string

[code]

VW doesn't recognize that `-1.0` is the argument of `--lambda`

I believe the issue is in parsing `-1.0` versus `-1`, since`--cb_explore_adf --softmax --lambda -1` works

[2019-05-02 19:16] jackgerrits commented on #1860
I'll look into this

[2019-05-04 04:00] PramodParida opened #1861 "sequenceLabeler.learn producing run error"
Hi,

I am getting this error while running the below code:

#### Code:
[code]
#### Error:
[code]
Please provide hints to solve this.

Thanks

[2019-05-06 17:46] jackgerrits opened #1863 "Merge functionality of all.pairs and all.triples into all.interactions"
Interactions is the general case of pairs and triples. They should be merged into interactions, this has been partially done but would be good to finish off and remove the extra fields.

[2019-05-06 18:14] JohnLangford commented on #1863
This would need very careful profiling as I belief it was not merged because of profiling previously.

[2019-05-06 20:19] jackgerrits commented on #1863
By this I mean merging the fields in global data, not merging the logic when we generate the interactions down in gd. We should definitely keep the special cases for quadratic and cubic because of perf.

[2019-05-06 20:23] jackgerrits commented on #1840
Would you be able to submit a PR for the partial fix I outlined above? If you'd like I am happy to submit it, just let me know

[2019-05-08 14:56] jackgerrits commented on #1861
Are you able to provide the example from your dataset so I can repro the issue?

[2019-05-08 15:50] pavithraks commented on #1806
Hey @jrmarkle  , apologies for the delay, I finally got around to looking at it. Thank you for identifying this.

In the example that @jrmarkle shares, the example that we pass has no label, therefore, the value of `grad_squared` (line 509 in gd.cc) is infinity. This value is coming from the function call defined in line 549 in gd.cc
`grad_squared *= all.loss->getSquareGrad(ec.pred.scalar, ld.labe

[2019-05-08 18:07] lokitoth commented on #1860
@jackgerrits Take a look at #1742: I thought I had fixed this, but it looks like it was not a complete fix?

[2019-05-08 18:16] lokitoth opened #1868 "Replace signed 'char' uses with 'unsigned char' or 'int8_t'"
It is likely fairly rare that we need an actual 8-bit integral value. If we do need one, we should prefer the explicitly-sized `int8_t`, that way we do not confuse "this is a character in a string, which is naturally unsigned", especially if we want to use it as an array index, as opposed to "this is an integer that is signed and one byte in size".

This will prevent us from having errors like try

[2019-05-08 18:28] jackgerrits commented on #1868
Perhaps using `uint8_t` or `int8_t` explicitly would be clearer? Most places we use a char we actually just want an unsigned byte, right?

[2019-05-08 18:34] lokitoth commented on #1868
From a cursory look, it seems that most of the cases are either strings or namespace index, so we could use `namespace_index` where it makes sense. The main thrust of this is to ensure that any place where we are treating the chars as elements of strings, we should always use `unsigned char`, or explicitly declare it to be a number with a fixed size.

[2019-05-08 21:17] peterychang opened #1865 "Fix const correctness in VW"
There are several function parameters and object member variables which should be const but are not (the most egregious I've found being the substring object). This forces us to const_cast parameters and allows us to do very unsafe operations on them (eg: modifying or deleting substrings).

We should perform an audit of the code and enforce const correctness where applicable

[2019-05-09 06:20] PramodParida commented on #1861
I am using the dataset atis and have formated it to the type vw. But facing this issue with pyvw library it is breaking as posted above. I have facing this issue both in windows and linux.

Thanks

[2019-05-09 15:18] jackgerrits commented on #1553
@yarikoptic it looks like this has been resolved, if there is still an issue please reopen the issue

[2019-05-09 15:18] #1553 closed

[2019-05-09 15:20] jackgerrits commented on #1482
This issue is being tracked by #1841

[2019-05-09 15:20] #1482 closed

[2019-05-09 20:44] lokitoth commented on #1861
@PramodParida: Are you trying to learn audio => transcription for ATIS, or something else?

Also, did you build the VW library you are using, or did you get a pre-built one?

[2019-05-10 21:21] szipkin opened #1871 "gd_mf_weights.cc has bug in writing out features for the right namespace"
### Bug:
https://github.com/VowpalWabbit/vowpal_wabbit/blob/45a8a7f5507015a17d585f7698eab20c963b592b/library/gd_mf_weights.cc#L94

The current code for the right namespace is incorrectly pointing to the left.indices, not right. As a result, it generates wrong output for the right namespace.

    // write out features for left namespace
    features& left = ec->feature_space[left_ns];
    for (size

[2019-05-10 21:24] szipkin commented on #1851
This issue is from version 8.1.1, so please close if not current. I have since upgraded to 8.6.1, but have found another bug: https://github.com/VowpalWabbit/vowpal_wabbit/issues/1871 .

[2019-05-10 21:32] ataymano commented on #1851
Issue from 8.1.1. Not reproduced on 8.6.1

[2019-05-10 21:32] #1851 closed

[2019-05-11 15:40] PramodParida commented on #1861
@lokitoth: NO it's tagged text data. I have vowpalwabbit running in command line mode but facing this issue while using the python wrapper.

[2019-05-11 18:11] mirekphd opened #1872 "pypi wheel is broken - pip install fails under py 3.6 and 3.7"
To reproduce: pull python:3.6 or python:latest image from Docker Hub, run and execute `pip install vowpalwabbit`. Hint: consider adding this to your test suite.

Error message under Python 3.6:
[code]

Error message under Python 3.7:
[code]

[2019-05-12 11:42] ataymano commented on #1871
Yes, that seems correct. Do you want to send pull request?

[2019-05-12 21:51] robinsonkwame commented on #1764
Another data point here, with
[code]
I get a similar error:
[code]

[2019-05-13 16:31] peterychang commented on #1872
It looks like you don't have boost_python installed. Can you try installing it before running pip?
Be aware that boost_python only installs binaries for python2.7 and one version of python3, depending on the version of boost

[2019-05-13 18:33] szipkin commented on #1871
It's my first time creating a pull request. Let me know if I didn't do it correctly. Thanks.

[2019-05-13 21:45] pavithraks commented on #1806
@JohnLangford : ^ Thoughts on how to fix this? Thanks!

[2019-05-14 14:58] ataymano commented on #1871
Thanks for creating pull request. It looks good.
But I have added one comment there - sorry, haven't noticed one mistake in initial proposal.

[2019-05-14 15:35] kumpera commented on #1783
Hey @mmmmaister the issue you're seeing is due to how the VW input format handles example tags.
If you look at https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Input-format#notes it mentions that there must be a space before the first `|` or the string will be considered a tag.

I edited your file and added spaces before the first `|` and it worked as you'd expect.

[2019-05-14 15:35] #1783 closed

[2019-05-14 17:42] jackgerrits commented on #1871
Looks like #1874 has resolved this. Please reopen if there is still an issue.

[2019-05-14 17:42] #1871 closed

[2019-05-14 19:07] robinsonkwame commented on #1414
Seeing this issue pop up again, in a python:3.6.7 docker container with
[code]
with `pip install vowpalwabbit` and trying to import vowpalwabbit, I get
[code]

[2019-05-15 02:31] jackgerrits opened #1876 "Improve modularity and maintability of io code"
The io code for VW currently relies on io_buf and uses integer file descriptors and platform checks everywhere. Using a standard interface for interacting with these input/output sources will simplify a lot of logic. I've started work on this, but thought it might be a good idea to create an issue to track this since it is quite large.

Dev branch:
https://github.com/jackgerrits/vowpal_wabbit/tree

[2019-05-15 18:42] lokitoth opened #1877 "Windows RunTests driver is not full-fidelity to RunTests script"
The C# "RunTests" driver attempts to simulate the native VW driver using the C# API surface.

Unfortunately, this runs into several issues:
- There is no way to test the stderr output matches
- There are some float rounding issues preventing us from running some of the tests
- The current driver only understands how to process the VWText input format
- The current test generation strategy is very

[2019-05-16 11:48] ataymano opened #1881 "Fix cb_adf / softmax test from RunTests (Test 188)"
#### Describe the bug
RunTests use empty line as separator between scenarios in the way that the last test is ignored if there is no empty line afterwards (so it have never been executed now). But it is failing actually.

#### To Reproduce
1. Add new line at the end of RunTests
2. Rebuild/rerun tests

#### Expected behavior
All tests should pass

#### Observed Behavior
cb_adf_sm test is failing

#

[2019-05-16 14:31] lokitoth commented on #1881
This is hidden by #1878 (by adding it to ignores).

I wonder whether there is an inconsistency between the code on Windows / Linux, because the failure is at validation of average loss from summary statistics, because it goes from expected 1.5 to observed 2.0

[2019-05-16 15:34] #1848 closed

[2019-05-17 12:10] JohnLangford commented on #1806
What change is causing the saving and loading of a file (even with --save_resume) to modify the prediction?  It's not the _code_ because that is identical before and after loading a file.

[2019-05-17 17:22] jackgerrits commented on #1714
https://github.com/VowpalWabbit/vowpal_wabbit/pull/1884/files

`python/docs/conf.py` needs to be updated as well

[2019-05-17 18:36] jackgerrits commented on #1858
For the time being the docs will be hosted statically on github pages. Once the python module install story is improved we can revisit using ReadTheDocs as it seems to require installing the module before generating docs

[2019-05-17 18:36] #1858 closed

[2019-05-20 23:35] jackgerrits opened #1887 "Should learn_MTR be calling gen_cs_example_ips? [cb_adf.cc]"
I just noticed that in [cb_adf.cc](https://github.com/VowpalWabbit/vowpal_wabbit/blob/697d4fce57ee3269e299c7e87a2fbe8e1dcc2f7f/vowpalwabbit/cb_adf.cc#L197) in the `learn_MTR` function `gen_cs_example_ips` is being called in the predict block. Should this actually be `gen_cs_example_mtr` or is this intentional?

@JohnLangford can you comment?

[code]

[2019-05-21 00:12] JohnLangford commented on #1887
Yes.   The first call uses all the actions while gen_cs_mtr just creates a cs example with shared + labeled action.  This will become clearer as we disentagle some of our technical debt.

[2019-05-21 00:32] jackgerrits commented on #1887
Thanks for the explanation!

[2019-05-21 00:32] #1887 closed

[2019-05-21 16:27] peterychang opened #1889 "Some CB workflows bypass CSOAA for the reward predictor"
#### Describe the bug
In at least one workflow (cb_adf with --cb_type dr) the code path bypasses the normal reduction stack and makes a series of function calls, which results in at least one reduction being bypassed.

This bug was discovered during a small refactor of code relating to how shared examples are being handled https://github.com/VowpalWabbit/vowpal_wabbit/pull/1873

Adding this issue

[2019-05-23 01:51] marco-rossi29 commented on #1687
I'm closing this issue and we can take the discussion offline

[2019-05-23 01:51] #1687 closed

[2019-05-24 15:14] agroh1 opened #1891 "invert_hash not working with bfgs"
#### Describe the bug
Using invert_hash with bfgs fails to produce any features in the output file.

#### To Reproduce
Steps to reproduce the behavior:
First train the model:

vw --holdout_off --loss_function logistic --passes 2   --bfgs   --cache_file=/tmp/bfgs_training/vw.cache_file -f /tmp/bfgs_training/vw.models -d training_data.txt
[training_data.txt](https://github.com/VowpalWabbit/vowpal_wa

[2019-05-25 16:55] mikgor opened #1893 "Can't install Vowpalwabbit using pip on Windows 10"
I have python 3.7.0 installed on Windows 10 and I can't install VowpalWabbit. When I use command:
`pip install vowpalwabbit`
I get:
[code]
I've tried use Python 3.5.0 and it still didn't work.

[2019-05-26 23:00] jackgerrits commented on #1893
The Python package includes C++ that needs to be built from source, and is made a bit difficult because the dependencies need to be present too. We are working on making the Python install experience better, but in the meantime here is how I was able to get your situation working on Windows 10 1809 from latest vw master. (Things have changed quite a bit since 8.5.0 which is what is on pip)

- For

[2019-05-26 23:20] jackgerrits commented on #1891
Thanks for submitting a PR, I'd like to get John to take a look at this.

[2019-05-26 23:23] #1344 closed

[2019-05-28 09:06] seanv507 opened #1894 "-c creates cache file when pass multiple existing cachefiles"
#### Describe the bug
-c causes vw to generate a .cache file if pass multiple cache files via cache_file argument.
Expect cache file only to be generated if cache and parameters (eg bit precision) are out of alignment

#### To Reproduce
Steps to reproduce the behavior:
`vw -c --cache_file test.cache --cache_file test1.cache`

#### Expected behavior
use test.cache and test1.cache without creating .

[2019-05-28 15:09] jackgerrits commented on #1891
Can you confirm that #1892 fixes this?

[2019-05-28 16:26] #1893 closed

[2019-05-28 21:48] sharathmalladi opened #1895 "Allow multiple data files as input"
#### Describe the bug
Call vw with a bad argument and notice that vw does not return a non-zero error code. To detect whether vw rejected the arguments would require us to read the output and look for a line that says "sailing on!" .. which is not really a robust mechanism to return an error response.

#### To Reproduce
Steps to reproduce the behavior:
For example (notice the vw parameters are "ba

[2019-05-29 00:08] jackgerrits commented on #1895
In this situation only `bad` is looked at out of `bad vw arguments` as a positional parameter for the `--data` option. This is a shortcut that's been around for some time. `vw arguments` are then ignored as unused values, and not options. The positional parameter actually overrides the value given by `--data`, and since `bad` is not a file a warning is printed when it can't be opened. So VW does a

[2019-05-30 00:42] jackgerrits commented on #1891
Closing since the PR is merged, please reopen if the bug is still present

[2019-05-30 00:42] #1891 closed

[2019-05-30 15:00] JohnLangford commented on #1894
It looks like you can remove -c and get the desired behavior.

[2019-05-30 19:48] jackgerrits commented on #1785
I'm currently working on this here: https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Conditional-Contextual-Bandit

[2019-05-30 19:49] jackgerrits commented on #1895
So I think what could be done here is support multiple data files as input, and then if none of the files are able to be opened them VW will exit with a non-zero return code. You would also need to pass `--no_stdin` in order for it to work though as stdin is treated as another input file.

[2019-06-04 13:43] JohnLangford commented on #1806
Starting from the patch, "stateless" is on leading to w pointing to a different chunk of memory here:
https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/vowpalwabbit/gd.cc#L506
The core reason why "stateless" is on, is because evaluating the confidence should not change the state of the learning algorithm.

The semantics of confidence here is "how much update is required to cause the predic

[2019-06-04 14:15] JohnLangford commented on #1806
A proposed fix along the lines of 2 in #1901

[2019-06-04 14:41] #1806 closed

[2019-06-04 23:24] JohnLangford opened #1905 "save_resume not working with some update rules"
#### Describe the bug
The bug is documented here:
https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/test/save_resume_test.py#L156

#### To Reproduce
As per the script.

#### Expected behavior
save_resume should work.

#### Observed Behavior
save_resume is not equivalent to a continuous stream of data

#### Environment
master

[2019-06-05 00:20] JohnLangford commented on #1889
Should be fixed now.

[2019-06-05 00:20] #1889 closed

[2019-06-05 20:55] JohnLangford opened #1914 "Heisenbug with Daemon"
#### Describe the bug
On my laptop, test 61 or 152 sometimes hangs.

#### To Reproduce
./RunTests ../build/vowpalwabbit/vw

#### Expected behavior
Should not hang.

#### Observed Behavior
Tests fail.

#### Environment
What version of VW did you use? Current master
What OS or language did you use? Ubuntu 16.04.5 LTS

[2019-06-06 02:11] JohnLangford commented on #1914
I've been looking through this bug.

Observation 1: The path is wrong: https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/test/daemon-test.sh#L6 so it was using the wrong VW.

Fixing that still leaves us with a bug.  Sometimes (unclear what the causality is), you get:
write error: Bad file descriptor
I've confirmed that this is occurring here: https://github.com/VowpalWabbit/vowpal_wabbit/b

[2019-06-06 02:54] #1914 closed

[2019-06-06 11:50] JohnLangford commented on #1860
You can pass a negative number by using --lambda=-1.0 .

Another alternative, btw, is that we could add a negative sign into the definition of softmax so the correct range of values is positive.

[2019-06-06 13:13] JohnLangford commented on #1860
I'm implementing the alternative---it seems like the better long term solution.

[2019-06-06 13:17] JohnLangford commented on #1905
Fixed in the current master by #1919

[2019-06-06 13:17] #1905 closed

[2019-06-06 13:53] #1860 closed

[2019-06-06 14:50] jackgerrits commented on #1894
@seanv507 does this solve your problem?

[2019-06-06 14:53] seanv507 commented on #1894
yes, (and its what I do), but its contrary to the 'recommendation' to always have the c option (to recreate cache if necesssary - change of eg bit_precision)

[2019-06-07 13:43] silverguo opened #1927 "No bias regularization for SGD"
According to #919 and #1729, VW has already `--no_bias_regularization` for BFGS and FTRL.

For SGD, VW has regularization on bias at every step (one sample) of every pass, it could have large impact for final bias value.

Does VW have some options to not apply L1/L2 to bias ?

If not yet, considering the way to implement it, I read the `gd.cc`, it seems that for L2, VW stores the L2 shrinkage in `

[2019-06-12 17:33] sharathmalladi opened #1929 "invert hash function is failing"
#### Describe the bug
The invert hash option for vw is failing for me.

#### To Reproduce
Steps to reproduce the behavior:
1. Used this specific command line:
vw --cb_adf -l 0.01 --dsjson --data /tmp/02b82f92-4949-476f-bbcc-3c8b724606f6/cmplx-sl2/cmplx-sl2_merged_data_2018-04-09_2018-04-09.json.gz --quiet --invert_hash out.txt

#### Expected behavior
invert hash file must be created.

#### Observe

[2019-06-12 19:17] jackgerrits commented on #1821
The proposed solution was not correct - reopening this to look into it.

[2019-06-14 15:22] jackgerrits commented on #1929
This issue is resolved in 8.7.0, specifically by #1878

[2019-06-14 15:22] #1929 closed

[2019-06-14 15:24] jackgerrits opened #1931 "vw --version should be more descriptive"
`vw --version` should be more descriptive to allow better debugging and tracing of binaries.
Options for this are:
- Include the commit id and branch built
- Use the output of `git describe`
- Additionally include date and time built

If git is not available (for instance if built from archive) then `unknown` can be used.

[2019-06-16 03:40] sharathmalladi opened #1935 "hashed feature output from vw should output strings that are easy to scrub"
[FeatureImportance.zip](https://github.com/VowpalWabbit/vowpal_wabbit/files/3293809/FeatureImportance.zip)
#### Describe the bug
The invert hash strings returned by calling vw with the invert_hash option is returning strings that are difficult to interpret programmatically.

#### To Reproduce
Steps to reproduce the behavior:
1. Call vw with invert_hash option.

#### Expected behavior
The returned

[2019-06-17 15:47] #1821 closed

[2019-06-17 19:10] jackgerrits opened #1937 "Unify warning and error reporting"
There are several methods used to output warnings and errors:

Warning:
- vw_ostream -> all.trace_message
- std::cerr
- VW_TRACE

Error:
- THROW
- VW_ASSERT

They should all be unified under one interface/macro so that they can be searched for easily and their behavior can be controlled centrally as well.

Perhaps two macros as the top level API:
VW_WARN
VW_ERROR

[2019-06-18 14:52] rajan-chari commented on #1935
This is would be very helpful for @sharathmalladi  from implementing feature importance weight discovery.

[2019-06-19 15:53] jackgerrits commented on #1935
Just talked to John and the way we want to approach this is to extend the vw input language to accept features in the form <string>:<string>. Up until now we have warned on this. The hash this then <string>:<string>, and works almost exactly as <string>=<string>. The benefit of doing this is that now the use case in JSON you are mentioning can be supported as inserted that colon and we don't need

[2019-06-19 16:00] sharathmalladi commented on #1935
Thanks Jack! Any delimiter works for me.

From: Jack Gerrits <notifications@github.com>
Sent: Wednesday, June 19, 2019 8:54 AM
To: VowpalWabbit/vowpal_wabbit <vowpal_wabbit@noreply.github.com>
Cc: Sharath Malladi <sharathm@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [VowpalWabbit/vowpal_wabbit] hashed feature output from vw should output strings that are easy to scrub (#1935)

[2019-06-20 11:00] helderm opened #1940 "Support for tags in JSON format"
#### Describe the bug
Tags are currently not supported when using JSON as input format, this is an issue to request it to be added to the parser.

#### Rationale
Tags can be used to join the predictions to a sample identifier. This would help to integrate VW with big data databases like BigQuery that have native support for exporting tables as newline-delimited JSON files.

#### To Reproduce
Steps

[2019-06-20 13:53] lokitoth commented on #1940
Tag is supported, but was undocumented in the wiki. I fixed this: https://github.com/VowpalWabbit/vowpal_wabbit/wiki/JSON

Or is it that you are running into an issue where files with "_tag" do not produce tags?

[2019-06-20 16:48] marco-rossi29 opened #1943 "Tau first strategy should count only learn calls (not predict)"
Issue:
In [cb_explore_adf.cc](https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/vowpalwabbit/cb_explore_adf.cc#L253) tau is decreased no matter if predict or learn is selected

To repro:
Using the C# simulator (which call predict+learn at every iteration) with input:
`simulator.exe "--cb_explore_adf --ignore XA -q UB --first 40000" 10 10 0.03 0.4 1 0 0 50000 10000 0`
Uniform exploration is

[2019-06-21 07:58] arielf commented on #1895
+1 to supporting multiple data files as inputs.
I wanted this useful feature for a long time.

[2019-06-21 09:13] helderm commented on #1940
I just tested and it is working perfectly. Thanks for adding it to the wiki!

[2019-06-21 09:13] #1940 closed

[2019-06-21 17:47] #1943 closed

[2019-06-25 17:54] arielf commented on #1861
@PramodParida

@lokitoth question is important.

"did you build the VW library you are using, or did you get a pre-built one?"

Generally, any precompiled library is unlikely to be compatible with anaconda, which has it own incompatible tool-chain (incl compilers)

[2019-06-27 17:42] jackgerrits commented on #1894
It seems like this is resolved, even though the behavior is a little counter intuitive.

[2019-06-27 17:42] #1894 closed

[2019-06-27 20:33] jackgerrits commented on #1931
Fixed by #1951

[2019-06-27 20:33] #1931 closed

[2019-06-28 05:45] PramodParida commented on #1861
Yes, I have build the vw library. But still not able to use the the python interface.

It's working fine in command line mode.

Please update on python interface.

Thanks

[2019-06-28 05:49] PramodParida commented on #1861
The command line mode works fine.

Yes, I have build the library. But python interface is not working.

Please resolve the python issue.

Thanks

[2019-07-01 20:12] jackgerrits opened #1953 "Move to GitHub apps for continuous integration"
GitHub apps are the new way to integrate CI, it provides a richer reporting interface. We should look at migrating our CI to consuming them in this way.

https://github.com/marketplace/coveralls
https://github.com/marketplace/lgtm

[2019-07-05 15:58] jackgerrits opened #1957 "Dsjson parsing for ccb will fail if _slots is before _multi"
The Dsjson parser makes an assumption that the `_slots` field must come after `_multi`, if fact ordering is very important in the json parsing because of event based nature. We should make it more robust to ordering.

[2019-07-08 12:43] whitish opened #1958 "Model with save_resume gives worse model skill than without save_resume"
#### Describe the bug
I am trying to implement continuous training with VW (using imbalanced data). With and without _--save_resume_ I expect the same AUC, logloss etc for the first batch of the training data. And for the following iterations I expect that with _--save_resume_ metrics will be better. However, even after the first training iteration I have got different results. For example:

####

[2019-07-09 07:42] arielf commented on #1958
Thanks for the report.

One potential problem here is using 3 different inputs (`test_batch_<N>.vw`) but they are sharing the same cache file `model.cache` in multiple passes.

Since this is not a reproducible example, and a not so big data-set (< 1M examples)
In order to further narrow the issue it would be really helpful if you provide more info:

- Can you reproduce with local files passed dire

[2019-07-09 09:54] whitish commented on #1958
Replaced _--cache_file_ with _-c_ to be more confident about not mixing the cachesI've got exactly the same results (I am also using _--kill_cache_).

Output (with --ftrl):
[code]

Output (without --ftrl):
[code]

[2019-07-09 17:41] lokitoth opened #1960 "--invert_hash ambiguity"
#### Describe the bug
When there is ambiguity between ns^feature_name and a feature with name "ns^feature_name"  in a single example, --invert_hash only shows the hash of the first one.

#### To Reproduce
Input files:
input1.txt
`1 | ns^abc |ns abc`

input2.txt
`1 |ns abc | ns^abc`

Steps to reproduce the behavior:
1. vw -d input1.txt --invert_hash inv_hash1.txt --readable_model readable1.txt
2. v

[2019-07-10 06:36] arielf commented on #1958
Thanks Aleksei

#### Let's focus on the 1st problem described:

"even after the first training iteration I have got different results" (I'm guessing vs adding `--save_resume` to the command line)

I tried and am not able to reproduce this.

Can you provide a fully reproducible example? Both full script and data-set?
If the bug is there, it should manifest with any (much smaller) dataset.

#### Her

[2019-07-11 14:25] lokitoth commented on #1957
@jackgrerrits: Is this also an issue with vw json? Or dsjson only?

[2019-07-11 14:47] jackgerrits commented on #1957
Yes I believe it affects both json and dsjson

[2019-07-12 18:58] jackgerrits commented on #1785
Page is now published at the above url

[2019-07-12 18:58] #1785 closed

[2019-07-16 13:42] #1762 closed

[2019-07-16 13:50] jackgerrits commented on #1651
I have just setup MacOS CI and this issue is still around: https://dev.azure.com/vowpalwabbit/Vowpal%20Wabbit/_build/results?buildId=1343

@kumpera would you be able to take a look?

[2019-07-16 14:16] kumpera commented on #1651
@jackgerrits sure, will do it this week

[2019-07-17 15:21] serjioteh opened #1967 "--classweight option bug"
#### Describe the bug
After upgrade to 8.7.0 --classweight option with argument '-1:0.5' gives an error:
unrecognised option '---1'
vw (options_boost_po.cc:152): unrecognised option '---1'
#### To Reproduce
vw mail_train.vw -f model.vw --link=logistic --loss_function=logistic --passes 30 -c -k --classweight -1:0.5

#### Observed Behavior
Doesn't run
unrecognised option '---1'
vw (options_boost_po.

[2019-07-17 17:33] jackgerrits commented on #1967
This is a problem with the argument parsing and definitely a bug, thanks for reporting it.

In the meantime to mitigate this please use the option as: `--classweight=-1:0.5`

[2019-07-18 14:38] jackgerrits opened #1968 "Investigate is_example_header"

[2019-07-18 15:31] jackgerrits commented on #1953
Azure pipelines is being used as an all. Migrating the other CI's is low pri as they are functioning just fine right now

[2019-07-22 13:21] jackgerrits opened #1972 "Write wiki documentation for building Java"

[2019-07-22 15:13] peterychang opened #1975 "git is required to compile on windows"
Attempting to build VW in visual studio without git installed results in the following error:

Error	MSB3073
The command "win32\make_config_h.exe:VCEnd" exited with code -532462766."

Unhandled Exception: System.ComponentModel.Win32Exception: The system cannot find the file specified
   at System.Diagnostics.Process.StartWithCreateProcess(ProcessStartInfo startInfo)
   at Program.StartGitRevParse(

[2019-07-22 17:34] peterychang commented on #1680
Vowpalwabbit 8.7.0 has been released on pypi.
A conda recipe has also been released
https://github.com/conda-forge/staged-recipes/pull/8696

[2019-07-22 17:34] #1680 closed

[2019-07-22 19:14] peterychang commented on #1622
lto is known to have linking problems with python/boost-python libraries.
I was unable to reproduce the error, but we've recently released a new version of VW. Please try building again with the 8.7.0 release, and re-open this issue if you continue seeing the error.

8.7.0 is available on pypi via the command
`pip install vowpalwabbit`

or from the commit id f1acb06f965a3132da445a8baf126a0516d2abd

[2019-07-22 19:14] #1622 closed

[2019-07-22 20:04] peterychang commented on #1619
A new version of vowpalwabbit has been released for python on pypi and conda. Additionally, binary wheels have been released for python 3.6 and 3.7 for 64-bit python on Windows.

`pip install vowpalwabbit`
should now install a pre-compiled wheel for python (64-bit) 3.6/3.7 on Windows.

To answer your questions:
1. Windows users should follow the instructions at https://github.com/VowpalWabbit/vowp

[2019-07-22 20:04] #1619 closed

[2019-07-25 14:43] #1975 closed

[2019-07-25 15:00] lokitoth commented on #1957
This may not be a trivial fix, due to how the example ring works, since the underlying system probably expects the slot examples to be ahead of the action examples, right?

[2019-07-25 15:10] lokitoth opened #1978 "TestJsonDictThreading fails sporadically during CI"
The .NET Bindings test, TestJsonDictThreading, fails sporadically (very rarely).

[2019-07-25 15:25] peterychang commented on #1872
If errors persist after installing all VW dependencies, please re-open this issue.

[2019-07-25 15:25] #1872 closed

[2019-07-25 15:31] peterychang commented on #1893
Updated installation instructions for 64-bit Python 3.6 and 3.7 on Windows:
Binary wheels have been released for these environments. Install using
`pip install vowpalwabbit`

[2019-07-25 15:35] jackgerrits commented on #1957
The system expects examples to be in the order shared,actions,slots. So slots must come last

[2019-07-29 17:49] #1968 closed

[2019-08-01 13:19] lokitoth commented on #1824
Hi @Alluxia-F: Just wanted to loop back with you to see if your issue was resolved, or if you are still running into problem.

[2019-08-01 14:45] jackgerrits commented on #1651
@kumpera, @ataymano is going to take a look

[2019-08-03 16:59] rajan-chari opened #1987 "Custom allocator for vw library"
Allow users of vw library to provide their own allocator.

[2019-08-03 18:10] jackgerrits commented on #1987
What are the use cases of this?

Seems like there is a standard way to do this at least:
1. Create a class that conforms with [std::allocator<T>](https://en.cppreference.com/w/cpp/memory/allocator) if you want a custom allocator
2. Allow for custom allocators in all of our library classes where it makes sense through a template parameter defaulted to std::allocator<T> (This is how std::vector does

[2019-08-03 19:50] mazunki commented on #376
Any solution/package for Solus OS?

[2019-08-05 16:08] jackgerrits opened #1989 "Rename utl to util"
This is a breaking change to projects depending on the directory structure of the repo. We plan on doing this in VW9. If anyone has issues please chime in here.

[2019-08-05 16:14] jackgerrits opened #1990 "Clean up /library directory"
The /library directory contains examples, tools and library code. These files should be moved to the proper locations and an example folder created.

ezexample_predict.cc -> example
ezexample_predict_threaded.cc -> example
ezexample_train.cc -> example
gd_mf_weights.cc -> example
library_example.cc -> example
libsearch.h -> library
recommend.cc  -> tool
search_generate.cc  -> example
test.cc -> sh

[2019-08-05 17:04] jackgerrits opened #1991 "Move rapidjson into `external` directory"
This is just a small cleanup item, but it will be a breaking change for projects depending on this. We will batch this in with VW 9

[2019-08-05 20:56] lokitoth commented on #1987
We would need to ensure that this allocator is realloc-compatible? Or rethink the realloc codepaths.

In particular, we do realloc here:
* https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/vowpalwabbit/parse_args.cc#L221
* https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/vowpalwabbit/parse_regressor.cc#L150
* https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/vowpalwabbit/s

[2019-08-05 21:01] lokitoth commented on #1856
This seems to have been fixed. @jackgerrits, is there more work here?

[2019-08-05 21:04] lokitoth commented on #1567
@jackgerrits You mentioned that Homebrew is working again? Is this issue still current?

[2019-08-05 21:46] jackgerrits commented on #1856
It only fails if the Java is modified otherwise LGTM passes knowing no code changed.

[2019-08-06 12:52] jackgerrits commented on #1567
Hi @coatless, sorry it has taken so long to get to this. You're right, the required headers are not part of the group that is installed and this issue persisted through the transition to CMake. The solution is to add those headers to the install, and I'll submit a PR to resolve this.

I would like to add though that traditionally VW has been a command line tool first, so the interface has primaril

[2019-08-06 19:04] lokitoth commented on #1546
Hi @MelanieFreed - did your issue get resolved, or are you still running into the problem?

[2019-08-06 19:39] jackgerrits commented on #1772
@amirj, CCB has now been merged to master. See [here](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Conditional-Contextual-Bandit) for the wiki page. Let me know if you have any questions.

[2019-08-06 20:29] sturne29 opened #1998 "brew install vowpal-wabbit fails during make install"
#### Describe the bug
Vowpal Wabbit install using Homebrew fails.

#### To Reproduce
Steps to reproduce the behavior:
1. Installed Homebrew locally, added directory to PATH.
2. ran `brew install vowpal-wabbit`

#### Expected behavior
All dependencies and Vowpal Wabbit should be installed.

#### Observed Behavior
Install failed on the `make install` portion of actually trying to install Vowpal Wabb

[2019-08-06 20:40] coatless commented on #1567
@jackgerrits thanks! This would be great and help us with moving `rvw`, the _R_ interface into Vowpal Wabbit, onto CRAN.

[2019-08-06 21:19] jackgerrits commented on #1998
Is this using linux brew?

[2019-08-06 21:21] sturne29 commented on #1998
This is Homebrew installed on Linux, following the instructions given on
their website (https://docs.brew.sh/Homebrew-on-Linux).

On Tue, Aug 6, 2019 at 4:19 PM Jack Gerrits <notifications@github.com>
wrote:

--
Sarah Turner
Graduate Student, Poretsky Lab
University of Illinois at Chicago
Department of Biological Sciences
Ecology and Evolution

[2019-08-06 21:24] jackgerrits commented on #1998
I don't see the error in the message you pasted?
Which Linux distro and version?

It's weird that it looks like it is building in the `make install` phase.

[2019-08-06 21:32] sturne29 commented on #1998
The errors are all vague and at the end of the snippet of output I posted:

make[2]: *** Waiting for unfinished jobs....
make[2]: Leaving directory /tmp/vowpal-wabbit-20190806-2244-1fv3v6a/build' [ 24%] Built target spanning_tree make[2]: Leaving directory /tmp/vowpal-wabbit-20190806-2244-1fv3v6a/build'
make[1]: *** [vowpalwabbit/CMakeFiles/vw.dir/all] Error 2
make[1]: Leaving directory `/tmp/vowp

[2019-08-07 11:11] amirj commented on #1772
Thank you very much. It's a very useful feature. I will start fitting my dataset to this feature and report if I have any problem. For the moment, I will close this issue. Thanks again.

[2019-08-07 11:11] #1772 closed

[2019-08-07 17:30] jackgerrits commented on #1998
Can you provide the contents of the logs? `/home/sturne29/.cache/Homebrew/Logs/vowpal-wabbit/`

[2019-08-07 17:34] jackgerrits commented on #1536
Hi @matanster,

Would you be able to provide the full command fine for the instance running in daemon mode?
Also would you mind reproing in 8.7?

[2019-08-07 17:39] jackgerrits commented on #1469
Hi @mlisovyi,

Please see here for hosted generated Python docs: https://vowpalwabbit.github.io/docs/vowpal_wabbit/python/build/html/

Did you decide to have a crack at 2.1 or 2.2? Please feel free to open a PR for them!

@Scott-Graham-Bose are points 2.1 and 2.2 still relevant? I want to make sure since this issue has been around a while.

[2019-08-07 17:54] peterychang commented on #1633
The VW build process has changed significantly from when this issue was first opened. I've been unable to reproduce the issue, and seeing no updates since Oct 2018, I will be closing this ticket.

If the problem persists with VW 8.7 build, please re-open this issue and I'll take another look. Thanks

[2019-08-07 17:54] #1633 closed

[2019-08-07 19:11] jackgerrits commented on #1472
I've created PR #1999 to address the documentation issue.

See the updated doc hosted here: https://vowpalwabbit.github.io/docs/vowpal_wabbit/python/build/html/vowpalwabbit.sklearn.html

[2019-08-07 19:13] jackgerrits commented on #1565
@eisber is it possible you could whip together a wiki page to give a brief description of this reduction? Or alternatively just explain here and I'll add it.

[2019-08-07 20:19] eisber commented on #1565
@JohnLangford can you confirm/correct/extend?

From the unit tests. Here's a sample input file.
https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/test/train-sets/cb_eval2

Each feature represent a policy (:1 :2 are 2 policies, distinguished by feature index (which is implicit 0 and 1) and the first policy chose 1 as the action and the 2nd 2 as the action). The arg to multiworld_test identi

[2019-08-07 20:43] rajan-chari opened #2000 "Fix learn() semantics. learn() should only include predict() when needed."
Notes:
		1. top level driver must call predict to compute loss
		2. calling predict() at every level for learn() is not needed and is wasteful
		3. subtle: for base regressor, learn() almost always needs to call predict()
			i. learn should know predict is called so should avoid it
				1) perhaps learn(label, features, <optional> prediction)
					a) if there is prediction then base regressor will

[2019-08-07 20:49] rajan-chari opened #2001 "Reduce dependence on the whole example"
Depends on #2000
example class:
- consists of the following logical parts
  - features
  - label
  - prediction
- Only pass the parts needed
  - for example. cb - does not needs features
- Useful to think about supporting other example types
  - jpeg images as features
  - tensor
- base reduction signature should be restricted to the (a) example parts and (b) exact types needed

[2019-08-07 21:01] rajan-chari opened #2002 "Remove global object (all) - cb reductions"
This is independent of all other changes so can happen in parallel with rest of atomization.

Fix cb_adf, cb_explore and other cb reductions.

[2019-08-07 21:09] rajan-chari opened #2003 "Remove global object (all) - other reductions"
Pick a reduction from this list and remove 'all' dependency.  This contains list of all reductions.  Add a new task with the desired reduction(s) and track them individually.

- [x] GD (ataymano)
- [ ] kernel_svm
- [ ] ftrl
- [ ] svrg
- [ ] sender
- [ ] gd_mf
- [ ] print
- [ ] noop
- [ ] lda
- [ ] bfgs
- [ ] OjaNewton

- [ ] baseline
- [ ] replay<'b', simple>
- [ ] active
- [ ] active_cover
- [ ]

[2019-08-08 01:16] #1472 closed

[2019-08-08 15:56] rajan-chari opened #2004 "Formalize parser error handling"
Bubble up example parsing errors and allow parsing to continue or exit based on command line flag.  As part of this change introduce error codes in parsing instead of exceptions.

Check for gap with the following PR.
https://github.com/VowpalWabbit/vowpal_wabbit/pull/1906

[2019-08-08 18:09] sturne29 commented on #1998
Yes, I can. There are 5 files in there, so I've listed them here with their names. Not sure which one/s is/are important, or if this is best way to share them, so let me know if there's a better or more preferred method. This is pretty long, sorry.

**00.options.out**

**01.cmake**

**01.cmake.cc**

**02.make**

**02.make.cc**

[2019-08-08 19:42] jackgerrits commented on #1998
Hi @sturne29, thanks for the logs. I've indentified what I think are two compile issues in the logs and put together what I think should fix them in #2005. Unfortunately I cannot reproduce this issue locally. So if it is possible would you be able to clone the PR commit and verify that you are able to build on Centos then?

[2019-08-09 01:17] econinformatics opened #2006 "vw --bfgs -f model followed by vw -i model --bfgs --l2=any_value wipes all coefficients."
#### Describe the bug
This trains fine.
vw -d train.vw -k -c -l 10 --passes 100 -f tmp_model.model --l2=1e-8 --holdout_off --min_prediction=-100 --max_prediction=100 --bfgs

I want to take 'tmp_model.model' and keep training:
head -n 2 train.vw | vw -k -c -l 10 --passes 2 -i tmp_model.model -f tmp_model.model --l2=1e-8 --holdout_off --min_prediction=-100 --max_prediction=100 --bfgs

However, when

[2019-08-09 16:34] sturne29 commented on #1998
So far I have not been able to build it (presuming I'm doing it the right way, which I'm not sure about). What I did:

`git clone https://github.com/VowpalWabbit/vowpal_wabbit.git pr_vw_clone`
`cd pr_vw_clone`
`git fetch origin pull/2005/head:pull_2005`
`git checkout pull_2005`

Then ran `make`, which failed with many errors. I've never done anything like this before (specifically cloning a PR com

[2019-08-09 20:48] rajan-chari opened #2007 "Create pmf_to_pdf reduction"
- [x] I/O finish functions

[2019-08-09 20:48] rajan-chari opened #2008 "Create a new prediction type"

[2019-08-09 20:52] rajan-chari opened #2009 "Create a new label type"

[2019-08-09 20:53] rajan-chari opened #2010 "Modify tree reduction for use with semi-bandit feedback."
@mmajzoubi

[2019-08-09 20:53] rajan-chari opened #2011 "Modify cbify to accept regression dataset"
For the non-adf case (which is what we are working on for now)

Currently:
- cbify takes either a cost_sensitive or multi_class example and converts it to a cb example.
- It then passes this example to a base reduction for predict() and learn()
- It takes the cb prediction and label and converts it back to cost_sensitive or multi_class prediction and/or label.
- It assigns the cost for cb from cos

[2019-08-09 20:54] rajan-chari opened #2012 "Modify existing cb reductions to use semi-bandit feedback"

[2019-08-09 20:54] rajan-chari opened #2013 "Modify tree to use either cb reduction or importance weighted binary regressor"

[2019-08-09 20:54] rajan-chari opened #2014 "Take multiline example as input"

[2019-08-10 14:34] jackgerrits commented on #1998
There are instructions for building on Ubuntu on the wiki https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Dependencies

They will not match completely but they should help you get it building

[2019-08-10 14:37] JohnLangford commented on #1565
That sounds right.  The core code is this line:
https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/vowpalwabbit/mwt.cc#L89

-John

On Wed, Aug 7, 2019 at 4:19 PM Markus Cozowicz <notifications@github.com>
wrote:

[2019-08-12 17:56] rajan-chari opened #2016 "sample pdf and get a continuous action"

[2019-08-12 18:45] rajan-chari opened #2017 "cb_explore - learn() must take multiple actions"

[2019-08-12 19:39] sturne29 commented on #1998
The problem is that I decided to try Homebrew because I can't easily install the dependencies on my system, so I'm fairly confident I won't be able to successfully build it. Thank you very much for your help so far. I may have to try something else, though.

[2019-08-12 20:28] rajan-chari opened #2018 "Add integration tests under RunTest"

[2019-08-12 20:43] jackgerrits commented on #1998
Okay no problem. I will still merge the fixes and they may unblock come the next release (which will hopefully be soon)

[2019-08-12 23:51] jackgerrits commented on #1998
Closing this as the direct compile errors should be fixed. Stay tuned for the next release for homebrew to be updated, if it's still a problem then please reopen this.

[2019-08-12 23:51] #1998 closed

[2019-08-14 14:17] peterychang opened #2019 "Convert v_hashmap to std::unordered_map"
Performance testing shows that std::unordered_map (with max_load_factor = 0.25) is at least as performant, and in many cases much more performant than v_hashmap. It also uses a standardized interface and is an overall safer data structure.

This task is to track the conversion of v_hashmap to std::unordered_map in VW

Performance test results follow:
I ran 5 different map implementations (dense_ha

[2019-08-14 14:28] peterychang commented on #2019
Currently, the 2 key types we use in v_hashmap are uint64_t and substring. Unordered_map should use std::string instead of substring.

However, looking at the code v_hashmap is inextricably tied to substrings. Moreover, these substrings contain pointers to dynamically allocated memory, which require custom cleanup code.

There are 2 approaches we can take here:
1. Make a small change to use unorde

[2019-08-14 14:32] jackgerrits commented on #1469
To summarize there are a few items left outstanding here. Anyone should feel free to submit a PR for these:
1. Move vw_ object creation to constructor of sklearn_vw.VW object and remove lazy creation in `fit`, etc calls
2. Allow for passing an object file and number of passes and train immediately on creation of the object
3. Fix documentation to explain if they want to load both an external file

[2019-08-14 14:49] jackgerrits commented on #1567
I'm going to close this as it should be fixed in the repo, we plan to do another minor release in the soonish future. When that's out the homebrew package will be updated and you should be unblocked.

[2019-08-14 14:49] #1567 closed

[2019-08-14 15:09] jackgerrits opened #2021 "Test coverage report should include unit tests"
Test coverage percentage reported only includes RunTests, it should at least also include the unit_test project to give more accurate metrics.

[2019-08-14 15:28] jackgerrits opened #2022 "Setup.py should run make with the right level of parallelism"
Currently setup.py uses a hardcoded parallelism value of 8. https://github.com/VowpalWabbit/vowpal_wabbit/blob/f343df75361dd9df0ba220c10cad90c3e65b128f/setup.py#L121

The CMake configuration writes a file `nprocs.txt`, example:
https://github.com/VowpalWabbit/vowpal_wabbit/blob/f343df75361dd9df0ba220c10cad90c3e65b128f/Makefile#L30

Setup.py should do something similar with the file, but in a cross

[2019-08-14 15:59] peterychang opened #2023 "Modularity problems in the contextual bandit stack"
Breaking out the remaining work from https://github.com/VowpalWabbit/vowpal_wabbit/issues/1782

--cb_explore_adf should not need to know about the cb_type since that isn't used except in the cb_adf reduction. Hence, there is a modularity failure. This modularity failure involves cover and mtr. The clean way forward here is to break things out into simpler separate reductions which may have potenti

[2019-08-14 15:59] peterychang commented on #1782
Closed in favor of https://github.com/VowpalWabbit/vowpal_wabbit/issues/2023

[2019-08-14 15:59] #1782 closed

[2019-08-14 16:35] saurabh3949 opened #2024 "cbify with cb_explore_adf for supervised datasets"
Hi,
I just wanted to understand how cbify works with cb_explore_adf for supervised datasets that have a fixed no. of actions/labels? How does VW create action dependent features?

If cbify works with adf for discrete actions with no features, how to use cb_explore_adf in general for discrete actions with no features? I want to use regcb for a online bandits problem, but I can't use it because I do

[2019-08-14 18:54] rajan-chari opened #2025 "A function to get the pdf value given the pdf and continuous action"

[2019-08-14 20:50] jackgerrits opened #2026 "Unintuitive Python parse API"
As as a user I would expect all of the following calls to behave indentically. Only the first two calls works, the other two are incorrect. All of these should be able to parse a multiline example.

[code]

[code]

[2019-08-14 20:57] jackgerrits opened #2027 "Feature order is affecting prediction with cubic interaction"
#### Describe the bug
Ordering of features is affecting the prediction value. The model file includes an interaction `8FF`, when I provide a different interaction via the command line as `8F`, then the outputted predictions are identical.

It seems to me there is a bug in the way that self interactions are computed causing this difference.

#### To Reproduce
1. `./vw .-d /badcase-inference.txt --d

[2019-08-15 12:54] eamag commented on #1764
I have this error
https://pastebin.com/TJfaqzwa
It looks like it's different from others but matches the title. I did the same steps as above

[2019-08-15 13:02] jackgerrits commented on #1764
What version of MacOS are you running.

[2019-08-15 13:23] eamag commented on #1764
osX 10.14.6, python 3.7, conda 4.7.10, Homebrew 2.1.10

[2019-08-15 14:59] jackgerrits opened #2030 "Investigate creating apt package for VW"

[2019-08-15 15:18] peterychang commented on #1764
It looks like this issue is caused by a change in the OSX build system in 10.9. libstdc++ was removed in favor of libc++. While we work on a fix for the problem, there appear to be two possible workarounds for this issue;
the first
https://docs.brew.sh/C++-Standard-Libraries
involves getting the missing dependency through an old version of gcc

The second
https://gitlab.kitware.com/cmake/cmake/iss

[2019-08-15 18:53] rajan-chari opened #2031 "cb_explore cover has to change to support continuous actions."

[2019-08-15 19:09] rajan-chari opened #2032 "Add new reductions to stack"

[2019-08-15 20:06] mlisovyi commented on #1469
Sorry to the delay. I will have a look over the weekend

[2019-08-16 00:44] jackgerrits commented on #1469
Not a problem at all, thanks! :)

[2019-08-16 19:09] galvera commented on #1685
Hi Jorge, I'd like to talk to you about a related issue, can you mail me? galvera2696@gmail.com thanks

I'm from brazil!

[2019-08-17 17:41] ataymano opened #2033 "Nan prediction in ccb_explore_adf"
#### Describe the bug
ccb_explore_adf returns Nan prediction sometimes.

#### To Reproduce
Data to reproduce: \\ATAYMANO-Z8\shared\ccb_failure\repro
vw --dsjson --ccb_explore_adf --epsilon 0.2 -d A.json     - everything is ok
vw --dsjson --ccb_explore_adf --epsilon 0.2 -d B.json     - everything is ok
type A.json B.json > AB.json
vw --dsjson --ccb_explore_adf --epsilon 0.2 -d AB.json     - NAN pre

[2019-08-17 18:02] jackgerrits commented on #2033
Thanks Alexey, I’ll look into it

[2019-08-19 18:02] JohnLangford commented on #2027
I'm not sure what's up, but for efficiency reasons, the self interaction of features A B in a self interacting namespace F include AB but not BA by default.  The theory here is that AB contains the same information as BA so there is no need for about half the interactions.

[2019-08-21 14:08] rajan-chari opened #2036 "Test new reduction stack with a simple test data set."

[2019-08-21 14:13] rajan-chari opened #2037 "Debug: Binary classifier reduction is not performing as expected. under certain conditions, calling learn() does not change the weights."

[2019-08-21 14:13] rajan-chari opened #2038 "Run valgrind and fix any memory errors"

[2019-08-21 14:17] rajan-chari opened #2039 "Create a research presentation"

[2019-08-21 14:19] rajan-chari opened #2040 "Create a ML Test plan for the new reduction stack."
The goal is to create a plan to test the efficacy of this algorithm and compare it against other algorithms.

- [x]  Come up with a list of data sets to test with
- [x]  What other algorithms should be compared for the same datasets?

The deliverable is a living ML test plan doc and a number of test tasks.

[2019-08-21 23:46] singlis opened #2043 "Warnings generated build Windows 32-bit, Visual Studio 2017"
#### Describe the bug
When building vw on Windows x86 using Visual Studio 2017, the following warnings are generated:
[code]
The warnings can be an issue if the build fails when warnings are generated. Plus it would also be good to know if these warnings could be hiding an underlying casting problem.

#### To Reproduce
Assuming that cmake and vcpkg are setup correctly ( I was not able to get boost

[2019-08-22 13:32] jackgerrits commented on #2027
After looking into this further, this is expected behavior. When doing interactions, order of features matter as that is what composes the hash index of the interacted feature. The reason why the predictions differ here is because there exists weights in the model for only one ordering of the interacted features.

If you are operating in a situation where this would be a problem, then you can supp

[2019-08-22 13:32] #2027 closed

[2019-08-22 13:46] adischw opened #2044 "strange results in varinfo"
Hi! i’m pretty new to VW and after reading all the relevant documentation i'm still not clear about the varinfo..
I converted my features to a VW format where i have separate namespaces for every feature and they are all strings:
`1 |B B_09e6fb92eadea53ec206e05e4aea5654 |C C_2171791366 |D D_830995 |E E_2082213077 |F F_830995 |G G_283.0 |H H_Firefox |I I_MacOS |J J_1 |K K_100`
When i use varinfo i

[2019-08-22 14:21] jackgerrits commented on #2044
Hi @adischw,

When I run `vw-varinfo` with the example you provided I get the following.

[code]

The feature name is shown as namespace^featurename, so for `B^B_09e6fb92eadea53ec206e05e4aea5654` it is a feature `B_09e6fb92eadea53ec206e05e4aea5654` in namespace `B`.

Namespaces are usually used when you want to cross features to create new features which could be done as a command line parameter l

[2019-08-22 14:26] #2033 closed

[2019-08-22 15:41] jackgerrits commented on #1780
Fixed in #1859

[2019-08-22 15:41] #1780 closed

[2019-08-22 21:40] peterychang commented on #1764
@eamag do you by chance have the following environment variable set?
MACOSX_DEPLOYMENT_TARGET

I see your build is passing the parameter -mmacosx-version-min=10.7, but you're using the toolchain from 10.14; I believe that parameter will appear only if either your deployment target environment variable is set or if the cmake flag CMAKE_OSX_DEPLOYMENT_TARGET is passed in. The VW build scripts do not

[2019-08-23 13:31] peterychang commented on #2019
Performance testing around string views have shown comparable performance to substrings in most cases, better in the memory allocation case

[code]

Per John, string_views are an acceptable alternative to substrings, and the migration should be completed in a single PR

[2019-08-23 14:29] rajan-chari opened #2045 "Command line support to switch between 0/1 loss and squared loss"

[2019-08-23 14:30] rajan-chari opened #2046 "Fix unit testing."

[2019-08-23 15:48] rajan-chari commented on #2023
Would it be possible to break this down to smaller chunks and add them.  Perhaps one for mtr, one for dm and whatever else you can think of.

[2019-08-23 16:30] peterychang opened #2049 "Investigate cb_explore_adf cover/mtr workflow"
Subtask for https://github.com/VowpalWabbit/vowpal_wabbit/issues/2023

I need to investigate how cb_explore_adf's cover and mtr workflows differ from the standard workflows so the reduction can be broken into smaller components along functional or logical lines

[2019-08-23 16:35] peterychang commented on #2049
Open questions:
1. Does mtr change the data format in example?
2. How many pieces should cb_explore_adf be broken into, and along which lines?
3. How to ensure the reductions are created in a sane way? Currently all the workflows are potentially activated by the --cb_explore_adf flag, additional care will need to be taken to ensure wrong or incompatible reductions aren't created together

[2019-08-23 18:01] rajan-chari opened #2051 "Unable to use default CMake + vcpkg to build in Ubuntu 18.04"
#### Describe the bug
Building vw in Ubuntu 18.04 using default cmake produces boost errors

#### To Reproduce
1) Clean WSL Ubuntu 18.04 install (checked with lsb_release -a)
2) Installed vcpkg and required libraries including boost
3) Use CMake to build

#### Expected behavior
Should be able to build vw with the default CMake in Ubuntu 16.  Ideally Ubuntu 14.

#### Observed Behavior
See CMake Out

[2019-08-23 18:08] rajan-chari opened #2052 "Speed up handling of -q::"

[2019-08-23 18:09] #2017 closed

[2019-08-23 18:09] #2008 closed

[2019-08-23 18:09] #2009 closed

[2019-08-23 18:09] #2016 closed

[2019-08-23 18:09] #2007 closed

[2019-08-23 18:09] #2038 closed

[2019-08-23 18:09] #2011 closed

[2019-08-23 18:09] #2032 closed

[2019-08-23 18:09] #2039 closed

[2019-08-23 18:21] jackgerrits commented on #2051
See line that says: `New Boost version may have incorrect or missing dependencies and imported
targets`

CMake can only find up to a certain version of Boost based on its own version. For CMake 3.10 being used here it can find up to and including Boost 1.66. You can inspect the [FindBoost](https://github.com/Kitware/CMake/blob/v3.10.3/Modules/FindBoost.cmake) file to see this.

Because you used vc

[2019-08-23 18:29] jackgerrits commented on #1684
CMake prints `New Boost version may have incorrect or missing dependencies and imported targets` when it finds a version of Boost that is newer than it knows how to understand.

I think there is little we can do here, apart from making sure the documentation is clear and perhaps upgrading the minimum CMake version required.

[2019-08-23 19:10] rajan-chari commented on #2051
In that case so we need to checkin vcpkg into our repo and bootstrap from there? We can freeze the boost version there... which seems like their recommended strategy.

[2019-08-23 19:14] jackgerrits commented on #2051
If we want to be able to freeze different dependencies at different versions then forking under the vw org would work

[2019-08-23 19:18] rajan-chari commented on #2051
It seems reasonable to freeze 3rd party dependencies and periodically refresh them as needed.

[2019-08-27 15:54] peterychang opened #2059 "Break up cb_explore_adf into separate reductions for explore types"
Subtask for https://github.com/VowpalWabbit/vowpal_wabbit/issues/2023
Follow-on task from https://github.com/VowpalWabbit/vowpal_wabbit/issues/2049
cb_explore_adf currently manages every explore type in the single reduction. The problem is that every type has different pieces of data it needs and follows different workflows. There are a few shared components between them, but these can easily be b

[2019-08-28 12:56] jackgerrits opened #2064 "Variadic macro compiler warning"
There are many warnings produced from the variadic macros in use

[code]

These were added in pr #2028

[2019-08-28 20:33] jackgerrits opened #2066 "Consider consuming fmt library"
VW does a lot of string formatting and printing. Sometimes this is with streams, sometimes with printf. `fmt` is a library that just does formatting, it's fast and very high quality. It has been merged into the standard in 20, as `std::fmt`.

It is faster than `sprintf` and streams:
![](https://user-images.githubusercontent.com/576385/54883977-9fe8c000-4e28-11e9-8bde-272d122e7c52.jpg)
[Image taken

[2019-08-28 21:22] jackgerrits commented on #1953
Reopening this for LGTM. They are stopping support for the way we consume it on October 1, 2019. We will need to migrate before then or it will stop working.

@lokitoth FYI

[2019-08-28 21:55] #2022 closed

[2019-08-29 13:02] #2021 closed

[2019-08-29 14:22] #1856 closed

[2019-08-29 17:39] jackgerrits commented on #2051
Closing this as the supported way of installing dependencies on Ubuntu is apt-get.

See: https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Dependencies

[2019-08-29 17:39] #2051 closed

[2019-08-29 18:32] #1845 closed

[2019-08-30 16:29] #1774 closed

[2019-08-30 17:49] jackgerrits opened #2072 "Reduce number of platform checks required by codebase"
There are many platform checks present (`#ifdef _WIN32`). They are used for many reasons but a common patterns is for sockets and file IO using OS functions. If those functions are moved behind an interface we reduce the amount of platform checks required.

[2019-09-03 03:40] arielf commented on #2072
I once started working on this, creating a file `vw_platform.h`
Attaching it here (as *.txt) in the hope it could help.

[vw_platform.h.txt](https://github.com/VowpalWabbit/vowpal_wabbit/files/3567664/vw_platform.h.txt)

[2019-09-03 13:41] jackgerrits commented on #2072
Thanks @arielf that's helpful!

[2019-09-03 21:13] rajan-chari opened #2074 "Improvements to vw command line parser"
1) (C++) Componentize command line parsing.  Expose command line errors as error codes with error code descriptions.  Use dynamic error code description for example "Too many leaf nodes specified (2048)"
2) Create a C# binding to expose the command line parser.

[2019-09-03 21:40] rajan-chari opened #2075 "Fix learn() semantics. Analysis and agree on an approach"
We agreed on the following approach:
1) Progressive validation should be done by the driver.
2) Driver calls predict before learn.
3) Driver computes distance from prediction and label.
4) Driver stores the cost.

Pros
1) Reductions do not have to know or be aware of implementing progressive validation.
2) A lot of the need to print from each reduction seems to come from progressive validation.  R

[2019-09-05 15:08] jackgerrits commented on #2074
Add function to .net standard bindings to expose variable mapping of options

[2019-09-06 15:57] marco-rossi29 opened #2076 "VW average loss is wrong when pdrop is used"
#### Describe the bug
VW doesn't take into consideration pdrop in the computation of average loss

#### To Reproduce
Data file used (pdrop = 0.5)
[code]

VW output
[code]

#### Observed Behavior
Average Loss is simply: _label_cost/_label_probability = -1/0.8 = -1.25

#### Expected behavior
Average Loss should be: _label_cost/_label_probability/pdrop = -1/0.8/0.5 = -2.5

#### Environment
What versi

[2019-09-06 16:12] jackgerrits commented on #2076
I'd say this is something that should be done when the dsjson format is generated and logged. VW only uses _label_probability, I don't think VW itself should be enlightened to pdrop

[2019-09-09 15:05] sophie-haynes opened #2077 "`--invert_hash` model output unclear (`--oaa`)"
#### Describe the bug
When using the `--invert_hash` functionality of VW, specifically when constructing an `--oaa` multiclass model, there is some confusing output. If this is already documented in the wiki, I apologise for being unable to find it. However if it's not present, I'm happy add some notes to the docs if you pass the correct location for the modification :)

Let's say we have classes

[2019-09-09 15:53] peterychang opened #2079 "Model files are not portable"
Model files contains bit patterns for certain types of data (like floats). Since the size and the precise bit-wise format of a float is not guaranteed by standards, the resulting model files are technically not portable

[2019-09-09 20:32] kumpera commented on #2079
Floats are ieee 754, which works all over the place and are well specified.

[2019-09-10 14:32] peterychang commented on #2079
Thats not guaranteed

double - double precision floating point type. Usually IEEE-754 64 bit floating point type

They're usually IEEE754, but not guaranteed to be. This won't be a problem for most systems, but I know some embedded systems for example, do not use that standard

[2019-09-12 15:40] jackgerrits opened #2083 "Publish Windows binaries from nightly pipeline"
[code]

[2019-09-13 18:36] jackgerrits commented on #2077
The way `--oaa` works is that it uses a different learner for each of the classes. The way VW internally represents multiple learners is that original feature indices have an offset applied for each additional learner. Since this is an offset, it begins at 0 (implicit when the square brackets aren't present) and goes from there. So since it isn't actually the class, that explains why there is this

[2019-09-17 18:10] darkgraviton commented on #2027
Thanks for looking into this. --sort_features sounds a good mitigation. My personal view as an external user is to have this behavior hidden from user, and vw internally considers a deterministic/consistent reordering of features; I would have expected that context/features to be unordered collection and behave like dictionary. I feel otherwise if a user is not careful, it could lead to incorrect

[2019-09-18 12:15] JohnLangford commented on #2027
The issue here is that imposing an order is O(n log n) while VW is O(n).  The extra log n is noticeable, as you'll see when using --sort_features with a significant number of features/example.

[2019-09-18 14:01] kumpera commented on #2027
Couldn’t we use a commutative operation to compute the hash of interacted features?

IE, instead of hash(AB) we could do something like hash(hash(A) + hash(B)) which would address the issue while keeping it linear.

[2019-09-18 14:09] JohnLangford commented on #2027
The only commutative op that's fast enough is bitwise xor.   I've avoided that because it's relatively easy to get systematic collisions with xor.

[2019-09-18 23:44] haobo-chen opened #2089 "Mac OS can't pip install vowpalwabbit"
#### Describe the bug
Got error running `pip install vowpalwabbit` in Max OS 10.14.6 with python 3.7

#### To Reproduce
[code]

#### Expected behavior
Install succeed

#### Observed Behavior
[code]

#### Environment
Mac OS 10.14.6
python 3.7.3
cmake 3.15.3
boost 1.71.0
boost-python3

#### Additional context
Add any other context about the problem here.

[2019-09-19 02:40] jackgerrits opened #2090 "__m128 operator+ does not compile with clang-cl on Windows"
[code]

[code]

It seems as though MSVC treats `__m128` as a struct but clang-cl does not. Windows SDK 10.0.17134.0 was [supposed to have fixed this](https://bugs.llvm.org/show_bug.cgi?id=28250) but it does not seem to be the case.

It's not clear if this is a compiler bug, sdk bug or our bug?

A fix going forward could be to write a simd wrapper?
https://johanmabille.github.io/blog/2014/10/10/wri

[2019-09-19 02:44] jackgerrits commented on #2089
@peterychang

[2019-09-25 14:53] peterychang commented on #2089
I'm unable to reproduce the error on my setup, but it looks like there is a problem between some versions of cmake and boost.

First, can you try updating brew and upgrading cmake, boost, and boost-python3?
If that doesn't work, try setting the following variable and building again
`export Boost_NO_BOOST_CMAKE=ON`

[2019-09-25 16:59] haobo-chen commented on #2089
@peterychang I think I'm already on the latest versions for `cmake`, `boost` and `boost-python3`. I also tried `export Boost_NO_BOOST_CMAKE=ON` but still the same error. Could you provide your versions in your environment?

[2019-09-26 21:48] peterychang commented on #2089
@haobo-chen I was using versions of those libraries that were provided by Anaconda. However, there appears to be problems with Anaconda-installed boost libraries and system-installed boost libraries, so I do not suggest using it until this problem is resolved.

I've created a PR that will fix the problem you are seeing. You can pull the branch (or wait until its merged into master) and build the l

[2019-09-30 14:00] peterychang commented on #1764
There are 2 separate issues here. One has been fixed as of the latest master, and the other is a problem that can't be fixed on our end, I'll outline both below.

1. For the following error
```warning: libstdc++ is deprecated; move to libc++ with a minimum deployment target of OS X 10.9```
This is an incompatibility between your currently installed version of python and clang compiler. The version

[2019-09-30 14:00] #1764 closed

[2019-09-30 14:03] peterychang commented on #2089
The PR has been merged into master and will be available via pip on our next release. You can pick up the change now by building from source.

Marking this issue as resolved

[2019-09-30 14:03] #2089 closed

[2019-10-01 14:17] peterychang opened #2099 "Linux CI failure"
https://github.com/VowpalWabbit/vowpal_wabbit/pull/2069 introduced a test failure in the Linux CI

Notably, this only seems to affect Ubuntu 16.
Ubuntu 14, Ubuntu 18, OSX, and Windows show no test failures. The --audit outputs also shows no diffs between a failing (Ubuntu 16) and passing (Ubuntu 18) run.

The failing test follows
```vw --cb_explore_adf --first 2 -d train-sets/cb_test.ldf --noconst

[2019-10-01 15:35] peterychang opened #2100 "Vowpalwabbit python wrappers do not build or crashes on OSX with Anaconda"
There is a known issue on OSX 10.14+ with the currently deployed version of python on Anaconda.

The problem is as follows:
- Python requires linking binaries (eg: VW) to also link against the same c++ library it did.
- Anaconda builds python against an older version of OSX and links against libstdc++
- libstdc++ was deprecated by Apple/Clang several years ago. And as of OSX 10.14, the library was

[2019-10-01 15:38] peterychang commented on #2100
For users of Homebrew having trouble installing VW from pip:

Unable to find pylibvw.so and boost-cmake errors have been resolved as of #2097
These fixes will be available via pip from our next release.
For anybody unable to wait for the next release, please install the package from source.

[2019-10-01 19:52] peterychang commented on #2099
The test does not appear to fail in Debug builds, just Release

[2019-10-02 18:30] jackgerrits opened #2101 "Allow overriding the --epsilon value when there is already a value stored in the model"
Plan:
1. Change epsilon to a list of values
2. Always use the last value in the list as the epsilon value
3. Check: When a command line and model are loaded which both specify the value, the command line value should take precedence
4. When serializing the value, only save the last value in the list

[2019-10-03 13:06] jackgerrits commented on #1953
@JohnLangford LGTM deprecated the old authentication method, so we need to move to GitHub apps to continue using it. I've requested access, but it might require more attention to get it fixed.

![image](https://user-images.githubusercontent.com/7558482/66128953-e92a8100-e5bc-11e9-99ea-9a85c00367b5.png)

[2019-10-03 13:09] JohnLangford commented on #1953
(I approved it.)

On Thu, Oct 3, 2019 at 9:07 AM Jack Gerrits <notifications@github.com>
wrote:

[2019-10-03 13:13] jackgerrits commented on #1953
Looks like it's fixed, thanks!

[2019-10-03 13:13] #1953 closed

[2019-10-03 13:15] #2099 closed

[2019-10-05 02:11] sumeet-iitg opened #2103 "cb_explore_adf does not work with simple CB data format on macOS"
#### Describe the bug
cb_explore_adf does not work with simple CB data format on macOS

#### To Reproduce
Steps to reproduce the behavior:
1. vw --cb_explore_adf --epsilon 0.05 -d ./examples/text_highnoise_m.vw.txt -f cb_adf_model.vw
2. Data (Text_highnoise also used in Tutorial)is in basic CB input format: act_id | w0:val0 w1:val2 ...
  Downloaded from [here] (https://raw.githubusercontent.com/zc

[2019-10-07 14:57] jackgerrits commented on #2103
When using `--cb_explore_adf` you must use the adf label format, since there is an unknown number of actions.

In the CB tutorial, under section 3 of [input format](https://vowpalwabbit.org/guides/contextual_bandits.html#input-format) it describes the required format. You'll notice that the format differs from section 1 which is the format you are supplying.

[2019-10-07 18:56] sumeet-iitg commented on #2103
Okay, I had seen that. But somehow thought this was not required. Probably got confused by the Warm cb tutorial dataset which uses --cb_explore_adf: https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Warm-starting-contextual-bandits

Follow up question, As per --cb_explore_adf format we need to specify one action per line and the action number is decided by the line number, then does it mean we ha

[2019-10-07 19:02] jackgerrits commented on #2103
Yes, the newline is used to separate a grouping of shared+actions. So it is one line (optionally) for shared, then a line for every action, then a newline.

[code]

[2019-10-07 19:08] sumeet-iitg commented on #2103
Thank you so much for the clarification. Any comment on the input format mentioned in the warm cb tutorial which used --cb_explore_adf?

[2019-10-07 19:34] jackgerrits commented on #2103
I'll have a look at it and get back to you

[2019-10-08 13:21] jackgerrits commented on #2103
It seems the misunderstanding may be because warm start uses multiclass labels, even though under the covers it is using the cb_explore_adf algorithm for that wiki article.

Since VW uses a stack of reductions, data passes through warm cb before it gets to cb_explore_adf. Warm cb handles converting it to the format cb_explore_adf understands.

[2019-10-08 17:59] sumeet-iitg commented on #2103
Okay, that makes sense. Thank you so much for the explanation.
Closing the issue.

[2019-10-08 17:59] #2103 closed

[2019-10-09 15:35] jackgerrits opened #2106 "CCB crashes when prediction is reused causing memory corruption"
Repro: `ccb_test.txt --ccb_explore_adf  --epsilon 0.8 --onethread --ring_size 7`

[ccb_test.txt](https://github.com/VowpalWabbit/vowpal_wabbit/files/3713744/ccb_test.txt)

Crash occurs in loss calculation in output.

It seems the memory corruption may occur because something has a reference to decision_scores v_array buffer but is interpreting it as a different type.

Update:
- There is an extra p

[2019-10-10 15:47] jackgerrits opened #2108 "Passing `--ring_size` with no argument causes seg fault"
[code]

[2019-10-11 16:29] jackgerrits opened #2110 "Combining --no_predict and --cb_sample (or --ccb_explore_adf) causes a segfault"
Since a prediction is not produced, cb_sample is not able to sample from the range and currently crashes.

Repro: `ccb_test.txt --ccb_explore_adf  --epsilon 0.8 --onethread --ring_size 7 --no_predict`

[ccb_test.txt](https://github.com/VowpalWabbit/vowpal_wabbit/files/3713744/ccb_test.txt)

[2019-10-11 20:21] jackgerrits commented on #2044
I'm going to go ahead and close this @adischw, if you have any further questions feel free to reopen.

[2019-10-11 20:21] #2044 closed

[2019-10-11 20:22] jackgerrits commented on #2077
I'm going to close this one @sophie-haynes, if you think there is still an issue here please reopen this.

[2019-10-11 20:22] #2077 closed

[2019-10-14 13:06] #2106 closed

[2019-10-14 17:41] peterychang opened #2115 "Seg fault while running certain tests with --audit"
When running
[code]
VW seg faults on line 143 because first.space_names is empty
[code]

[2019-10-14 18:00] lalo commented on #2003
Whoops, did a click by mistake so ignore all those operations.

[2019-10-15 15:39] jackgerrits opened #2116 "Using multi-pass learning with CCB causes a seg fault"
Repro: `vw test/train-sets/ccb_test.dat --ccb_explore_adf --passes 2 -c`

[code]

[2019-10-18 12:53] jackgerrits opened #2118 "vw_types.natvis should be added to CMake definition when generator is visual studio"
In order to make use of the natvis type definitions, they need to be part of the generated visual studio project. They should be added only when the generator is visual studio.

See here for an example: https://github.com/microsoft/GSL/blob/master/CMakeLists.txt

[2019-10-18 13:08] jackgerrits opened #2119 "When using readable_model to display model file it outputs the current executable version instead of the version of the model file"
#### Describe the bug
When using readable_model to display model file it outputs the current executable version instead of the version of the model file.

This means there is no way to inspect what version of VW originally trained a model file other than inspecting the binary file.

I definitely understand why it works the way it does, this seems unintuitive? Perhaps we need a way to inspect model

[2019-10-21 09:21] ankane opened #2120 "Incorrect predictions after loading model"
Hi, thanks for this awesome library 👍

#### Describe the bug

I'm seeing incorrect predictions after loading a model with the Scikit-learn API.

#### To Reproduce

[code]

#### Expected behavior

The same predictions for both models: `[1. 2. 3. 4.]`

#### Observed Behavior

Different predictions for the loaded model: `[1. 1. 1. 1.]`

#### Environment

Master branch on MacOS 10.14.6 with the Python

[2019-10-22 00:32] ankane opened #2121 "Ruby Library"
Hi, thanks for this awesome library! Thanks to the C API, there are now [Ruby bindings](https://github.com/ankane/vowpalwabbit) for Vowpal Wabbit. Addresses #1324. Feel free to create an issue on the project if you have any feedback.

A few notes:

- The API was easy to follow 🎉
- It'd be great if the `--strict_parse` flag didn't raise an uncaught exception (which terminates the program) - I belie

[2019-10-22 00:33] ankane commented on #1324
Hey @arjunmenon, if you're still interested, I created [Ruby bindings here](https://github.com/ankane/vowpalwabbit).

[2019-10-22 11:58] JohnLangford commented on #1324
Do you want to send a pull request?

-John

On Mon, Oct 21, 2019 at 8:34 PM Andrew Kane <notifications@github.com>
wrote:

[2019-10-22 13:18] andrusha commented on #1579
It would be convenient to only need to include vw as java dep and then it would take care of the rest. This would enable / ease the use of VW on services like Dataflow.

[2019-10-22 13:46] jackgerrits commented on #2121
I think the problem here is that the exception is being raised internally and is not being caught before hitting the C boundary. This is a problem for sure, since it breaks error handling over the boundary. Will definitely look into fixing this soon.

Thanks for bringing this up, this is definitely an API issue.

PRs are definitely welcome 😄

[2019-10-22 13:48] jackgerrits commented on #2121
Do you have any feedback on usability of the C API? Things you wish it supported? etc?

[2019-10-22 14:12] jackgerrits opened #2122 "Unhandled exceptions are making it to C API boundary"
Tracking issue for this. This will most likely be fixed when we can break the API in VW 9. Open to suggestions for short term fix before we are able to do a proper full API fix.

The main issue preventing a fix to the current API is the use of void functions that mean the error status cannot be reasonably conveyed out of the function call.

[2019-10-22 15:59] jackgerrits opened #2123 "--ring_size should be a hard limit for the number of examples"
Currently --ring_size specifies the initial pool size, but it will grow if it becomes empty. This should not be the default behavior, but it should be fixed size.

The issue is that tests rely on being able to wrap around the ring ("effectively infinite"), and break when there is a hard failure. Needs design: Possibly the right solution here is to make the limit optional, and have an "unlimited" d

[2019-10-22 20:56] scgalois commented on #2100
Having same issue with pip on OSX. When is the fixed version going to be available on pip?

[code]

[2019-10-22 21:03] scgalois commented on #2100
Also if it will be more than a few days, are there instructions for installing package from source please?

[2019-10-22 21:13] scgalois commented on #2100
Ah managed to get it to work by just running `python setup.py install ` from the cloned dir.

[2019-10-22 21:18] scgalois commented on #2100
However, now both examples cause segementation fault:

[code]

[code]

[2019-10-23 00:54] ankane commented on #1324
Hey @JohnLangford, I think it'll be easier to manage as a separate project. Thanks for creating Vowpal Wabbit btw 😃

[2019-10-23 00:56] ankane commented on #2121
Hey @jackgerrits, thanks for the response. I don't have any feedback at the moment besides the above.

Re `--data` option and spaces: it looks like the issue referenced is about the C boundary.

[2019-10-23 01:05] JohnLangford commented on #1324
Cool.  If you are going to NeurIPS, we may do a workshop related to VW....

On Tue, Oct 22, 2019 at 8:54 PM Andrew Kane <notifications@github.com>
wrote:

[2019-10-23 01:18] ankane commented on #1324
Nice - not going to that one, but if you're ever in San Francisco, let's grab coffee. My email is on my GitHub profile.

[2019-10-23 14:30] peterychang commented on #2100
@scgalois I was unable to reproduce your segfault on my setup. Can I get some information from you?

- Which version of OSX are you running on?
- Where did you get python from?
- Version of boost/boost-python3
- Do you have Anaconda installed?

Thanks

[2019-10-23 16:48] scgalois commented on #2100
@peterychang thanks  for following up. Here are the details:

OSX Mojave 10.14.6 with no anaconda installation (when I type conda in command line says command not found)

[code]

[code]

[2019-10-23 17:22] peterychang commented on #2100
@scgalois From your logs, it doesn't look like you're using brew's python.
Specifically, python on brew is 3.7.4_1 compiled against Clang 6.0 (compared to your python 3.7.0 compiled against Clang 10.0.1)

Since your version of python differs from whats on homebrew, its possible the boost python library from homebrew is not binary compatible with the version of python you're running.

If this is th

[2019-10-23 17:41] scgalois commented on #2100
@peterychang Thanks for the feedback. assuming I clone and compile boost myself, how do I make sure the vw package will link my new version rather than the boost version? Are there any detailed instructions anywhere or do I need to dig into the config scripts to figure it out?

[2019-10-23 18:49] scgalois commented on #2100
@peterychang  Actually I ended up just changing my version of python and it is working fine now. Thanks for your help. But just for future reference, if there are instructions on building and using older version of boost against pyvw would appreciate it.

[2019-10-23 19:11] peterychang commented on #2100
@scgalois If you have a build of boost you want to link against, the following command should force VW to link against it. In this case, you'll want to pay attention to the build logs since I've noticed that the BOOST_ROOT variable is ignored in some cases that I'm still investigating.

`python3 setup.py --cmake-options=BOOST_ROOT=/path/to/boost install -f`
or via pip (after our next python releas

[2019-10-24 19:32] jackgerrits opened #2124 "Cannot supply filenames with spaces in them when using VW::initialize"
Underlying issue is:

For the bindings, when initializing via `VW::initialize()`, we split the "command string" via whitespace-based tokenization, rather than the more complex CLI tokenization that happens when using the VW executable.

The fix is to add support for quoted tokens.

[2019-10-24 19:33] jackgerrits commented on #2121
Thanks for pointing that out, fixed up the tracking issues.

[2019-10-24 19:56] ankane commented on #2121
Great, thanks!

[2019-10-24 19:56] #2121 closed

[2019-10-27 19:19] jackgerrits commented on #2120
It seems to me that what may be happening here is that the Sklearn code is not capturing complete state when it saves and loads. In particular it seems that the adaptive weights are being lost and perhaps that is influencing the different output? I am not sure if they should actually matter at predict time though.

I am wondering if there may also be something weird going on here to do with sparse

[2019-10-28 15:35] #2108 closed

[2019-10-28 18:52] eisber commented on #1579
@deaktator the static linking of the native components works on linux (https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/java/CMakeLists.txt#L57) @jackgerrits  has faith that it also works  on Windows...

As for the build/release pipelines:

1. Setup 3x Java (Linux, Mac, Windows) builds outputting statically linked artifacts (use yaml matrix feature to make it convenient).
2. Setup a relea

[2019-10-29 17:43] jackgerrits opened #2128 "Pull big_tests into CI"
https://github.com/VowpalWabbit/vowpal_wabbit/tree/master/big_tests

[2019-10-29 20:23] ankane commented on #2120
Hey @jackgerrits, thanks for looking into it. Do you know why the Scikit-learn class uses a different save format than the `vw` class?

[2019-10-29 23:11] pavellesev opened #2129 "Unable to install vowpalwabbit on CentOS using pip"
OS: CentOS Linux 7 (Core)

Python: Python 3.6.4

cmake: 3.14.4

boost: 1.70.0

I am having problems installing vowpalwabbit using 'pip install vowpalwabbit==8.7.0.post1' as well as using 'pip install vowpalwabbit==8.7.0'. The installer fails when attempting to build the wheel. I get the same error when trying to build the project from the source code following the process described in the project.

[2019-10-30 16:01] jackgerrits commented on #2129
Hi @pavellesev,

The Python bindings on Linux currently need to be built from source and it looks as though the GCC version that is being used is too old and doesn't properly support C++11. See this [stack overflow issue](https://stackoverflow.com/a/27585839/2214524) that looks to be related to the problem you're facing.

Please use a newer version of GCC to build the bindings. You can find an exa

[2019-10-30 20:15] jackgerrits commented on #2120
I'm not sure why the sklearn bindings do it this way, @Scott-Graham-Bose do you have context?

[2019-10-30 20:50] jackgerrits opened #2132 "Expose thread based spanning_tree/allreduce through vw executable"
Use a similar procedure to allreduce socket based cluster mode, but parallelize over threads instead of sockets.

[2019-10-31 13:55] lokitoth commented on #2122
This should be its own project, maybe? Or a tag?

[2019-10-31 14:01] lokitoth commented on #2110
Is the right thing to do here to error out because the combination of --no_predict and --cb_sample is undefined?

[2019-10-31 14:04] lokitoth commented on #2079
Can we define the stored model file as IEEE-754, and any system on which we do not read correctly due to using the wrong float type is buggy?

(Alternatively, converging on an IDL-based serializer would also work here)

[2019-11-06 15:13] jackgerrits opened #2136 "Passing a list of anything except example causes crash in Python"
#### Describe the bug
When using the Python bindings, passing a list of anything by examples to predict will cause a crash. This is because of the following binding code, if it encounters anything except an example it replaces it with a nullptr. This should instead throw a Python exception saying the input is invalid.

https://github.com/VowpalWabbit/vowpal_wabbit/blob/19bf14e2a58eb6d73ffe09026da2

[2019-11-07 15:37] jackgerrits commented on #2129
Seems like this has been resolved, reopen if you are still facing it.

[2019-11-07 15:37] #2129 closed

[2019-11-11 14:29] jackgerrits commented on #1840
Fixed in #1934

[2019-11-11 14:29] #1840 closed

[2019-11-11 16:35] ashaazami opened #2140 "--cb_type dr is not supported in slim vw"
#### Describe the bug
We would like to use models that are trained using **--cb_type dr** in slim_vw and be ale to use the model for prediction in slim version of the vw.
Currently. it seems that this is not supported in slim vw.
[**Link to slim vw**](https://github.com/VowpalWabbit/vowpal_wabbit/tree/master/vowpalwabbit/slim)

#### To Reproduce
Steps to reproduce the behavior:
1. Train a model wi

[2019-11-11 20:18] #2064 closed

[2019-11-11 21:25] #2136 closed

[2019-11-17 01:21] hsm207 commented on #1254
Are there any plans to support vw on Python 3.6+ on Ubuntu? Python 2.7 is approaching [end-of-life ](https://pythonclock.org/) soon.

[2019-11-17 02:08] hsm207 opened #2144 "RuntimeError: std::exception when running Learning_to_Search.ipynb"
#### Describe the bug
I get a `RuntimeError: std::exception` when executing the cell:

[code]

In the [Learning_to_Search](https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/python/examples/Learning_to_Search.ipynb) notebook.

#### To Reproduce
Steps to reproduce the behavior:
Run all the cells in the  [Learning_to_Search](https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/python/exa

[2019-11-18 08:57] Mystic98 opened #2145 "Building vowpalWabbit on macOS Catalina"
I was trying to install vowpalWabbit on macOS Catalina via `pip install vowpalwabbit`, but it had always crashed with the same error:

 Collecting vowpalwabbit
  Using cached https://files.pythonhosted.org/packages/f4/09/50efc9630809fdd19056d2fff8e7b8e374063002b5a70b016854fe5e8492/vowpalwabbit-8.7.0.post1.tar.gz
Installing collected packages: vowpalwabbit
  Running setup.py install for vowpalwabbi

[2019-11-18 10:03] FilipVozar opened #2146 "Daemon mode is slow to write trailing newline in response"
#### Describe the bug
When reading TCP responses from the vw daemon in cb_explore_adf, it looks like it sends the trailing newline in a separate network write, 40+ms after the result is sent. When sending the requests on the connection one by one (request, response, request, response, and so on), this significantly increases the latency - the result itself is received usually in <0.5ms, but then w

[2019-11-18 14:33] jackgerrits commented on #1254
Yes, it is currently supported. Are you seeing issues?

[2019-11-18 14:35] jackgerrits commented on #2144
@lokitoth do you think this is a duplicate of #1861?

[2019-11-18 14:37] peterychang commented on #2145
This is a known issue on the 8.7.0.post1 release of vowpalwabbit and will be resolved on the next pypi release.

In the meantime, you can install from source
https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Python#osx

[2019-11-18 14:37] #2145 closed

[2019-11-18 15:24] jackgerrits commented on #2146
Can you provide the Python snippet for reproing this?

[2019-11-18 15:38] lokitoth commented on #2144
I will take a look, and dupe it against the other. Let me take it for now.

[2019-11-18 15:39] lokitoth commented on #2120
From offline discussion:
It is possible issue here is not writing header (including min/max values, which would cause it to truncate?)

[2019-11-18 16:31] FilipVozar commented on #2146
Sure, here it is:

[code]

my output (python 3.7.3, but also works with 2.7.16):
[code]

[2019-11-18 16:32] jackgerrits commented on #2146
Great, thanks! I'll look into this

[2019-11-18 20:51] hsm207 opened #2150 "Possible memory leak when calling predict() many times"
#### Describe the bug
I have a huge dataframe that I would like to iterate over and make prediction using contextual bandits. The dataframe fits in my machine (32 GB RAM).

Python quickly crashes because the RAM used rapidly increases every time a call to predict or learn is made.

#### To Reproduce
Run this code:

[code]

#### Expected behavior
Code to execute the dataframe row iteration should r

[2019-11-18 21:13] FilipVozar commented on #2146
I've just tried the same thing on my macbook, and noticed a different behaviour - the newlines are sent immediately, which is the behaviour I would expect. Most of the time I can read the whole response (including both trailing newlines). Sometimes the trailing newline is read in the next read call, but it's available immediately - unlike on linux, which has the ~40ms delay consistently.

I've mod

[2019-11-19 12:42] Mystic98 opened #2151 "Segmentation fault 11 when using vw executable"
I'm trying to install vowpalwabbit on macOS Catalina from source. I followed building instruction from https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Building, after using `make` in /vowpal_wabbit, there vw executable appears in /vowpal_wabbit/build/vowpalwabbit. I keep getting SEGFAULT 11 when using it. There is my LastTest.log :
[LastTest.log](https://github.com/VowpalWabbit/vowpal_wabbit/fi

[2019-11-19 16:01] peterychang commented on #2151
Do you also get segfaults when running the binary outside of the test suite?
If so, I suspect one of the libraries you're linking against isn't binary compatible. Can you try the following?

1. update your package manager to the latest version and package list
2. update your boost and zlib libraries to the latest versions
3. run the following commands from the root directory of vowpalwabbit
[code]

[2019-11-19 20:22] Mystic98 commented on #2151
Thank you for your answer!
So after `cmake -DBoost_NO_BOOST_CMAKE=ON ..` i got this:

-- Setting build type to 'Release' as none was specified.
-- The CXX compiler identification is AppleClang 11.0.0.11000033
-- Check for working CXX compiler: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/c++
-- Check for working CXX compiler: /Applications/Xcode.app/Conten

[2019-11-19 20:59] peterychang commented on #2151
@Mystic98 Thanks for the logs. I haven't seen these crashes before, I'll take a look.

A couple of questions on your setup:

- Which version of Catalina are you using?
- Which package manager are you using?
- Are you using any secondary package managers (like Anaconda)?

[2019-11-19 21:10] Mystic98 commented on #2151
@peterychang

-  macOS Catalina 10.15.1

- Homebrew 2.1.16

- No, i didn't use anything else.

[2019-11-20 14:23] peterychang commented on #2151
Can't repro on OSX 10.14. @ataymano can you repro this on your machine?

[2019-11-20 14:32] ataymano commented on #2151
reproduced. looking.

[2019-11-20 19:03] jackgerrits commented on #2146
I'm not able to repro this on my end using WSL Ubuntu 18.04.

[code]

The second newline is definitely sent in a separate write call. So, to hopefully reduce impact of this I'll see about getting the writes bundled together.

[2019-11-20 20:18] jackgerrits commented on #2151
Fixed in #2152

[2019-11-20 20:18] #2151 closed

[2019-11-21 03:09] hsm207 opened #2154 "--random_seed not working in python?"
#### Describe the bug
Calling `pyvw.vw()` with different random seed will produce same outcomes between different runs.

#### To Reproduce
Run this code:

[code]

#### Expected behavior
`assert sum(ctr1) == sum(ctr2)` should be raise and assertion error.

#### Observed Behavior
`assert sum(ctr1) == sum(ctr2)` did not raise an assertion error.

#### Environment
What version of VW did you use?  8.7.

[2019-11-21 11:50] tomonodes opened #2155 "pip install vowpalwabbit fails on Catalina 10.15.1 with Anaconda"
#### Describe the bug

`pip install vowpalwabbit` fails.

#### To Reproduce

`brew install cmake boost rapidjson boost-python3`

`pip install vowpalwabbit`

#### Expected behavior

Install vowpalwabbit

#### Observed Behavior

[code]

#### Environment

OSx Catalina 10.15.1 (19B88)

[code]

What OS or language did you use?

[code]

#### Additional context

[code]

[2019-11-21 15:28] jackgerrits commented on #2123
If ring size is set explicitly then we use the capped behavior

[2019-11-21 15:32] peterychang commented on #2155
the 8.7.0.post1 release does not install correctly on OSX. This is fixed on master and will work correctly on the next pypi release.

Please [install from source](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Python#osx)

[2019-11-21 15:32] #2155 closed

[2019-11-21 16:10] jackgerrits commented on #2154
You are running a deterministic algorithm in VW, so the random seed in VW is actually not used or needed in this scenario.

You are calling `random.seed(123)` in `run_simulation`, and so your sampling behavior is identical between runs.

Can you try using 123 for the random seed (`random.seed(123)`) in the first run and then using 10 (`random.seed(10)`) in the second run? This should produce CTRs.

[2019-11-22 08:28] tomonodes opened #2156 "Building from source fails on OSx (Catalina 10.15.1)"
#### Describe the bug

`python setup.py install` fails

#### To Reproduce
Steps to reproduce the behavior:

[code]

#### Expected behavior

Installs vowpalrabbit

#### Observed Behavior

[code]

#### Environment

OSx Catalina 10.15.1 (19B88)

[code]

[code]

#### Additional context

[code]

Related #2155

[2019-11-22 08:29] tomonodes commented on #2155
Building from source fails as well #2156

[2019-11-22 09:10] FilipVozar commented on #2146
I've built the binary statically on my machine
[code]

put it into a Docker image, and ran it on Kubernetes cluster, just to see if it behaves differently on some other machine. I've got the same kind of delay (40+ms).
Unfortunately I don't know enough about network programming to debug this further - if you have any ideas for more tests and what to look for, please tell me and I'll try to test it

[2019-11-22 13:35] jackgerrits commented on #2156
Was this after an upgrade to Catalina?

Can you try the solution in this SO post https://stackoverflow.com/a/58365874? It's a different issue but it seems some people are having trouble after upgrading

[2019-11-22 15:43] peterychang commented on #2156
@tomonodes It looks like you have anaconda installed on your system. There is a known binary incompatibility between anaconda's python and OSX

See [this issue](https://github.com/VowpalWabbit/vowpal_wabbit/issues/2100)

Essentially the problem is that python on Anaconda was built against a library that was starting from macOS 10.14. The build fails because the library is missing and can't be link

[2019-11-22 16:06] #1967 closed

[2019-11-22 17:58] jackgerrits commented on #2124
@ankane you will be able to supply escaped command lines and so data files with spaces in the names.
Through C++: `VW::initialize_escaped`
Through C: `VW_InitializeEscapedA`

[2019-11-22 18:07] #2150 closed

[2019-11-22 18:54] jackgerrits commented on #2116
I seems that this crash occurs when using ccb examples read in from a cache, and with a small enough pool so that examples are reused.

With a valid cache I am able to reproduce this with:
[code]

[2019-11-22 19:31] jackgerrits commented on #2116
It looks like the cause of this is the fact that when reading in examples from cache (`read_cached_features`) `default_label` is not used. This causes stale data to be left around, I'm not sure why it is implemented that way?

[2019-11-23 09:51] hsm207 commented on #2154
@jackgerrits
Thanks for the explanation. Changing the seed in the call to `random.seed()` does produce different results.

[2019-11-23 09:51] #2154 closed

[2019-11-23 10:29] hsm207 commented on #1254
@jackgerrits

I am running `Ubuntu 18.04.3 LTS` and am having the following issue:

I execute the following shell commands (the installation commands is based on the [README ](https://github.com/VowpalWabbit/vowpal_wabbit/tree/master/python) in the python folder for Anaconda):

[code]

The last command gives the following traceback:

[code]

Am I missing some commands for installation in an Anacon

[2019-11-23 10:32] hsm207 commented on #2150
@jackgerrits Is building from source the only way to use this fix now?

[2019-11-23 12:37] jackgerrits commented on #1254
@peterychang is this the known conda issue?

[2019-11-23 12:40] jackgerrits commented on #2150
Yes building from source is the only way to get this until we release 8.8.0.

Please see here for instruction about how to install the python bindings from source: https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Python

[2019-11-23 19:05] hsm207 commented on #2150
Is the link updated?

The Linux part says:

![image](https://user-images.githubusercontent.com/2398765/69483819-141bad80-0e67-11ea-80a0-66278f63aaf2.png)

It looks to me like its installing from PyPI

[2019-11-23 22:42] wangyi-fudan opened #2159 "introducing wyhash hash function"
Dear All:
I would like to introduce wyhash (https://github.com/wangyi-fudan/wyhash)
It is a 64-bit little endian portable hash function. It is the fastest one that passed all strict hash function tests (https://github.com/rurban/smhasher). I think vowpal_wabbit
 can make use of it to increase performance.

[2019-11-24 13:40] jackgerrits commented on #2150
Ah yes sorry about that. Follow the instructions here to get dependencies installed: https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Dependencies#ubuntu

Then in the root of the repo run:
[code]

[2019-11-25 12:01] tomonodes commented on #2156
@jackgerrits, I haven't tried installing pre-Catalina. Also, the solution with symlinking unfortunately did not work.

@peterychang not using anaconda is not really an option for me. I have chosen to build a container that runs VPW.

For reference to anyone seeing this issue:

[code]

Do `docker run -it vowpal:latest /bin/bash` start the container in interactive mode. Run python with `python3` and

[2019-11-25 12:02] tomonodes commented on #2156
@jackgerrits, I haven't tried installing pre-Catalina. Also, the solution with symlinking unfortunately did not work.

@peterychang not using anaconda is not really an option for me. I have chosen to build a container that runs VPW.

For reference to anyone seeing this issue:

[code]

Do `docker run -it vowpal:latest /bin/bash` start the container in interactive mode. Run python with `python3` and

[2019-11-25 12:02] #2156 closed

[2019-11-25 13:57] peterychang commented on #1254
I dont think thats a conda issue; I recall seeing it when I first started working on the python build stuff.

One thing I noticed was that the clone command is actually wrong though, we need to do a recursive clone to get all the submodules. I wonder if thats the problem?

@hsm207 Can you try this?
[code]

[2019-11-25 14:27] peterychang opened #2160 "Consolidate build documentation"
We currently have a bunch of different places for our build instructions.

- For python, the README contains its own instructions instead of linking to the wiki.
- In the wiki we have one section to build the library, and another to build the bindings. We need to make sure the bindings instructions correctly link into/match up with the library building section

[2019-11-26 11:21] TheTrope commented on #2146
I'm dealing with real time low latency prediction, and I had the same issue a few moment ago.

What I discovered is that Vowpal Wabbit always struggle to send the last line. I had those 40ms delays for the last line of the chunk I sent. (Not sure this has a 100% reproduction rate)
However, if I send a request before this delays end, Vowpal Wabbit somehow wake up and send the previous remaining one

[2019-11-26 12:10] hsm207 commented on #1254
@peterychang

I did the following:

[code]

It still throws the same exception.

This is the output from pulling the submodules:

![image](https://user-images.githubusercontent.com/2398765/69631302-b5ce1500-1088-11ea-9353-ec18dec472b6.png)

Looks like there is only one submodule

[2019-11-26 12:52] hsm207 commented on #2150
Thanks. I can confirm that this issue is solved.

[2019-11-26 13:41] peterychang commented on #1254
@hsm207 sorry for the build issues you're seeing, our README is pretty out of date. I've created a task to update and consolidate them.

Could you make sure the following conda packages are currently installed?
`boost py-boost zlib`
if you intend to run the vowpalwabbit tests or use the sklearn wrapper, you'll also need
` pandas numpy scipy scikit-learn six joblib`

If `pip install -e` still fails

[2019-11-26 21:11] JohnLangford opened #2161 "Parsing of negative values is messed up"
#### Describe the bug
A clear and concise description of what the bug is.

vw --quiet --min_prediction -20
Error: unrecognised option '---2'
unrecognised option '---2'
vw (/home/jl/programs/vowpal_wabbit/vowpalwabbit/options_boost_po.cc:152): unrecognised option '---2'

#### Expected behavior
The min prediction should be set to -20.

#### Environment
What version of VW did you use?  8.6.1, but it'

[2019-11-27 21:53] hsm207 commented on #1254
@peterychang thanks for your help. This is what worked for me:

[code]

what does the `-f` option in `python setup.py install -f` do?

[2019-11-28 01:19] jackgerrits commented on #2161
I just tested this in the latest master and I wasn't able to repro. Could you make sure you have commit 87798f4ed4ebfc7d597beac9184feed924de7848 locally and let me know if it still reproduces?

[2019-11-28 01:20] JohnLangford commented on #2161
Confirmed!

[2019-11-28 01:20] #2161 closed

[2019-11-28 18:33] dvbarnes opened #2163 "Understanding BILOU tagging in vw"
I'm at a loss currently as to why my simple BILOU tagger is not working using VW and was hoping I could get some insight into why.

I'm trying to predict a tag for the following train.txt and test.txt files
**train.txt**

**test.txt**

according to https://github.com/VowpalWabbit/vowpal_wabbit/blob/f032eaf50086b6814ae1169e633620b2b05bfd47/vowpalwabbit/search_sequencetask.cc#L77 my assumption is
7

[2019-11-30 17:07] LucasOliveiraS opened #2164 "Vowpal Wabbit don't load model in Python [Visual Code]"
I am using Vowpal Wabbit in Python, specifically in the Jupyter Notebook environment, when I save and run the model there, normally functional. However, when I try to run this inside Visual Code, it doesn't work. Visual Code is using the same version of Python.

... training de model
[code]

In Jupyter Notebook Works.

But, when I run the same code in visual code:
`vw = pyvw.vw("-i imdb.model")`

[2019-11-30 17:58] #2164 closed

[2019-11-30 17:59] LucasOliveiraS commented on #2164
I found the bug, the files were inside the /app directory, when I removed them from inside the directory, it worked.

[2019-12-01 21:30] jackgerrits opened #2165 "Install does not place headers in correct location"
Headers are installed to `/usr/local/lib`, but should be installed to `/usr/local/lib/vowpalwabbit/`

See install ouput:
[code]

This needs to be fixed before we release.

[2019-12-02 14:32] peterychang commented on #1254
the `-f` option is a forced install which willl overwrite any existing files

[2019-12-02 15:02] #2163 closed

[2019-12-02 15:03] dvbarnes commented on #2163
Moved to [stack overflow](https://stackoverflow.com/questions/59141596/understanding-bilou-tagging-in-vowpal-wabbit) as it's more appropriate there

[2019-12-02 16:21] jackgerrits opened #2166 "Predict is modifying state"
#### Describe the bug
Predict should not alter the learning state at all. This example implies otherwise.

#### To Reproduce
[code]
#### Observed Behavior
The values of `w` should be identical, as calling predict one more time should not influence the output.

[2019-12-02 18:07] jackgerrits commented on #2165
Behavior as of 8.6.1 and automake was to install to ... include/vowpalwabbit/...

[code]

[2019-12-02 19:25] jackgerrits commented on #2123
We have no way of knowing how large a multi_ex will be until it is done parsing. Because of this imposing a hard limit on the queue is a potential deadlock situation, and one we cannot detect and avoid. We would hit this if the multi_ex is larger than the allocated ring_size. Having an undetectable deadlock is not okay, so I want to push this change out until we have infrastructure to be able to k

[2019-12-02 20:18] lokitoth commented on #2159
Is the hash value-compatible with the existing algorithm?

If not, this would be a model-breaking change, so we would need to stage it as a non-default option at first.

Also, have you had a chance to run some benchmarks comparing pre/post? As an example, take a look at the murmur2=>murmur3 discussion here: https://github.com/VowpalWabbit/vowpal_wabbit/wiki/murmur2-vs-murmur3

[2019-12-02 20:38] lokitoth opened #2168 "VW should not throw exceptions without a message"
We have a number of places in code which raise a std::exception with no message.

We should standardize on VW::vw_exception, and make sure we always have a message in the exception.

Also we should opportunistically get rid of `throw 1` in array_parameters.h

[2019-12-02 20:54] jackgerrits opened #2169 "Properly translate and return Python exception"
When calling Python from C++, if the code throws the exception needs to be translated properly and thrown.

[2019-12-02 21:02] jackgerrits opened #2170 "CCB Memory Leak"
Two memory leaks:

Test 201:
[code]

Test 202:
[code]

[2019-12-03 00:58] wangyi-fudan commented on #2159
hi, it is not value-compatible with existing hash function. but will be compatible with learning algorithms since the interface is the same.
I do not use vw much, instead I do my own c++ coding for learning algorithms. The reason I develop wyhash is the heavy use of feature hashing in my own algorithm. It is designed to accelerate feature hashing.

[2019-12-03 16:36] #2110 closed

[2019-12-03 17:47] #2168 closed

[2019-12-03 18:27] #2165 closed

[2019-12-03 18:45] lokitoth commented on #2101
Per discussion offline and comments in PR: This is a bigger change that the plan suggested, as it involves changing how options merging happens when loading the file. Will push in after 8.8.0, and stabilize for 8.Next or 9

[2019-12-03 19:29] #2124 closed

[2019-12-03 20:53] #2116 closed

[2019-12-03 20:53] #2170 closed

[2019-12-03 21:40] #2120 closed

[2019-12-04 13:54] #1651 closed

[2019-12-04 22:33] lokitoth opened #2175 "Oracle generation is broken for LDF-mode in search_covington.ipynb"
Some time ago we changed the logic for oracle validation in Python to prevent zeroes from being passed in (see #1296 and #1042). This leads to broken oracle generation. For complex LDF cases, there seems to be additional issues once the oracle generation is fixed that prevents the system from learning correctly.

This issue is a tracking issue for the work to get search to a better place and updat

[2019-12-04 22:56] lokitoth commented on #2144
The issue here is due to changes to how example disposal works in the Python bindings. We mistakenly kept __enter__ when removing __exit__ in #1837.

PR #2176. removes the __enter__ call and updates the example scripts to properly dispose the generated examples (without `with`, as that is no longer supported.) Unfortunately, it seems that there was no good way to implement finish_example without t

[2019-12-04 22:56] lokitoth commented on #1861
The issue here is due to changes to how example disposal works in the Python bindings. We mistakenly kept __enter__ when removing __exit__ in #1837.

PR #2176. removes the __enter__ call and updates the example scripts to properly dispose the generated examples (without `with`, as that is no longer supported.) Unfortunately, it seems that there was no good way to implement finish_example without t

[2019-12-04 23:08] andy-soft commented on #1861
I have the same problem, and cannot continue , want to test to POS tagger and the NER labeler, and both fail at the exact same point!
read the code but found no way to solve it!
please help!
C# wrapper (.net 4.6+) don't work either for POS labeling keept throwing error on IntPtr!
on the source the POS tagger has been removed as well as the NER splitter ¿why?

[2019-12-04 23:14] lokitoth commented on #1861
Hi @andy-soft: Could you elaborate what you mean by "on the source the POS tagger has been removed as well as the NER splitter"?

Take a look at the PR referenced above to see how the examples change to deal with the issue mentioned here.

With that said, there are additional issues in more complex LDF-based tasks that I do not yet have a handle on.

I have been focusing on Python right now, but w

[2019-12-05 14:59] lokitoth commented on #1861
The samples have been updated with the correct code to use in this case with #2176. LDF issues with Covington DEP Parser, and Word Alignment are tracked by #2175.

[2019-12-05 14:59] #1861 closed

[2019-12-05 14:59] lokitoth commented on #2144
The samples have been updated with the correct code to use in this case with #2176. LDF issues with Covington DEP Parser, and Word Alignment are tracked by #2175.

[2019-12-05 14:59] #2144 closed

[2019-12-05 15:03] lokitoth commented on #2169
Interestingly enough, with the fix from #2171 what happens now in the Hook Task exceptions is it will first properly display the Python-side exception (due to the code [here]()), and will then throw a C++ exception that gets translated back to the Python side. It may be the right thing to do is filter out the Python exceptions being translated by the binding layer, and simply rethrow them.

The C+

[2019-12-05 15:39] peterychang opened #2178 "Investigate/remove parser dependency on shared_data"
The intended purpose of shared_data appears to be a piece of memory thats shared across multiple processes in daemon mode.

It doesn't look like the parser needs shared_data, the few pieces of data it actually reads/writes in shared_data doesn't seem to need to be in there.
This task will involve:
- Investigate if the parser needs _anything_ in shared_data
- Pull irrelevant members out of shared_d

[2019-12-05 22:44] andy-soft commented on #1861
Hi, thanks for the reply

AS I saw the "Oracle" for a sequence detector/classifier, needs to be built externally, as the Python interface failed, (just because of all the previous blah blah)  I tried to test the system with a Spanish complicated POS tagging and NER detection, and never found the documentation on how to link the code with external C# code, I tried to deduct the usage reading the "u

[2019-12-07 13:23] andy-soft commented on #1861
Hi there, the repairing-code worked (Haleluyah) on training, but on the "prediction" it still gives strange errors!

---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call last)
~/.local/lib/python3.6/site-packages/vowpalwabbit/pyvw.py in run()
     22         self._output = None
     23         self.bogus_e

[2019-12-07 18:11] peterychang opened #2183 "Python test failure for python 3.6 on Windows"
__________________________________________________________________________________________________ TestVW.test_predict_not_fit __________________________________________________________________________________________________
 
self = <test_sklearn_vw.TestVW object at 0x000002BAFC9C3C18>
data = Dataset(x=array([[ 1.62434542e+00, -6.11756384e-01, -5.28171778e-01,
        -1.07296860e+00,  8.6540764

[2019-12-08 02:41] annaluo676 opened #2184 "Counterfactual evaluation under ADF mode"
Hi,

I found [this](https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/test/RunTests#L1186-L1188) as an example of performing counterfactual analysis on a labeled offline dataset. Is there a way to do similar analysis under ADF mode? It seems that directly adding labels in front of shared featues ([this](https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/test/train-sets/cb_test.ldf)

[2019-12-09 15:25] peterychang commented on #2183
It looks like this is due to a change in sklearn 0.22's `check_is_fitted()` function

https://scikit-learn.org/stable/modules/generated/sklearn.utils.validation.check_is_fitted.html

The `attributes` parameter is now deprecated and is ignored

[2019-12-09 15:39] peterychang commented on #2089
VW 8.8.0 has been released on pypi.
`pip install vowpalwabbit` should now work on OSX.
**NOTE**: Vowpalwabbit will fail to build or run on MacOS 10.14 or later due to https://github.com/VowpalWabbit/vowpal_wabbit/issues/2100

[2019-12-12 20:46] peterychang opened #2188 "undefined behavior in shared_data in daemon mode"
When running VW in daemon mode, all.sd is being mmap'd with the MAP_SHARED flag.
Additionally, the members of all.sd are being read and modified with no synchronization, which will result in race conditions for every read and store operation.

Assuming locking and/or synchronizing every operation will be infeasible due to its high cost, we'll need to design a way to keep the data in an unambiguous

[2019-12-13 19:00] AlexFridman opened #2191 "CB --cb_explore_adf segmentation fault"
#### Describe the bug
Hello!

I'm constantly getting
- "NAN prediction for example"
- "segmentation fault"

 on Linux and OS X (built from sources) with my data using Python bindings.
I've prepared a simple [example](https://gist.github.com/AlexFridman/013c7bb7391c277b3c3e122f9f3ee2e4) to reproduce. Maybe I have a misunderstanding of data format, so please correct me.
I'm trying to reproduce  ["Si

[2019-12-13 19:27] jackgerrits opened #2192 "Python predict/learn must support all label types"

[2019-12-13 19:35] jackgerrits opened #2193 "del and finish are behaving differently in Python (del causes crash)"
Running the following in a cell in a Jupyter notebook twice fails:
[code]

Whereas the following works:
[code]
The only difference is the last line.

[2019-12-13 19:41] jackgerrits commented on #2191
Hi @AlexFridman,

When you use `parse` on its own, then once you are done with the parsed examples you need to return them to the vw instance with `vw.finish_example(example)`. You also need to specify the contextual bandit label when using this data. Unfortunately I've just discovered that `predict` and `learn` don't support passing the label type right now (#2192). This can be mitigated by using

[2019-12-13 19:44] AlexFridman commented on #2191
@jackgerrits , thank you very much for the quick reply! It's working.

[2019-12-13 19:44] #2191 closed

[2019-12-13 19:48] jackgerrits commented on #2192
Actually on further inspection it seems as though the custom deleter created with creating the parsed example with mean that it is actually correctly deleted.

[2019-12-13 19:48] #2192 closed

[2019-12-14 16:34] jackgerrits opened #2194 "RunTests does not fuzzy compare some outputs"
When running on different systems the floats outputted can differ. There is affordance in the RunTests script to deal with this imprecision. However, it seems that for some formats the fuzzy compare does not work. See the below comparison that should work that does not.

`./RunTests -d -fe -E 0.001 -O --onethread`
[code]

[2019-12-16 10:17] AlexFridman commented on #2193
Hi, @jackgerrits! I've faced with another (I guess) issue of the Python wrapper.
If I do not set --ring-size parameter to the big enough value (in my case 400k) I'm getting these errors:
python:

stderr:

I found 400k multiplying 4000 from your example by 10 a few times))
Could you please explain this parameter? Is it expected behavior?
This issue can be reproduced with my data from #2191 and your