[2020-10-02 19:00] etiennekintzler commented on #2505
I considered age to be a numerical here, not categorical !

[2020-10-02 19:35] lalo commented on #2505
Ok, I see what I was not picking up. Then the question is, how do you specify if an integer column is categorical, numerical or integer named feature. We can default to numerical, the one you proposed on the last comment. For strings we can default to categorical. For boolean we must convert into some sane statement columnname_true and columnname_false.

Anyways, that sounds like a reasonable defa

[2020-10-02 20:34] olgavrou commented on #2505
We would also need `FeatureCategorical("age")` in this case which would mean we have:

`Feature("level")` -> default to catgorical
`Feature("age")` -> default to numerical
`FeatureCategorical("age")` -> explicitly categorical
`FeatureWithIntegerName("age")` -> explicitly use integers as the feature name

One other way to go would be:

`Feature("level")` -> default to catgorical
`Feature("age")` ->

[2020-10-03 10:23] etiennekintzler commented on #2505
The signature `Feature("age", ["type" = (categorical|numerical)])`  seems the most straightforward to me.

This part I am not sure about ; shouldn't the first parameter of the function be named `value` instead of `name` ?

Also the original formulation of the API had option to use value directly provided in the parameter and not from a dataframe. For instance : `Feature(value=1.2, name="x", value_

[2020-10-05 17:48] lalo opened #2596 "None of the continious actions tests are running on windows CI"
https://github.com/VowpalWabbit/vowpal_wabbit/blob/27937db3de2c49a1e6bd785007b5923f58de7b38/cs/unittest/RunTests.tt#L32

Creating this issue to not forget to enable these test at some point.

[2020-10-05 17:48] lalo commented on #2596
@rajan-chari

[2020-10-05 21:50] lalo commented on #2505
@jackgerrits that will be interesting to implement since DFtoVW is independent of the vw instance, where you would enforce --chain_hash as obligatory.

[2020-10-08 19:22] ssujr opened #2598 "make java error for v8.8.1"
Hi,

I ran make java and got below error. It works fine for v8.4.1.

mkdir -p build
cd build; cmake ..
-- VowpalWabbit Version: 8.8.1
-- Using C++ standard: 11
-- Git Version: 8963c2f9a
-- Number of processors: 4
-- Boost version: 1.65.1
-- Found the following Boost libraries:
--   program_options
--   system
-- Submodule update
-- help2man not found, please install it to generate manpages
-- Boos

[2020-10-09 12:35] jackgerrits commented on #2598
Hi @ssujr,

In order for the Java build files to be generated you need to set the option `BUILD_JAVA` to on. For example:

[code]

[2020-10-09 18:10] etiennekintzler commented on #2505
@jackgerrits
Do you think the possibility of making feature from a constant value a not a column should be kept at all ? For instance, you could write `Feature(value=1.2, name="x", value_from_df=False)` and get (a column of) `x:1.2`.

The more I think of it, the less I think it is useful, since the converter is to be applied to a dataframe and not custom values. And if the user wants to provide cu

[2020-10-09 19:16] #2598 closed

[2020-10-09 20:22] jackgerrits commented on #2505
You make a good point - the complexity doesn't seem worth it. Especially since they could just put it in the dataframe. I am in favour of cutting it out

[2020-10-09 21:31] etiennekintzler opened #2600 "REMOVE the possibility in DFtoVW to provide constant values (i.e values that are not from the dataframe)"
Using DFtoVW types we can provide constant values (i.e values not from the dataframe).

For instance :
[code]
would return a column of `x:1.2` when converting the dataframe.

The feature could be remove since :
- **it doesn't seem really useful**: if the user really want to add constant value he could always create constant column in his dataframe (e.g `df['x'] = 1.2`)
- **Simplify the API**: no `

[2020-10-09 22:02] etiennekintzler commented on #2505
I have made a PR to fix this.

After merged I'll do another one that fix the issue that we've been talking here (default name from colname, usage '=' vs ':')

[2020-10-12 00:25] leoguelman opened #2605 "Segmentation fault"
I get a "Segmentation fault" error when running the Getting Started example below. Any hints?

[code]

#### Environment
MacOS Catalina 10.15.6
Python 3.8.3
vowpalwabbit 8.8.1

[2020-10-14 11:43] #2545 closed

[2020-10-14 12:04] olgavrou opened #2606 "models will differ (very very) slightly when trained with json vs text"
#### Describe the bug
When training a model with the same data it makes a **very slight** difference in the end model whether that data was parsed via json or via text. This is probably due to the fact that text parsing uses the `parseFloat` method to parse strings to floats where as json parsing will use the `rapidjson` float parsing.

As far as I have tested this (using full examples in `0001.da

[2020-10-14 14:23] lalo commented on #2600
Closing since it's been addressed in PR #2601

[2020-10-14 14:23] #2600 closed

[2020-10-14 16:37] jackgerrits opened #2608 "CCB model to track if used with >1 slots"
The fact will be stored as save load model data. When used with only a single slot it will not add interactions or slot features. This will mean the CCB model should behave the same as CB model in this case.

[2020-10-14 18:39] lalo commented on #2505
assigning this to myself bc I keep referring back to it and want easy access :)

[2020-10-14 19:02] etiennekintzler commented on #2505
FYI @lalo I am almost done with it !

[2020-10-16 11:56] olgavrou commented on #1868
@jackgerrits can we close this issue?

[2020-10-16 12:53] jackgerrits commented on #1868
Sounds good!

[2020-10-16 13:03] #1868 closed

[2020-10-19 13:01] #2505 closed

[2020-10-22 13:54] fshabashev opened #2613 "Make flag --log_multi work together with --probabilities"
## Short description
Right now vowpal wabbit can only output probabilities with `--oaa` or `--csoaa_ldf=mc mult` multiclass options.

Add the possibility to predict probabilities with "--log_multi" multiclass option on.

## **How this suggestion will help you/others**

`--log_multi` is very useful when there are a lot of classes, because other options like `--oaa` are very slow in this case.
But i

[2020-10-22 16:35] JohnLangford commented on #2613
There's something semantically unclear here---the log_multi reduction is made to make choices in time O(log(number of classes) ) but --probabilities inherently requires O(number of classes) computational time.  So implementing something like this implies an exponential slowdown and some new algorithms be implemented.

Given the above, what were your thoughts here?

[2020-10-22 18:02] fshabashev commented on #2613
yes, --probabilities require O(n_classes) but is it possible to output the max probability, so user of the library could know predicted probability.

[2020-10-22 18:06] fshabashev commented on #2613
yes, --probabilities require O(n_classes) but is it possible to output the max probability, so user of the library could know predicted probability.
so user could know when prediction is made with high confidence (high predicted probability) or with low confidence.
then in the application code user could mark all low confidence predictions as "Cannot classify with high confidence"

[2020-10-22 23:31] fshabashev opened #2614 "Implement probabilities predictions for Java API"
## Short description
Java API doesn't support probabilities predictions currently.
It can only predict classes.

## **How this suggestion will help you/others**

Predicting probabilities is a useful feature, but Java API doesn't support that currently.

## **Possible solution/implementation details**

Should be quite straightforward

## **Example/links if any**

[2020-10-23 18:05] JohnLangford commented on #2613
There may be something that can be done here without damaging computational complexity.   However, there is a complication: --log_multi trains individual nodes of the tree in a manner which is not probability consistent.  See here: https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/vowpalwabbit/log_multi.cc#L512 .  (It is binary classification consistent.)

(Why?  Because that's what the th

[2020-10-26 15:04] fshabashev commented on #2613
for me returning some kind of a score is fine, it could be calibrated by the user

[2020-10-26 15:11] lalo commented on #2614
This is supported, unless I'm missing something with the terminology. Let me know if this is not what you were expecting.

https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/java/src/test/java/vowpalWabbit/learner/VWProbLearnerTest.java

and

https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/java/src/main/java/vowpalWabbit/learner/VWLearners.java#L49

[2020-10-26 15:33] fshabashev commented on #2614
forgot to mention I was actually speaking of VWMulticlassLearner

[2020-10-26 15:34] fshabashev commented on #2614
VWMulticlassLearner always returns Int, not a list of floats

https://github.com/fakeNetflix/indeedeng-repo-vowpal-wabbit-java/blob/3a9a92ac11a69d265656806e84bc9c05d138ef88/src/main/java/com/indeed/vw/wrapper/learner/VWMulticlassLearner.java

[2020-10-26 15:42] lalo commented on #2614
what about specifying both `--oaa --probabilities` like the following example: https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/java/src/test/java/vowpalWabbit/learner/VWScalarsLearnerTest.java#L32

feel free to share your VWLearners.create(...) statement.

[2020-10-26 16:23] fshabashev commented on #2614
model is imported like this:
`val trainedModel: VWMulticlassLearner = VWLearners.create(f"-i $modelLocalFile -t --quiet")`

and trained like that:
`vw data.txt  --passes 3 -c -k --oaa 873 -b 27  --probabilities -f model.vw`

[2020-10-27 16:20] lalo commented on #2605
@leoguelman can't seem to repro, this example is now running on mac CI on python version 3.6, 3.7 and 3.8 on Mac 10.15.7

feel free to check the results over here https://github.com/VowpalWabbit/vowpal_wabbit/runs/1315805520?check_suite_focus=true

out of curiosity, how did you install this python vowpalwabbit?

[2020-10-27 16:33] lalo opened #2618 "[mac] daemon deprecated"
https://github.com/VowpalWabbit/vowpal_wabbit/blob/19bf14e2a58eb6d73ffe09026da2463b12250e57/cluster/spanning_tree_main.cc#L38

we might use it in other places too

[code]

see any build results for more info https://dev.azure.com/vowpalwabbit/Vowpal%20Wabbit/_build/results?buildId=14934&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=35f53584-79fc-539f-463c-6471d0663a3a&l=68

[2020-10-27 17:24] lalo commented on #2614
can you try this to see if it works?
`VWScalarsLearner vw = VWLearners.create("--oaa 873 --probabilities -i $modelLocalFile -t --quiet ");`

[2020-10-27 19:27] fshabashev commented on #2614
works well, thank you!
I can add this example to the documentation, would it be useful?

[2020-10-27 19:30] lalo commented on #2614
yes, it would be good if you contribute this back to documentation :)

I do wonder if this is a bug, since that info should've been obtained from the model file (maybe?)

[2020-10-28 14:38] andy-soft commented on #2524
Hi there, it worked fine!
There are some issues out there,
¿may I can get some additional help?

I Want to make use form C# of the reinforcement and online learning features,
For this, to work fine I need the ability to create in C# the functions for the GOLD-Standard (Oracle) to be useful, and even to train online, but in Python there are plenty of samples of the function, but unfortunately under

[2020-10-29 16:32] JohnLangford commented on #2613
Does --plt work for you instead?  (This is a recent addition.)   This provides sublinear prediction time for multilabel classification using a proper scoring rule, so the scores would make more sense.

[2020-10-29 16:51] lalo commented on #2614
I've verified with the rest of the team and seems like this should also work like this
`VWScalarsLearner vw = VWLearners.create("--probabilities -i $modelLocalFile -t --quiet ");` the --probabilities flag does not get persisted in the model since it's an output related flag (this is by design) so you have to enable it manually. --oaa should work without entering it again. Feel free to verify this.

[2020-11-01 19:04] maxpagels opened #2621 "explore_eval gives systematically different average loss than cb_explore_adf against the same "simulator" data"
#### Describe the bug
`explore_eval` gives systematically different average loss than `cb_explore_adf` on a bandit dataset synthetically constructed from a supervised dataset.

I've created a dataset as follows:
- Ten actions per round
- All share 2 features
- Actions 0-4 _always_ receive a cost of -1, actions 4-9 _always_ receive a cost of 1
- All actions are recorded with probability 0.1 (10%)
-

[2020-11-03 17:47] fshabashev commented on #2614
yep, it works well for me

[2020-11-03 17:47] #2614 closed

[2020-11-03 17:47] fshabashev commented on #2614
issue is resolved

[2020-11-06 13:47] dnabanita7 commented on #2228
@jackgerrits I am a beginner and want to contribute to Vowpal Wabbit. Is the symbol export issue resolved?

[2020-11-06 13:48] dnabanita7 commented on #1895
It's still open? Looks interesting to me.

[2020-11-06 15:07] cheng-tan commented on #2621
Hi @maxpagels, in this case, the dataset has uniform probabilities for each played action (1/#actions) and the (stochastic) policy being evaluated is the uniform distribution (--epsilon 1), `explore_eval` should return the on-policy estimate which is the average of the costs in the file.  With the provided dataset, average loss of `explore_eval` should equal to 0.00138. We found a bug during inves

[2020-11-06 15:30] jackgerrits commented on #1895
Hi @dnabanita7, yes this is still open. Please feel free to work on it :)

[2020-11-06 15:41] jackgerrits commented on #2228
I am not sure if that issue is properly resolved. I'd say we are not likely in a good enough spot for this yet. But if you'd like to hack on it please feel free.

[2020-11-06 15:43] dnabanita7 commented on #2228
I will first try the previous issue then hop into symbol export issue.

[2020-11-06 16:16] maxpagels commented on #2621
@cheng-tan thanks! wasn't just me imagining that the loss should equal approx 0 in this case.

[2020-11-06 21:49] wmelton opened #2635 "Acceptable feature values types not well documented"
### Description

Looking through all of the available vw documentation, there doesn't seem to be any clear documentation on all of the valid input value types for features (at least that I can find) or how exactly vw understands them under the covers if you move beyond string and ints/floats.

More thorough documentation of valid value types for features and how vw understand  them would be helpfu

[2020-11-09 10:30] pkandarpa-cs commented on #2521
Is it possible at all to build the JNI on OSX then?

[2020-11-09 10:34] eisber commented on #2521
It's possible. Quickest path is to build yourself and update the loading code. Integrating this into a public build is probably a bit more complicated. Either cross-compiled to OSX (not sure if that's possible) or setup multiple builds (Linux, Windows, Mac) and a final release one that collects all the artifacts and packages into a single jar.

[2020-11-09 11:24] pkandarpa-cs commented on #2521
Made the change suggested above about removing the dtags flag. Able to build a Jar along with an OSX `dylib` successfully. Noticed that the resultant jar had ` natives/linux_64/libvw_jni.dylib` the lib placed inside `natives/linux_64`. Is this correct location?

[2020-11-09 11:26] pkandarpa-cs commented on #2521
One issue with the current root level Makefile command `make java` is that it runs `cmake` without the enable java flags. I manually ran the cake step like this `cmake ../ -DBUILD_JAVA=ON` from the `build` folder

[2020-11-09 13:40] eisber commented on #2521
linux_64 sounds like the hack I was alluding too. ideally you'd drop it into natives/mac . https://stackoverflow.com/questions/228477/how-do-i-programmatically-determine-operating-system-in-java has a suggestion on how to detect the OS

[2020-11-09 16:01] peterychang commented on #2635
VW will always treat a feature as a float, so there is no concept of an unsigned feature (an int is just treated as a floating point number)

I believe you can model a feature list in a separate namespace as a set of anonymous features
@lokitoth Its been a while since I worked with some of the more advanced text features. Could you explain how this works?

[2020-11-09 16:19] lokitoth commented on #2635
The way to think about anonymous features is that the "hash" of the feature name is trivial. However, to try to avoid collisions, the index of the feature within the namespace is determined by a counter of anonymous features. In other words, if you have a namespace:

    |ns1 :1.2 :3.1 :0.4

What you would get are effectively three "dense" features in that namespace with offsets = 0, 1, 2, respect

[2020-11-10 07:58] sswetank-CS commented on #2521
Followed suggested steps and able to build a  Jar on OSX successfully. Bunch of tests which failed during the build though. When I try to load it to library it fails to load with an error `no main manifest attribute, in vw-jni.jar`

[2020-11-10 10:45] sswetank-CS commented on #2521
Does this mean that although the jar is built successfully, it is corrupted?

[2020-11-10 21:12] fshabashev commented on #2613
--plt looks very useful.
but in my case I have different thresholds for different classes and looks like --plt doesn't support that directly

[2020-11-11 17:39] wmelton commented on #2635
@lokitoth Thanks for your reply and thoughts here.

A couple of implications/questions raised here in my mind:

1. How does this impact latent variable computation in contextual bandit scenarios? Meaning, if we have a User and Product namespace, we can use `-q UP` to learn interesting feature interactions. However, if we have some features that are learned embeddings (dense vectors) themselves fro

[2020-11-12 17:00] jackgerrits commented on #2621
Looks like this was fixed in #2631, which made it into the 8.9.0 release. Let us know if there are any issues here still.

[2020-11-12 17:00] #2621 closed

[2020-11-16 16:37] olgavrou opened #2645 "Cover (adf and non-adf) to store example counter (for decaying epsilon)"
Cover behavior now (adf and non-adf):
- default epsilon to `1.f`
- decay epsilon while learning (by using example counter) but doesn't store example counter in model file resulting in
  - (a) example counter being reset every time (even when we want to resume learning from the same file) and
  - (b) not used during prediction and hence resulting in uniform exploration during predict

We want to (w

[2020-11-16 16:41] olgavrou opened #2646 "Cover (adf and non-adf) to use fixed epsilon when defined"
Right now cover (adf and non-adf) don't make use of passed epsilon, but default to `1.f` and then decay the epsilon during learning.
If epsilon is specified it should be fixed epsilon that does not decay (like `bag` does)

[2020-11-16 22:24] jackgerrits opened #2648 "Test 24 claims to succeed but test output tells a different story"
[code]

If you force full diff output though:
[code]

The test should be failing and it is not, it seems to me that the lenient diff is causing a false positive here for the test passing.

[2020-11-17 18:18] jackgerrits opened #2652 "Upload Docs action broken with deprecated set env"
https://github.com/VowpalWabbit/vowpal_wabbit/runs/1413926208?check_suite_focus=true

[code]

[2020-11-17 18:41] ataymano opened #2653 ""--dsjson --cb_explore_adf ..." in pyvw does not work properly"
#### Describe the bug
 cb_explore_adf predict method for example with shared features and k actions always returns probability distribution over (k+1) choices (while it should be over k)

#### To Reproduce
1) predict

from vowpalwabbit import pyvw

vw = pyvw.vw('--cb_explore_adf --epsilon 0.2 --dsjson')

ex='{"_label_cost":-1.0,"_label_probability":0.5,"_label_Action":1,"_labelIndex":0,"o":[{"v":1

[2020-11-19 10:54] #2652 closed

[2020-11-19 15:43] wmelton opened #2656 "Ubuntu 16 apt-get install does not register vw-* commands"
#### Describe the bug
Using `sudo apt-get install vowpal-wabbit` the suite of `vw-*` commands (like `vw-hypersearch`) are not being registered within the CLI

#### To Reproduce
Steps to reproduce the behavior:
1. run `sudo apt-get update`
2. run `sudo apt-get install vowpal-wabbit`
3 run `vw-hypersearch {args}`
4. error: `bash: vw-hypersearch: command not found`

#### Expected behavior
Expected vw

[2020-11-20 12:06] olgavrou commented on #2608
@jackgerrits this is done right?

[2020-11-20 12:06] olgavrou commented on #2605
I am closing this issue, please feel free to re-open if problems persist.

[2020-11-20 12:06] #2605 closed

[2020-11-20 14:00] jackgerrits commented on #2608
Yes, this was completed in #2610

[2020-11-20 14:00] #2608 closed

[2020-11-21 18:22] mballav-cogent6 opened #2658 "Build error on UBuntu 20.04"
I tried to build VW on Ubuntu 20.04, but it failed every time with the same error:

[code]

#### To Reproduce
Steps to reproduce the behavior:
1.  Installed libboost-all-dev (1.71.0)
2. git clone https://github.com/VowpalWabbit/vowpal_wabbit.git
3. cd vowpal_wabbit
4. make

#### Environment
What version of VW did you use? Latest from master branch.
What OS or language did you use? Ubuntu 20.04, C+

[2020-11-23 12:17] #2646 closed

[2020-11-23 12:17] #2645 closed

[2020-11-24 19:56] lalo commented on #2658
Hi, can you share the output of the cmake command?

[2020-11-24 21:23] lalo commented on #2658
I was able to build vw successfully with boost 1.61 and 1.72. So at least we know that nothing broke dependency wise with boost. Not sure how you installed or built boost.

(I couldn't find 1.71 source code on sourceforge for some weird reason https://sourceforge.net/projects/boost/files/boost/1.71.0/)

[2020-11-29 15:38] onlynishant opened #2667 "VW java: is it possible to remove lock when only using predict?"
I was going through `VWFloatLearner` Java class and found out that `predict` method calls `learnOrPredict` which uses `lock.lock();`

    private float learnOrPredict(final String example, final boolean learn) {
        lock.lock();
        try {
            if (isOpen()) {
                return predict(example, learn, nativePointer);
            }
            throw new IllegalStateException("Alr

[2020-11-30 16:22] orktes opened #2669 "Some headers and Boost component requirements missing from 8.9.0 CMake install target"
#### Describe the bug
https://github.com/VowpalWabbit/vowpal_wabbit/blob/8.9.0/vowpalwabbit/CMakeLists.txt#L24 (same in master) is missing at least `fast_pow10.h`, `reductions_fwd.h`, `json_utils.h` and `io/io_adapter.h` so those headers wont be included/installed on `make install`.

#### To Reproduce
Build the shared library and try to
[code]

#### Expected behavior
Headers can be included withou

[2020-11-30 19:05] jackgerrits opened #2671 "DSJSON/JSON parser in python mutates the passed in string"
When using DSJSON in Python, VW changes the string. This is because Rapidjson parses insitu, changing the string and we do not make a copy. Python does not know it changes and so it does not copy either.

[code]

Notice the same string is printed twice and changes:
[code]

[2020-11-30 22:00] slahabar opened #2672 "CCB inverthash/readable model should display slot interactions"
#### Describe the bug
For CCB data, invert hash only contains slot features, but no slot interactions.
For CCB model, generating readable model only contains slot features, but no slot interactions.

#### To Reproduce
Steps to reproduce the behavior:
1. Generate CCB data similar to below, slots contain some slot features:
{"Timestamp":"2020-11-28T22:47:53.8640000Z","Version":"1","c":{ "GUser":{"id

[2020-12-01 09:26] orktes commented on #2669
Seems that https://github.com/VowpalWabbit/vowpal_wabbit/commit/c6164209d082acce095f7296d23ce3e45b1c9110 also creates a regression where Boost::program will no longer be included in the created pc file for libvw

[2020-12-01 15:04] jackgerrits commented on #2669
Thanks for picking up on this

[2020-12-01 16:24] rangi513 opened #2674 "--invert_hash for cb_explore_adf with interactions displays as --readable_model output"
### Problem Description
I have trained an online contextual bandit using `--save_resume`. I was attempting to debug interaction coefficients, and unfortunately `--invert_hash` for `cb_explore_adf` with interactions displays as the `--readable_model` output and does not include the string names for features. I've looked through the source code, but could not determine if this is intentional or a bu

[2020-12-01 21:02] SchuylerGoodman opened #2675 "Execution should fail gracefully when # slots > # actions in CCB call in debug mode"
https://github.com/VowpalWabbit/vowpal_wabbit/blob/3f5793d9920fdff44f674cd4252180411da1cff5/vowpalwabbit/conditional_contextual_bandit.cc#L113-L120

In debug mode, when the number of slots input to CCB exceeds the number of actions, execution logs the issue to `cerr` in and exits `learn_and_predict`. This results in an unallocated `action_ids` array later in [rl::fb_serializer](https://github.com/

[2020-12-02 11:11] #2669 closed

[2020-12-02 16:47] ataymano commented on #2674
Yes, it is caused by --save_resume.

Other way to reproduce:
vw --cb_adf -d train.dat --invert_hash model.readable -f model.bin   =>  model.readable has feature names
vw --cb_adf -d train.dat --invert_hash model.readable -f model.bin --save_resume  =>  model.readable is without feature names.

Have to be investigated.

[2020-12-02 16:50] ataymano commented on #2675
Yes, have to be fixed.

[2020-12-02 20:14] olgavrou commented on #2672
I'll take a look

[2020-12-03 04:16] nicholastoddsmith opened #2676 "How to reliably determine index of constant in OAA models"
### Description

It would be great if the documentation could describe how constant features are mapped into the weight vector.

Using integer string features allows for easy lookup of feature weights, but the constant feature still remains challenging. I prefer not to add an "additional" column to the original data, lest it be penalized by regularization along with the rest (BTW, I assume the con

[2020-12-03 11:44] #2499 closed

[2020-12-03 13:53] ataymano commented on #2675
Although, looks like there are 2 issues here:
- bad error handling inside vw
- bad error handling inside rlclientlib (although I am not sure yet why is it unallocated, it seems to be just empty)

[2020-12-03 16:03] jackgerrits opened #2678 "Visibility warnings when building on MacOS"
Building with Clang on MacOS causes *many* warnings about differing visibility settings in translation units.

[code]

Turning it off seems like the wrong approach (I originally proposed this in#2659)

[2020-12-03 16:08] jackgerrits commented on #2656
The apt package for VW seems to be maintained by @yarikoptic. Yaroslav do you know if this is expected?

[2020-12-03 16:49] yarikoptic commented on #2656
Not clear which version of vw we are talking about -- could be some elderly one which did not have vw-hypersearch?

clarification: I maintain nothing directly in Ubuntu (despite it possibly claiming that I do, but most likely it is Ubuntu MOTUs to contact)...  Anything I fix would go into Debian (and NeuroDebian) where I maintain some backports.  But even there I became a "lazy" one since not acti

[2020-12-03 17:03] jackgerrits commented on #2100
Now that VW 8.9 is released, there are now wheels available. Using `pip install vowpalwabbit` should pick up these wheels and mitigate the conda issue.

If anyone hits this in future please feel free to comment/reopen the issue.

[2020-12-03 17:03] #2100 closed

[2020-12-03 17:42] jackgerrits commented on #2382
Updated in #2640

[2020-12-03 17:42] #2382 closed

[2020-12-03 17:48] jackgerrits commented on #2240
It looks like this was resolved in #2368

[2020-12-03 17:48] #2240 closed

[2020-12-03 17:51] jackgerrits commented on #1989
This will break too many things and is not needed

[2020-12-03 17:51] #1989 closed

[2020-12-03 17:58] jackgerrits commented on #2656
Gotcha, makes sense. Do you think it makes more sense for us to maintain a PPA? Or should we stick with the OS released repos? (sorry if I am referring to the wrong name)

If you'd like perhaps we can explore transferring ownership of the Debian package so that we can maintain it?

[2020-12-03 18:16] yarikoptic commented on #2656
I have sent out request to debian-science team meanwhile.

If you would like to maintain it -- would be great, it is not rocket science BUT for "proper" packaging does need some debian-packaging-knowhow.  All packaging materials (and it seems there are some commits past the last version I uploaded) are in debian branch of https://github.com/yarikoptic/vowpal_wabbit/tree/debian/debian .

PPA -- up

[2020-12-03 21:07] jackgerrits commented on #2656
Would it make sense to discontinue the in OS repo and just maintain a PPA?

That way we could update out of band of OS releases? Or is this just a headache of compatibility?

[2020-12-03 22:25] yarikoptic commented on #2656
you can do whatever you would like todo ;-) Debian/Ubuntu releases would have a "stable" (back when released) version of vw, which might be not a bleeding edge now but should be worth something I hope, so users could enjoy a stable OS with its wide range of offered packages (without enabling a swarm of PPAs etc for various endeavors).  Security and very critical bug fixes could (well -- security o

[2020-12-04 17:11] rangi513 commented on #2674
I'm not an expert on this code base, but I tried to take a stab at figuring out some link between `save_resume` and `invert_hash`. My initial thought is there could be something here on L115 that is causing the size of this feature space to be 0? I could be completely off though if the readable model isn't actually created from this audit_regressor.cc file and the inverting of the hash values to s

[2020-12-04 18:45] peterychang opened #2681 "Inconsistent prediction usage in cs_active"
cs_active currently uses the prediction in an inconsistent way.
There are 3 elements of the prediction that are used
[scalar](https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/vowpalwabbit/cs_active.cc#L169) as an input
[multilabels](https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/vowpalwabbit/cs_active.cc#L269) as an output
[multiclass](https://github.com/VowpalWabbit/vowpal_wab

[2020-12-07 19:32] slahabar opened #2685 "Predictions for cb data and cb data transformed to single slot ccb should match."
#### Describe the bug
Predictions from cb data converted to single slot ccb data gives different values with ccb_explore_adf.

#### To Reproduce
1. Run CB format data file cb.json
./vw.exe --ccb_explore_adf --epsilon 0 --power_t 0 -l 0.001 --cb_type mtr -q :: --dsjson -d cb.json -p cb.pred

2. Transform CB format cb.json to single slot ccb format file ccb_0index.json
./vw.exe --ccb_explore_adf --e

[2020-12-07 22:08] jackgerrits opened #2686 "VW should create parent dirs if needed when writing files"
If any parents dirs are missing VW will fail. It should make all parent dirs if need be.

[code]

[2020-12-07 23:29] jackgerrits opened #2687 "Missing test ref files"
Referenced files do not exist.
- `test-sets/ref/chain_hash_text_result.stdout`
- `train-sets/ref/search_wsj2.dat.stdout`

[2020-12-08 01:24] ataymano commented on #2685
#2689

[2020-12-08 17:31] jackgerrits opened #2694 "Pyvw fails to run driver if data file given as command line"
Pyvw should run the driver if a data file is given, but fails to do so if given as a command line like so:

[code]

The output shows it sees the file but the parser is not run.
[code]

Expected output is as follows:
[code]

This expected output can be achieved by:
[code]

So in the Python layer the issue is it not checking the command line itself to determine whether to run the parser.
https://git

[2020-12-09 14:36] jackgerrits commented on #2675
Ill handle reporting the error in VW

[2020-12-09 15:25] olgavrou commented on #2685
Closing this as the related PR has been merged. Feel free to re-open if the problem persists

[2020-12-09 15:25] #2685 closed

[2020-12-09 15:26] #2687 closed

[2020-12-09 15:38] jackgerrits commented on #2653
@ataymano I am not able to get this to reproduce anymore (I also hit this in the past), so I am not sure exactly how to get this bug to happen.

I've added a test for this in #2699. Could you take a look and see if that makes sense?

[2020-12-09 16:00] jackgerrits commented on #2658
It looks like it is doing a static build. Did you supply `-DSTATIC_BUILD_VW=On` to CMake?

[2020-12-09 16:09] jackgerrits commented on #2656
@wmelton, we will probably not have the bandwidth to work on apt packages for VW for quite some time.

My recommendation would be to follow the build instructions for Ubuntu here: https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Dependencies#ubuntu

[2020-12-09 16:31] jackgerrits commented on #2667
@eisber I know you thought about this while doing the Spark bindings. What are your thoughts?

[2020-12-09 16:43] jackgerrits commented on #2513
Added to docs.

[2020-12-09 16:43] #2513 closed

[2020-12-09 17:49] #2672 closed

[2020-12-09 18:55] eisber commented on #2667
I think the issue is that the c++ part is not thread-safe (e.g. in the reductions and local state).
Also what about the example ring buffer? Can't remember if the Java layer already uses the stack allocation..

[2020-12-09 19:02] jackgerrits commented on #2676
The constant feature is always added in the [constant_namespace](https://github.com/VowpalWabbit/vowpal_wabbit/blob/9918c8eb79c183bf19626ee9ebbeab0dd31b0e8e/vowpalwabbit/constant.h#L23) and with the [constant index](https://github.com/VowpalWabbit/vowpal_wabbit/blob/9918c8eb79c183bf19626ee9ebbeab0dd31b0e8e/vowpalwabbit/constant.h#L12). `CONSTANT_HASH` is the same as `constant` but with some of the

[2020-12-09 19:05] jackgerrits commented on #2469
Hopefully this helped answer your question, if not then please feel free to reopen.

[2020-12-09 19:05] #2469 closed

[2020-12-09 19:11] olgavrou commented on #2427
Hi @hardianlawi @duburcqa you might want to look at the CATS reduction for continuous action space [here](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/CATS,-CATS-pdf-for-Continuous-Actions) which was added recently.

[2020-12-09 19:14] jackgerrits commented on #2444
Closing this as it looks like Paul answered the Q. Please reopen if you need more info.

[2020-12-09 19:14] #2444 closed

[2020-12-09 19:18] #2556 closed

[2020-12-09 19:29] ataymano commented on #2653
hm, just double checked - now i see it being reproducible only for 8.8/8.8.1, but not in 8.9.0. Probably I had some caching issue before.
So it seems good now.

[2020-12-09 20:26] kumpera commented on #2686
We can't solve this without a lot of path handling code, c++ 17 or linking into boost::filesystem.
Neither of those options are available or desirable.
TLDR; until we upgrade to C++ 17, this bug won't be fixed unless the need for it escalates.

[2020-12-09 20:38] kumpera commented on #2678
The issue here is quite complicated.

We don't want to export everything while, at the same time, we don't have any export controls for the C++ surface.

The main issue is the age old mistake of trying to promote internal headers as an API without any curation first.

Right now that effectively means making all header symbols public which would be almost equivalent to giving up on `-fvisiblity=hid

[2020-12-09 21:32] #2653 closed

[2020-12-09 22:17] #2446 closed

[2020-12-10 11:07] #2343 closed

[2020-12-10 11:51] #2694 closed

[2020-12-10 14:13] jackgerrits commented on #2119
This is expected behavior because whenever outputs a model through `-f`, `--invert_hash`, or `--readable_model` it is generated based on the current VW instance. This is why the version is always current when producing a new model.

[2020-12-10 14:13] #2119 closed

[2020-12-10 14:15] jackgerrits commented on #2268
Looks like this was addressed in #2276

[2020-12-10 14:15] #2268 closed

[2020-12-10 14:17] jackgerrits commented on #2024
Looks like the was answered. Please go ahead and reopen if you need more info.

[2020-12-10 14:17] #2024 closed

[2020-12-10 14:20] jackgerrits commented on #1743
We now have a decently reliable format check that only runs on the diff of the PR, so I think the goal of this issue is addressed.

[2020-12-10 14:20] #1743 closed

[2020-12-10 14:57] #2671 closed

[2020-12-10 16:39] #2675 closed

[2020-12-10 16:44] jackgerrits commented on #2308
Closing as Pandas->VW is done, but VW->Pandas is out of scope.

[2020-12-10 16:44] #2308 closed

[2020-12-10 16:49] jackgerrits commented on #1820
Closing as @olgavrou fixed most/all of the Windows warnings recently.

[2020-12-10 16:49] #1820 closed

[2020-12-10 16:53] jackgerrits commented on #2658
We weren't able to repro this, so closing out. Please feel free to reopen with more info if it is still an issue for you.

[2020-12-10 16:53] #2658 closed

[2020-12-11 03:29] nicholastoddsmith commented on #2676
Thanks, that definitely clarifies things somewhat! I still can't figure out how exactly to get 96 as `(11650396 % (1 << 7)) = 92`. I'm guessing 128 from the namespace is combined with the above constant somehow and then hashed using murmur hash 3. Is that right? I tried several combinations of applying murmur hash on the namespace + constant and didn't come up with 96.

Anyway, I'm guessing it's j

[2020-12-11 04:24] jackgerrits commented on #2676
TLDR; it will be easier to use your own constant column here. I'm quite sure VW treats the constant feature the same as others when doing regularization.

I did some digging and getting to the final value for the constant feature is a journey.
For OAA there are multiple sequential models stored internally, one per class. VW multiplies indices during example creation to make sure there is enough sp

[2020-12-11 14:38] jackgerrits commented on #2648
Not reproing for me anymore, must have been an environment issue.

[2020-12-11 14:38] #2648 closed

[2020-12-11 14:50] #2317 closed

[2020-12-12 05:17] nicholastoddsmith commented on #2676
Thanks, this is very useful!

[2020-12-12 05:17] #2676 closed

[2020-12-16 16:49] kumpera opened #2719 "Crash on bad input data"
#### Describe the bug
VW crashes on bad input data.

#### To Reproduce
From `build/vowpal_wabbit`: `./vw --cb_explore_adf --cb_type ips --dsjson  ../../test/train-sets/0001.json`

[2020-12-16 16:55] lalo commented on #2719
By bad data you mean that the correct usage of that file would be --json instead of --dsjson, right? Anyways, it shouldn't crash.

[2020-12-16 17:07] jackgerrits commented on #2719
[code]
What is the significance of the `--`, is VW trying to open this as the datafile?

[2020-12-16 20:46] kumpera commented on #2719
@jackgerrits by bad, I C&P the command line from lldb. It should not be there. Fixed the description.
@lalo vw should not crash, ever. Bad input should produce errors.

[2020-12-17 01:12] hardianlawi commented on #2427
@olgavrou Do you know if there is any off-policy continuous action space method in the pipeline?

[2020-12-17 06:21] grigoriysol opened #2724 "Matrix factorization working correctly?"
### Matrix factorization example

I am dealing with the example from the docs - Matrix factorization example

I get the same rsme as in the documentation. I only used user_id and item_id

sample:

vw -d train.vw -q ui --rank 10 --l2 0.001 --learning_rate 0.015 --passes 20 --decay_learning_rate 0.97 --power_t 0 -f movielens.reg -c -k --quiet

**rsme - 0.95**

But when I want to try additional featu

[2020-12-17 16:39] jackgerrits commented on #2719
What is the crash? Segfault or exception?

[2020-12-21 17:11] ataymano opened #2731 "Ignoring duplicated interactions is causing problems"
#### Describe the bug
[UPD] More accurate description in first comment

Ignoring duplicated interaction leads to dropped previous option

#### To Reproduce
vw --cb_explore_adf --epsilon 0.2 --dsjson --cb_type ips --cubic ::: -d cb_as_ccb.json -f mymodel.bin   - Model is saved
vw --cb_explore_adf --epsilon 0.2 --dsjson --cb_type ips --cubic ::: -d cb_as_ccb.json -i mymodel.bin   - Crash

#### What

[2020-12-21 22:19] ataymano commented on #2731
During fixing the problem realized that original description is not 100% accurate.

What happens:
1) When we parsing header of input model, following issues occur
     a) If option immediately before that is key-only, it got dropped
     b) if there are arguments after that, then empty option ('--') is inserted before that.

So, if we have ['--cb_explore_adf',  '--csoaa_rank', '-q', '::', '--epsil

[2020-12-22 18:15] olgavrou opened #2733 "invert_hash not printing ccb_id_namespace interactions"
#### To Reproduce

Input:

[code]

command line:
[code]

#### Expected behavior

To see all of the interactions as they are shown in audit

#### Observed Behavior

`$ grep "GUser\^idmk\*sizemedium" invHash.txt`

outputs (emphasis on the extra `*` on the first interaction):

[code]
if used with `--audit` and we grep the audit output:

`$grep -a "GUser\^idmk\*sizemedium" <audit file>`

outputs:

[co

[2020-12-25 15:08] kroburg opened #2745 "LBFGS is broken"
Hi!

I believe this change breaks lbfgs:

https://github.com/VowpalWabbit/vowpal_wabbit/commit/ef13913af2f06f7bc4e5c609ae8f3fa96d57cd6b#diff-734f84d3a7f4280dd78e794ac1e9983b6d1b585039f300d4c294adfaadac8702L441

[2020-12-28 20:01] lalo opened #2748 "[java] generate docs for java bindings"
https://vowpalwabbit.org/docs/

just like c++ and python

[2020-12-31 19:12] lalo opened #2755 "python test fails but only sometimes"
https://github.com/VowpalWabbit/vowpal_wabbit/blob/f4e6b0fc0a53952fa079e5909240a4c188db3681/python/tests/test_pyvw.py#L210

test is missing finish_example since we're using parse but also for some reason finish_example only works if you call into learn before and not by itself

also not sure why CI doesn't fail, but it consistently fails when I run it on my env

[2021-01-02 02:56] pardont commented on #2284
Is there any update?

[2021-01-04 19:37] #2731 closed

[2021-01-05 15:43] pardont opened #2760 "Build wm_clr Win32 failed"
#### Describe the bug
I want to build a x86 platform c# library,  but failed when building wm_clr:
3>vw_core.lib(io_adapter.obj) : error LNK2001: unresolved external symbol _gzseek@12
3>vw_core.lib(io_adapter.obj) : error LNK2001: unresolved external symbol _gzopen@8
3>vw_core.lib(io_adapter.obj) : error LNK2001: unresolved external symbol _gzclose@4
3>vw_core.lib(io_adapter.obj) : error LNK2001:

[2021-01-06 09:45] pardont opened #2763 "Could not load file or assembly 'VowpalWabbit.Core.dll' or one of its dependencies."
#### Describe the bug
Run app on other pc failed:
![image](https://user-images.githubusercontent.com/2252587/103753492-0b277480-5046-11eb-8ae1-ba586a7d59cb.png)

#### To Reproduce
Steps to reproduce the behavior:
1. Create a winform .NET FX 4.5.2 project
2. install VowpalWabbit 8.9.0 nuget package
3. build project, and run it SUCCESS.
4. copy the output to other pc, and run FAILED

[2021-01-06 12:04] pardont commented on #2763
Need  Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017 and 2019 installed

[2021-01-06 12:04] #2763 closed

[2021-01-06 12:06] pardont commented on #2760
Solution: Remove ZLIB_WINAPI in preprecess

[2021-01-06 12:06] #2760 closed

[2021-01-06 14:02] pardont opened #2764 "C# binding library for linux"
Is it possible to get the C# binding library to run on Linux?  more and more c# server app run on linux now.

[2021-01-06 16:27] jackgerrits commented on #2764
The current bindings are implemented with C++/CLI and so won't work on Linux. We're planning on replatforming onto a C API and use core, but this work is a ways out.

[2021-01-07 02:05] pardont commented on #2764
Great, may be a .NET5 package?
is it possible to  support arm and win32?

[2021-01-07 15:38] lokitoth commented on #2745
Hi @kroburg, thanks for looking at this. Could you expand a bit about what broken behaviour you are observing with LBFGS? In other words: Are you seeing a crash? Is there an issue with the learning?

[2021-01-07 15:41] lalo commented on #2764
arm support is being tracked here https://github.com/VowpalWabbit/vowpal_wabbit/issues/2284

[2021-01-08 04:04] pardont commented on #2764
I built a win32 version.
1.  vw_unit_test all tests SUCCESS
2.  cs_unittest some test FAILED,  such as:

   Source: RunTests.cs line 2057
   Duration: 468 ms
  Message:
    Assert.Fail Failed。3.79971694946289 vs 3.79753088951111: delta=0.00218605995178223 > Epsilon=0.0001: Prediction mismatch
  Stack Trace:
    VWTestHelper.FuzzyEqual(Nullable`1 expected, Double actual, Double epsilon, String mess

[2021-01-08 09:02] DomChey opened #2766 "Make --plt predict probabilities?"
## Short description

At the moment VW only outputs predictions for multiclass problems when using `--oaa` or `--csoaa_ldf` options.
However, these are very slow for classification problems with a large number of classes. Fortunately, `--plt` solves this speed problem. However, `--plt` cannot output probabilities. The `--probabilities` flag is simply ignored.

Are there any plans to extend `--plt`

[2021-01-08 16:23] #2733 closed

[2021-01-11 14:46] kroburg commented on #2745
Hi!

This is a learning issue. I'm using version from year ~2015 (may be older. I don't known exact revision, it is just commited by someone many years ago) and it works great. But any "recent" version from github fails to compete and learn to significantly worse loss (on some datasets).

So after some research I found that commit from 2016. I think it should be
if (infpattern((&(*w))[W_COND]) ||

[2021-01-11 17:41] lalo opened #2773 "[ci] use ccache to speed up CI builds"
- [x] add ccache to docker image
- [ ] dockerfile specify ccache volume
- [ ] enable cache in .pipelines/
- [ ] add ccache flag to cmake

[2021-01-11 17:47] jackgerrits commented on #2773
Is the intention to cache (pipeline caching) the ccache cache between runs?

[2021-01-11 17:53] lalo commented on #2773
yes

[2021-01-14 16:32] lalo commented on #2773
just realized windows is the only slow one, this might not be required

[2021-01-14 16:32] #2773 closed

[2021-01-14 16:56] lalo opened #2777 "[sd] does not use trace_message"
https://github.com/VowpalWabbit/vowpal_wabbit/blob/0696f9dfa5a20be5a8a70e53ddb55a1f1c76fc5b/test/test-sets/ref/python_test_cb.stderr

As long as that test file does not have progressive validation info on it, there is a bug. sd should use trace_message, unless I'm missing something else.

[2021-01-14 17:13] lalo commented on #2777
https://github.com/VowpalWabbit/vowpal_wabbit/blob/0696f9dfa5a20be5a8a70e53ddb55a1f1c76fc5b/vowpalwabbit/global_data.h#L207

[2021-01-15 15:54] hans-ekbrand opened #2780 "Document how to aquire phi and theta from a LDA topic model"
### Description

For evaluating and understanding a LDA topic model, phi and theta are essential. The documentation really should
provide information on how these can be aquired.

### Link to Documentation Page

https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Latent-Dirichlet-Allocation

In addition to say something about how phi and theta can be aquired, or approximated, the documentation abou

[2021-01-18 16:20] maxpagels opened #2781 "ccb_explore_adf reports undefined holdout loss if slot-specific features are omitted and --passes > 1"
#### Describe the bug
CCB reports undefined holdout loss if slot-specific features are omitted. Datasets with the following format yields a holdout loss if using more than one pass:

[code]
Whereas datasets with no slot features or a slot namespace with no features reports `average loss = undefined (no holdout)` (note the last two rows in the example):

[code]

#### To Reproduce
Steps to reproduce

[2021-01-18 16:38] maxpagels opened #2782 "ccb_explore_adf: missing newline at end of file throws memory errors if --passes > 1"
#### Describe the bug
Leaving out a newline at the end of a ccb dataset causes memory-related errors to be thrown is passes > 1

#### To Reproduce
Steps to reproduce the behavior:

Download
[test.txt](https://github.com/VowpalWabbit/vowpal_wabbit/files/5831429/test.txt) (note that the end of the file has two line returns i.e. one blank line).

1. Run `vw --ccb_explore_adf -d test.txt --passes 10 -

[2021-01-18 16:56] olgavrou commented on #2782
Hi @maxpagels

This is not actually a bug but I am guessing the result of unclear documentation. Downloading and opening the file it looks like the last multiline example does not have an extra newline at the end. Internally VW distinguishes the end of a multiline example by creating an empty internal example where the newline is read. If that happens to coincide with the end of the file then it w

[2021-01-18 17:11] maxpagels commented on #2782
Yeah, it doesn't happen if you add an addition newline, was just wondering if this error is the most graceful way of informing the user that there is a newline missing.

[2021-01-18 17:11] maxpagels commented on #2782
Feel free to close if not considered an issue.

[2021-01-18 17:13] olgavrou commented on #2782
You raise a good point so I will leave this open a bit longer. Documentation updated

[2021-01-19 13:38] jackgerrits commented on #2782
This has been a bit of a nasty gotcha for a while. The lib really should be able to handle this but it's a bit tricky to make work with how it's structured now.

[2021-01-19 14:23] olgavrou commented on #2780
Looking

[2021-01-20 16:46] ClementeOcejo opened #2785 "Compatibility with M1 Macbook"
When I try to run an example training file through the debugger in clion, I am quickly met with EXC_ BAD_ACCESS errors from the assembly code. I assume this is because of the different chip architecture but am unsure how to get around this, since the library seems to run fine when I am not debugging I figure there must be a way.
Thanks!

[2021-01-20 17:31] ClementeOcejo commented on #2785
I recloned the library with new dependencies installed and now when I attempt to build I get this:
`ld: warning: ignoring file /usr/local/lib/libboost_program_options-mt.dylib, building for macOS-arm64 but attempting to link with file built for macOS-x86_64
Undefined symbols for architecture arm64:
  "boost::program_options::validators::check_first_occurrence(boost::any const&)", referenced from:

[2021-01-20 17:44] lalo commented on #2785
how are you installing boost? thanks for iterating on the arm build.

This also might be helpful for boost: https://github.com/faithfracture/Apple-Boost-BuildScript

related: https://github.com/VowpalWabbit/vowpal_wabbit/issues/2284

[2021-01-20 17:52] ClementeOcejo commented on #2785
installing boost using home-brew. It looks like the build fails like that when It try to build the library using the CLion built for the new m1 chip but when I use the intel-based CLion under Rosetta it allows me to build but does not allow me to use the debugger successfully.

[2021-01-20 18:17] ClementeOcejo commented on #2785
Update: I was able to build on the ARM CLIon by specifying CMAKE_OSX_ARCHITECTURES=x86_64. When I use the debugger now I reach here:
<img width="1096" alt="image" src="https://user-images.githubusercontent.com/35938632/105217412-d32e3000-5b21-11eb-873c-cdfaaacf4dd8.png">

[2021-01-21 14:35] ataymano opened #2786 "VowpalWabbit.data-science or module inside pyvw?"
## Short description
There is some python code which helps to run vw binary in a way that is friendly for hyper parameter sweeps.
Example: https://github.com/VowpalWabbit/data-science/blob/master/from_mwt_ds/DataScience/getting_started.ipynb
Originally it supposed to be released as separate pip package, but maybe we should do it as module inside existing pyvw package.

Cons:
- it is in some sense

[2021-01-21 14:38] jackgerrits commented on #2786
If we were to bundle it in pyvw then I feel like we would be forced to package the VW binary into the python package. This is probably not the worst thing, and people have asked for it before.

[2021-01-21 14:49] olgavrou commented on #2576
Resolved via #2741

[2021-01-21 14:50] #2576 closed

[2021-01-21 16:51] jackgerrits commented on #2766
@mwydmuch do you think it is feasible for plt to output predictions?

[2021-01-21 16:54] lalo commented on #2786
not sure why we need to package the binary here, best case scenario:

- this api (should) work with pyvw
- allow overriding using api with a custom binary set by a local location (user provides that binary)

the tooling that uses vw binary can live in its own submodule pyvw.binary_adapter or whatever, the rest of the code that is agnostic can be its own submodule

if we fix this:
https://github.co

[2021-01-22 12:06] ARDivekar opened #2787 "How to get the list of labels from pyvw"
### Description

I am not sure from the pyvw docs how to get the list of labels available so far, e.g. for oaa

E.g.

[code]

How do I get back the number of classes?

### Link to Documentation Page

https://vowpalwabbit.org/docs/vowpal_wabbit/python/latest/vowpalwabbit.pyvw.html#vowpalwabbit.pyvw.vw

[2021-01-25 11:11] olgavrou commented on #2427
You can find a new reduction, CBZO, in master, a contextual-bandit style algorithm meant for multi-dimensional, continuous action space, [here](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Contextual-Bandit-Zeroth-Order-Optimization).

Closing this issue, but feel free to open again if you have more questions.

[2021-01-25 11:11] #2427 closed

[2021-01-25 19:48] peterychang commented on #2787
Unfortunately since the usage of labels are reduction-dependent there is no way to get this information from VW directly.

The only way I can see to accomplish what you're looking for is to keep track of it yourself

[code]

[2021-01-26 08:03] duburcqa commented on #2427
Thank you for keeping up on this issue, I found another way to solve my problem since then but I'm happy to see it is moving forward.

[2021-01-27 20:37] peterychang opened #2790 "CB ADF (usually?) requires quadratics to work properly"
Per Paul,
if you use `|shared`  and `|action`  you need -q sa, in general you might need `-q ::` ... we could warn if there are no quadratics specified, that's probably a bug

If this is the case, we should add a warning in CB ADF if no quadratics are defined. Documentation should also highlight this requirement

[2021-01-27 21:35] #2755 closed

[2021-01-28 19:42] JohnLangford commented on #2745
This was part of work to abstract the definition of the weights so that both dense and sparse weights could be supported (via a flag).  Hence, any change in what happens (even an order of operations change) is an error.   Apparently, we did not have the right tests in place here.

[2021-01-29 18:58] Bernardo-Favoreto commented on #2790
Could you elaborate on that? A few days ago, I noticed that depending on the namespace interactions, some contextual features did not make a difference.

Specifically: I have three namespaces (User, Location, and Action). If I run `--cb_explore_adf` with `-q UA,` changing the location value in the context doesn't change the model's prediction.

Is this what you mean? For CB ADF we _**always**_ hav

[2021-01-30 14:35] ataymano opened #2793 "Actions without features are not supported."
#### Describe the bug
Actions without features are not supported.

#### To Reproduce
Example:
1) {"_label_cost":-1.0,"_label_probability":0.5,"_label_Action":1,"_labelIndex":0,"Timestamp":"2020-12-08T23:25:52.1830000Z","Version":"1","event_id":"12","a":[0,1],"c":{"A":{"F":1.0},"_multi":[{"B": {"f":1}},{"B": {"f":1}}]},"p":[0.5,0.5],"VWState":{"m":"N/A"},"_original_label_cost":-0.0}

Command line:

[2021-02-01 15:40] peterychang commented on #2790
@pmineiro can you help explain how this works?

[2021-02-01 15:53] pmineiro commented on #2790
When you have an example like this:

    shared |u x
     |a foo
     |a bar

the estimated value for the first action is `w_foo  + w_x` and the estimated value for the second action is `w_bar + w_x`, where `w_zzz` is the weight for feature `zzz`.  the `w_x` term is the same for both actions so it doesn't affect the order (which action is better) so it doesn't affect the decision.  so essentially

[2021-02-02 16:15] kumpera opened #2795 "Try fast_float as it might possibly speedup parsing"
this implementation claims to be significantly faster than stdlib's, so it's worth trying it https://github.com/fastfloat/fast_float/

[2021-02-02 18:07] Bernardo-Favoreto commented on #2790
That made it very clear to me, thanks, @pmineiro.

However, I still have a question: changing **the value** of attribute `x` shouldn't change the model's prediction? Because by the logic presented, when we use interaction, we are creating new features (in this case `w_{foo,x}` and `w_{bar,x}`), but that still doesn't seem to account for the attribute `x` values.

I am asking this question because

[2021-02-02 18:36] mwydmuch commented on #2766
Hi, @jackgerrits, I'm sorry for the late reply, I was quite busy the last two weeks. Indeed it would be useful to have an output with probabilities for PLT. It's not feasible to output probabilities for all labels using PLT, it only makes sense to output some of them (top k or above-given threshold). This requires an output type that supports pairs like (index, probability). I see that there is no

[2021-02-03 03:24] jackgerrits commented on #2766
Thanks for the response @mwydmuch, not a problem at all!

You're right, there isn't an index,prob pair prediction. Seems reasonable to add. If you do the C++ portion I am happy to finish off the Python bits. Please feel free to reach out to me if you need any assistance.

[2021-02-03 09:38] hs2361 commented on #1895
Hello, I'm new to the VW codebase! @jackgerrits could you help me with navigating to which file(s) would need to be changed to support this feature?

[2021-02-04 18:45] #2781 closed

[2021-02-04 18:46] olgavrou commented on #2781
Hi @maxpagels this should be resolved now in master, but please feel free to open again if the problem persists.

[2021-02-05 19:30] pavithraks opened #2799 "Brew install still stuck with vw 8.8.1"
Installing using homebrew results in installing vw 8.8.1.

Environment
Mac OS

[2021-02-10 15:03] lalo commented on #2799
Not sure what is the process to update homebrew, but we probably need to update this file: https://github.com/Homebrew/homebrew-core/blob/master/Formula/vowpal-wabbit.rb

[2021-02-10 17:06] lalo commented on #2799
related: https://github.com/Homebrew/homebrew-core/pull/70445

[2021-02-10 18:05] lalo commented on #2799
blocked until this PR CI's passes: https://github.com/VowpalWabbit/vowpal_wabbit/pull/2802

[2021-02-11 20:20] lalo opened #2803 "--nn, --audit and flatbuffers generate different results"
https://github.com/VowpalWabbit/vowpal_wabbit/blob/cb37da4553c475b4d563e22f43194adc8f127cd2/test/run_tests.py#L540

The test is currently disabled, but it is failing. Not sure if --audit is a factor here or --nn, it could have a more minimal repro.

Previous diff failure before being disabled:

[code]

[2021-02-11 20:21] lalo commented on #2803
Test got added bc of this issue: https://github.com/VowpalWabbit/vowpal_wabbit/issues/2799

[2021-02-11 20:22] lalo commented on #2799
The fix is in master, but to get homebrew to update we need to release the next version 8.9.2

[2021-02-11 20:26] lalo opened #2804 "[test] skipped flatbuffer test are shown as success in the printout"
The test that are skipped using the python runtest driver are shown as successfully ran when they should be reported as skipped.

See any of the skipped tests and verify with the output: https://github.com/VowpalWabbit/vowpal_wabbit/blob/cb37da4553c475b4d563e22f43194adc8f127cd2/test/run_tests.py#L521

[2021-02-11 20:39] olgavrou commented on #2804
Yeah that means that they ran but as they were, not with the flatbuffer conversion.

Might be better to say they are not converted instead of saying that they are skipped (or actually skip them)

[2021-02-11 20:41] lalo commented on #2804
True, but right now its a bit misleading since they are ran under the 'flatbuffer' job

[2021-02-11 21:00] jackgerrits opened #2805 "Proposal: Extended metrics"
When consuming VW DSJSON logs there are extra pieces of information/metrics that would be useful to be able to extract from the data. We need to add support for these new metrics as well as getting at existing metrics in a machine readable format.

## Extended required metrics
[code]

These required metrics are considerably more involved than what the VW parser has done up until this point. There

[2021-02-12 23:38] aburkov opened #2808 "vw-hyperopt wan't update since 2015"
Hey. The vw-hyperopt tool for hyperparameter tuning wasn't updated since 2015. The API of VW changed significantly since then. Also, vw-hyperopt didn't support some options since the beginning (the author said he will support them). Do you plan to update this script? If not, what tool do you recommend instead?

[2021-02-13 16:15] jackgerrits commented on #2808
Which file are you referring to? `vw-hyperopt.py` or `vw-hypersearch`?

[2021-02-13 23:30] aburkov commented on #2808
vw-hyperopt.py

[2021-02-16 15:24] jackgerrits commented on #2808
This file has been worked on by several contributors: https://github.com/VowpalWabbit/vowpal_wabbit/commits/master/utl/vw-hyperopt.py, and it seems this file is still in use by people.

Contributions are certainly welcome. If you have specific bugs or feature requests for the file then I would suggest creating an issue for them so that they can be picked up.

[2021-02-16 16:42] kumpera commented on #2805
I think we should investigate using standard telemetry tools and formats instead of creating something entirely new.

[2021-02-16 17:03] jackgerrits commented on #2805
Sounds good to me. Do you have anything in mind?

[2021-02-16 17:04] kumpera commented on #2805
Yes, we should look into open telemetry.

[2021-02-16 17:05] kumpera commented on #2805
or https://opentracing.io/ as well

[2021-02-16 17:05] jackgerrits commented on #2805
This isn't really telemetry though. It is characteristics of the dataset for the most part

[2021-02-16 17:08] kumpera commented on #2805
if the goal is to produce some summary statistics of the dataset, this can be done outside of VW and I don't get why we're adding this at all.

[2021-02-16 17:10] jackgerrits commented on #2805
This is certainly a good point and something I agree with.

There are a couple which depend on the results of the learning process. However, these could be calculated with the prediction files as well.

I would strongly be in favour of an external tool for fulfilling this requirement too then

[2021-02-17 04:19] aburkov opened #2809 "make vw-hyperopt.py use multiprocessing"
## Short description
vw-hyperopt.py (https://github.com/VowpalWabbit/vowpal_wabbit/commits/master/utl/vw-hyperopt.py) is a useful script for tuning hyperparameters of VW, however, it doesn't exploit multicore CPU. Hyperparameter tuning is thus sequential and long and not parallel and fast. Assuming that VW only uses two cores, the remaining cores of modern machines (having up to 48 CPU cores) are

[2021-02-17 16:23] rajan-chari commented on #2805
Doing two passes on the input file doubles the throughput cost.   There are situations where this is a very high cost to pay.

[2021-02-18 16:13] dvbarnes opened #2810 "Search Neighbor Features locking/crashing vw process"
#### Describe the bug
I'm attempting to do learning 2 search with vw on verion 8.9.0 but when I pass in the --search_neighbor_features as the parameter it locks the process and after a bit runs out of memory.

#### To Reproduce
Steps to reproduce the behavior:

`vw -k -c -d train.vw --passes 2 --search_rollout ref --search_alpha 1e-8 --search_task sequence --search 5 --holdout_off -f model.vw --se

[2021-02-18 16:41] jackgerrits commented on #2808
Closing this general issue. Please feel free to create specific issues around bugs or feature requests.

[2021-02-18 16:41] #2808 closed

[2021-02-19 00:00] jackgerrits commented on #2810
Looks like this option wasn't covered by tests and was broken in a refactor. I've added a test to cover it and fixed it in this PR #2811. If you're able to build from source let me know if this unblocks you. Otherwise it will be in the next release.

[2021-02-19 14:33] #2810 closed

[2021-02-19 15:08] rushter opened #2812 "Python and audit support"
Hi,

Is there a way to get audit results as a string?

I found the `audit_example` method, but it outputs to stdout.

[code]

I see that audit is mentioned in Python docstrings, but there are no examples on how to retrieve results.

[code]

[2021-02-19 15:11] jackgerrits commented on #2812
There is not currently a way to do this unfortunately. However, it is clearly highly valuable and something I think we should do.

[2021-02-19 15:27] lalo commented on #2812
This could be achievable with the following bits:

- Avoiding the std:cout https://github.com/VowpalWabbit/vowpal_wabbit/blob/4ccc76046256d3c8e7bd46900139c9d472a28967/vowpalwabbit/gd.cc#L305
- instantiating vw with enable_logging=True
https://github.com/VowpalWabbit/vowpal_wabbit/blob/4ccc76046256d3c8e7bd46900139c9d472a28967/python/tests/test_cb.py#L41

- and then calling  `output = vw.get_log()`

[2021-02-21 03:55] aburkov opened #2814 "Add support of AWS Linux and CentOS"
## Short description

There's no information on how to install VW on AWS Linux (or CentOS). I tried to build from the source by looking at the instructions for Ubuntu but had no luck.

## **How this suggestion will help you/others**

Me and others working on AWS Linux and Red Hat/CentOS will be able to use VW.

[2021-02-21 04:00] aburkov commented on #2814
By the way, the documentation is very misleading. The webpage https://vowpalwabbit.org/ says that one has to run "pip install vowpalwabbit" to install VW, however it only installs Python bindings. At the same time, the page https://vowpalwabbit.org/tutorials/getting_started.html shows how to work on the command line with the vw command, which is not installed with "pip install vowpalwabbit".

VW i

[2021-02-21 04:42] jackgerrits commented on #2814
There are many different linux distros out there so it is difficult to provide instructions for each. Since Ubuntu is (probably) the most common, most projects will at least provide instructions for that with the assumption that users of other distros can adapt the instructions to the relevant package managers etc. What was the specific issue you had when building for CentOS? We can certainly help

[2021-02-22 04:16] aburkov commented on #2814
I have got multiple issues on CentOS, the critical of which (that made me abandon it) were the inability of the vw make script to detect boost and flatbuffers even if those were installed. I managed to remove the dependency on flatbuffers by using -DBUILD_FLATBUFFERS=OFF but the boost problem could not be fixed. You should try it yourself by renting a free instance of AWS Linux VM. I understand th

[2021-02-22 11:25] olgavrou commented on #2814
Hello @aburkov you are right, have amended the documentation under `Building for linux`

From the `vowpal_wabbit` directory you need to do:
[code]

on the cmake step you should define any other flags that you might want

[2021-02-24 17:35] lalo commented on #2814
It is also a good idea to refer to the scripts that build VW on CI.

script:
https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/.scripts/linux/build-minimal.sh

on top of this image with the depedencies:
https://github.com/VowpalWabbit/docker-images/blob/master/vowpal_wabbit/ubuntu1604-build.Dockerfile

[2021-02-25 14:41] kumpera commented on #2667
The C++ prediction path is not thread safe, which makes the lock required.
VW supports creating multiple instances that share the same model using the C++ function `seed_vw_model`.
It doesn't look to be available from the Java API and that is the simplest way to make predictions support multi-threading while being memory efficient.

[2021-02-25 14:44] kumpera commented on #2667
@onlynishant would that work for you?

[2021-02-25 16:23] jackgerrits commented on #2814
It's also worth mentioning that the Java Jars are produced on a CentOS image: https://github.com/VowpalWabbit/docker-images/blob/master/vowpal_wabbit/centos7_6_1810-build.Dockerfile

Build script here: https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/.scripts/linux/build-static-java.sh

[2021-02-25 18:51] olgavrou commented on #1527
This is now fixed in master, interactions are generated as the namespaces are found instead of pre-calculated. I'll remove the wiki comment

[2021-02-27 12:34] JuiP opened #2820 "AttributeError: 'vw' object has no attribute 'finished'"
#### Traceback:
[code]

#### How to Reproduce
I am not sure what caused it, it just happened once. I tried investigating the cause; looked at the source code [here](https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/python/vowpalwabbit/pyvw.py) but no progress.
My guess is it is a race condition.

#### Environment
Version of vw: `8.9.0`
I was using the python wrapper in jupyter notebook (OS

[2021-02-27 16:53] jackgerrits commented on #2820
What code did you run to cause this?

[2021-02-27 17:37] JuiP commented on #2820
This is the code I was repeatedly executing with different exploration algorithms and parameters. Like I mentioned before, it happened once and on re-executing it worked with no tracebacks.

[code]

[2021-02-28 14:59] HarshKhilawala commented on #1893
@jackgerrits  I did the steps as mentioned by you but still unable

[2021-02-28 15:19] jackgerrits commented on #1893
peterychang provided updated instructions. Did you run `pip install vowpalwabbit`?

[2021-02-28 15:20] HarshKhilawala commented on #1893
Yes @jackgerrits , I am using Python 3.9. I am also followed your above steps for boost library

[2021-02-28 15:22] jackgerrits commented on #1893
3.9 is not available as a binary package at the moment. Please see here for the Python support status: https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Python#support I'd recommend using Python 3.8 until that is ready

[2021-02-28 17:45] HarshKhilawala commented on #1893
@jackgerrits Thank you very much! It seems to be installed perfectly

[2021-03-02 14:10] ataymano commented on #2820
Got similar message on this yesterday. Way to reproduce.
[code]
Can take a look.

[2021-03-02 15:54] ataymano commented on #2820
It is clear why is it reproduced in my case, but the one reported seems different.
As long as init is successful, finished should be there.
If you see it next time, can you please:
1) check if it is reproducible without run_simulation / plot_ctr and with constructor only. By the way, is the snippet you shared wrapped into try/except?
2) maybe double check if there is any pyvw object construction/c

[2021-03-03 16:22] Venousek opened #2832 "Predictions not returned on-line"
#### Describe the bug
In latest version 8.9.x of VW, there seems to be a problem with returning predictions for every line of input as they come. Instead, a "batch" of predictions is returned to a file or `/dev/stdout` after undefined number of lines are written to input or when VW process is closed. Seems like some buffer is not flushed with every prediction. Version 8.8.1 does not have this prob

[2021-03-03 16:28] jackgerrits commented on #2832
Hi @Venousek, thanks for the detailed report! I will look into this and get back to you.

[2021-03-03 16:49] ataymano opened #2834 "--coin --synthcover is not working"
#### Describe the bug
--cb_explore_adf --coin --synthcover is not working in many simple cases

#### To Reproduce
[code]

#### Expected behavior
We should learn that action 0 is the best and average loss should converge to 3 (or 3 - exploration)

#### Observed Behavior
--coin --synthcover stuck in [0.5, 0.5] state
![image](https://user-images.githubusercontent.com/41013086/109837463-3330ef80-7c13-

[2021-03-03 17:02] JuiP commented on #2820
Hi @ataymano, thanks for looking at this issue.
Checked #2826, I think that should probably fix this.

Well that's queer but unfortunately, can't reproduce; tried multiple times. And no it is not wrapped into try/except block.

There is a call to `vw.parse(to_vw_example_format(context, actions, (action, cost, prob)),pyvw.vw.lContextualBandit)` inside run_simulation.

[2021-03-03 17:42] jackgerrits commented on #2832
I ran some tests using both 8.8.1 and 8.9.1. I modified your code slightly to run without ipython:

[code]

How many times did you run the test? Running this script several times, I notice inconsistency with both versions of VW. **This is expected** because there is no form of synchronization occurring and different hardware, environments, OSs etc will produce different results. After the stdin fl

[2021-03-03 18:02] lalo commented on #2799
https://github.com/Homebrew/homebrew-core/pull/72409

[2021-03-03 19:35] Venousek commented on #2832
Thank you very much, @jackgerrits, for looking into this so quickly. I have probably better example of code that runs just fine with 8.8.1, but hangs with 8.9.1. To be run similarly as described above, but just with `python3`:

[code]
Even if I put a long sleep of 5s between flush and printing the stdout, with VW 8.9.1, this code hangs on waiting for the stdout and does nothing, while 8.8.1 works

[2021-03-03 19:44] jackgerrits commented on #2832
Okay, so for 8.8.1 we get the output and on 8.9.1 it hangs. Thanks for the repro, I'll look into it further.

It seems as though the parser is not giving through to the learner as we don't get any of the other progress print outs yet.

[2021-03-03 20:19] jackgerrits commented on #2832
I've put out a fix in #2835. It seems as though when I changed the stdin reading code to go from a file descriptor to using `std::cin` that it stopped returning data from the read as early as `read` did. This could be a buffering thing or maybe it treats newlines as a opportunity to return data.

Thanks again for the great repro's. Made this significantly easier to find.

If you're able to try out

[2021-03-03 20:21] lalo commented on #2785
Related https://github.com/Homebrew/homebrew-core/pull/72409

[2021-03-03 20:25] lalo commented on #2799
Homebrew should now have 8.8.2 VW version available. See previous comment and reference to the homebrew PR.

[2021-03-03 20:25] #2799 closed

[2021-03-03 20:46] Venousek commented on #2832
@jackgerrits It works for me! Thank you very much for this rapid fix, Should I close this issue now? I will use your branch for now and will be looking forward to next release. Cheers!

[2021-03-03 20:48] jackgerrits commented on #2832
Ah very glad to hear it works. Don't worry, I'll close this issue when I get this PR merged.

[2021-03-03 22:14] jackgerrits commented on #2820
Closing this as the PR is now merged.

[2021-03-03 22:14] #2820 closed

[2021-03-04 03:33] #2205 closed

[2021-03-04 14:21] #2832 closed

[2021-03-04 16:59] pmineiro commented on #2834
synthcover has a hyperparameter which is the "reward difference allowed to
explore over".  this might need a setting different than default for this
problem.  let's discuss.

On Wed, Mar 3, 2021 at 8:49 AM Alexey Taymanov <notifications@github.com>
wrote:

[2021-03-08 16:41] dvbarnes opened #2839 "Automate Generation and Release of VW NuGets"
## Short description
Hey all, I noticed VW 8.9.2 was released. Any way we can get the c# bindings nuget package published as well?

## **How this suggestion will help you/others**

## **Possible solution/implementation details**
As a larger item of feedback, any way you all can point me to the build/release process? I'd be happy to work in nuget package pack/publish as part of a PR

## **Example/l

[2021-03-10 16:01] ataymano opened #2852 "--invert_hash is not working with --ftrl/--pistol/--coin"
#### Describe the bug
invert_hash is not working with learners from ftrl.cc (--ftrl / --pistol / --coin)

#### To Reproduce
[code]

#### Expected behavior
model.txt:
[code]

#### Observed Behavior
model.txt:
[code]

#### Environment
current master on mac os x

[2021-03-12 19:39] jackgerrits commented on #1766
This was merged some time ago here: https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/vowpalwabbit/slim

[2021-03-12 19:39] #1766 closed

[2021-03-12 19:41] jackgerrits commented on #2019
v_hashmap is gone already

[2021-03-12 19:41] #2019 closed

[2021-03-12 19:46] olgavrou commented on #2052
Done in #2807

[2021-03-12 19:46] #2052 closed

[2021-03-12 19:55] olgavrou commented on #2066
Considered, implementing logging with spdlog

[2021-03-12 19:55] #2066 closed

[2021-03-12 22:22] ataymano opened #2866 "--ccb_explore_adf cannot be initialized with cb model"
#### Describe the bug
CB model is not readable by CCB  vw instance (while it should in order to treat CB data as single-slot CCB)

#### To Reproduce
vw --cb_explore_adf --save_resume -d cb_data.txt -f cb_model.bin
vw --ccb_explore_adf --save_resume -d ccb_data.txt -i cb_model.bin

#### Expected behavior
Both executions should be succesfull

#### Observed Behavior
Error: Model content is corrupted,

[2021-03-15 15:04] lokitoth commented on #2839
Yes, I am working on putting together a better triggering/automation system for it (stay tuned). For now, just triggered a build manually and will push the package when it is available.

[2021-03-15 15:19] #1937 closed

[2021-03-15 15:30] lalo opened #2867 "Options currently not tested by RunTests"
Generated with a script based on only the RunTests that are purely VW (skipping all bash tests). It also skips tests [195, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 258, 269]. So there might be some inaccuracies in this list.

Elements with default values are on top, see below for ones without.

- [ ] OjaNewton, sketch_size, BUT has default value
- [ ] OjaNewton, epoch_size, BUT has d

[2021-03-15 17:38] lokitoth commented on #2839
@dvbarnes: The 8.9.2 package is now available at: https://www.nuget.org/packages/VowpalWabbit/8.9.2

I will keep the issue open to track the remaining work to automate this process.

[2021-03-16 19:30] zwd-ms commented on #1972
Updated [java wiki page](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Java) to add build and usage examples.

[2021-03-16 19:30] #1972 closed

[2021-03-16 20:42] lalo commented on #2867
Reduction stacks exercised by RunTests:
[code]

[2021-03-17 06:09] marco-rossi29 opened #2880 "VW validator link"
VW validator link in VW format page (https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Input-format) broken

[2021-03-17 12:21] jackgerrits commented on #1991
Closed by #2870

[2021-03-17 12:21] #1991 closed

[2021-03-17 12:26] jackgerrits commented on #2880
John is rebuilding his server so it should be back when that's back up.

[2021-03-17 13:16] olgavrou commented on #2793
@ataymano running this I get a critical error and failure `cb_adf: At least one action must be provided for an example to be valid.` from both cases.

[2021-03-17 13:19] ataymano commented on #2793
oh sorry, I believe description is incorrect. Let me fix it.

[2021-03-17 13:30] ataymano commented on #2793
Looks like severity of error message has changed - previously I was able to get N invalid prediction if I am providing N examples - and now I am seeing only one prediction before failure.

Here is updated bug description (dwould love to keep previous version for record in case if we want to track changes in error messages):

#### Describe the bug
Actions without non-zero features are not supported

[2021-03-17 17:40] #2803 closed

[2021-03-17 19:46] #2787 closed

[2021-03-18 01:03] #2852 closed

[2021-03-18 11:50] #2804 closed

[2021-03-18 13:09] jackgerrits commented on #2566
https://stackoverflow.com/a/685422

[2021-03-18 13:29] maxpagels opened #2891 "CATs fails to converge with fixed context and simple convex reward function"
#### Describe the bug
Not sure if this is a bug, so feel free to close if not. I am running a simple test of CATs, with min_value 0 and max_value 1, where the cost is defined as follows:

- if the prediction is exactly 0.0, 0 cost
- if it is not, return the absolute distance/difference to 0.0 squared as cost

The context is fixed for each round, so I would assume this to be a pretty simple learnin

[2021-03-18 15:09] olgavrou commented on #2891
@maxpagels from your notebook the example that is being used to predict/learn has no features, i.e. the context is empty. Is this intentional?

[2021-03-18 16:16] maxpagels commented on #2891
@olgavrou no features is intentional, the same non-convergence happens if you add a constant feature

[2021-03-18 17:08] olgavrou commented on #2891
@maxpagels it actually looks like `0.2` is already too big a bandwidth for this use case. I ran the following (building off of your notebook)

[code]

and it looks like a bandwidth of `0.1` with number of arguments around `16` or `32` does well, also maybe a bandwidth of `0.05` could also work, although it looks like `0.1` does better for a wider range of `--cats` args. It also looks like `--cats

[2021-03-18 17:54] maxpagels commented on #2891
I'm attaching a horribly changed version of your notebook, with the same setup as before but with range [0, 100] and 50 as the point of zero cost. So the best reward would be 0. The gridsearch, again, nowhere near optimal results in any configuration. Some even start off OK and get way worse. I guess by adding even more combinations I'd get closer, but I would have thought that even with some init

[2021-03-19 18:49] #2777 closed

[2021-03-19 21:00] olgavrou commented on #2891
@maxpagels it looks like there might be a bug in the tree. I have created a draft PR #2900 with which I tested an adaptation of your latest notebook (attached). Let me know if you try the branch out. Still need to test it more.
[cats_predict_50.ipynb.zip](https://github.com/VowpalWabbit/vowpal_wabbit/files/6173996/cats_predict_50.ipynb.zip)

[2021-03-19 22:03] maxpagels commented on #2891
Used the wheel built for your PR branch. Generally seems much better, but if I remove `coin`, which should then default to GD, I get weird spikes. Happens regardless of if I set the exploration rate a bit higher. Screenshots attached.

<img width="937" alt="Screenshot 2021-03-20 at 0 00 04" src="https://user-images.githubusercontent.com/3581525/111846395-652e9b00-890f-11eb-81d3-3291cf04cf6e.png">

[2021-03-22 19:58] jackgerrits commented on #2880
It's back online

[2021-03-22 19:58] #2880 closed

[2021-03-23 17:16] olgavrou commented on #2891
@maxpagels cats was mainly developed and tested using `coin` but `gd` should also work by adjusting the different learning rates (i.e. `learning_rate`, `power_t`, ..). That been said it might make sense to make `coin` the default with `cats` with the ability to switch on `gd` or something else if needed.

[2021-03-23 23:15] #2866 closed

[2021-03-24 15:04] maxpagels commented on #2891
Making it the default makes sense to me at least.

[2021-03-25 03:12] manzilz opened #2907 "Contextual Memory Tree fails to load models"
#### Describe the bug
A clear and concise description of what the bug is.

Contextual memory tree not working. I think the error is because some parts of VW have been changed API and this part of the code hasn't seen the reflection yet.

#### To Reproduce
Steps to reproduce the behavior:

Just following instructions on `https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/demo/memory_tree/REA

[2021-03-25 12:00] jackgerrits commented on #2907
Will take a look

[2021-03-25 13:58] jackgerrits commented on #2907
The demo incorrectly used integers for boolean flag command line parameters. This caused issues with reading the datafile positional parameter.

I fixed the usage of the flags and explicitly used `-d` for the datafile in PR #2908

[2021-03-25 16:50] manzilz commented on #2907
Is the eval working with this fix? for example is this line https://github.com/VowpalWabbit/vowpal_wabbit/blob/20cff7b0e581f279d1942c37075708007a475235/demo/memory_tree/aloi_script.py#L47 executing?

[2021-03-25 18:53] jackgerrits commented on #2907
There are some issues there too - investigating

[2021-03-26 13:57] #2907 closed

[2021-03-30 13:42] #2834 closed

[2021-04-01 20:42] zwd-ms commented on #2719
Hey Jack,

Do we have a way to reproduce crash?

Thanks,
Wangda

From: Jack ***@***.***>
Sent: Thursday, April 1, 2021 11:47
To: ***@***.***>
Cc: Wangda ***@***.***>; ***@***.***>
Subject: Re: [VowpalWabbit/vowpal_wabbit] Crash on bad input data (#2719)

Assigned #2719<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FVowpalWabbit%2Fvowpal_wabbit%2Fissues%2F2719&data=0

[2021-04-01 22:12] jackgerrits commented on #2681
The multiclass usage is the proper usage of prediction.

However, the multilabels usage is a hack for search. It allows the search reduction to dig out which labels need more queries as can be seen in the commit which added it https://github.com/VowpalWabbit/vowpal_wabbit/commit/989cde76a683e7d0102e42544137a43107653b09.

It is not clear to me the best way to fix this. Either we can enrich the pred

[2021-04-01 22:40] jackgerrits commented on #2333
Closing this as it looks like #2368 resolved this.

[2021-04-01 22:40] #2333 closed

[2021-04-01 22:42] jackgerrits commented on #2449
Closing this as both the DFtoVW module is separated out and the pandas dep is done in the same way as sklearn

[2021-04-01 22:42] #2449 closed

[2021-04-01 22:43] jackgerrits commented on #2072
Closing this issue as it is unactionable as it is currently. However, reduction of platform checks is ongoing and things like the io lib refactor is an example of this.

[2021-04-01 22:43] #2072 closed

[2021-04-02 00:42] jackgerrits commented on #2284
ARM should be supported in 8.10.0, let me know if you have any issues.

[2021-04-02 00:42] #2284 closed

[2021-04-02 00:45] jackgerrits commented on #2785
There is an ARM bottle for the newly released 8.10.0. You should now be able to simply `brew install vowpal-wabbit`.

I suspect the issues you were seeing were due to mismatch between attempting to build for ARM but referencing x86 dependencies. Perhaps the brew packages for boost weren't quite ready at the time?

Please let me know and reopen if you are still having trouble on the M1 macbook

[2021-04-02 00:45] #2785 closed

[2021-04-02 15:53] #2486 closed

[2021-04-02 15:53] zwd-ms commented on #2719
Tested with vw 8.10.0 on WSL. I don't see crash, but apparently there's no appropriate warning message.

[code]

The command-line doesn't look right. Changing `--dsjson` to `--json` and removing `--cb_explore_adf` to match the data file:

[code]

@jackgerrits could you confirm what the desired behavior/message should be in this case?

[2021-04-02 17:20] jackgerrits commented on #2719
In this case the desired behavior is that we don't crash as was reported in the original bug. If we simply do not process any events, then I think this is okay? I am not sure if we have enough information to provide a relevant warning here

[2021-04-02 17:35] zwd-ms commented on #2719
ok then, confirmed no crash.

[2021-04-02 17:35] #2719 closed

[2021-04-02 18:46] #1846 closed

[2021-04-05 14:19] maxpagels commented on #2222
Working on OPE docs for vowpalwabbit.org (https://github.com/VowpalWabbit/vowpalwabbit.github.io/pull/193), and I don't know the state of this issue, but allowing learning using some cb_type and reporting loss using something else like IPS would be very useful. I suspect many people just gridsearch everything and wonder why it isn't working.

[2021-04-06 12:46] #2782 closed

[2021-04-06 12:46] #2793 closed

[2021-04-07 18:39] jackgerrits commented on #1881
Tested using the run_tests.py driver on Windows this test passes as of 8.10. Closing this issue.

[2021-04-07 18:39] #1881 closed

[2021-04-08 20:00] jackgerrits commented on #1824
Closing this as it is unfortunately unactionable without a repro.

[2021-04-08 20:02] #1565 closed

[2021-04-08 20:04] jackgerrits commented on #1536
Closing issue as we do not have enough info to repro. Please reopen if this is still an issue you would like help with!

[2021-04-08 20:04] #1536 closed

[2021-04-08 20:05] jackgerrits commented on #2527
Closing as duplicate of  #1978

[2021-04-08 20:05] #2527 closed

[2021-04-08 20:07] jackgerrits commented on #1469
Closing as it seems like the asks where implemented.

[2021-04-08 20:07] #1469 closed

[2021-04-09 00:38] sumpfork commented on #2427
Hi @olgavrou, do you know whether there are plans to extend the implementation of CBZO in VW to the multidimensional action case?

[2021-04-09 10:29] #1714 closed

[2021-04-09 13:07] jackgerrits commented on #2681
It uses the `scalar` from a predict call internally, so I don't think it fits with reduction_features

[2021-04-09 13:08] jackgerrits opened #2933 "Expose active_multiclass in C# bindings"
cs_active uses this prediction type which needs to be exposed in C#

[2021-04-09 13:09] jackgerrits opened #2934 "Expose active_multiclass in Java bindings"
cs_active uses this prediction type which needs to be exposed in Java

[2021-04-13 07:16] daraya123 opened #2943 "A SquareCB model fails to perform well after saving & loading"
#### Describe the bug
When a trained SquareCB model is saved and loaded again, it does not perform like before.
Using pyvw, I trained the model in this way :
`vw = pyvw.vw("--cb_explore_adf -q UA -f squarecb.model --save_resume --quiet --squarecb")`
and loaded the model:
`vw_loaded=pyvw.vw('--cb_explore_adf -q UA -i squarecb.model')`
then the model looks like doing a random exploration.
I had no p

[2021-04-14 12:59] #2674 closed

[2021-04-14 16:51] olgavrou opened #2944 "Better warning when cache file is of a different vw version"
## Short description

VW does not accept cache files that were created with a different vw version e.g. a cache file that was created with vw version 8.9 will not be accepted when running vw version 8.10. However the error message is not very helpful when this happens:

`WARNING: cache file is ignored as it's made with less bit precision than required!`

version cache compatibility is checked [her

[2021-04-14 18:14] rushter opened #2945 "VW daemon randomly stops working as expected"
I'm trying to use VW in a daemon mode, but for some reason, it stops parsing the same examples after some time.

It happens every `--num_children`. I guess there is a bug somewhere since I close the socket every time I send an example.

Here is a Python PoC:
[code]

[code]

[code]

[code]

MacOs, 8.10.1 (git commit: df1eaa1)

[2021-04-14 20:04] jackgerrits commented on #2945
Can you provide either the input model file or how it was trained?

[2021-04-14 20:18] rushter commented on #2945
`data.json`:

[code]
[code]

[2021-04-14 20:36] rushter commented on #2945
Netcat works fine, I guess the problem is in my code.

Bash:
`for i in {1..20}; do echo '{"a":1}\n' | netcat localhost 26542; done`.

[2021-04-14 20:54] jackgerrits commented on #2945
It looks like it is failing to actually interpret the input as JSON. If you change it over to using VW test format how does it behave?

[2021-04-14 21:04] rushter commented on #2945
Yes, but it works for the first `n` examples, breaks for the next `n` examples, and resumes working again. Pretty weird.

I removed the `--json` flag and it works as expected when using the classic vw format:

```payload = b'| a:2\n'```

It could be related to https://github.com/VowpalWabbit/vowpal_wabbit/issues/2509

[2021-04-14 21:05] jackgerrits commented on #2945
It certainly does seem related. It's very weird I agree. Maybe @olgavrou has an idea what's going on?

[2021-04-14 21:23] jackgerrits commented on #2945
it looks like when the socket is closed it causes `reset_source` to be called. This function wasn't enlightened to if json was being used.

Are you able to try out the changes in this PR #2947 to see if it resolves the issue?

[2021-04-14 21:43] rushter commented on #2945
Thanks! That solves the issue.

[2021-04-14 21:49] jackgerrits commented on #2945
Great! I'll close this issue then when the PR is merged

[2021-04-15 09:57] #2945 closed

[2021-04-15 16:02] olgavrou commented on #2427
@ajay0 do you have any plans regarding extension of cbzo :top: ?

[2021-04-16 16:08] #1588 closed

[2021-04-19 16:54] #2681 closed

[2021-04-20 10:27] olgavrou commented on #2891
re-opening as we are checking some more things with Akshay

[2021-04-21 07:33] ihoment-lys commented on #1764
brew install boost-python3

[2021-04-23 14:35] bassmang commented on #2943
Issue also present for --regcb

[2021-04-23 19:01] jackgerrits commented on #2933
Closed by #2958

[2021-04-23 19:01] #2933 closed

[2021-04-23 19:01] jackgerrits commented on #2934
Closed in error

[2021-04-26 18:58] cirvine-MSFT opened #2962 "FloatToState handler should handle UINT/INT types"
#### Describe the bug
When pdrop in DSJSON is set to 0 e.g. `"pdrop":0` the following error is logged in VW output.

[Error] vw example #0(parse_example_json.h:1697): JSON parser error at 428: Terminate parsing due to Handler error.. Handler: Unexpected token: uint (0)State: FloatToFloatState
[Critical] vw (parse_example_json.h:1697): JSON parser error at 428: Terminate parsing due to Handler erro

[2021-04-26 19:07] jackgerrits opened #2963 "Proposal: Interaction expansion as a reduction"
# Interaction expansion as a reduction

## Update 1

Moving the expansion to a reduction directly above GD allows us to ignore whether multi or single ex is used. It additionally allows all upper reductions to use a wildcard as well if they wish to. This simplifies things like CCB.

## Update 2

Compat removal is not needed.

## Motivation

After an example is parsed, in the `setup_example` routin

[2021-04-26 19:56] olgavrou commented on #2963
Wildcard interactions are calculated based on globally seen interactions not only due to `multi_ex` but so that they don't have to be calculated again for every parsed (multi)example (since files tend to have examples with same or similar namespaces), so it sort of serves as a global cache.

This looks like a tradeoff between potentially looping over un-needed interactions on every learn/predict c

[2021-04-26 20:50] jackgerrits commented on #2963
See #update.

[2021-05-04 12:41] #2962 closed

[2021-05-05 19:44] ataymano opened #2983 "Output label next to prediction"
## Short description
If we want to use predicted probabilities for counterfactual evaluations, we need to zip them with input data, which is not always straightforward.
Outputting labels next to prediction would be very helpful here.

## **Possible solution/implementation details**
Example for CB/CCB:
Most naive approach is to introduce new flag - i.e. --predictions_with_labels which turns output

[2021-05-06 18:57] peterychang opened #2985 "Convert VW::io::logger into instanced objects"
The VW logger was implemented with static objects and free functions and a global logging state due to time constraints. (eg: setting the logger pattern on the stdout logger will also affect the stderr logger)

These should be converted into instanced objects that maintain their own loggers and state. Ideally the loggers would be passed into functions that need them, but that method can be extreme

[2021-05-08 14:24] sisco0 opened #2989 "Arm Compiler 6 support for Arm Cortex-M processors"
In the past, https://github.com/VowpalWabbit/vowpal_wabbit/issues/2284 got support for compiling _Vowpal Wabbit_ under _Macbook M1_. My team has leveraged to compile _Vowpal Wabbit_ under _Ubuntu 20.04_ (Arm) without any problem using `gcc-9` and `clang-10`.

## Short description

I want to compile the current _Vowpal Wabbit_ solution by using [_Arm Compiler 6_](https://developer.arm.com/tools-and

[2021-05-10 15:21] jackgerrits opened #2990 "Proposal: Full name interactions"
# Full name interactions

## Motivation

There is inconsistency with the way data is represented, and the interface through which interactions can be specified. This hurts the intuitive usage of interactions.

Currently, an interaction can be specified as an entire token in data but when it come to specifying which feature groups to interact only the first character can be used to specify interact

[2021-05-12 11:35] ajay0 commented on #2427
@olgavrou @sumpfork sorry for the delayed response, I somehow missed the @ mention.

We _do_ have plans to extend to the multidimensional case. We are also planning to include a `tree` policy (in addition to the `constant` and `linear` policy currently available) where the action to take is decided by a decision-tree-like model instead of a a linear model. Unfortunately I don't have a timeline to

[2021-05-12 20:13] jackgerrits commented on #2943
This should now be resolved by #2988

[2021-05-12 20:13] #2943 closed

[2021-05-13 13:52] kumpera commented on #2764
Linux support will come through bindings using dotnet core.
The tracking issue is the following: https://github.com/VowpalWabbit/vowpal_wabbit/issues/2272

[2021-05-13 15:46] kumpera commented on #2989
Hi @sisco0,

Could you share what issues did you ran when you tried to compile/run VW with arm's compiler?
I assume your situation precludes you from using stock clang.

Your point about extending vw-slim with learning capabilities is a big discussion point in the team. We'd like to first explore disabling VW's dependencies and features so see how small we can make it before diving into extending

[2021-05-13 16:57] sisco0 commented on #2989
Thank you for your reply @kumpera.

In order for my attempt to be replicated, the next line must be set under the `vowpalwabbit/slim/CMakeLists.txt` configuration file:

[code]

This line was needed because it seems that there is some dependency during the build process for this directory. Hopefully we should modify some link targets as well, but we are not currently arriving to this point.

After

[2021-05-13 17:09] #2745 closed

[2021-05-13 18:26] bassmang commented on #2745
Hi @kroburg we've just fixed this bug, please let us know if you are still running into a similar issue.

[2021-05-14 19:12] rangi513 commented on #2222
Should this feature request also include the ability to use the IPS/DR estimator for evaluating the average PV loss of a policy (offline) using `--cb_type mtr` in the learning algorithm?

[2021-05-18 23:32] arielf opened #3003 "build fails following instructions on Ubuntu 20.04: Imported target "Boost::program_options" includes non-existent path "/include""
#### Describe the bug

Following the build instructions on Linux:

- https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Dependencies#ubuntu
- https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Building#linux

[code]

Results in an error from cmake.

#### To Reproduce

Follow build instructions (see previous section). Result:

[code]

#### Expected behavior

Build works, cmake step completes withou

[2021-05-18 23:53] jackgerrits commented on #3003
Very weird, it seems kind of like a broken environment.

- Are there any environment variables that may be impacting the cmake search process?
- Was boost installed through apt? Can you try uninstalling it and reinstalling it?

[code]

This sort of looks like a variable was expanded to an empty string when it was meant to be an absolute path. Can you run
[code]
 and post the output?

[2021-05-19 20:30] arielf commented on #3003
Thanks for looking at this.

I can find anything in my env that's out of the ordinary.
I'm running a vanilla 20.04 Ubuntu (with many packages installed).

[code]

Attaching the output from `cmake .. --trace-expand` (almost 10000 lines) next.

[2021-05-19 20:32] arielf commented on #3003
[cmake-trace.txt](https://github.com/VowpalWabbit/vowpal_wabbit/files/6511401/cmake-trace.txt)

[2021-05-21 15:15] jackgerrits commented on #3003
I see that Boost is installed to `/lib/x86_64-linux-gnu/cmake/Boost-1.71.0/` rather than `/usr/lib/x86_64-linux-gnu/cmake/Boost-1.71.0/`.

In your trace file I see:
[code]
Results in `_BOOST_INCLUDEDIR` being set to `/include/`

Compared to when I run trace on my Ubuntu 20.04 system:
[code]

Results in  `_BOOST_INCLUDEDIR` being set to `/usr/include/`

At least on my machine the Boost headers do i

[2021-05-21 21:02] m6gmjmjwfw opened #3018 "Option to Install v141 toolset no longer exists"
Microsoft no longer offers the ability to install the Visual Studio 2017 toolset.  VowpalWabbit does not compile under 2019.

[2021-05-21 21:08] jackgerrits commented on #3018
The checked in solution file is out dated as you've pointed out. The current recommended way to build on Windows is using CMake (the docs need to be updated to reflect this). By using CMake you can target whichever toolchain you wish. We use v142  for our Windows CI builds and testing.

For some docs on how to do this you can see:
1. [Dependencies using vcpkg](https://github.com/VowpalWabbit/vowpa

[2021-05-22 00:35] m6gmjmjwfw commented on #3018
Thanks I'll try that

On 2021-05-21 16:08, Jack Gerrits notifications-at-github.com
|Github/Example Allow| wrote:

Links:
------
[1]
https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Dependencies#experimental-cmake-build-system-on-windows
[2]
https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Building#command-line
[3]
https://github.com/VowpalWabbit/vowpal_wabbit/issues/3018#issuecomment-84626055

[2021-05-22 02:46] arielf commented on #3003
Thanks Jack,

This is very helpful.

On this system `/lib` is actually a symlink to `usr/lib`:

[code]
And this seems to be pretty standard on Ubuntu:

https://askubuntu.com/questions/980871/are-bin-lib-sbin-symlinks-into-usr-in-ubuntu

So the `cmake/Boost*` dir is the same via both paths:
[code]
But this symlinking doesn't include `/include`.

Maybe relevant: in all the `/etc/ld.so.conf.d/*` file

[2021-05-27 17:14] jackgerrits commented on #3018
Closing this as it seems resolved, if you have further issues please open a new issue with specific details of the failure/issue faced.

[2021-05-27 17:14] #3018 closed

[2021-05-27 17:15] jackgerrits commented on #3003
Looks like this is resolved, feel free to open another if you have further problems @arielf

[2021-05-27 17:15] #3003 closed

[2021-06-03 14:50] rajan-chari commented on #2241
I don't have context on this anymore.  There were some issues fixed around importance weight when working on cats.  Closing it.

[2021-06-03 14:50] #2241 closed

[2021-06-03 19:35] lokitoth commented on #2200
This was fixed a while back by #2088, this bug was filed against old code, it seems.

[2021-06-03 19:35] #2200 closed

[2021-06-07 13:39] lokitoth opened #3043 "Label accessors for CCB, Slates, and Continuous Actions missing in pyvw"
The pylibvw example object has accessors for most labels ~and predictions~, except for the newest ones: CCB, Slates and Continuous Actions. We should ensure these are implemented ~, and backfill [`pyvw.get_prediction()`]~(https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/python/vowpalwabbit/pyvw.py#L211) with them.

[2021-06-07 13:47] jackgerrits commented on #3043
Predictions are implemented:
- CCB, Slates - [decision_scores](https://github.com/VowpalWabbit/vowpal_wabbit/blob/8786469ee0b062c6c443c10b86c6c9cedd6e47b7/python/vowpalwabbit/pyvw.py#L256)
- Continuous actions - [PDF and PDF_Value](https://github.com/VowpalWabbit/vowpal_wabbit/blob/8786469ee0b062c6c443c10b86c6c9cedd6e47b7/python/vowpalwabbit/pyvw.py#L257)

Labels are indeed missing

[2021-06-07 13:54] jackgerrits commented on #2329
Closing this as pre-commit hooks are not on the roadmap CI-wise

[2021-06-07 13:54] #2329 closed

[2021-06-08 18:27] ataymano commented on #2076
Looks like we have regressions on this.

[2021-06-08 19:00] marco-rossi29 commented on #2076
Let's get to it. How can I help?

Do you know at what point the regression was introduced?

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Alexey Taymanov ***@***.***>
Sent: Tuesday, June 8, 2021 2:27:16 PM
To: VowpalWabbit/vowpal_wabbit ***@***.***>
Cc: Marco Rossi ***@***.***>; Author ***@***.***>
Subject: Re: [VowpalWabbit/vowpal_wabbit] VW average loss i

[2021-06-08 19:12] ataymano commented on #2076
There are actually 2 problems here:
1) regression which is causing us ignoring pdrop
2) bug in initializing original weights - they are initialized as (1 - pdrop) while it should be 1/(1-pdrop)
Will send PR shortly and we can discuss there.

[2021-06-08 20:22] marco-rossi29 commented on #2076
Sounds great. Thank you for tackle it immediately!

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Alexey Taymanov ***@***.***>
Sent: Tuesday, June 8, 2021 3:13:11 PM
To: VowpalWabbit/vowpal_wabbit ***@***.***>
Cc: Marco Rossi ***@***.***>; Author ***@***.***>
Subject: Re: [VowpalWabbit/vowpal_wabbit] VW average loss is wrong when pdrop is used (#2076)

Ther

[2021-06-09 14:41] ataymano opened #3054 "Learning on data with pdrop is wrong"
#### Describe the bug
cb.json
{"_label_cost":-1.0,"_label_probability":0.5,"_label_Action":2,"_labelIndex":1,"a":[2,1],"c":{"shared":{"f":"1"},"_multi":[{"action":{"f":"1"}},{"action":{"f":"2"}}]},"p":[0.5,0.5]}

cb_pdrop.json
`{"_label_cost":-1.0,"_label_probability":0.5,"_label_Action":2,"_labelIndex":1,"a":[2,1],"c":{"shared":{"f":"1"},"_multi":[{"action":{"f":"1"}},{"action":{"f":"2"}}]},"p":[

[2021-06-09 14:48] ataymano opened #3056 "Fix reported loss for data with pdrop"
#### Describe the bug
#2076 was created by mistake and expected behavior should be exactly opposite.
pdrop should be taken into account for both numerator and denumerator for reported loss, so average loss for training on:
- some cb example
- the same cb example with different pdrop
should be the same

[2021-06-09 22:09] #3054 closed

[2021-06-11 08:44] alxbar75 opened #3062 "Python: Saving and Loading a Vowpal Wabbit model with --safe_resume and --cb_explore failes with RuntimeError: Model content is corrupted"
#### Describe the bug
When initializing a vw model with --cb_explore and --save_resume, an Exception is thrown when saving with  `vw.save("model.vw")` (only happens if previously `vw.learn("")` was called).

Not using "--save_resume" prevents the Exception but model performance is not as good.

#### To Reproduce
Code example to reproduce:

[code]

#### Expected behavior
No Exception, model loaded

[2021-06-11 12:12] jackgerrits commented on #3062
Hi @alxbar75, I was able to repro this on 8.10.1 also. But it seems as though this is fixed on master. Can you please try installing a wheel file produced by CI as a workaround until the next VW version is released? See here for instructions: https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Python#bleeding-edge-latest-commit-on-master

[2021-06-11 12:24] alxbar75 commented on #3062
Hi @jackgerrits, I will give it a shot.

[2021-06-11 12:36] jackgerrits commented on #3062
So I realized now why that helps. There's a new codepath in master (Where cb is converted to cb_adf) that means this bug isn't hit, but still exists there.

I've found the bug and will put out a fix soon. I'll patch 8.10 and release 8.10.2 with the fix also.

[2021-06-11 14:41] #3062 closed

[2021-06-11 15:34] Sandy4321 opened #3065 "Quantile Loss for support vector regression or at least for usual linear regression"
### Description

it is not clear how to find explanations/ example how to code in python
Quantile Loss for support vector regression or at least for usual linear regression

### Link to Documentation Page

https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Loss-functions

[2021-06-11 15:39] jackgerrits commented on #3062
@alxbar75 8.10.2 has now been released on PyPi

[2021-06-11 17:03] lokitoth commented on #3065
Hi @Sandy4321 thanks for filing this issue. Could you expand a bit on what you would like to see here? Is the question about how to enable "quantile" loss when using VW in Python, or is it something else?

[2021-06-13 16:20] Sandy4321 commented on #3065
I ask description and more details
 how to do
Quantile Loss for support vector regression or at least for usual linear regression

or at least code example for python pls

[2021-06-14 06:30] alxbar75 commented on #3062
Tested vowpalwabbit-8.10.2. Model converged with "--save_resume" properly.

[2021-06-15 16:47] lokitoth commented on #3065
Sorry, I am still a bit confused about the specific question here. Switching the loss function to "quantile" (or others) in Python is done the same way as setting any [command-line argument](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Command-Line-Arguments#update-rule-options):

[code]

Is the question about better documentation for how to configure various vw options in Python? Or is it a

[2021-06-15 18:35] Sandy4321 commented on #3065
yes the  question is
 better documentation for how to configure various vw options in Python?

it would be great to have full example from start to end for python quantile regression
for example given such data file
python code to use is :.....

predicted data is:....

mean absolute error is  ....
confidence intervals are: ....

since always something is not clear  in general form description

som

[2021-06-15 18:41] Sandy4321 commented on #3065
I was able to find very limited examples in python
this one
https://vowpalwabbit.org/tutorials/python_first_steps.html
is very concise

[2021-06-15 18:44] Sandy4321 commented on #3065
at least something like this , but for quantile regression

https://pypi.org/project/vowpalwabbit/

[2021-06-15 18:48] Sandy4321 commented on #3065
by the way
in this link
https://pypi.org/project/vowpalwabbit/
there is line at the bottom
python/examples : example python code and jupyter notebooks to demonstrate functionality

may you clarify how to find this folder?

[2021-06-15 18:52] Sandy4321 commented on #3065
all right
I found this folder

then it would be great to share example for quantile regression in this style
https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/python/examples/poisson_regression.ipynb

[2021-06-15 18:53] lalo commented on #3065
Yes, it is not entirely clear. It is referring to the dirs on that same location as that text file in the repository, which makes it extra confusing on that pypy.org documentation. For a slightly better experience, you can see those docs over here: https://github.com/VowpalWabbit/vowpal_wabbit/tree/master/python

The readme is in vowpal_wabbit/python/README.rst
https://github.com/VowpalWabbit/vowp

[2021-06-15 18:57] lalo commented on #3065
We also have these autogen docs:
https://vowpalwabbit.org/docs/
https://vowpalwabbit.org/docs/vowpal_wabbit/python/latest/

[2021-06-15 19:15] Sandy4321 commented on #551
@pmineiro and @zjf

5 years ago you wanted to do this important change , do you have some progress?

@zjf Hey you seem to understand the VW internals pretty well. You could take a crack at copying lrq.cc to lrqfa.cc and then making the changes, then send me a pull request and we can iterate on this. I still don't understand (statistically speaking) why this leads to better performance but it looks

[2021-06-15 19:18] lokitoth commented on #3065
In the SciKit case, the configuration options are passed in the same way as for pyvw:

So, if you want to have VWClassifier run with quantile loss, you would specify:

[code]

Here is a [deep link for VWClassifier](https://vowpalwabbit.org/docs/vowpal_wabbit/python/latest/vowpalwabbit.sklearn.html#vowpalwabbit.sklearn_vw.VWClassifier)and one for [VWRegressor](https://vowpalwabbit.org/docs/vowpal_w

[2021-06-15 19:44] Sandy4321 commented on #3065
in this link
https://vowpalwabbit.org/docs/vowpal_wabbit/python/latest/vowpalwabbit.sklearn.html#vowpalwabbit.sklearn_vw.VWRegressor
I see no example
though  there is example for classifier

[2021-06-15 19:49] Sandy4321 commented on #3065
Would a general tutorial about how to pass options to VW when using in Python in pyvw / scikit modes make sense here @Sandy4321, or alternatively a tutorial that explores the various things you can do in the context of regression specifically?

yes would be great to have one

for example in
https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/python/tests/test_sklearn_vw.py

    def test_lrq(

[2021-06-15 19:59] Sandy4321 commented on #3065
even stackoverflow can not help
https://stackoverflow.com/questions/44298795/one-time-vs-iteration-model-in-vowpal-wabbit-with-lrq-option

[2021-06-16 14:55] lokitoth commented on #551
@Sandy4321, per the issue history, it looks like support for it was merged in #573

[2021-06-16 14:55] lokitoth commented on #3065
The command-line options documentation is fairly sparse here, but here are some links to get you started with LRQ:

* There is a [pretty detailed answer on SO](https://stackoverflow.com/questions/39040721/vowpal-wabbit-low-rank-matrix-factorization)
* [Example](https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/demo/movielens/README.md) in the VW repo

Putting together a more coherent list

[2021-06-16 21:54] Sandy4321 commented on #3065
great thanks for help

then  lrq='um4' is not related to loss_function='quantile'
in
model = VW(convert_to_vw=False, lrq='um4', lrqdropout=True, loss_function='quantile')

my guess also
regularization or L1 or L2 may be added to this line
model = VW(convert_to_vw=False, lrq='um4', lrqdropout=True, loss_function='quantile') ?
similar to
--l2 use  in

``
@${VW} --loss_function quantile -l 0.1 -b 24

[2021-06-18 15:29] olgavrou opened #3081 "get_weight_from_name python wrapper to work with chain hash"
Continuation of issue #2474 as discussed [here](https://github.com/VowpalWabbit/vowpal_wabbit/pull/3042#discussion_r646617256)

[2021-06-18 16:09] lokitoth opened #3082 "Improve documentation about configuring Python models"
VW is configured, in most use cases, through a command-line-like syntax. This enables easy transition between using it in tool form to library form, but is more complex in Python.

The Python bindings translate inputs to constructors of the model classes (pyvw.vw, VWClassifier, VWRegressor, VWMultiClassifier, etc.) into the command-line options, but there is no clear documentation or tutorial abou

[2021-06-18 16:14] lokitoth opened #3083 "Examples in the VW Repo are not easy to find"
There are a number of examples in various folders of the VW repo:
* https://github.com/VowpalWabbit/vowpal_wabbit/tree/master/R/examples
* https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/c_test/sample.c
* https://github.com/VowpalWabbit/vowpal_wabbit/tree/master/cs/examples/simulator
* https://github.com/VowpalWabbit/vowpal_wabbit/tree/master/demo
* https://github.com/VowpalWabbit/vowpal

[2021-06-18 17:27] jackgerrits opened #3084 "Remove `feature_self_interactions` compile time value and adopt behavior of `feature_self_interactions=true`"
#### Feature to be deprecated

_**To be clear up front - this represents zero change in VW unless the user has actively modified the source in this specific location.**_

Remove the compile time constant `feature_self_interactions` and adopt the default behavior defined by its value being `true`. This constant has been set to true at compile time since it was [added in 2015](https://github.com/Vow

[2021-06-21 19:11] jackgerrits commented on #3083
There are several locations for examples:
1. https://github.com/VowpalWabbit/jupyter-notebooks
    - These have been setup so they can be run on Binder, but with the Python wheels this should now be much easier
2. https://github.com/VowpalWabbit/vowpalwabbit.github.io/tree/source/_tutorials
    - This is actually kind of manual conversion of the contents of 1. These need to be kept in sync, but th

[2021-06-22 13:58] bassmang opened #3088 "Shared features not working with --csoaa_ldf flag"
#### Describe the bug
Using the `--csoaa_ldf m` flag on a dataset with shared features produces buggy output.

#### To Reproduce
Steps to reproduce the behavior:
1. Used this specific command line: `./vw --csoaa_ldf m ex.txt`
2. Used `ex.txt`:
[code]

#### Expected behavior
Num weight bits = 18

[2021-06-23 14:41] Sandy4321 commented on #3082
great idea

[2021-06-23 15:17] jackgerrits opened #3091 "Remove `ezexample`"
#### Feature to be deprecated

I propose to remove the `ezexample` class and [header](https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/vowpalwabbit/ezexample.h).

`ezexample` was [added in 2014](https://github.com/VowpalWabbit/vowpal_wabbit/commit/e9ff4d9904bfca3261b59bbfc5414944bcdebc74). It is a builder abstraction for examples and also a re-export of the VW api (setup, predict/learn, f

[2021-06-23 17:13] lokitoth commented on #3091
The implementation for it could be turned into a gist for those interested in continuing to use it, since it is a fair ways more readable than the push_back APIs.

[2021-06-24 13:29] #2805 closed

[2021-06-24 16:41] jackgerrits commented on #3084
This was discussed in the triage meeting and has been approved for the stated timeline in the issue.

[2021-06-24 21:46] kumpera commented on #3091
Good point @lokitoth. As long as it's reachable by the release info, we're golden.

[2021-06-25 15:01] olgavrou opened #3102 "Consistent basic library usage for vw/example"
Not sure if this should be marked as a deprecation or not

This simple example given by @jackgerrits (and after some discussion with) in the gitter channel for basic usage of vw with C++ reveals inconsistencies in our api

[code]

Sometimes you need to use free functions and pass in vw, sometimes you need to use member functions. The member functions also have inconsistencies, sometimes you pass a

[2021-06-25 17:55] rangi513 opened #3106 "Can't do multiple passes with --cb_adf format"
I am attempting to do multiple passes over a cb_adf dataset to hopefully improve the quality of my q function. I'm thinking of trying an offline bandit using the whole dataset and multiple passes instead of online with iterative updates. However, I get the following error after the first pass:
[code]
Here is my command and dataset for reproducibility:
`vw --cb_adf --passes 2 -c -d train.dat`

trai

[2021-06-28 12:10] adr-arroyo opened #3107 "Online Learning through Python Interface"
Hi!

### Description and documentation links

I am looking for ways to solve an *__Online Learning__* problem in *python* (with timeseries data although it is not relevant here). I saw in the [features](https://vowpalwabbit.org/features.html) and [documentation](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Examples) that VowpalWabbit supports the OnlineLearning paradigm. However, I do not un

[2021-06-28 15:32] olgavrou opened #3108 "cb to cb_adf with multiple costs"
From a gitter question

#### To Reproduce
input
[code]

command line:
`vw -d sampledata.vw --cb 4`

#### Expected behavior
VW can learn from this data as it does if we default to old cb behavior via adding the `--cb_force_legacy` flag

#### Observed Behavior
`[critical] vw (cb_adf.cc:279): cb_adf: badly formatted example, only one cost can be known.`

#### Environment
latest master (8.11)
Ubuntu 1

[2021-06-28 15:38] lalo commented on #3108
Looks like we have to transform the incoming label, split it and create a label with a single cost: right here https://github.com/VowpalWabbit/vowpal_wabbit/blob/26442043bfc5606062b7bc1533d2ad14ffc42d62/vowpalwabbit/cb_to_cb_adf.cc#L39

[2021-06-29 07:40] dminovski0 opened #3112 "Implicit feedback for recommendation systems"
### Description

Also, the ALS algorithm doesn't use feature columns, and it works mostly with user-item matrices. Can Vowpal Wabbit add content filtering to the collaborative filtering methods? Or use a hybrid model? There are some mentions of recommendations with the Contextual Bandits, but it's not much.

### Link to Documentation Page

There is an example with explicit feedback:
https://github

[2021-06-29 12:30] jackgerrits commented on #3107
Hi @adr-arroyo , the Python basics tutorial is doing online learning. The defaults of VW are generally geared towards an online learning setting.

https://vowpalwabbit.org/tutorials/python_first_steps.html

Let me know if that is not quite what you're after.

[2021-06-29 17:45] kumpera commented on #3108
That would be an invalid conversion because it would not allow the underlying model to learn from multiple costs

[2021-06-29 17:48] lalo commented on #3108
wiki mentions the following:
https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Logged-Contextual-Bandit-Example

The other costs for the other actions are not used for training, but are used only for evaluating the cost of the predictions made by the predictor, instead of the cost estimates from the ips, dm or dr methods. This can also be used with examples where only a subset of actions can be c

[2021-06-30 07:01] adr-arroyo commented on #3107
Hi,

thanks for the reply. I didn't know that the default's way of working was already online learning. Sorry for the misunderstanding!

I think that I can follow the examples to start working 👍

BR

[2021-06-30 07:02] adr-arroyo commented on #3107
Just one more question.

is the sklearn interface in `from vowpalwabbit import sklearn_vw` also configured towards online learning?

Thank you!

[2021-06-30 15:19] jackgerrits commented on #3107
I'm not super familiar with the sklearn interface, but I would say it is probably more geared towards batch learning as that is what sklearn leans towards.

[2021-06-30 20:27] JohnLangford commented on #3112
The standard way to deal with implicit feedback is to define some function which translates this into a reward value, and then apply the contextual bandit learning routines.  There are more esoteric things that we are thinking about (https://arxiv.org/abs/2106.04887), but those do not yet have an implementation.

One trickiness with 'content filtering' in general is that the exploration algorithms

[2021-07-01 00:47] MochizukiShinichi commented on #1306
@maxpagels Pardon me if I'm not getting it from the conversation. How did you finally address you questions of formatting for taking out a no longer eligible action?

[2021-07-01 07:23] adr-arroyo commented on #3107
Hi,

Actually I ran some tests and yeah, the sklearn interface does not work very well when in `online learning` processing. On the contrary, VowpalWabbit seems to work pretty well (and fast):

![image](https://user-images.githubusercontent.com/11291505/124083283-f86a8700-da4d-11eb-9eef-e3046bebfe1c.png)

Thank you for the help!

[2021-07-01 07:23] #3107 closed

[2021-07-01 12:45] SergeevVladislav opened #3116 "CATS does not save the model"
[003-Cats-Tutorial.ipynb.zip](https://github.com/VowpalWabbit/vowpal_wabbit/files/6748242/003-Cats-Tutorial.ipynb.zip)
I train a multi-armed bandit model for a continuous action space.
After training, I save the model, but after unloading the model, the progress is not saved or the model does not predict on old examples.

`
vw.predict(ex)
`
Result:
`
(13.885909080505371, 0.40625)
`

[code]
Result:

[2021-07-01 20:35] jackgerrits opened #3118 "Drop support for Python 2.7 and Python 3.5"
#### Feature to be deprecated

The current level of support of Python 2.7 and Python 3.5.

#### Value proposition

These versions are no longer supported, even for security releases. To reduce maintenance burden we will be dropping them. Additionally, this will allow us to use Python 3.6 features such as type hints and f-strings.

#### User impact and mitigation
Any user depending on Python 2.7 or

[2021-07-02 20:05] bassmang opened #3122 "Ensure ec_is_example_header is being used correctly in search.cc"
The ec_is_example_header function exists in the CB, CCB, and COST_SENSTIVE namespaces. This has recently caused a bug (in a different file) because the CB version was being called automatically when COST_SENSITIVE was required instead. search.cc only uses the COST_SENSITIVE version at the moment, which may or may not be the intended behavior.

[2021-07-02 20:09] lokitoth commented on #3122
This is likely involved with #2175

[2021-07-05 11:54] kdubovikov commented on #3116
We have noticed that it works ok from command line, but Python wrapper is not working properly

[2021-07-06 13:53] jackgerrits commented on #3091
Discussed in open source meeting, this is going to be removed and the implementation will be available as a gist/example in wiki.

[2021-07-06 17:55] lokitoth commented on #3106
What is happening under the hood to cause this behaviour:

1. During construction of the second example's `multi_ex`, the newline at the very end gets processed as an "endpass" in [`try_complete_multi_ex`](https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/vowpalwabbit/learner.cc#L183).
2. This does not terminate constructing the multi_ex in [`complete_multi_ex`](https://github.com/VowpalWa

[2021-07-06 17:57] etiennekintzler opened #3125 "`VWRegressor` should have default parameter `convert_labels` set to False"
The class `VWRegressor`  has default parameter `convert_labels=False` since it directly inherits from class `VW`.  It should not be the case in a regression setting, as it will convert all continuous data to `{-1, 1}` (from my understanding of the function `tovw`  [in module sklearn_vw](https://github.com/VowpalWabbit/vowpal_wabbit/blob/b06f7678846a4f6ab44bdf6379286b48d0ab7f2d/python/vowpalwabbit/

[2021-07-06 18:03] jackgerrits commented on #3125
Interesting, it seems like surprising behavior for the regressor to be setting the labels to these discrete values. Additionally. it seems from the comment it was not intended to be used in a regression setting from the beginning anyway.

I am in favour of making this change.

[2021-07-06 18:19] etiennekintzler opened #3127 "[python] Improve modules names and import"
**Module names**
The modules names could be improved:
- `DFtoVW` is not [pep8 compliant](https://www.python.org/dev/peps/pep-0008/#package-and-module-names):

It could be renamed `dftovw` (baring pep8 it's really rare to see capitals in module name).
- `sklearn_vw` could just be renamed `sklearn`: the "_vw" doesn't bring much information as one already knows he's using vowpalwabbit package.

A sim

[2021-07-06 18:22] jackgerrits commented on #3116
Just a quick correction - this doesn't load a model - it will try and read a single data file "mab.model" and fail since it doesn't exist.
[code]

You had it right the second time:
[code]

However, the error message you got implies it failed to parse the given example. The string passed to predict is:
[code]

The reason this fails is because when you save a VW model it only saves things related to

[2021-07-06 18:27] jackgerrits commented on #3127
I've been thinking for a while the import situation is unnecessarily confusing. We'd love your help improving this! :)

Is it possible to do all of these things in a way that doesn't break people but allows us to warn/deprecate on the old way?

[2021-07-06 18:34] jackgerrits commented on #3112
I'm going to close this as it seems as though John has answered it. Please feel free to reopen or open a new issue if you need. Thanks!

[2021-07-06 18:34] #3112 closed

[2021-07-06 19:03] dminovski0 commented on #3112
@JohnLangford @jackgerrits Thanks.

[2021-07-06 20:00] #3108 closed

[2021-07-06 20:03] lalo commented on #3106
This also affects cb_to_cb_adf, since --cb will now use cb_adf code path

[2021-07-07 02:03] #3088 closed

[2021-07-07 07:17] kdubovikov commented on #3116
@jackgerrits we have tried `model = pyvw.vw("-i mab.model --json")` and models give out predictions correctly, **but** it still fails to save the model correctly. After we load the model, `vw.get_sum_loss()` returns 0, which we suppose is not the expected behaviour when you try to continue learning using an existing model

@SergeevVladislav can provide an example for that if needed

[2021-07-07 12:59] jackgerrits commented on #3116
Currently the model does not save most of the progressive validation metrics which `sum_loss` is one of them. So it essentially is just the sum loss for this "session", and does not carry over when a model is loaded. This should have no effect on the predictions or training though.

However, it's important that if you wish to continue training a model after loading it you need to save it with the

[2021-07-07 14:09] SergeevVladislav commented on #3116
Thank you for answering!
But when I initialize the model with the flag `--save_resume` in
[code]
and after loading model `model = pyvw.vw("-i aws.model --json --save_resume")` I get different predictions:

[code]

Result: `(0.0012017497792840004, 0.0062500000931322575)`, but expected `(19.793601989746094, 0.40625)`

[2021-07-07 15:05] jackgerrits commented on #3116
Interesting, okay there may be a bug in save/load for continuous actions. @bassmang is going to take a look

[2021-07-07 15:14] #2891 closed

[2021-07-07 15:20] jackgerrits opened #3133 "Search examples under library fail to run"
Both test_search and search_generate segfault when running

[2021-07-07 17:36] #3125 closed

[2021-07-08 12:42] lokitoth commented on #3106
There is another bug I discovered which is exposed after fixing this one. It can be reproed without --passes: With the same data file, run without `--passes 2` but with `-c`. This will work the first time, and importantly it will result in:

[code]

But the second time running with the cache (it reads examples from cache), it will run with:

[code]

Not sure what is happening, on the second run.

[2021-07-08 14:57] lokitoth opened #3139 "CB labels do not get cached correctly"
CB labels do not get cached correctly: Their weight does not get cached.

data.txt:
[code]

When running VW without the cache (or the when generating the cache) the output is:
[code]
Command line = `--cb_adf -c -k -d data.txt`

When running VW the second time (with cache):
[code]
Command line = `--cb_adf -c -d data.txt`

[2021-07-08 14:57] lokitoth commented on #3106
Created #3139 to track above; it is blocking verifying that this bug is fixed, so going to finish addressing that one first.

[2021-07-08 14:59] lokitoth commented on #3139
This has probably been going on a while, but since we were not using the weight field (until recently with #3055), it was invisible.

[2021-07-08 16:52] lalo commented on #3139
https://github.com/VowpalWabbit/vowpal_wabbit/blob/fb1a5a817634f445e3d73c0a5550d5449060129a/vowpalwabbit/cache.cc#L67

[2021-07-08 18:55] lokitoth commented on #3133
Again? We fixed similar issues previously - goes to show that your comment about needing to run the samples in CI is a good one.

[2021-07-09 19:12] #3139 closed

[2021-07-09 22:26] #3106 closed

[2021-07-13 14:15] xinofekuator opened #3148 "Options in vw readable file are different than the ones provided"
#### Describe the bug
The options found in vw readable file are different than the ones provided to vw from command line.

#### To Reproduce
Steps to reproduce the behavior:
1. Create file `train.dat` with following content:
[code]
2. Run this command: `vw -d train.dat -f /tmp/model.vw --cb 2 --invert_hash /tmp/bandit_readable.txt --epsilon 0.1 --l1 1e-05 --l2 1e-05 --save_resume`
3. Run same  com

[2021-07-13 15:57] jackgerrits commented on #3148
A key things to point out before I get further is the options `l1` and `l1_state` are distinct options and represent different things. `l1` is not stored in a `save_resume` model but `l1_state` is added as part of the extra training state.

Not every command line options is saved into the model and is based on if an option is required to make predictions. `save_resume` extends this to options requ

[2021-07-13 16:08] olgavrou opened #3149 "Add automated tests for checking correct state preservation in models"
## Short description

We keep getting bug reports (usually coming from python) where the predictions between a trained vw instance differ if you save the model and then load it (without any training in between). i.e.:

predictions from:

1. initialize vw instance
2. train
3. predict

differs from

1. initialize vw instance
2. train
3. save model (not referring to save_resume here)
4. load model
5.

[2021-07-13 16:34] lalo commented on #3149
similar to flatbuffer automated tests https://github.com/VowpalWabbit/vowpal_wabbit/blob/2d394ce7bdb02cc3f5bb08c0031565e0e4ea48dc/test/run_tests.py#L19

[2021-07-13 17:03] xinofekuator commented on #3148
I think that explains it, that was a misunderstanding on my side. Thanks for clarifying.

So is the recommended way to use regularisation for training the model but not using it for making the predictions?

Why the value has different decimals than the one provided from command line? Actually it seems that epsilon does influence the predictions (although I guess it is not supposed to be used with

[2021-07-13 17:17] jackgerrits commented on #3148
Regularization is part of training and does not affect predictions directly. (Obviously other than indirectly during the training process)

`--epsilon 0.1` vs `--epsilon 0.100000001490116` is just due to float rounding errors.

What is the command line that created that model? (You can dump it with `vw --initial_regressor /tmp/model.vw --readable_model readable.txt --no_stdin`) It looks like it wa

[2021-07-13 17:41] xinofekuator commented on #3148
Yes, you are right. I had the incorrect assumption that the `--cb` argument would override the saved model `--cb_explore` or that at least I would get a warning/error. It is a bit confusing to me that the argument is ignored without notifying the user.

Yes, I was referring to affecting to the training process, but I guess that if you train with regularisation the correct thing to do is to predict

[2021-07-13 17:54] jackgerrits commented on #3148
Hm, that is confusing. At this moment I am not sure of a good way to warn of that situation but I will keep it in mind. This is because by definition `--cb_explore` implies `--cb` so also saying `--cb` does not clash. It agrees.

As far as I am aware, predicting with regularization is not a thing that is possible. Regularization is part of the training process, not part of making a prediction. You

[2021-07-13 17:55] xinofekuator opened #3151 "Negative loss values when doing off-policy evaluation"
#### Describe the bug
I get negative average loss after doing off-policy evaluation with`dr` method. This tutorial was followed: https://vowpalwabbit.org/tutorials/off_policy_evaluation.html

#### To Reproduce
Steps to reproduce the behavior:
1. Create train.dat with the following content:
[code]
2. `vw --cb 2 --cb_type dr -d train.dat -f candidate-model.vw --save_resume  --passes 10 --cache_file

[2021-07-13 18:03] xinofekuator commented on #3148
Yes, sorry, the predict with regularisation part was not correct and I think I did not provide all the information in my answer, as I had in mind an use case where model is saved for daily trainings, so after first training as regularisation is removed and not remembered if you forget to pass those argument in next days trainings then the effect of regularisation that happened in the first trainin

[2021-07-13 18:04] #3148 closed

[2021-07-13 18:05] jackgerrits commented on #3148
You're welcome! Glad I could clear things up

[2021-07-13 18:43] ataymano commented on #3151
It is known open issue (that should be fixed) about DR loss being reported when --cb_type dr: #2222
Let us review and re-prioritize it next week.
But while reported loss is DR, there is no specific reason for it to be positive.

[2021-07-13 18:50] jackgerrits commented on #3151
@ataymano is this also related? https://github.com/VowpalWabbit/vowpal_wabbit/issues/1696

[2021-07-13 19:11] ataymano commented on #3151
looks like #2222 as action item created as followup for #1696?

[2021-07-13 19:14] jackgerrits commented on #3151
If they all are referring to the same thing then we should close others as duplicates?

[2021-07-13 19:15] #3116 closed

[2021-07-13 19:37] ataymano commented on #3151
yeah and probably #2222 should be the one that is open as the most actionable one.

[2021-07-13 19:38] ataymano commented on #3151
This one is technically slightly different, so ideally we should double check if problem reproduces after #2222 is closed. Not sure if we should close it right now.

[2021-07-13 19:52] bassmang commented on #3116
@SergeevVladislav  this issue is now be resolved with #3150

[2021-07-13 19:53] xinofekuator commented on #3151
Is *the lower the better* the correct way of interpreting the DR loss?

The idea I had was to run a grid search only with DR method so I do not mind using DR loss for picking the best hyperparams. But I am not sure about what is the correct way to interpret these results.

[2021-07-13 19:58] xinofekuator commented on #3151
One additional question: how does the DR loss interacts with the `loss_function` argument?
When providing classic and squared results are different, but I still do not understand how the squared loss equation can be negative. The only explanation I find is that that loss function is not really being used.

[2021-07-14 03:39] xinofekuator commented on #3151
One difference I see with https://github.com/VowpalWabbit/vowpal_wabbit/issues/1696:

@JohnLangford wrote:

I check this by using `--noconstant` but it does not make the average loss positive: `vw --cb 2 -d train.dat -f candidate-model.vw --save_resume  --passes 10 --cache_file /tmp/train.cache --noconstant` and all costs are positive in this training data so not sure why the constant would be neg

[2021-07-14 04:34] xinofekuator commented on #3148
I was doing some tests regarding this (in 8.10.2 due to this fixed bug https://github.com/VowpalWabbit/vowpal_wabbit/issues/3062) to see how it worked and this also means that once you start training with `cb_explore` with `--save_resume` you can not change that value in future trainings unless you restart the training process.

E.g. `vw -d train.dat -f /tmp/model.vw --cb_explore 2 --invert_hash /

[2021-07-14 14:13] pmineiro commented on #3148
It is natural to assume that a policy could be trained and then exploration "turned on" after the fact.  The default off-policy learning algorithm and exploration strategy do work this way, for instance.  But we don't support this, because sometimes the exploration strategy dictates the off-policy learning strategy (e.g., softmax).

[2021-07-14 14:57] bassmang opened #3155 "Prevent users from training a loaded model without save_resume"
#### Describe the bug
If a user would like to save a model, then load it and continue training, they should use the --save-resume flag. Currently a user can do this without this flag, but the result will not be as expected. VW should either give the user a warning, or cause a failure if they try to continue training on a loaded model without --save-resume.

#### To Reproduce
Steps to reproduce the

[2021-07-14 18:59] jackgerrits commented on #3155
There are legitimate reasons to load a model that was saved without save_resume, but it does seem to be that most commonly users expect the save_resume behavior. I think we should default to save_resume and opt in to non-save_resume. We should not prevent users as this is a valid use case.

[2021-07-15 08:13] xinofekuator commented on #3148
Not sure if I understood what is not supported. Training with `cb` and turning exploration for predicting is supported.
I guess you meant turning exploration for training, right? That yields an error `Model content is corrupted`.

Anyway my example was the opposite case where you start training with exploration and then switch training to `cb` which does not give an error but  then only allows you

[2021-07-15 16:30] jackgerrits opened #3163 "`--save_resume` to become default for model saving and loading"
When a model is saved currently the default is just to store just the model weights. A flag `--save_resume` is available which additionally saves the trainer state which allows you to continue training additional training state. This is required when resuming for online learning.

We have noticed over time that most users expect to be able to resume training from a saved model and would therefore

[2021-07-15 16:49] #3155 closed

[2021-07-18 18:13] xinofekuator opened #3174 "Run `--invert_hash` from vw `--readable_model` output file"
## Short description

According to the documentation `--invert_hash` is computationally expensive, so using `--readable_model` seems more efficient for training when training data sizes are big.

It would be useful that we could get the human readable names from the output that we get from  `--readable_model`. Currently the only way to get it is to re-train the model with the same data and same op

[2021-07-19 10:24] olgavrou commented on #3174
Hi @xinofekuator thanks for you feature request

The reason `--readable_model` is faster than `--invert_hash` is that we don't need to (a) keep around and (b) store entire strings of the features, but only their hash which is part of the model anyway. So having `--readable_model` also store the full feature strings for potential later use will make it slow

would `--audit_regressor` achieve what y

[2021-07-19 10:45] xinofekuator commented on #3174
Yes, that looks like it might be what I was looking for, thanks!
I will give it a try.

[2021-07-19 18:11] rajan-chari commented on #3163
Instead of 2 or 3 orders of magnitude -- assuming you meant 2x - 3x?

[2021-07-19 18:14] jackgerrits commented on #3163
I was just repeated what John said, but I do agree. The extra space should be in the ~3 or 4x and not orders of magnitude

[2021-07-20 12:58] alxbar75 opened #3179 "Training cannot be continued with --regcb or --regcbopt after model reload (--save_resume turned on)."
#### Describe the bug
A vowpal wabbit model, initialized with --regcb or --regcbopt and --save_resume, is not improving during training after it has been reloaded.

#### To Reproduce
Example Code, 6 different contexts with 3 different actions, each combination having a probability of giving a reward (a click, cost=-1). Without saving/loading, the model converges to a good and sometimes optimal sol

[2021-07-20 13:40] xinofekuator commented on #3151
@ataymano Based on my previous comment what it was discussed in the other issue does not apply here, so maybe it is a different issue.

[2021-07-20 18:28] ataymano commented on #3151
@xinofekuator - sorry, missed your previous comment. Looking.

[2021-07-21 07:49] adr-arroyo commented on #3125
Hi, sorry to drop a comment on a closed issue, I have just seen it.

I have tried the following code with the sklearn interface and setting `conver_labels` to `False` (dont mind the data preprocessing). However I am having the same issues as @etiennekintzler for when predicting the values, as you can see in the picture.

[code]

![image](https://user-images.githubusercontent.com/11291505/126451649

[2021-07-21 19:51] etiennekintzler commented on #3125
@adr-arroyo could you post a reproducible example with the data that you used (a few dozen data points should be enough to investigate the problem) ?

[2021-07-22 06:57] adr-arroyo commented on #3125
Hi,

Just updated my previous post. I included a few more lines with the code to read the data, and also attached it as zip files. The data_joblib.zip file contains the two `x.joblib` and `y.joblib` files.

Thanks and BR

[2021-07-22 12:19] ataymano commented on #3179
hi,
thank you for reporting this.
Confirmed that:
1) Issue is reproducible with python. Small clarification: problem is not about resetting state every time we save the model, but with inability to learn at all after single save-load cycle. I updated largest probabilities to 0.9 for each device to make effect more visible and have that kind of plot:
![image](https://user-images.githubusercontent.c

[2021-07-22 16:47] alxbar75 commented on #3179
I experience a similar problem with --bag
I can't say if training completely halts but convergence without save/load is definitely better.

[code]
With save/load:

![image](https://user-images.githubusercontent.com/61507801/126676977-67d5fa8c-92b7-4ce0-93ce-78c5e1fd48e0.png)

Without save/load:

![image](https://user-images.githubusercontent.com/61507801/126677078-5ec3de10-13a4-42af-a4ac-8883523d8

[2021-07-22 18:22] ataymano commented on #3179
hmm, that one could be different.
regcb one can be easily reproduced with making problem easier by bumping best arms to 0.9, while this one cannot.
So either there is some another (and more subtle) bug here, or it is just slower convergence because of bad luck. 0.05 difference in performance is something "we don't know right answers for couple of contexts yet", and given how ambiguous is the probl

[2021-07-22 18:29] alxbar75 commented on #3179
Hey, yes I think this problem is somewhat different and more sublte.
I have been starting that script multiple times and I experienced the same problem:
With save/load: definetly better than random but not as good and with a more unstable policy
Without save/load: approaching optimal more often and staying at a higher level (expected ctr) while still exploring

However this setup is also somewhat

[2021-07-25 16:06] Sandy4321 opened #3186 "do you have non negative ridge regression ?"
## Short description
do you have non negative ridge regression
vs
https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Lasso.html
positivebool, default=False
When set to True, forces the coefficients to be positive
vs
https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html#sklearn.linear_model.LinearRegression
positivebool, default=False
When

[2021-07-27 15:27] alxbar75 commented on #3179
I think I found the reason for the difference in performance. I did't use --save_resume when loading the model, just during initialization. Could this be the reason? Do I also have to use --save_resume when loading a model?

[2021-07-29 12:02] ataymano commented on #3151
Sorry for delay in response.

I think that comment was very specific for the dataset discussed in #1696 and not relevant much to the rest of discussion (the problem of reported average loss are not being determined by predictions).

I have double checked that the problem is still about the same thing:
loss reported as average loss is calculated as DR one here:
https://github.com/VowpalWabbit/vowpa

[2021-07-29 13:55] ataymano commented on #3179
hi,
1) you don't have to use save_resume when loading the model - it is set automatically if model was saved with --save_resume
2) when you see improvement, which scenario are you talking about - regcb or bagging?
- For regcb I was not able to observe an improvement after adding --save_resume (as expected actually). Will look closer where is the problem.
- for --bagging I am still struggling to re

[2021-07-29 15:05] alxbar75 commented on #3179
Hi,

`vowpalwabbit             8.10.2`

I was referring to --bagging. If you take the second script I posted and add "--save_resume" to line 96
resulting in `vw = pyvw.vw("--quiet -i model.vw --save_resume")` It seems to me that performance is increasing.

With --save_resume during model loading:
![with_save_resume](https://user-images.githubusercontent.com/61507801/127515766-0d1c9ae2-7093-43d4-92

[2021-07-29 15:07] alxbar75 commented on #3179
Just checked, same behavior with `vowpalwabbit             8.11.0`

[2021-07-29 15:55] lalo opened #3195 "pyvw fails with these Runtests"
https://github.com/VowpalWabbit/vowpal_wabbit/blob/6d7193a0ff440af55403356bfacbd4f45df7bbd1/test/runtest_coverage.py#L111

These tests cause failures with pyvw, no known cause. Could be similar to the exempted tests in the c# run. These tests do not run on CI, but its good to keep track of.

[2021-07-29 16:15] lalo commented on #3195
This might be relevant for https://github.com/VowpalWabbit/vowpal_wabbit/pull/3144

[2021-07-29 20:11] jackgerrits commented on #3186
Hi @Sandy4321, VW doesn't support non negative ridge regression. This is a patches welcome item for sure 😄 It wouldn't be too involved to get this implemented, when the weights updated a check could be added for if it results in a negative value and in that case clamp it to 0.

[2021-07-30 18:10] bassmang opened #3197 "object_pool destructor assertion error (Race condition)"
[cb_adf_large.txt](https://github.com/VowpalWabbit/vowpal_wabbit/files/6909341/cb_adf_large.txt)

#### Describe the bug
In the destructor ~no_lock_object_pool() (object_pool.h, line 51), there is an assertion error where m_pool.size() != size(). In this case, we will get m_pool_size() == 265 and size() == 264 conditionally. When running in debug mode, this assertion will throw an error sometimes,

[2021-07-31 09:14] m3bbass opened #3199 "proplem in implemnted VWRegressor"
hello,
I tried to implement VWRegressor like in the following code, but it doesn't give me the correct prediction for the output.
how can i solve this problem?
[code]

![Screen Shot 2021-07-31 at 11 13 18 AM](https://user-images.githubusercontent.com/46040260/127735184-de99089a-6610-45c5-884d-daae0105db73.png)

[2021-08-02 21:00] jackgerrits commented on #3199
Hi @m3bbass, can you please share the notebook so I can test it out myself?

[2021-08-13 06:26] memeplex opened #3217 "Inconsistencies with wildcard & hex namespaces"
#### Describe the bug

There are some inconsistencies in the way different arguments handle "special" namespaces (wildcards, hex codes).

#### To Reproduce
Steps to reproduce the behavior:

* `vw --quadratic \\x20\\x20` fails with `error, quadratic features must involve two sets`.
* Similarly `vw --cubic \\x20\\x20\\x20` fails with `error, cubic features must involve three sets`.
* But `--interact

[2021-08-13 13:13] jackgerrits commented on #3217
There are inconsistencies in how namespace specification is handled, mainly for expansion of wildcards. This is usually due to a reduction implementing its own base learning algorithm that is less commonly used and therefore not as well supported.

There's two things here I think:
- hex code expansion is done after the check for length, which is clearly a bug. Swapping the length check to be after

[2021-08-13 16:34] memeplex commented on #3217
Maybe for the time being an error could be thrown instead of silently ignoring the wildcard namespace, so as to not let the user believing it's working as expected while it's not?

[2021-08-13 16:36] memeplex commented on #3217
Or a warning could be added to the command line documentation, which is simpler although not as safe.

[2021-08-13 16:50] memeplex opened #3219 "Make lrq O(k n) instead of O(k n^2)"
## Short description

In order to compute a gradient, the current implementation of lrq / factorization machines does a triply nested loop, twice over n non-zero features, and once over k latent variables. But it's easy to reorder the computation so that it's O(k n) instead of O(k n^2). See 57:7 in https://www.csie.ntu.edu.tw/~b97053/paper/Factorization%20Machines%20with%20libFM.pdf.

## **How thi

[2021-08-13 17:23] jackgerrits commented on #3217
Totally agree, a warning would be considerably better than current behaviour.

[2021-08-13 17:38] memeplex opened #3220 "Disable weight aware updates for lrq by default"
## Short description

I'm not 100% sure about my reasoning here but in Importance Weight Aware Updates (https://arxiv.org/pdf/1011.1576.pdf) it's stated that:

and therefore:

But AFAICS this is not true for factorization machine models, which are not linear on the parameters given that they involve products of weights. At first sight I don't see an immediate way to adapt the developments in that

[2021-08-13 17:38] memeplex commented on #3220
I've commented about this in https://gitter.im/VowpalWabbit/community also.

[2021-08-18 14:24] jackgerrits opened #3232 "Space causes one line to emit a warning and the other not"
#### Describe the bug
Only one of these lines produces a warning. The warning itself is kind of weird. What does it mean for an example to be input with no `|`.

#### To Reproduce
Steps to reproduce the behavior:

data.txt:
[code]
Note: line one has a trailing space, and line two does not.

Command line: `vw -d data.txt`

#### Expected behavior
Both lines produce the same warning irrespective of t

[2021-08-18 15:17] jackgerrits opened #3234 "Proposal: Clear error semantics"
# Proposal: Clear error semantics
What exactly happens when an error occurs in VW is not clear. This makes it hard to reason about or have confidence in what is happening. For the benefit of both users and maintainers we should set clear expectations at what should occur in the face of errors.

As can be seen in the [current behavior section](#Current-behavior), the situation differs for per parse

[2021-08-19 13:07] jackgerrits commented on #3217
Should both be resolved by https://github.com/VowpalWabbit/vowpal_wabbit/pull/3230.

Remaining mitigation is to emit an error if a wildcard is used with lrq. Longer term is to support wilcards but that is much more involved.

[2021-08-19 15:14] jackgerrits opened #3238 "VWSlim does not build with v142 or v143 build tools"
#### Describe the bug
VWSlim builds with v141 build tools but not v142 or v143.

#### Expected behavior
VWSlim builds with v141, v142 and v143 build tools.

#### Observed Behavior
VWSlim does not build with v142 or v143 build tools.

The error is to with a custom iterator I think.
[code]
#### Environment
What version of VW did you use? Windows 10
What OS or language did you use? VS 2019 with v143,

[2021-08-19 19:07] jackgerrits opened #3241 "Index out of bounds in test 125"
#### Describe the bug
There is an out of bounds access bug in test 125.

#### To Reproduce
Steps to reproduce the behavior:
1. Replace `v_array`'s `operator[]` with:
[code]
2. Run test 125 with a VW built in debug: `-k -c -d train-sets/wsj_small.dparser.vw.gz -b 20 --search_task dep_parser --search 26 --search_alpha 1e-5 --search_rollin mix_per_roll --search_rollout oracle --one_learner --search_h

[2021-08-19 21:36] memeplex commented on #3217
Makes sense to me. Thanks!

[2021-08-19 22:32] lokitoth commented on #3241
Putting this here for the reference of whoever picks up this issue: Here's a paper related to the dependency parser in VW: https://arxiv.org/pdf/1503.05615.pdf, along with the original(?) code for it.

[2021-08-20 12:46] lokitoth commented on #3219
FYI, libFM is under GPL 3.0. We cannot use their code in VW.

[2021-08-20 12:52] lokitoth commented on #2004
Seems to have been superseded by #3234. Can we close this in favour of the more full-featured Error Semantics unification/normalization?

@rajan-chari, @jackgerrits

[2021-08-20 12:57] lokitoth commented on #3118
Can this issue be closed now that our build has dropped support? Or is the plan to close this when 9 releases? @jackgerrits

[2021-08-20 12:59] jackgerrits commented on #3118
Yeah let's close it. It seems reasonable for the removal commit to close the issue.

[2021-08-20 12:59] #3118 closed

[2021-08-20 17:02] jackgerrits opened #3245 "Proposal: Formalize reduction precondition validation"
# Proposal: Formalize reduction precondition validation
Some reductions assert preconditions as part of their learn or predict function. Some avoid doing this in order to not pay the cost of the checks. These preconditions usually represent errors in user input and so should be proactively checked and communicated to assist the user.

## Goals
- Specify how a reduction can check preconditions
- De

[2021-08-20 17:05] jackgerrits commented on #2963
This is completed. See: https://github.com/VowpalWabbit/vowpal_wabbit/pull/2993

[2021-08-20 17:05] #2963 closed

[2021-08-20 17:06] #3091 closed

[2021-08-20 17:06] #3084 closed

[2021-08-21 11:36] etiennekintzler opened #3249 "Using flatbuffers to generate examples in Python is too slow"
@jackgerrits mentionned the idea of generating flatbuffers binary format from `DFtoVW`.

The first tests show that **it is very slow : ~  24 seconds to build 1 million features**.

I am using the python interface. Also note that I don't build the complete example (with Namespace, Example, ExampleRoot) so it's really a lower bound on the time I'd take.

## Reproducible example

Get the file https:/

[2021-09-02 21:49] jackgerrits opened #3288 "run_tests.py -o option only works when run in test directory"
#### To Reproduce
1. Edit a help string so the test no longer matches
2. Rebuild
3. Run from root of repo: `python test/run_tests.py -f -E 0.001 -e --ignore_dirty -t 275 -o`

#### Expected behavior
`test/train-sets/ref/help.stdout` file updated

#### Observed Behavior
[code]

#### Environment
What version of VW did you use? latest
What OS or language did you use? Ubuntu

[2021-09-06 19:54] Sandy4321 opened #3297 "Sequence Predictions Training with SEARN and DAgger"
### Description

it is not clear where to find information how to use in python Sequence Predictions Training
as mentioned in https://docplayer.net/14088260-Vowpal-wabbit-7-tutorial-stephane-ross.html
Sequence Predictions Training and Testing
•For SEARN:./vw--d train.txt -c --passes 10 --searnk --searn_tasksequence --searn_beta0.5 --searn_passes_per_policy2 -f policy.vw
•For DAgger:./vw--d train.t

[2021-09-09 13:20] priyanshuone6 commented on #2944
Can I work on this issue?

[2021-09-10 14:03] jackgerrits commented on #3297
Hi @Sandy4321,

The talk you pointed to is for an older version, some things have changed. It looks like `searn` was renamed to `search`. (I think `searn` stood for search and learn)

-   replace `searn` => `search`
-   put in a value for `k` and put a space between `search` and `k`  (i.e.  `--search <k>`)
-   `tasksequence` => `task sequence` (i.e. `--search_task sequence`)
-   The way to turn on

[2021-09-10 22:45] Sandy4321 commented on #1094
may you share some full example from 0 to end for
--multilabel_oaa option

there is no --multilabel_oaa mentioning in
https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Command-Line-Arguments

<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

<h

[2021-09-10 22:53] Sandy4321 opened #3312 "there is no --multilabel_oaa in Command-Line-Arguments wiki web page"
### Description
there is no --multilabel_oaa mentioning in
https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Command-Line-Arguments

may you share some full example from 0 to end for
--multilabel_oaa option
especially with data
definitely it is not multiclass case
then how to create target data ?

best case would share code example  python
by analogy with
    Examples
    --------

    array([[0.

[2021-09-12 15:20] Sandy4321 commented on #3297
great
thanks for soon answer
may you share some links to read about theoretical base for this code ?

[2021-09-13 07:56] priyanshuone6 commented on #2944
Could you please help he locate the file `vw` as when I try to reproduce the error I get `bash: ./vw: No such file or directory`

[2021-09-13 12:08] jackgerrits commented on #2944
`vw` is the main binary of this project. It is produced by the CMake target `vw-bin`. You can follow the build instructions [here](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Dependencies)

[2021-09-13 13:05] jackgerrits commented on #3297
You can read more about search here: https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Learning-to-Search-Sub-System

[2021-09-13 15:49] lalo opened #3318 "feature request: options: add one_of(...) method"
There’s a class of options, including `cb_type`, that should be defined as follows:

[code]

This way we can bake in a validation step on the parser from one of the pre-defined options. There’s a couple of other flags that are set between different pre-defined values. The help message can be auto-generated based on the one_of arguments.

The error would still need to be handled instead of doing th

[2021-09-14 16:36] Sandy4321 commented on #3297
super
great material thanks
1

by the way this link
https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/python/examples/Learning_to_Search.ipynb
from reference
"For python implementation, please see this ipython notebook"
out to date

can yo help to find correct link please
2
https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/python/examples/Learning_to_Search.ipynb

this link as well

[2021-09-16 02:21] jackgerrits commented on #3297
I've updated the link to point here: https://vowpalwabbit.org/docs/vowpal_wabbit/python/latest/examples/index.html

[2021-09-16 02:23] jackgerrits commented on #3312
It seems there is no docs for that reduction unfortunately. For an example of usage you can look at [this test](https://github.com/VowpalWabbit/vowpal_wabbit/blob/6670fc8db7cc44e65f84e5538c9bf285b204dd1c/test/RunTests#L1258).

[2021-09-17 23:29] sergeyf opened #3331 "CSOAA in Python not returning probabilities"
Hello,

Thanks for the great work on VW over the many years!

I'm using the Python package with the `csoaa` option to deal with a multilabel problem. It seems to train fine, but I can't get it to return probabilities. This is how I trained without any errors:

[code]

Where `Xy_train` has things like

[code]

At test time, I have data like:

[code]

And doing `vw.predict(Xy_val[0])` probabilities

[2021-09-17 23:50] sergeyf commented on #3331
I also tried it with the sklearn interface and the bug is more obvious:

[code]

You get:
[code]

[2021-09-20 13:05] jackgerrits opened #3333 "Prevent usage of `VW::model_utils::process_model_field` for pointer types"
To prevent accidentally passing the address of some variable we should either delete, static_assert or use SFINAE to prevent usage of [`VW::model_utils::process_model_field`](https://vowpalwabbit.org/docs/vowpal_wabbit/cpp/latest/namespaceVW_1_1model__utils.html#a8369057d5016e6cfdf02f0ea80570572) for pointer types. Based on the old way of serializing fields it would be very easily to accidentally

[2021-09-20 15:28] bassmang commented on #3331
Hi Sergey,

Thank you for reporting this bug and all of the documentation you provided. `csoaa` currently does not support the `probabilities` flag. We'll work on adding this functionality this week and get back to you.

Thanks!

[2021-09-20 16:20] sergeyf commented on #3331
Wonderful, thank you!

[2021-09-23 16:59] zwd-ms opened #3335 "Ignored namespace keeps duplicating in vw output when using ignore_linear with save_resume."
#### Describe the bug
When using both --ignore_linear and --save_resume, there are duplicated ignored namespace letters in vw output, see below:
"ignoring linear terms for namespaces beginning with: T T T T T T T T T"

[code]

#### To Reproduce
Steps to reproduce the behavior:
1. `split -l 100 train-sets/0002.dat`
2. run vw with --save_resume over the file chunks one by one

#### Expected behavior

[2021-09-23 17:00] ataymano opened #3336 "Implement CCB metrics for --extra_metrics"
Right now CCB-specific metrics are not exposed from --extra_metrics.

## Short description
Some of CB metrics still make sense in CCB context, but some are mileading, and some are just missing.
Here is the some table with existing cb metrics + comments:

Metrics | Meaning in the CCB vw.learn context | What should be replaced with
-- | -- | --
total_predict_calls | 0 always |
total_learn_calls | #

[2021-09-23 17:40] lalo commented on #3336
Previous PR (closed bc incomplete): https://github.com/VowpalWabbit/vowpal_wabbit/pull/3031

[2021-09-23 18:11] homezcx commented on #3336
CCB dsjson_sum_cost_original should be using the first slot according to Oren.

[2021-09-23 18:36] jackgerrits commented on #3336
There is also PR which seem relevant: #3194

[2021-09-23 18:50] zwd-ms commented on #3335
okay, should not use "--ignore_linear T" any more when already using "--save_resume".

[2021-09-27 01:21] olgavrou commented on #3335
@zwd-ms should this be added to the documentation somewhere (the args wiki page for example) if there isn't going to be a warning about it?

[2021-09-28 13:04] jackgerrits opened #3340 "Proposal: Split `finish_example` into `report` and `return`"
Currently it is not possible to perform the reporting for an example without also returning the example to the example pool. This makes it very hard to build bindings which do automatic returning of the example because you are forced to give it up in finish_example. However, you still need to support returning if an example has not been learned on. So you end up needing to know if `finish_example`

[2021-09-29 06:00] onlynishant commented on #2667
@kumpera I lost track of this ticket. Can you please elaborate on how can we do it from Java?

[2021-09-30 14:43] #3297 closed

[2021-09-30 14:44] zwd-ms commented on #3335
yes there should be a warning similar to the others:
`WARNING: model file has set of {-q, --cubic, --interactions} settings stored, but they'll be OVERRIDEN by set of {-q, --cubic, --interactions} settings from command line.`

[2021-09-30 14:48] jackgerrits commented on #3335
Does it just keep adding `--ignore_linear` terms to the model? It should be simple to do a deduplication on model parse to address this.

[2021-09-30 15:20] zwd-ms commented on #3335
1. Is the expected behavior to add the `ignore_linear` term, or override the saved model (like the interactions)? especially if some different terms are provided
2. Need also to check `ignore` and perhaps `keep`

[2021-09-30 15:31] jackgerrits commented on #3335
We have deduped other options in the past - I think it makes sense to

[2021-09-30 19:06] Yash621 commented on #3340
@jackgerrits I want to contribute to Vopal Wabbit , can you guide me through the process as I am beginner to this .
I would be really grateful :)

[2021-09-30 19:08] jackgerrits commented on #3340
This issue is a proposal that needs to be discussed before any work should be done on it. Taking a look at issues labeled as [`good first issue`](https://github.com/VowpalWabbit/vowpal_wabbit/issues?q=is%3Aissue+is%3Aopen+label%3A%22Good+First+Issue%22) is a good way to get started!

[2021-09-30 19:13] Yash621 commented on #3318
can I work on it ?

[2021-10-01 19:23] jackgerrits opened #3351 "Setup should fail if an option is passed which is not used by the activated reductions"
There are many command line options and a major point of confusion is knowing if an option is being used. Is it hard to know which reduction an option belongs to without looking at code.

We have enough information in the setup process to determine if an option is passed by the user but the `necessary` option of the option group in which it resides was not activated. If this is the case we should

[2021-10-01 19:25] jackgerrits opened #3352 "Update getting started to refer to docker image"
We release an alpine based docker image for each tagged release but this is not listed on the [getting started page](https://vowpalwabbit.org/start.html) and so it is hard for people to find out about it.

https://hub.docker.com/r/vowpalwabbit/vw-rel-alpine

[2021-10-03 16:26] Yash621 commented on #2474
Can I work on this issue?

[2021-10-03 16:28] Yash621 commented on #1895
is it still open ? can i work on this ?

[2021-10-03 18:51] Yash621 commented on #3186
@jackgerrits  can i work on it ?

[2021-10-04 14:19] aaiyer opened #3356 "--meanfield does nothing"
I looked through the code in nn.cc and found that --meanfield does nothing. Was this ever implemented? Should this be removed?

[2021-10-04 15:52] jackgerrits commented on #3356
`--meanfield` causes dropout to be set to false. [See here](https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/vowpalwabbit/nn.cc#L434).

[2021-10-04 21:17] #3288 closed

[2021-10-05 08:20] #3356 closed

[2021-10-05 10:36] moksh-pathak commented on #3352
Hi, I would like to work on this, can it assigned to me?

[2021-10-05 13:30] jackgerrits commented on #3352
I think the plan for this one would be to add another layer to the selector which corresponds to "method". The docker image is only relevant for the command line package. Therefore, the available methods all command would change to "source" and "docker". The existing brew instruction for MacOS should change to a brew "method" and a source method should be added for MacOS along side it.

Here's a r

[2021-10-05 16:41] moksh-pathak commented on #3352
Thanks, I'm on it.

[2021-10-05 16:53] ramkumarrani opened #3361 "VW on ubuntu 18.04 JNI static build fails (dynamic linking works fine)"
I have been trying to build Vowpal Wabbit (VW) JNI on ubuntu 18.04 using Java static build option enabled.  It fails.

Description:
Reference material: https://stackoverflow.com/questions/62537391/vowpal-wabbit-for-ubuntu-18-java-1-8

Ubuntu version:
[code]

Using above reference, I tried following:

step 1: sudo apt install libboost-dev libboost-thread-dev libboost-program-options-dev libboost-sy

[2021-10-05 19:21] bassmang commented on #3331
Hi @sergeyf, we've looked into your issue further and come to the conclusion that the --probabilities flag doesn't quite make sense in the context of --csoaa. To address you're issue I've put in a fix to add the --probabilities flag to --multilabel_oaa instead. This should be sufficient for you example above since each class has a weight of either 0 or 1.  Here is an example of how you could use -

[2021-10-05 19:32] sergeyf commented on #3331
That is perfect, thank you for the fix!

[2021-10-05 19:32] #3331 closed

[2021-10-05 20:41] Yash621 commented on #3351
@jackgerrits Hi, I would like to work on this, can it assigned to me?

[2021-10-05 20:48] jackgerrits commented on #3361
You need to have a copy of boost which has been compiled with `-fPIC` in order to statically link VW. Relevant line of your output:
[code]
We do this in the Docker image used for the Java packaging and CI: https://github.com/VowpalWabbit/docker-images/blob/master/vowpal_wabbit/centos7_6_1810-build.Dockerfile

[2021-10-05 21:00] olgavrou commented on #3318
Hi @Yash621 yes feel free to tackle any `Good first issue` issue. Just say which one you are working on so that others don't start working on it, and if you open a PR please reference the issue on the PR description

[2021-10-05 21:06] Journerist opened #3363 "Improve docs for cb_explore_adf to make it easier to use"
### Description

I try heavily to get **cb_explore_adf** working in an example application. I started with **cb_explore** that worked nicely. My data shows that the algorithm is able to explore and exploit as expected.

existing targets: 1,2,3,4
existing contexts: day_of_week, mobile_device, latest_category_visited

cb_explore setup: `--cb_explore 4 --quiet --first 2000`

for learning and predicti

[2021-10-05 21:16] Journerist commented on #3363
you can also check my implementation here and play with it. If you run the main.py you will see plots showing the rewards.

https://github.com/Journerist/contextual-bandit-demo/blob/main/simulator/bandit_model.py

[2021-10-05 21:38] Journerist commented on #3363
Looks like it works now.

[2021-10-05 21:38] #3363 closed

[2021-10-06 06:57] Yash621 commented on #3318
okay so I will be working on this ,thnx ;)

[2021-10-06 09:27] DomChey commented on #2766
I wanted to ask what the status is here. It sounded as if you wanted to implement this. As far as I can see that hasn't happened yet though, has it? I would be very happy to hear from you.

[2021-10-06 18:03] Yash621 commented on #3318
@olgavrou can you guide me through this ,i have modified the files containing "cb_type" but i am not able to understand that how to implement one_of ?

[2021-10-11 18:06] Sandy4321 opened #3385 "where is option do add namespaces in csv2vw?"
## Short description

where is option do add namespaces in csv2vw?
https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/utl/csv2vw
## **How this suggestion will help you/others**

## **Possible solution/implementation details**

## **Example/links if any**

[2021-10-12 12:50] #3333 closed

[2021-10-12 15:46] Sandy4321 commented on #3385
great friends

Thank you very much
VowpalWabbit is the best package in internet !!!!!!!!!!!!!!!

[2021-10-14 15:40] ramkumarrani opened #3395 "VW JNI install on macOS Big Sur fails"
I am trying to deploy VW JNI on MacOS (Big Sur).  First, the JNI build errored with clang issue; referred this article: https://github.com/VowpalWabbit/vowpal_wabbit/issues/2521 and modified CMakeLists.txt.  The else() condition has got this: target_link_libraries(vw_jni PUBLIC -fPIC -Wl,-rpath,\"\$ORIGIN\")

However, when I run the command: make vw_jni, I get following errors:

Tests run: 1, Fail

[2021-10-18 20:41] angela97lin opened #3406 "Release newer VW version on conda"
I noticed that the latest conda version for vowpalwabbit is [8.8.1](https://anaconda.org/conda-forge/vowpalwabbit). The sklearn interface and API is very different from the most recent version (8.11.0). Are there any plans to release a newer version on conda?

Thanks!

[2021-10-19 11:25] gramhagen commented on #3406
If conda is no longer needed it would be best to remove the distribution
there. You can always use the pypi artifacts with conda.
If you need help removing that service I can look into it.

On Mon, Oct 18, 2021, 4:55 PM Jack Gerrits ***@***.***> wrote:

[2021-10-19 19:19] ramkumarrani commented on #3395
Hi Jack,

Thanks.  2747 helps.  when built (make vw_jni) is done, the final file it produces is vowpal_wabbit/build/java/libvw_jni.dylib.  How to create libvw_jni.so from here?

[2021-10-20 21:54] #3395 closed, assigned to nobody

[2021-10-21 20:51] gramhagen commented on #3406
hmm, i see. we can keep the conda package then. as it is I believe it's pulling the source from pypi, so probably just need to update a few things.

but afaik there's no automated process to update conda-forge with latest releases (hence the staleness there, it's just another artifact to maintain) @jackgerrits is there a release pipeline/process that we can use to update conda-forge as well?

[2021-10-25 10:48] grigoriysol opened #3417 "cmd vs pyvw"
I can't repeat the example using the command line.
https://github.com/VowpalWabbit/jupyter-notebooks/blob/master/Simulating_a_news_personalization_scenario_using_Contextual_Bandits.ipynb

Previously, I always use command line interface for regression and classification.
Now I want to deal with contextual bandits and I just couldn't train the model. At the same time, if I use pyvw, everything learn

[2021-10-26 12:17] musram opened #3421 "Large number of arms"
## Short description

I have a requirement where I have around 10,000 arms, a contextual bandit. But during the exploration, I don't want to explore all the arms. For example, I will explore 1 to 200 arms for some time then 201 to 400 arms. Is there any way, I could include the set of arms in the command line?

## **How this suggestion will help you/others**
This application pops up regularly, whe

[2021-10-27 10:34] qd1332543 opened #3425 "ODR violation detected by MSVC ASAN"
#### Describe the bug
When I used the code compiled by msbuild for unit testing, the test failed. The specific failure is as follows：
[code]

#### To Reproduce
Steps to reproduce the behavior:
[code]

#### Expected behavior
All test pass.

#### Observed Behavior
Unit test failed.

#### Environment
What version of VW did you use?
What OS or language did you use?
OS: `Windows Server 2016 1607`
CPU:

[2021-10-28 16:45] jackgerrits opened #3427 "--experimental_full_name_interactions discrepancy with -q"
The following should be equivalent commands.

`vw -d test/train-sets/0001.dat --experimental_full_name_interactions ':|:'` and `vw -d test/train-sets/0001.dat -q ::`

However, the total feature number is different.

Results are:
[code]

If `--noconstant` is supplied then both results are identical.

[2021-10-31 15:38] musram opened #3433 "How do i change the "--explore" of the saved model?"
### Description

vw1 = pyvw.vw("--cb_explore_adf -q UA --quiet --epsilon 0.2 save_resume=True")

num_iterations = 5000
ctr = run_simulation(vw1, num_iterations, users, times_of_day, actions, get_cost)
vw1.save("data/saved_model.model")
vw2 = pyvw.vw("--cb_explore_adf -q UA --quiet --epsilon 0.2 i data/saved_model.model")
num_iterations = 5000
ctr = run_simulation(vw2, num_iterations, users, times_

[2021-10-31 15:41] musram commented on #3433
vw2 = pyvw.vw("--cb_explore_adf -q UA --quiet --epsilon 0.8 i data/saved_model.model")
Epsilon was changed to 0.8. Idea is to start exploring and then exploit.

[2021-11-02 19:27] jackgerrits commented on #3417
The tutorial is interactive and involves creating a simple simulator to be able to label each chosen action. Using the command line involves processing a given datafile. The closest thing would be to simply generate some amount of data and label each example with the simulator. VW will first calculate and record loss before learning from the given label

[2021-11-03 11:50] #1855 closed

[2021-11-03 17:30] marco-rossi29 commented on #3421
HI, there is no need to use multiple bandits, you can use --cb_explore_adf (adf is action dependent features). This way you can specify which actions are available for each decision. The downside is that you need to actually pass the action as features string in each predict and learn call so it may be slow with such high number of action, depending on your latency requirement.

[2021-11-03 17:50] #2391 closed

[2021-11-04 01:32] musram commented on #3421
Thanks marco-rossi29. I will check.

[2021-11-05 06:53] musram opened #3444 "Is there a document which guides to convert the contextual bandit model to format like csv?"
### Description

We can't host a contextual bandit model in our serving module as our serving module requires the model to be in CSV format. For a model like regression we use --inverted-hash and convert the model as a CSV format. Is there any document that can help contextual bandit model to convert into a format like CSV?

### Link to Documentation Page

[2021-11-05 06:55] #3433 closed

[2021-11-05 06:55] musram commented on #3433
It have resolved it.

[2021-11-05 18:43] bassmang opened #3445 "Ensure bin_text_read_write_fixed_validated is only called on basic types to avoid struct padding issues"
#### Describe the bug
The number of bytes in a struct is compiler-dependent due to padding. To ensure that models are saved and loaded properly ensure that bin_text_read_write_fixed_validated or other functions which read and write models are only called on basic types.

#### To Reproduce
This issue is compiler dependent so catching it could be tricky, but may show up when running tests with valgr

[2021-11-07 17:47] musram commented on #3444
I  trained the contextual bandit as vw1 = pyvw.vw("-d data/cb_load.dat --cb_explore_adf -q UA  -P 1 --invert_hash mymodel.inverted") on https://github.com/VowpalWabbit/vowpal_wabbit/blob/master/test/train-sets/cb_load.dat  with the --inverted-hash and I got the mymodel.inverted as:

I could understand the user and action features. What does  18107:0.137426 . means in "User^time_of_day=afternoon*Ac

[2021-11-08 06:28] musram commented on #3444
When I am using vw1 = pyvw.vw("-d data/cb_load.dat --cb_explore_adf -q UA  -P 2 --invert_hash mymodel.inverted -f saved_model1.model --save_resume") I am getting the output as   below.

why is the output different compared to vw1 = pyvw.vw("-d data/cb_load.dat --cb_explore_adf -q UA -P 1 --invert_hash mymodel.inverted") ?

I am not able to understand the the ouput for example  User^time_of_day=aft

[2021-11-09 15:51] lokitoth commented on #3444
Yes, this is correct.

I am not sure what you mean by probability here. Do you mean how would you use the weights to generate a prediction for a specific instance of a CB problem?

With `--save_resume` added, the output will contain not just the model weights, but also the learning state information (which is used to resume learning "in place" if splitting between multiple runs of vw using `-f` an

[2021-11-09 16:21] lokitoth opened #3447 "In-VW option documentation is wrong for some gd options"
The GD-reduction options `sparse_l2`, `l1_state`, and  `l2_state` have copy-pasted help strings from `normalized`.

From [gd.cc#L1175-L1183](https://github.com/VowpalWabbit/vowpal_wabbit/blob/52cfba671753623ae67bb9f1f4dfb451511111e9/vowpalwabbit/gd.cc#L1175-L1183):

[code]

[2021-11-09 17:01] musram commented on #3444
Thanks lokitoth for your reply.
Do you mean how would you use the weights to generate a prediction for a specific instance of a CB problem?
For example, if my strategy is epsilon-greedy, then let
a = argmax<context_feature_specific_instance, model_weights_for_context_feature_and_action_a>
           a
 be the greedy action. and then use standard epsilon-greedy.  I think this is the way of predicti

[2021-11-10 11:07] priyanshuone6 commented on #2474
The `get_weight_from_name` is already implemented, is this still an ongoing issue?

[2021-11-10 14:31] jackgerrits commented on #2474
You're right this is resolved. Closing

[2021-11-10 14:31] #2474 closed

[2021-11-10 17:21] #3318 closed

[2021-11-11 16:24] ataymano commented on #3179
Sorry for delay in response.
Not sure about all details, but looks like root cause is with messed probabilities with regcb case.

1) Command line experiment:
On the following dataset:
[code]
predictions from the following command line:
`vw --cb_explore_adf -q UA -q UU --save_resume --regcbopt --mellowness 0.0003 --power_t 0 -l 0.5 -d data.txt -p pred.txt`
looks like this:
[code]
2) "equivalent" py

[2021-11-11 17:54] lokitoth commented on #3444
Depending on what your purpose is, your best bet might be to use VW to run the inference pass, since it already includes the code to do so without having to extract the values from the readable model, then reproduce the mathematics.

Since it looks like you are in python, and you already have the VW model loaded (or load from a generated loadable model file using `-f` and then `-i`), what you can

[2021-11-11 20:15] jackgerrits commented on #3417
I think we've answered your question so I am going to go ahead and close this. If you would like to discuss more or feel it isn't answered then please feel free to open a new issue or reopen this one.

[2021-11-11 20:15] #3417 closed

[2021-11-11 20:16] jackgerrits commented on #2262
I think we've answered your question so I am going to go ahead and close this. If you would like to discuss more or feel it isn't answered then please feel free to open a new issue or reopen this one.

[2021-11-11 20:17] #2262 closed

[2021-11-11 20:35] jackgerrits commented on #3425
@qd1332543, I'm not able to get the ODR issue to repro under asan with Visual Studio or GCC.

[2021-11-11 20:55] jackgerrits commented on #3312
The `cache_file` option doesn't make a whole lot of sense when consuming VW via PyVW. Two things could happen:
- If the file exists it will read from it if you decide to run the driver
- If the file does not exist VW will write examples to it as they are parsed (technically as they are given to `setup_example`) but that fact is a little bit abstracted in PyVW.

Additionally, [`finish`](https://vow

[2021-11-11 20:59] jackgerrits commented on #3361
I think we've answered your question so I am going to go ahead and close this. If you would like to discuss more or feel it isn't answered then please feel free to open a new issue or reopen this one.

[2021-11-11 20:59] #3361 closed

[2021-11-11 21:06] jackgerrits commented on #2255
This is a duplicate as it will be addressed in #3234

[2021-11-11 21:06] #2255 closed

[2021-11-11 21:29] jackgerrits opened #3459 "Resolve all deprecation warnings in core codebase"
As part of the major release there have been some renames and deprecations put on old names.

We should migrate usages to new names.

So see warnings in build: `cmake -S . -B build -G Ninja -DUSE_LATEST_STD=On`

[2021-11-11 21:43] Sandy4321 commented on #3312
"Additionally, finish might be needed to close the file when VW is done"
as written above
-------------------
but this code not running correctly
VWmodel_simple = pyvw.vw(
cache_file = 'my_VW_2.cache',
passes = 3,
learning_rate = 0.1,
l2 = ridge_lambda,
loss_function = loss_function,
)

code run never finished

---------------------------------
then I can not use "finish" since code never move to

[2021-11-11 21:45] Sandy4321 commented on #3312
correction

|||||||||||||||||||||||||||||||||||||
this does not work
VWmodel_simple  = pyvw.vw(
    cache_file =  'my_VW_2.cache',
    passes = 3,
    learning_rate = 0.1,
    l2 = ridge_lambda,
    loss_function = loss_function,
)
||||||||||||||||||||||||||||||||||
never finish to run

[2021-11-11 21:49] Sandy4321 commented on #3312
this also never finish
![image](https://user-images.githubusercontent.com/11426119/141373886-c8ba509c-0d52-4f22-aa24-fd33ec561318.png)

[2021-11-11 21:54] Sandy4321 commented on #3312
vowpalwabbit.__version__
'8.11.0'

[2021-11-11 22:00] Sandy4321 opened #3460 "python execution got stuck for cache_file = 'my_VW_2.cache',"
#### Describe the bug
vowpalwabbit.__version__
'8.11.0'
|||||||||||||||||||||||||||||||||||||
this does not work
[code]
||||||||||||||||||||||||||||||||||
never finish to run
python execution got stuck

#### To Reproduce
![image](https://user-images.githubusercontent.com/11426119/141374484-6e544cd3-ff6f-4cc9-8193-622108aa7c0f.png)

|||||||||||||||||||||||||||||||||||||
this does not work
[code]
||

[2021-11-11 22:51] musram commented on #3444
Hi Jacob Alber lokitoth.
Thanks for your reply.

My constraint is that I cant use the VW binary model in my serving system. My serving system supports only CSV format.  Hence I raised this issue of converting using --invert-hash and then using it as a CSV in my serving environment.

So I have to build the offline model and then convert it into CSV and then write code to do inference.

Hope I am cl

[2021-11-11 23:21] jackgerrits commented on #3312
When you say "passes" for PyVW it is expecting you to have supplied a datafile. When you don't supply a data file (`-d`) VW implicitly uses stdin. So what you are seeing is VW sitting waiting to read stdin.

It's counterintuitive because in the way you are invoking PyVW it is sort of behaving like a command line invocation.

If you wish to use PyVW interactively instead of using it to process a fi

[2021-11-11 23:24] jackgerrits commented on #3460
When you say "passes" for PyVW it is expecting you to have supplied a datafile. When you don't supply a data file (`-d`) VW implicitly uses stdin. So what you are seeing is VW sitting waiting to read stdin.

It's counterintuitive because in the way you are invoking PyVW it is sort of behaving like a command line invocation.

If you wish to use PyVW interactively instead of using it to process a fi

[2021-11-11 23:27] #3312 closed

[2021-11-11 23:35] Sandy4321 commented on #3460
@jackgerrits
thanks for soon answer
then may you clarify how to use
pywv
by analogy with
    model_VWRegressor_from_sklearnVW = VWRegressor(convert_to_vw = False ,normalized = True , passes = 4, readable_model = 'my_VW.model' , cache_file =  'my_VW.cache' , learning_rate = 0.1, loss_function = 'squared' , l2 = 0.001)

    model_VWRegressor_from_sklearnVW.fit(data_VW_Format_with_NameSpaces)

where

[2021-11-11 23:38] jackgerrits commented on #3460
It looks like the sklearn interface has special handling of passes. After all it is just a wrapper around `pyvw`. I would recommend looking at how it handles it.

https://github.com/VowpalWabbit/vowpal_wabbit/blob/e72cad55fb558389b51303d071377eb0ad1a2078/python/vowpalwabbit/sklearn_vw.py#L556

[2021-11-12 00:10] Sandy4321 commented on #3460
I see
            for n in range(passes):
                if n >= 1:
                    examples = shuffle(X)
                else:
                    examples = X
                for idx, example in enumerate(examples):
                    self.vw_.learn(example)

then if X can be created like this
label_VW_format = SimpleLabel('target')
converter_advanced = DFtoVW(df= data_all_rows_df, namespa

[2021-11-12 00:11] Sandy4321 commented on #3460
but seems to be passes in not problem at all
since I get error when provide passes
VWmodel_simple  = pyvw.vw(
    learning_rate = 0.1,
    l2 = ridge_lambda,
    passes = 3,
    loss_function = loss_function,
)

Traceback (most recent call last):
  Debug Console, prompt 18, line 1
    #S_VW_with_2d_and_3d_interactions_Oct24
  File "e:\Python environemnts\MYENVS\may9_sklearn0242\Lib\site-packages\v

[2021-11-12 00:11] Sandy4321 commented on #3460
then is not weird behavior it is just not correct parameter to use

[2021-11-12 00:14] Sandy4321 commented on #3460
and using cache_file  without passes is not problem neither - works perfectly , no error

VWmodel_simple  = pyvw.vw(
    cache_file =  'my_VW_2.cache',
    learning_rate = 0.1,
    l2 = ridge_lambda,
    loss_function = loss_function,
)
![image](https://user-images.githubusercontent.com/11426119/141387039-5474823a-120e-4ade-abac-d34c0dd05c8a.png)

[2021-11-12 00:15] Sandy4321 commented on #3460
I see
for n in range(passes):
if n >= 1:
examples = shuffle(X)
else:
examples = X
for idx, example in enumerate(examples):
self.vw_.learn(example)

then if X can be created like this
label_VW_format = SimpleLabel('target')
converter_advanced = DFtoVW(df= data_all_rows_df, namespaces=[C, N ], label=label_VW_format)

X= converter_advanced.convert_df()

THEN ONLY QUESTOIN IS CAN BE X CREATED LIKE THI

[2021-11-12 00:19] jackgerrits commented on #3460
The sklearn interface expects a list of examples which it processes one by one.

The pyvw interface when you call learn/predict expects a single example. So you need to iterate over X and pass it to VW individually.

[2021-11-12 00:21] Sandy4321 commented on #3460
but then pyvw  is slower than sklearn interface

[2021-11-12 00:48] lokitoth commented on #3444
No worries, that makes sense.

There are a few things you should keep in mind when doing this:

1. Make sure you have a good understanding of [how the hash-encoding works](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Feature-Hashing-and-Extraction).
2. You can get a list of the enabled reductions which are running in your stack via `vw.get_enabled_reductions()`. This should can help you look

[2021-11-12 01:03] Sandy4321 commented on #3460
is it true that
then pyvw is slower than sklearn interface

since for pyvw we use loop , what actually slow in python
but for
model_VWRegressor_from_sklearnVW = VWRegressor(convert_to_vw = False ,normalized = True , passes = 4, readable_model = 'my_VW.model' , cache_file = 'my_VW.cache' , learning_rate = 0.1, loss_function = 'squared' , l2 = 0.001)

we use data by inner processing by vowpalwabbit

[2021-11-12 03:54] musram commented on #3444
Hi Jacob Alber lokitoth.
Your checklist was great and helpful.

Regarding your question:
For a better sense of your constraints: Are you able to run the VW code?
Yes I am able to run the VW code

 Is it just the form that the model file has to take?
Yes.

Thanks a lot, Jacob Alber lokitoth.

[2021-11-12 11:32] musram commented on #3444
Hi Jacob Alber lokitoth,

Is there any way to add  importance weight to off line training of the contextual bandits? Similar to linear regression where we specify   importance weight as 2  in the training example " 1 2 second_house | price:.18 sqft:.15 age:.35 1976".

This will help in reducing the training time of contextual bandits as the training data points are in billions.  But we get good re

[2021-11-12 13:01] ramkumarrani commented on #3361
thanks. please go ahead.

On Thu, Nov 11, 2021 at 3:59 PM Jack Gerrits ***@***.***>
wrote:

[2021-11-12 13:35] jackgerrits commented on #3460
No, I wouldnt say it is slower. The sklearn interface just uses the pyvw interface anyway.

When `-d` is passed to the pyvw instance it will use the C++ driver, just like the command line, which is probably faster but I haven't tested it.

[2021-11-12 14:20] Sandy4321 commented on #3460
@jackgerrits

sorry can not understand about -d
If you wish to use PyVW interactively instead of using it to process a file then you must avoid passing -d
can you share code example for -d using

[2021-11-12 14:49] jackgerrits commented on #3460
[code]

[2021-11-12 15:17] Sandy4321 commented on #3460
@jackgerrits
thanks for soon answer
but this code gives error
from vowpalwabbit import pyvw
my_vw = pyvw.vw(
    data="mydatafile.txt",
    passes=3
)

Traceback (most recent call last):
  Debug Console, prompt 23, line 1

  File "e:\Python environemnts\MYENVS\may9_sklearn0242\Lib\site-packages\vowpalwabbit\pyvw.py", line 348, in __init__
    super(vw, self).__init__(" ".join(l))
builtins.RuntimeE

[2021-11-12 15:20] Sandy4321 commented on #3460
this works wo error
from vowpalwabbit import pyvw
my_vw = pyvw.vw(
    cache_file =  'my_VW_45.cache',
data="mydatafile.txt",
passes=3
)

but how to use now created object
my_vw
1
to train
2
to predict
??

[2021-11-12 15:21] jackgerrits commented on #3460
Apologies for the malformed snippet. When using passes a cache file must be used, this can be resolved like so:

[code]

(I've also updated the previous response)

[2021-11-12 17:22] Sandy4321 commented on #3460
great thanks,

but now how to use this code
1
how to do training
when I run
my_vw = pyvw.vw(
    data="mydatafile.txt",
    passes=3,
    cache=True
)
and file mydatafile.txt not existing
I do not have error, then seems to be
additional training code needed
2
how to do predictions

[2021-11-12 17:30] jackgerrits commented on #3460
It's up to you how you wish to structure your code, I am explaining though that VW sort of has two modes. Command line and interactive and mixing them accidentally produces surprising results sometimes. As seen here.

`mydatafile.txt` could be a datafile in [VW text format](https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Input-format) if you wish to use that.

Through the command line predictio

[2021-11-12 17:34] Sandy4321 commented on #3460
for example for this simple data
simple_data =  [ [ '0.1 | 4, 17' ]  , [ '0.9 |  23, 45'    ]    ]

this code works correctly
my_vw = pyvw.vw(
    data= simple_data[0],
    passes=3,
    cache=True
)

but this code gives error
my_vw = pyvw.vw(
    data= simple_data,
    passes=3,
    cache=True
)

Traceback (most recent call last):
  Debug Console, prompt 49, line 1

  File "e:\Python environemnts

[2021-11-12 17:48] Sandy4321 commented on #3460
if I change data like this, then no error for training
simple_data =  [  "0.1 | a:4 b:17'   ,  0.9 | a:23 b:45" ]

my_vw = pyvw.vw(
    data= simple_data,
    passes=3,
    cache=True
)

but error for predict
my_vw.predict(simple_data)
Traceback (most recent call last):
  Debug Console, prompt 66, line 1
    #S_VW_with_2d_and_3d_interactions_Oct24
  File "e:\Python environemnts\MYENVS\may9_sklearn

[2021-11-12 17:50] Sandy4321 commented on #3460
corrected error example - data format changed :  ' was removed
simple_data =  [  "0.1 | a:4 b:17   ,  0.9 | a:23 b:45" ]

my_vw = pyvw.vw(
    data= simple_data,
    passes=3,
    cache=True
)
my_vw.predict(simple_data)
Traceback (most recent call last):
  Debug Console, prompt 70, line 1
    #S_VW_with_2d_and_3d_interactions_Oct24
  File "e:\Python environemnts\MYENVS\may9_sklearn0242\Lib\site-pa

[2021-11-12 18:26] jackgerrits commented on #3460
`data` is a string parameter. It specifies the filename to read. Granted, the error messages you are getting are really bad and impossible to understand. Sorry about that.

If you **do** want to use data in the way you are presenting it then you'll need to save the contents to a file first.
[code]

If you want to process this interactively then you might want something like:
[code]

[2021-11-12 20:50] jackgerrits commented on #1578
`--progress` is not defined as a keep option so I don't think that was the issue.

What I think was the issue here is that in daemon mode VW forks off to several children to listen for incoming connections, and those children all have their output disabled except for 1. The OS then chooses how to distribute incoming connectiond to the listener that was created prior to forking. One way of distribu

[2021-11-12 20:50] #1578 closed

[2021-11-13 18:12] dkasak opened #3466 "Github produced tarball does not include submodules which leads to build failures due to missing libraries in `ext_libs`"
#### Describe the bug
Trying to build 8.11.0 fails with

[code]

These are normally git submodules, so it looks like their content wasn't properly included into the release tarball?

#### To Reproduce
Steps to reproduce the behavior:
1. Download `https://github.com/VowpalWabbit/vowpal_wabbit/archive/refs/tags/8.11.0.tar.gz`.
2. Unpack `tar xzvf 8.11.0.tar.gz`.
3. `cd` into the directory.
4. Run `c

[2021-11-15 15:41] olgavrou commented on #3466
Hi @dkasak github release tarballs do not include submodules by design

The best way to work around that currently is to clone a specific release `git clone git@github.com:VowpalWabbit/vowpal_wabbit.git --branch 8.11.0 --recursive` and by using `--recursive` it will also checkout the submodules

I have removed the `bug` label and added the `feature request` so that we can potentially create a work

[2021-11-15 19:08] Sandy4321 commented on #3460
great thanks
but will be used data shuffling for each pass for
my_vw = pyvw.vw(
    data="mydatafile.txt",
    passes=3,
    cache=True
)

[2021-11-15 20:52] jackgerrits commented on #3460
No the VW command line driver does not do data shuffling.

[2021-11-17 15:53] olgavrou opened #3472 "Add label weight for cb"
We can set importance weight for simple label, it makes sense to add it to other label types too (e.g. `cb`)

[2021-11-17 16:17] olgavrou commented on #3444
Hi @musram at the moment it isn't possible to set the importance weight on a cb label the same way it can be set on a simple label. I have created this feature request [here](https://github.com/VowpalWabbit/vowpal_wabbit/issues/3472). Closing this issue, but please feel free to reopen if you have more questions

[2021-11-17 16:17] #3444 closed

[2021-11-17 16:20] musram commented on #3444
Thanks @olgavrou

[2021-11-17 16:50] jackgerrits commented on #3460
Hi @Sandy4321, I'm going to go ahead and close this one as I think we've answered your Qs. Please feel free to open another issue if you have more questions. Thanks!

[2021-11-17 16:50] #3460 closed

[2021-11-17 18:30] jackgerrits commented on #2178
There was a dependency on shared data for count label which was removed here: #3404

The remaining dependency is for `VW::named_labels`. This is required but seems to be fine since it is a specific dependency and is not modified in the parser.

[2021-11-17 18:30] #2178 closed

[2021-11-17 18:40] jackgerrits commented on #3385
Closing this issue since csv2vw is not really a focus and is effectively replaced by DFtoVW.

[2021-11-17 18:40] #3385 closed

[2021-11-17 18:45] jackgerrits commented on #2423
This has now been implemented. See here for docs: https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Predicting-probabilities

[2021-11-17 18:45] #2423 closed

[2021-11-17 20:37] jackgerrits commented on #3232
I think this is expected, although seems like a bad user experience.

If there is no `|` it is assumed that the input line is the label (bit that comes before the `|`). The tag is the last token if there is no whitespace between it and the `|`. Therefore, for the line with a space at the end the `a` is parsed as a simple label which clearly fails to be parsed as a float.

For the second one with n